Repository schmitthub/clawker: changes, and which pre-commit hooks are due for each by the changed paths.
All: semgrep, govulncheck, go-test, docs-check, licenses-check, claude-freshness

semgrep:
  name: Semgrep SAST
  entry: semgrep scan --baseline-commit HEAD --config p/golang --config p/security-audit --error
  language: system
  pass_filenames: false

govulncheck:
  name: govulncheck SCA
  entry: govulncheck ./...
  language: system
  pass_filenames: false

go-test:
  name: Unit tests
  entry: make test
  language: system
  pass_filenames: false

docs-check:
  name: CLI docs freshness
  entry: make docs-check
  language: system
  pass_filenames: false

licenses-check:
  name: NOTICE freshness
  entry: make licenses-check
  language: system
  pass_filenames: false

claude-freshness:
  name: Claude doc freshness (advisory)
  entry: bash -c 'bash scripts/check-claude-freshness.sh --strict --non-interactive --no-color | head -50 || true'
  language: system
  pass_filenames: false
  verbose: true

feat(firewall): add prune command resetting rules to project config
  CHANGELOG.md
  api/admin/v1/admin.pb.go
  api/admin/v1/admin.proto
  controlplane/firewall/CLAUDE.md
  controlplane/firewall/handler.go
  controlplane/firewall/handler_test.go
  controlplane/firewall/mocks/egress_rules_store_mock.go
  controlplane/firewall/rules_store.go
  controlplane/firewall/rules_store_test.go
  docs/cli-reference/clawker_firewall.md
  docs/cli-reference/clawker_firewall_prune.md
  docs/cli-reference/clawker_firewall_refresh.md
  docs/docs.json
  docs/firewall.mdx
  internal/bundler/assets/clawker-agent-prompt.md
  internal/cmd/firewall/CLAUDE.md
  internal/cmd/firewall/firewall.go
  internal/cmd/firewall/prune.go
  internal/cmd/firewall/prune_test.go
  internal/cmd/firewall/refresh.go
  internal/cmd/firewall/sync.go
  test/e2e/firewall_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(firewall): prune rollback, non-interactive gate, and review hardening
  controlplane/firewall/CLAUDE.md
  controlplane/firewall/handler.go
  controlplane/firewall/handler_test.go
  controlplane/firewall/rules_store_test.go
  docs/cli-reference/clawker_firewall_prune.md
  docs/cli-reference/clawker_firewall_refresh.md
  docs/firewall.mdx
  internal/cmd/firewall/CLAUDE.md
  internal/cmd/firewall/bypass/bypass.go
  internal/cmd/firewall/down/down.go
  internal/cmd/firewall/firewall_test.go
  internal/cmd/firewall/prune/prune.go
  internal/cmd/firewall/prune/prune_test.go
  internal/cmd/firewall/refresh/refresh.go
  internal/cmd/firewall/shared/rpc_test.go
  internal/cmd/firewall/shared/sync.go
  internal/cmd/firewall/status/status.go
  internal/cmd/firewall/status/status_test.go
  test/e2e/firewall_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(firewall): carry insecure_skip_tls_verify across the wire boundary
  CHANGELOG.md
  api/admin/v1/admin.pb.go
  api/admin/v1/admin.proto
  api/admin/v1/conversion.go
  api/admin/v1/conversion_test.go
  internal/cmd/firewall/add/add.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(firewall): reject sub-second and fractional bypass durations
  internal/cmd/firewall/bypass/bypass.go
  internal/cmd/firewall/bypass/bypass_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(firewall,init): block double-encoded path traversal; restore settings bootstrap
  controlplane/firewall/envoy_http.go
  controlplane/firewall/testdata/envoy/comprehensive.envoy.golden
  controlplane/firewall/testdata/envoy/comprehensive_mtls.envoy.golden
  internal/cmd/project/init/init.go
  internal/logger/logger.go
  test/CLAUDE.md
  test/e2e/bind_mount_uid_test.go
  test/e2e/bundle_build_test.go
  test/e2e/controlplane_cli_test.go
  test/e2e/firewall_test.go
  test/e2e/harness/factory.go
  test/e2e/harness/harness.go
  test/e2e/monitor_bundle_test.go
  test/e2e/preset_builds_test.go
  test/e2e/workdir_mounts_test.go
  test/e2e/worktree_git_protection_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

test(project): add ProjectState/WorktreeState fixtures; format the project package
  internal/cmd/project/edit/edit.go
  internal/cmd/project/edit/edit_test.go
  internal/cmd/project/info/info.go
  internal/cmd/project/info/info_test.go
  internal/cmd/project/init/init_test.go
  internal/cmd/project/list/list.go
  internal/cmd/project/list/list_test.go
  internal/cmd/project/project.go
  internal/cmd/project/register/register.go
  internal/cmd/project/register/register_test.go
  internal/cmd/project/remove/remove.go
  internal/cmd/project/remove/remove_test.go
  internal/project/mocks/stubs.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

refactor(logger,e2e): extract settings→logger assembly into logcfg; add harness.New
  internal/cmd/factory/default.go
  internal/logger/CLAUDE.md
  internal/logger/logcfg/logcfg.go
  internal/logger/logger.go
  test/e2e/firewall_test.go
  test/e2e/harness/factory.go
  test/e2e/harness/harness.go
  test/e2e/monitor_bundle_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

chore(changelog): bumped version
  CHANGELOG.md
Due: none

feat(cli): add clawker prompt print for host-side managed briefing access
  docs/cli-reference/clawker.md
  docs/cli-reference/clawker_prompt.md
  docs/cli-reference/clawker_prompt_print.md
  docs/docs.json
  internal/cmd/prompt/print/print.go
  internal/cmd/prompt/print/print_test.go
  internal/cmd/prompt/prompt.go
  internal/cmd/root/root.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

docs: changelog 2026.8.1 + authoring guide covers runtime-mounted managed context
  CHANGELOG.md
  docs/authoring-harnesses.mdx
Due: none

feat(cli): clawker prompt print — host-side managed briefing access (#445)
  CHANGELOG.md
  docs/authoring-harnesses.mdx
  docs/cli-reference/clawker.md
  docs/cli-reference/clawker_prompt.md
  docs/cli-reference/clawker_prompt_print.md
  docs/docs.json
  internal/cmd/prompt/print/print.go
  internal/cmd/prompt/print/print_test.go
  internal/cmd/prompt/prompt.go
  internal/cmd/root/root.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

chore: openclaw egress rules, bundle-example pointer bump, initiative memories
  .clawker.yaml
  .serena/memories/initiative_openclaw_harness/plan.md
  .serena/memories/initiative_openclaw_harness/recon.md
Due: none

chore: openclaw egress rules, bundle-example pointer bump, initiative memories (#446)
  .clawker.yaml
  .serena/memories/initiative_openclaw_harness/plan.md
  .serena/memories/initiative_openclaw_harness/recon.md
Due: none

chore(build): remove git-delta from base image
  docs/custom-images.mdx
  internal/bundle/assets/harnesses/claude/Dockerfile.harness.tmpl
  internal/bundler/assets/Dockerfile.base.tmpl
  internal/bundler/dockerfile_test.go
  internal/bundler/testdata/golden/harness-overlay.base.Dockerfile
  internal/bundler/testdata/golden/harness-overlay.harness.Dockerfile
  internal/bundler/testdata/golden/minimal-buildkit.base.Dockerfile
  internal/bundler/testdata/golden/minimal-buildkit.harness.Dockerfile
  internal/bundler/testdata/golden/minimal.base.Dockerfile
  internal/bundler/testdata/golden/minimal.harness.Dockerfile
  internal/bundler/testdata/golden/packages-instructions-inject.base.Dockerfile
  internal/bundler/testdata/golden/packages-instructions-inject.harness.Dockerfile
  internal/bundler/testdata/golden/qualified-stack.base.Dockerfile
  internal/bundler/testdata/golden/telemetry-flags-off.base.Dockerfile
  internal/bundler/testdata/golden/telemetry-flags-off.harness.Dockerfile
Due: semgrep, govulncheck, go-test, claude-freshness

docs(changelog): 2026.8.2 — remove git-delta from base image
  CHANGELOG.md
Due: none

chore(build): remove git-delta from base image (#449)
  CHANGELOG.md
  docs/custom-images.mdx
  internal/bundle/assets/harnesses/claude/Dockerfile.harness.tmpl
  internal/bundler/assets/Dockerfile.base.tmpl
  internal/bundler/dockerfile_test.go
  internal/bundler/testdata/golden/harness-overlay.base.Dockerfile
  internal/bundler/testdata/golden/harness-overlay.harness.Dockerfile
  internal/bundler/testdata/golden/minimal-buildkit.base.Dockerfile
  internal/bundler/testdata/golden/minimal-buildkit.harness.Dockerfile
  internal/bundler/testdata/golden/minimal.base.Dockerfile
  internal/bundler/testdata/golden/minimal.harness.Dockerfile
  internal/bundler/testdata/golden/packages-instructions-inject.base.Dockerfile
  internal/bundler/testdata/golden/packages-instructions-inject.harness.Dockerfile
  internal/bundler/testdata/golden/qualified-stack.base.Dockerfile
  internal/bundler/testdata/golden/telemetry-flags-off.base.Dockerfile
  internal/bundler/testdata/golden/telemetry-flags-off.harness.Dockerfile
Due: semgrep, govulncheck, go-test, claude-freshness

fix: resolve host Docker socket via DOCKER_HOST and docker.socket setting
  controlplane/manager/container_config_test.go
  controlplane/manager/cp_container.go
  docs/configuration.mdx
  docs/schemas/settings.schema.json
  internal/config/CLAUDE.md
  internal/config/config.go
  internal/config/config_test.go
  internal/config/consts.go
  internal/config/mocks/config_mock.go
  internal/config/mocks/stubs.go
  internal/config/schema.go
  internal/consts/controlplane.go
  internal/consts/docker.go
  internal/consts/docker_test.go
  internal/workspace/CLAUDE.md
  internal/workspace/setup.go
  internal/workspace/strategy.go
  pkg/whail/errors.go
Due: semgrep, govulncheck, go-test, claude-freshness

docs(consts): name the real DOCKER_HOST scheme vocabulary
  internal/consts/docker.go
Due: semgrep, govulncheck, go-test, claude-freshness

refactor: make DockerHostSocketPath a dumb pass-through getter
  docs/configuration.mdx
  docs/schemas/settings.schema.json
  internal/config/CLAUDE.md
  internal/config/config.go
  internal/config/config_test.go
  internal/config/schema.go
  internal/consts/docker.go
  internal/consts/docker_test.go
  internal/workspace/CLAUDE.md
Due: semgrep, govulncheck, go-test, claude-freshness

fix: resolve host Docker socket via DOCKER_HOST and docker.socket setting (#451)
  controlplane/manager/container_config_test.go
  controlplane/manager/cp_container.go
  docs/configuration.mdx
  docs/schemas/settings.schema.json
  internal/config/CLAUDE.md
  internal/config/config.go
  internal/config/config_test.go
  internal/config/consts.go
  internal/config/mocks/config_mock.go
  internal/config/mocks/stubs.go
  internal/config/schema.go
  internal/consts/controlplane.go
  internal/consts/docker.go
  internal/consts/docker_test.go
  internal/workspace/CLAUDE.md
  internal/workspace/setup.go
  internal/workspace/strategy.go
  pkg/whail/errors.go
Due: semgrep, govulncheck, go-test, claude-freshness

chore(config): allow cilium/ebpf and isovalent/ebpf-docs raw reads
  .clawker.yaml
Due: none

chore(config): allow torvalds/linux raw reads for kernel BPF token verification
  .clawker.yaml
Due: none

refactor(cli): split CLI domain types from the entry point, add Session
  .claude/agents/test-hunter.md
  .claude/docs/ARCHITECTURE.md
  .claude/docs/DESIGN.md
  .claude/rules/testing.md
  .clawker.yaml
  Makefile
  cmd/clawker/clawker.go
  internal/changelog/CLAUDE.md
  internal/changelog/changelog.go
  internal/changelog/changelog_test.go
  internal/clawker/CLAUDE.md
  internal/clawker/session.go
  internal/clawkercmd/CLAUDE.md
  internal/clawkercmd/changelog_preview_internal_test.go
  internal/clawkercmd/cmd.go
  internal/clawkercmd/cmd_internal_test.go
  internal/cmd/admin/admin.go
  internal/cmd/admin/grant/bpffs.go
  internal/cmd/admin/grant/grant.go
  internal/cmd/factory/CLAUDE.md
  internal/cmd/factory/default.go
  internal/cmdutil/factory.go
  internal/state/CLAUDE.md
  internal/state/state.go
  internal/storage/CLAUDE.md
  internal/update/CLAUDE.md
  internal/update/update.go
  internal/update/update_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

feat(docker): resolve daemon address from docker CLI contexts
  controlplane/manager/CLAUDE.md
  controlplane/manager/bootstrap.go
  controlplane/manager/container_config_test.go
  controlplane/manager/cp_container.go
  docs/configuration.mdx
  docs/schemas/settings.schema.json
  internal/clawker/CLAUDE.md
  internal/clawker/docker.go
  internal/cmd/admin/admin.go
  internal/cmd/admin/grant/bpffs.go
  internal/cmd/admin/grant/grant.go
  internal/cmd/container/shared/container_create.go
  internal/cmd/container/shared/init_test.go
  internal/config/CLAUDE.md
  internal/config/config.go
  internal/config/config_test.go
  internal/config/consts.go
  internal/config/migrations.go
  internal/config/migrations_test.go
  internal/config/mocks/config_mock.go
  internal/config/mocks/stubs.go
  internal/config/schema.go
  internal/consts/docker.go
  internal/consts/docker_test.go
  internal/controlplane/cmd.go
  internal/docker/CLAUDE.md
  internal/docker/client.go
  internal/docker/context/context.go
  internal/docker/context/context_test.go
  internal/testenv/testenv.go
  internal/workspace/CLAUDE.md
  internal/workspace/setup.go
  internal/workspace/strategy.go
  pkg/whail/engine.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

feat(cp): add WatchSOS recovery channel and split CP boot into construction + flow
  api/admin/v1/admin.go
  api/admin/v1/admin.pb.go
  api/admin/v1/admin.proto
  api/admin/v1/admin_grpc.pb.go
  api/admin/v1/mocks/admin_client_mock.go
  controlplane/CLAUDE.md
  controlplane/adminclient/dial.go
  controlplane/adminclient/dial_test.go
  controlplane/manager/CLAUDE.md
  controlplane/manager/bootstrap.go
  controlplane/manager/bootstrap_test.go
  controlplane/server/grpc_stack.go
  controlplane/server/server.go
  controlplane/server/server_test.go
  internal/consts/consts.go
  internal/controlplane/cmd.go
  internal/controlplane/cmd_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

feat(rootless): attach ID-mapped workspace views so binds reach the container user
  .claude/docs/REPO-STRUCTURE.md
  .clawker.yaml
  .gitignore
  CLAUDE.md
  Makefile
  cmd/idmap-mount/main_linux.go
  cmd/idmap-mount/main_other.go
  internal/cmd/container/create/create.go
  internal/cmd/container/run/run.go
  internal/cmd/container/shared/CLAUDE.md
  internal/cmd/container/shared/container_create.go
  internal/cmd/container/shared/embed_idmap.go
  internal/cmd/container/shared/idmap.go
  internal/cmd/container/shared/idmap_internal_test.go
  internal/cmd/container/shared/idmap_owner_linux.go
  internal/cmd/container/shared/idmap_owner_other.go
  internal/cmd/container/shared/init_test.go
  internal/cmd/controlplane/shared/assist.go
  internal/cmdutil/CLAUDE.md
  internal/cmdutil/sudo.go
  internal/consts/consts.go
  internal/docker/mocks/helpers.go
  internal/docker/mocks/stubs.go
  internal/idmap/CLAUDE.md
  internal/idmap/idmap.go
  internal/idmap/idmap_test.go
  internal/idmap/mounted_linux.go
  internal/idmap/mounted_other.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

Path conditions:
  semgrep: any of: \.go$
  govulncheck: any of: \.go$
  go-test: any of: \.go$
  docs-check: any of: ^(cmd/|internal/cmd/|internal/docs/)
  licenses-check: any of: ^go\.(mod|sum)$
  claude-freshness: any of: \.go$
