Repository schmitthub/clawker: changes, and which pre-commit hooks are due for each by the changed paths.
All: semgrep, govulncheck, go-test, docs-check, licenses-check, claude-freshness

.pre-commit-config.yaml:

# Pre-commit hooks — mirrors CI quality gates locally.
# Install: bash scripts/install-hooks.sh
# Run all: pre-commit run --all-files
# Run one: pre-commit run gitleaks --all-files

repos:
  # ── Security ──────────────────────────────────────────────────────────────
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.30.0
    hooks:
      - id: gitleaks
        args: [--baseline-path, gitleaks-report.json]

  # ── Lint ──────────────────────────────────────────────────────────────────
  - repo: https://github.com/golangci/golangci-lint
    rev: v2.9.0
    hooks:
      - id: golangci-lint-full
        args: [--config, .golangci.yml]

  # ── Local hooks ───────────────────────────────────────────────────────────
  - repo: local
    hooks:
      - id: semgrep
        name: Semgrep SAST
        # Expected version: 1.146.0 (must match CI image tag in security.yml)
        entry: semgrep scan --baseline-commit HEAD --config p/golang --config p/security-audit --error
        language: system
        types: [go]
        pass_filenames: false

      - id: govulncheck
        name: govulncheck SCA
        entry: govulncheck ./...
        language: system
        types: [go]
        pass_filenames: false

      - id: go-test
        name: Unit tests
        entry: make test
        language: system
        types: [go]
        pass_filenames: false

      - id: docs-check
        name: CLI docs freshness
        entry: make docs-check
        language: system
        files: ^(cmd/|internal/cmd/|internal/docs/)
        pass_filenames: false

      - id: licenses-check
        name: NOTICE freshness
        entry: make licenses-check
        language: system
        files: ^go\.(mod|sum)$
        pass_filenames: false

      - id: claude-freshness
        name: Claude doc freshness (advisory)
        entry: bash -c 'bash scripts/check-claude-freshness.sh --strict --non-interactive --no-color | head -50 || true'
        language: system
        files: \.go$
        pass_filenames: false
        verbose: true

docs(serena): record authoring-skill rebuild + description-sync items for plugin-migration initiative
  .serena/memories/multi-harness/skill-distribution-native-install-research.md
Due: none

chore(config): allow learn.chatgpt.com/docs + agent-skills/superpowers repo paths in egress rules
  .clawker.yaml
Due: none

revert(plugin): make the support plugin Claude Code-specific and marketplace-deployable again
  .github/workflows/plugin.yml
  .github/workflows/pr.yml
  .pre-commit-config.yaml
  claude-plugin/CLAUDE.md
  claude-plugin/clawker-support/CLAUDE.md
  claude-plugin/clawker-support/README.md
  claude-plugin/clawker-support/package.json
  claude-plugin/clawker-support/skills/clawker-support/SKILL.md
  claude-plugin/clawker-support/skills/clawker-support/reference/Dockerfile.base.tmpl
  claude-plugin/clawker-support/skills/clawker-support/reference/Dockerfile.harness-image.tmpl
  claude-plugin/clawker-support/skills/clawker-support/reference/project-config.md
Due: none

docs(serena): record reverted multi-harness packaging as initiative work + drift-enforcement requirement
  .serena/memories/multi-harness/skill-distribution-native-install-research.md
Due: none

chore: changelog update
  CHANGELOG.md
Due: none

fix(iostreams): stop glamour blockquote wraps orphaning words onto unprefixed lines
  internal/iostreams/markdown.go
Due: semgrep, govulncheck, go-test, claude-freshness

docs(changelog): 2026.7.1-alpha entry — multi-harness, bundles, extensible components
  CHANGELOG.md
Due: none

docs: accuracy sweep of bundles & extensions pages + index rewording
  docs/authoring-bundles.mdx
  docs/authoring-monitoring.mdx
  docs/harnesses.mdx
  docs/index.mdx
  docs/schemas/bundle.schema.json
  docs/schemas/monitoring.schema.json
  internal/config/bundle_schema.go
  internal/config/monitoring_schema.go
Due: semgrep, govulncheck, go-test, claude-freshness

docs(bundles): list all auto-update trigger commands
  docs/bundles.mdx
Due: none

feat(bundle): validate loads every component through its consumption-time loader
  docs/authoring-bundles.mdx
  docs/authoring-harnesses.mdx
  docs/authoring-monitoring.mdx
  docs/authoring-stacks.mdx
  docs/cli-reference/clawker_bundle_validate.md
  internal/bundle/manager.go
  internal/cmd/bundle/CLAUDE.md
  internal/cmd/bundle/validate/validate.go
  internal/cmd/bundle/validate/validate_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

refactor(bundle): single component-validation path for validate and install
  .serena/memories/multi-harness/README.md
  CHANGELOG.md
  docs/bundles.mdx
  internal/bundle/CLAUDE.md
  internal/bundle/componentcheck/componentcheck.go
  internal/bundle/gc_integration_test.go
  internal/bundle/install.go
  internal/bundle/manager.go
  internal/bundle/manager_integration_test.go
  internal/bundle/status_internal_test.go
  internal/bundler/journey_test.go
  internal/cmd/bundle/CLAUDE.md
  internal/cmd/bundle/install/install_test.go
  internal/cmd/bundle/list/list_test.go
  internal/cmd/bundle/prune/prune_test.go
  internal/cmd/bundle/remove/remove_test.go
  internal/cmd/bundle/update/update_test.go
  internal/cmd/bundle/validate/validate.go
  internal/cmd/bundle/validate/validate_test.go
  internal/cmd/factory/default.go
  internal/cmd/harness/list/list_test.go
  internal/cmd/monitor/extensions/extensions_test.go
  internal/cmd/monitor/reload/reload_test.go
  internal/cmd/stack/list/list_test.go
  test/e2e/harness/factory.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

chore(serena): record single-path component validation in multi-harness memory
  .serena/memories/multi-harness/README.md
Due: none

chore(serena): start multi-harness follow-ups memory with aliases item
  .serena/memories/multi-harness/follow-ups.md
Due: none

chore(serena): follow-ups — embedded stacks for all init presets
  .serena/memories/multi-harness/follow-ups.md
Due: none

fix(bundle): never delete a cache entry on evidence that could not be read
  internal/bundle/CLAUDE.md
  internal/bundle/gc.go
  internal/bundle/gc_integration_test.go
  internal/bundle/gc_internal_test.go
  internal/bundle/installed.go
  internal/bundle/rename_integration_test.go
  internal/bundle/resolver.go
  internal/cmd/bundle/CLAUDE.md
  internal/config/CLAUDE.md
  internal/config/bundles_test.go
  internal/config/config.go
  internal/config/layerdirs_internal_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

docs: describe harness-scoped volume naming
  README.md
  docs/cli-reference/clawker_volume_inspect.md
  docs/cli-reference/clawker_volume_remove.md
  docs/container-internals.mdx
  docs/credentials.mdx
  internal/cmd/volume/inspect/inspect.go
  internal/cmd/volume/remove/remove.go
  internal/config/harness_schema.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

test(monitor): preallocate the flattened lane slice
  internal/monitor/units_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

chore(lint): align golangci-lint at v2.12.2 across CI and pre-commit
  .clawker.yaml
  .github/workflows/lint.yml
  .pre-commit-config.yaml
Due: none

feat(alias): ship per-harness claude/codex aliases; go/wt run the default harness
  CHANGELOG.md
  README.md
  docs/aliases.mdx
  docs/configuration.mdx
  docs/quickstart.mdx
  docs/schemas/clawker.schema.json
  internal/cmd/alias/list/list_test.go
  internal/cmd/root/CLAUDE.md
  internal/config/config_test.go
  internal/config/schema.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

docs: multi-harness framing sweep for README and quickstart
  README.md
  docs/quickstart.mdx
Due: none

fix(build): bump linux-libc-dev pin to 6.8.0-136.136
  Makefile
Due: none

fix(build): bump linux-libc-dev pin to 6.8.0-136.136 (#422)
  Makefile
Due: none

docs: refresh Devin wiki and serena follow-ups for multi-harness
  .devin/wiki.json
  .serena/memories/multi-harness/follow-ups.md
Due: none

chore(memories): drop completed aliases item from multi-harness follow-ups
  .serena/memories/multi-harness/follow-ups.md
Due: none

feat(bundle): embedded stacks for java, ruby, cpp, dotnet (#421)
  README.md
  docs/custom-images.mdx
  docs/stacks.mdx
  internal/bundle/assets/stacks/cpp/Dockerfile.stack-root.tmpl
  internal/bundle/assets/stacks/cpp/stack.yaml
  internal/bundle/assets/stacks/dotnet/Dockerfile.stack-root.tmpl
  internal/bundle/assets/stacks/dotnet/stack.yaml
  internal/bundle/assets/stacks/java/Dockerfile.stack-root.tmpl
  internal/bundle/assets/stacks/java/stack.yaml
  internal/bundle/assets/stacks/ruby/Dockerfile.stack-root.tmpl
  internal/bundle/assets/stacks/ruby/stack.yaml
  internal/bundle/floor_internal_test.go
  internal/bundler/CLAUDE.md
  internal/bundler/stack_test.go
  internal/config/presets.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix(bundle): dotnet stack guards on populated DOTNET_ROOT, not just PATH
  internal/bundle/assets/stacks/dotnet/Dockerfile.stack-root.tmpl
  internal/bundle/assets/stacks/dotnet/stack.yaml
Due: none

feat(bundle): embedded stacks for java, ruby, cpp, dotnet (#423)
  README.md
  docs/custom-images.mdx
  docs/stacks.mdx
  internal/bundle/assets/stacks/cpp/Dockerfile.stack-root.tmpl
  internal/bundle/assets/stacks/cpp/stack.yaml
  internal/bundle/assets/stacks/dotnet/Dockerfile.stack-root.tmpl
  internal/bundle/assets/stacks/dotnet/stack.yaml
  internal/bundle/assets/stacks/java/Dockerfile.stack-root.tmpl
  internal/bundle/assets/stacks/java/stack.yaml
  internal/bundle/assets/stacks/ruby/Dockerfile.stack-root.tmpl
  internal/bundle/assets/stacks/ruby/stack.yaml
  internal/bundle/floor_internal_test.go
  internal/bundler/CLAUDE.md
  internal/bundler/stack_test.go
  internal/config/presets.go
Due: semgrep, govulncheck, go-test, claude-freshness

docs(changelog): promote 2026.7.1 to full release
  CHANGELOG.md
Due: none

docs(changelog): caution note for third-party bundles
  CHANGELOG.md
Due: none

docs(threat-model): third-party bundle trust section
  docs/threat-model.mdx
Due: none

docs(changelog): ask users to report issues, promise quick patches
  CHANGELOG.md
Due: none

docs(changelog): note rollback path to v0.12.11
  CHANGELOG.md
Due: none

chore: emdassssshhhh
  CHANGELOG.md
Due: none

feat(init): rename TypeScript preset to Node
  docs/installation.mdx
  docs/quickstart.mdx
  internal/config/presets.go
  internal/config/presets_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

docs(changelog): promote 2026.7.1 to full release (#424)
  CHANGELOG.md
  docs/installation.mdx
  docs/quickstart.mdx
  docs/threat-model.mdx
  internal/config/presets.go
  internal/config/presets_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

feat(plugin): replace claude-plugin/ with clawker-plugin git submodule
  .clawker.yaml
  .github/workflows/main.yml
  .github/workflows/plugin.yml
  .gitmodules
  .pre-commit-config.yaml
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  claude-plugin/CLAUDE.md
  claude-plugin/clawker-support/.claude-plugin/plugin.json
  claude-plugin/clawker-support/CLAUDE.md
  claude-plugin/clawker-support/LICENSE
  claude-plugin/clawker-support/README.md
  claude-plugin/clawker-support/skills/clawker-support/SKILL.md
  claude-plugin/clawker-support/skills/clawker-support/reference/Dockerfile.base.tmpl
  claude-plugin/clawker-support/skills/clawker-support/reference/Dockerfile.harness-image.tmpl
  claude-plugin/clawker-support/skills/clawker-support/reference/claude-code.md
  claude-plugin/clawker-support/skills/clawker-support/reference/docker-hygiene.md
  claude-plugin/clawker-support/skills/clawker-support/reference/firewall-security.md
  claude-plugin/clawker-support/skills/clawker-support/reference/known-issues.md
  claude-plugin/clawker-support/skills/clawker-support/reference/mcp-recipes.md
  claude-plugin/clawker-support/skills/clawker-support/reference/monitoring.md
  claude-plugin/clawker-support/skills/clawker-support/reference/project-config.md
  claude-plugin/clawker-support/skills/clawker-support/reference/sample-go.yaml
  claude-plugin/clawker-support/skills/clawker-support/reference/sample-node.yaml
  claude-plugin/clawker-support/skills/clawker-support/reference/settings.md
  claude-plugin/clawker-support/skills/clawker-support/reference/troubleshooting.md
  docs/cli-reference/clawker_skill.md
  docs/cli-reference/clawker_skill_install.md
  docs/quickstart.mdx
  internal/cmd/skill/CLAUDE.md
  internal/cmd/skill/install/install.go
  internal/cmd/skill/remove/remove.go
  internal/cmd/skill/shared/copy.go
  internal/cmd/skill/shared/copy_test.go
  internal/cmd/skill/shared/shared.go
  internal/cmd/skill/show/show.go
  internal/cmd/skill/skill.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

docs(memory): record plugin-migration submodule status in research memo
  .serena/memories/multi-harness/skill-distribution-native-install-research.md
Due: none

chore: track clawker-test-bundle example repo as submodule
  .gitmodules
Due: none
