Repository schmitthub/clawker: changes, and which pre-commit hooks are due for each by the changed paths.
All: semgrep, govulncheck, go-test, docs-check, licenses-check, claude-freshness

semgrep:
  name: Semgrep SAST
  entry: semgrep scan --baseline-commit HEAD --config p/golang --config p/security-audit --error
  language: system
  pass_filenames: false

govulncheck:
  name: govulncheck SCA
  entry: govulncheck ./...
  language: system
  pass_filenames: false

go-test:
  name: Unit tests
  entry: make test
  language: system
  pass_filenames: false

docs-check:
  name: CLI docs freshness
  entry: make docs-check
  language: system
  pass_filenames: false

licenses-check:
  name: NOTICE freshness
  entry: make licenses-check
  language: system
  pass_filenames: false

claude-freshness:
  name: Claude doc freshness (advisory)
  entry: bash -c 'bash scripts/check-claude-freshness.sh --strict --non-interactive --no-color | head -50 || true'
  language: system
  pass_filenames: false
  verbose: true

docs(readme): strip dead abbr hovers, simplify comparison legend
  README.md
Due: none

docs(readme): de-dupe comparison legend
  README.md
Due: none

docs(readme): drop SmolVM from comparison
  .serena/memories/agent-sandbox-research/assessment-guidelines.md
  .serena/memories/agent-sandbox-research/plan.md
  .serena/memories/agent-sandbox-research/providers/smolvm.md
  README.md
Due: none

docs(readme): drop Sculptor from comparison — not a sandbox
  README.md
Due: none

docs(readme): explain why syscall filtering isn't a comparison column
  README.md
Due: none

docs: add coding-agent security-sandbox comparison table (#427)
  .serena/memories/agent-sandbox-research/assessment-guidelines.md
  .serena/memories/agent-sandbox-research/plan.md
  .serena/memories/agent-sandbox-research/providers/anthropic-sandbox-runtime.md
  .serena/memories/agent-sandbox-research/providers/claude-code-sandboxing.md
  .serena/memories/agent-sandbox-research/providers/clawker.md
  .serena/memories/agent-sandbox-research/providers/codex-cli-sandbox.md
  .serena/memories/agent-sandbox-research/providers/devcontainers.md
  .serena/memories/agent-sandbox-research/providers/docker-sandboxes.md
  .serena/memories/agent-sandbox-research/providers/mattolson-agent-sandbox.md
  .serena/memories/agent-sandbox-research/providers/nono.md
  .serena/memories/agent-sandbox-research/providers/sculptor-imbue.md
  .serena/memories/agent-sandbox-research/sources.md
  README.md
Due: none

docs(research): drop Sculptor from sandbox roster (9→8)
  .serena/memories/agent-sandbox-research/assessment-guidelines.md
  .serena/memories/agent-sandbox-research/plan.md
  .serena/memories/agent-sandbox-research/providers/sculptor-imbue.md
Due: none

docs(research): drop Sculptor from sandbox roster (9→8) (#428)
  .serena/memories/agent-sandbox-research/assessment-guidelines.md
  .serena/memories/agent-sandbox-research/plan.md
  .serena/memories/agent-sandbox-research/providers/sculptor-imbue.md
Due: none

docs(readme): explain why host-only allowlists and IP/iptables enforcement leak
  README.md
Due: none

docs(readme): explain why host-only allowlists and IP/iptables enforcement leak (#429)
  README.md
Due: none

fix(workspace): give .clawkerignore real gitignore semantics
  CHANGELOG.md
  internal/config/defaults.go
  internal/docker/CLAUDE.md
  internal/docker/ignore_parity_test.go
  internal/docker/volume.go
  internal/docker/volume_test.go
  internal/workspace/bind.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix(docker): check tar writer close error, drop duplicated doc comment
  internal/docker/volume.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix(cp): propagate tar writer close error through pipe
  internal/cmd/container/cp/cp.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(workspace): give .clawkerignore real gitignore semantics (#430)
  CHANGELOG.md
  internal/cmd/container/cp/cp.go
  internal/config/defaults.go
  internal/docker/CLAUDE.md
  internal/docker/ignore_parity_test.go
  internal/docker/volume.go
  internal/docker/volume_test.go
  internal/workspace/bind.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(env): give agent.env_file real dotenv semantics via vendored compose-go parser
  .claude/docs/REPO-STRUCTURE.md
  internal/cmd/container/shared/agentenv.go
  internal/cmd/container/shared/agentenv_test.go
  internal/dotenv/LICENSE
  internal/dotenv/godotenv.go
  internal/dotenv/parser.go
  internal/dotenv/template/LICENSE
  internal/dotenv/template/NOTICE
  internal/dotenv/template/template.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

chore: attribute vendored internal/dotenv packages in NOTICE
  NOTICE
Due: none

chore(hooks): trigger NOTICE freshness on LICENSE/NOTICE file changes
  .pre-commit-config.yaml
Due: none

fix(dotenv): honor bare inherited key at EOF without trailing newline
  internal/cmd/container/shared/agentenv_test.go
  internal/dotenv/parser.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(env): give agent.env_file real dotenv semantics via vendored compose-go parser (#431)
  .claude/docs/REPO-STRUCTURE.md
  .pre-commit-config.yaml
  NOTICE
  internal/cmd/container/shared/agentenv.go
  internal/cmd/container/shared/agentenv_test.go
  internal/dotenv/LICENSE
  internal/dotenv/godotenv.go
  internal/dotenv/parser.go
  internal/dotenv/template/LICENSE
  internal/dotenv/template/NOTICE
  internal/dotenv/template/template.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(socketbridge): share one rotated log across bridge daemons
  CHANGELOG.md
  internal/cmd/bridge/CLAUDE.md
  internal/cmd/bridge/bridge.go
  internal/cmd/hostproxy/serve.go
  internal/consts/auth_dirs_test.go
  internal/consts/consts.go
  internal/consts/host_user_test.go
  internal/consts/persisted_values_test.go
  internal/logger/CLAUDE.md
  internal/logger/logger.go
  internal/logger/logger_test.go
  internal/logger/sharedfile.go
  internal/logger/sharedfile_test.go
  internal/socketbridge/CLAUDE.md
  internal/socketbridge/bridge.go
  internal/socketbridge/bridge_test.go
  internal/socketbridge/export_test.go
  internal/socketbridge/manager.go
  internal/socketbridge/manager_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(socketbridge): drop duplicate container field in daemon log lines
  CHANGELOG.md
  internal/cmd/bridge/bridge.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(socketbridge): drop duplicate container field in daemon log lines (#432)
  CHANGELOG.md
  internal/cmd/bridge/bridge.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(changelog): missing 2026.7.3 date
  CHANGELOG.md
Due: none

chore(bugs): added follow up issues
  .serena/memories/bug-tracker.md
  .serena/memories/plugin-issues.md
Due: none

feat(completions): suggest worktree branches for remove and --worktree
  CHANGELOG.md
  internal/cmd/container/create/create.go
  internal/cmd/container/run/run.go
  internal/cmd/worktree/CLAUDE.md
  internal/cmd/worktree/remove/remove.go
  internal/cmd/worktree/shared/completion.go
  internal/cmd/worktree/shared/completion_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

chore(run): surface and resolve latent lint findings in run.go
  internal/cmd/container/run/run.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

chore(start,restart): resolve latent lint findings
  internal/cmd/container/restart/restart.go
  internal/cmd/container/start/start.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(completions): review fixes — correct detached-worktree docs, add wiring tests and debug breadcrumbs
  CHANGELOG.md
  internal/cmd/container/create/create.go
  internal/cmd/container/create/create_test.go
  internal/cmd/container/restart/restart.go
  internal/cmd/container/run/run.go
  internal/cmd/container/run/run_test.go
  internal/cmd/firewall/remove.go
  internal/cmd/worktree/CLAUDE.md
  internal/cmd/worktree/remove/remove_test.go
  internal/cmd/worktree/shared/completion.go
  internal/cmd/worktree/shared/completion_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

chore(changelog): removed pinned version as its not ready
  CHANGELOG.md
Due: none

chore(changelog): removed excess line
  CHANGELOG.md
Due: none

feat(completions): worktree branch shell completion + container lint debt sweep (#434)
  CHANGELOG.md
  internal/cmd/container/create/create.go
  internal/cmd/container/create/create_test.go
  internal/cmd/container/restart/restart.go
  internal/cmd/container/run/run.go
  internal/cmd/container/run/run_test.go
  internal/cmd/container/start/start.go
  internal/cmd/firewall/remove.go
  internal/cmd/worktree/CLAUDE.md
  internal/cmd/worktree/remove/remove.go
  internal/cmd/worktree/remove/remove_test.go
  internal/cmd/worktree/shared/completion.go
  internal/cmd/worktree/shared/completion_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

chore(dev): block repo-wide go-test sweeps in-container; forward TERM_PROGRAM env
  .claude/hooks/go-commands.sh
  .clawker.yaml
Due: none

fix(firewall): harden route-identity persistence, seed lifecycle, and observability
  .claude/docs/DESIGN.md
  .serena/memories/bug-tracker.md
  controlplane/firewall/CLAUDE.md
  controlplane/firewall/coredns_config.go
  controlplane/firewall/coredns_config_test.go
  controlplane/firewall/ebpf/CLAUDE.md
  controlplane/firewall/ebpf/bpf/common.h
  controlplane/firewall/ebpf/cmd/main.go
  controlplane/firewall/ebpf/dns_gc.go
  controlplane/firewall/ebpf/manager.go
  controlplane/firewall/ebpf/manager_test.go
  controlplane/firewall/ebpf/netlogger/CLAUDE.md
  controlplane/firewall/ebpf/netlogger/event.go
  controlplane/firewall/ebpf/netlogger/event_test.go
  controlplane/firewall/ebpf/netlogger/netlogger.go
  controlplane/firewall/ebpf/netlogger/netlogger_test.go
  controlplane/firewall/ebpf/netlogger/otel_sink.go
  controlplane/firewall/ebpf/netlogger/otel_sink_test.go
  controlplane/firewall/ebpf/netlogger/processor_test.go
  controlplane/firewall/ebpf/netlogger/reverse_dns.go
  controlplane/firewall/ebpf/netlogger/reverse_dns_test.go
  controlplane/firewall/ebpf/types.go
  controlplane/firewall/handler.go
  controlplane/firewall/handler_test.go
  controlplane/firewall/identity.go
  controlplane/firewall/identity_internal_test.go
  controlplane/firewall/rules_store.go
  controlplane/firewall/rules_store_test.go
  controlplane/firewall/stack.go
  internal/dnsbpf/CLAUDE.md
  internal/dnsbpf/bpfmap.go
  internal/dnsbpf/bpfmap_internal_test.go
  internal/dnsbpf/dnsbpf.go
  internal/dnsbpf/dnsbpf_test.go
  internal/dnsbpf/setup.go
  internal/dnsbpf/setup_internal_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

test(e2e): assert persisted identity table stability; fix dnsbpf doc rows
  internal/dnsbpf/CLAUDE.md
  test/e2e/firewall_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

docs: sweep all dev docs and user docs for storage-redesign accuracy
  .claude/docs/ARCHITECTURE.md
  .claude/docs/DESIGN.md
  .claude/docs/KEY-CONCEPTS.md
  .claude/docs/MONITORING-REFERENCE.md
  .claude/docs/REPO-STRUCTURE.md
  .claude/docs/STOREUI-REFERENCE.md
  .claude/docs/TESTING-REFERENCE.md
  .claude/rules/code-style.md
  .claude/rules/dependency-placement.md
  .claude/rules/envoy.md
  .claude/rules/hostproxy.md
  .claude/rules/monitoring.md
  .claude/rules/storeui.md
  .claude/rules/testing.md
  CLAUDE.md
  cmd/coredns-clawker/plugins/otel/CLAUDE.md
  cmd/gen-docs/configuration.mdx.tmpl
  controlplane/CLAUDE.md
  controlplane/firewall/CLAUDE.md
  docs/configuration.mdx
  internal/cmd/alias/CLAUDE.md
  internal/cmd/container/start/CLAUDE.md
  internal/cmd/factory/CLAUDE.md
  internal/cmd/firewall/CLAUDE.md
  internal/cmd/hostproxy/CLAUDE.md
  internal/cmd/settings/CLAUDE.md
  internal/cmd/volume/CLAUDE.md
  internal/docker/CLAUDE.md
  internal/hostproxy/internals/CLAUDE.md
  internal/project/CLAUDE.md
  internal/storage/CLAUDE.md
  internal/storeui/CLAUDE.md
  internal/testenv/CLAUDE.md
  internal/tui/CLAUDE.md
  pkg/whail/CLAUDE.md
Due: docs-check

feat(config): enforce workspace mode enum at the yaml decode layer
  .claude/rules/storage-schema.md
  internal/cmd/container/shared/container_create.go
  internal/config/config.go
  internal/config/config_test.go
  internal/config/consts.go
  internal/config/mocks/config_mock.go
  internal/config/presets_test.go
  internal/config/schema.go
  internal/config/storeui/project/project_test.go
  internal/workspace/setup.go
  internal/workspace/setup_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

Path conditions:
  semgrep: any of: \.go$
  govulncheck: any of: \.go$
  go-test: any of: \.go$
  docs-check: any of: ^(cmd/|internal/cmd/|internal/docs/)
  licenses-check: any of: ^go\.(mod|sum)$
  claude-freshness: any of: \.go$
