Repository schmitthub/clawker: changes, and which pre-commit hooks are due for each by the changed paths.
All: semgrep, govulncheck, go-test, docs-check, licenses-check, claude-freshness

semgrep:
  name: Semgrep SAST
  entry: semgrep scan --baseline-commit HEAD --config p/golang --config p/security-audit --error
  language: system
  pass_filenames: false

govulncheck:
  name: govulncheck SCA
  entry: govulncheck ./...
  language: system
  pass_filenames: false

go-test:
  name: Unit tests
  entry: make test
  language: system
  pass_filenames: false

docs-check:
  name: CLI docs freshness
  entry: make docs-check
  language: system
  pass_filenames: false

licenses-check:
  name: NOTICE freshness
  entry: make licenses-check
  language: system
  pass_filenames: false

claude-freshness:
  name: Claude doc freshness (advisory)
  entry: bash -c 'bash scripts/check-claude-freshness.sh --strict --non-interactive --no-color | head -50 || true'
  language: system
  pass_filenames: false
  verbose: true

fix(agent): make CmdRunning authoritative for plan dispatch; track init-bypass
  controlplane/agent/boot_steps.go
  controlplane/agent/dialer.go
  controlplane/agent/events.go
  controlplane/agent/exec_test.go
  controlplane/agent/utils.go
  controlplane/agent/utils_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

docs(changelog): 0.12.7
  CHANGELOG.md
Due: none

docs(changelog): rebuild alert
  CHANGELOG.md
  Makefile
  internal/changelog/preview_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

test(changelog): add make changelog-preview to render latest entry
  Makefile
  internal/changelog/CLAUDE.md
  internal/changelog/changelog.go
  internal/changelog/changelog_test.go
  internal/changelog/parse.go
  internal/changelog/preview_test.go
  internal/clawker/changelog_preview_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

test(clawkerd): add internal/clawkerd to test-clawkerd target
  Makefile
Due: none

build(make): fix clawkerd/clawkercp embed staleness deps + docsweep coverage
  .claude/workflows/docsweep.workflow.js
  Makefile
Due: none

build(make): depend test-clawkerd on the embed binaries it needs to compile
  Makefile
Due: none

build(make): add embed-binary deps to clawker-generate and changelog-preview
  Makefile
Due: none

docs(diagram): updated system diagram
  docs/assets/clawker-threat-model.excalidraw
  docs/assets/threat-model-2.jpeg
  docs/assets/threat-model.png
Due: none

docs(diagram): updated system diagram (#392)
  docs/assets/clawker-threat-model.excalidraw
  docs/assets/threat-model-2.jpeg
  docs/assets/threat-model.png
Due: none

chore: readme cache bust
  README.md
  docs/assets/system-diagram.png
Due: none

fix(preset): Typescript template pre-run no longer assumes node packages exist
  CHANGELOG.md
  internal/config/presets.go
Due: semgrep, govulncheck, go-test, claude-freshness

Potential fix for pull request finding
  internal/config/presets.go
Due: semgrep, govulncheck, go-test, claude-freshness

Potential fix for pull request finding
  CHANGELOG.md
Due: none

fix(preset): Typescript preset pre-run npm install soft fail (#393)
  CHANGELOG.md
  internal/config/presets.go
Due: semgrep, govulncheck, go-test, claude-freshness

docs(multi-harness): add Claude-coupling inventory planning artifact
  .serena/memories/multi-harness/claude-coupling-inventory.md
Due: none

docs(multi-harness): add build.go to coupling inventory
  .serena/memories/multi-harness/claude-coupling-inventory.md
Due: none

docs(multi-harness): expand containerfs staging to mechanic-level
  .serena/memories/multi-harness/claude-coupling-inventory.md
Due: none

docs(multi-harness): elevate firewall floor + agent/build coupling
  .serena/memories/multi-harness/claude-coupling-inventory.md
Due: none

docs(multi-harness): add design artifact + folder index
  .serena/memories/multi-harness/README.md
  .serena/memories/multi-harness/claude-coupling-inventory.md
  .serena/memories/multi-harness/design.md
Due: none

docs(multi-harness): map clawker skill command; drop MCP phantom
  .serena/memories/multi-harness/claude-coupling-inventory.md
  .serena/memories/multi-harness/design.md
Due: none

chore(deps): regenerate NOTICE for go-minor-patch group
  NOTICE
Due: none

chore(firewall): allow actions/checkout GitHub API for release review
  .clawker.yaml
Due: none

feat(firewall): opt-in ~ regex marker for egress path rules
  api/admin/v1/admin.pb.go
  api/admin/v1/admin.proto
  claude-plugin/clawker-support/.claude-plugin/plugin.json
  claude-plugin/clawker-support/skills/clawker-support/SKILL.md
  claude-plugin/clawker-support/skills/clawker-support/reference/firewall-security.md
  controlplane/firewall/CLAUDE.md
  controlplane/firewall/envoy_config_test.go
  controlplane/firewall/envoy_http.go
  controlplane/firewall/rules_store.go
  controlplane/firewall/rules_store_test.go
  controlplane/firewall/testdata/envoy/comprehensive.envoy.golden
  controlplane/firewall/testdata/envoy/comprehensive_mtls.envoy.golden
  docs/cli-reference/clawker_firewall_add.md
  docs/configuration.mdx
  docs/firewall.mdx
  internal/cmd/firewall/CLAUDE.md
  internal/cmd/firewall/add.go
  internal/config/schema.go
  internal/docs/configdoc_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

docs(firewall): sharpen domain wildcard and regex path rule guidance
  claude-plugin/clawker-support/.claude-plugin/plugin.json
  claude-plugin/clawker-support/skills/clawker-support/SKILL.md
  claude-plugin/clawker-support/skills/clawker-support/reference/firewall-security.md
  claude-plugin/clawker-support/skills/clawker-support/reference/troubleshooting.md
  internal/bundler/assets/clawker-agent-prompt.md
Due: none

feat(firewall): validate literal path chars, document rule precedence
  CHANGELOG.md
  claude-plugin/clawker-support/.claude-plugin/plugin.json
  claude-plugin/clawker-support/skills/clawker-support/reference/firewall-security.md
  controlplane/firewall/CLAUDE.md
  controlplane/firewall/rules_store.go
  controlplane/firewall/rules_store_test.go
  docs/firewall.mdx
  internal/bundler/assets/clawker-agent-prompt.md
  internal/hostproxy/egress_check.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix(hostproxy): canonicalize dot-segment dirs to match Envoy normalize_path
  internal/hostproxy/egress_check.go
  internal/hostproxy/egress_check_test.go
  internal/hostproxy/testdata/egress-rules.yaml
Due: semgrep, govulncheck, go-test, claude-freshness

fix(firewall): honor ~ regex path marker in host-proxy egress gate
  controlplane/firewall/envoy_http.go
  internal/hostproxy/egress_check.go
  internal/hostproxy/egress_check_test.go
  internal/hostproxy/testdata/egress-rules.yaml
Due: semgrep, govulncheck, go-test, claude-freshness

fix(iostreams): wrap changelog teaser, strip changelog URLs, fix flaky agent test
  .clawker.yaml
  CHANGELOG.md
  controlplane/agent/dispatch_register_test.go
  internal/iostreams/CLAUDE.md
  internal/iostreams/markdown.go
  internal/iostreams/markdown_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix(hostproxy): fail egress enforcement closed like Envoy
  internal/consts/consts.go
  internal/hostproxy/CLAUDE.md
  internal/hostproxy/daemon.go
  internal/hostproxy/daemon_test.go
  internal/hostproxy/egress_check.go
  internal/hostproxy/egress_check_test.go
  internal/hostproxy/server.go
  internal/hostproxy/server_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

chore(golanglint): added draconian linter rules
  .golangci.yml
  .pre-commit-config.yaml
Due: none

chore(golanglint): fixed schema
  .golangci.yml
Due: none

chore(golang-lint): removed autofixer
  .golangci.yml
Due: none

chore(docs): stale docs
  .claude/agents/test-hunter.md
  .claude/docs/ARCHITECTURE.md
  .claude/docs/DESIGN.md
  .claude/docs/KEY-CONCEPTS.md
  .claude/docs/TESTING-REFERENCE.md
  .claude/rules/container-commands.md
  .claude/rules/testing.md
  .clawker.yaml
  .serena/memories/project-overview.md
  controlplane/CLAUDE.md
  controlplane/agent/CLAUDE.md
  controlplane/agent/boot_steps.go
  controlplane/agent/exec.go
  docs/testing.md
  internal/cmd/container/CLAUDE.md
  internal/cmd/container/shared/CLAUDE.md
  internal/cmd/container/shared/container_create.go
  internal/cmd/controlplane/CLAUDE.md
  internal/cmd/factory/CLAUDE.md
  internal/cmdutil/CLAUDE.md
  internal/hostproxy/CLAUDE.md
  test/CLAUDE.md
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

chore(golang-lint): added stable config
  .github/workflows/lint.yml
  .golangci.yml
  .pre-commit-config.yaml
Due: none

Path conditions:
  semgrep: any of: \.go$
  govulncheck: any of: \.go$
  go-test: any of: \.go$
  docs-check: any of: ^(cmd/|internal/cmd/|internal/docs/)
  licenses-check: any of: ^go\.(mod|sum)$
  claude-freshness: any of: \.go$
