Repository schmitthub/clawker: changes, and which pre-commit hooks are due for each by the changed paths.
All: semgrep, govulncheck, go-test, docs-check, licenses-check, claude-freshness

semgrep:
  name: Semgrep SAST
  entry: semgrep scan --baseline-commit HEAD --config p/golang --config p/security-audit --error
  language: system
  pass_filenames: false

govulncheck:
  name: govulncheck SCA
  entry: govulncheck ./...
  language: system
  pass_filenames: false

go-test:
  name: Unit tests
  entry: make test
  language: system
  pass_filenames: false

docs-check:
  name: CLI docs freshness
  entry: make docs-check
  language: system
  pass_filenames: false

licenses-check:
  name: NOTICE freshness
  entry: make licenses-check
  language: system
  pass_filenames: false

claude-freshness:
  name: Claude doc freshness (advisory)
  entry: bash -c 'bash scripts/check-claude-freshness.sh --strict --non-interactive --no-color | head -50 || true'
  language: system
  pass_filenames: false
  verbose: true

chore: ignore attacker server binary
  .gitignore
Due: none

docs: explain why TCP/SSH uses port-level routing and first-rule-wins
  claude-plugin/clawker-support/skills/clawker-support/reference/troubleshooting.md
  docs/firewall.mdx
  docs/threat-model.mdx
Due: none

docs: link TCP/SSH port limitation to #235, note control plane roadmap
  SECURITY.md
  claude-plugin/clawker-support/skills/clawker-support/reference/troubleshooting.md
  docs/firewall.mdx
  docs/security.mdx
  docs/threat-model.mdx
Due: none

docs: soften control plane language — deferred, not promised
  SECURITY.md
  docs/firewall.mdx
  docs/security.mdx
  docs/threat-model.mdx
Due: none

docs: add TCP/SSH port limitation to README known issues
  README.md
Due: none

docs: fix terminology — limitation is TCP/SSH, not non-TLS
  README.md
  SECURITY.md
  claude-plugin/clawker-support/skills/clawker-support/reference/troubleshooting.md
  docs/firewall.mdx
  docs/security.mdx
  docs/threat-model.mdx
Due: none

refactor: consolidate HTTP listener into egress listener
  internal/firewall/envoy.go
  internal/firewall/envoy_test.go
  internal/firewall/manager.go
Due: semgrep, govulncheck, go-test, claude-freshness

docs: update firewall CLAUDE.md for consolidated egress listener
  internal/firewall/CLAUDE.md
  internal/firewall/envoy_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

refactor: rename EnvoyTLSPort -> EnvoyEgressPort, remove EnvoyHTTPPort
  internal/config/config.go
  internal/config/consts.go
  internal/config/mocks/config_mock.go
  internal/config/mocks/stubs.go
  internal/firewall/manager.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix: removed envoy http port refs
  .serena/memories/firewall-egress-stack-e2e-bugs.md
  internal/config/config.go
  internal/config/consts.go
  internal/config/mocks/stubs.go
  internal/firewall/envoy.go
  internal/firewall/envoy_test.go
  internal/firewall/manager.go
Due: semgrep, govulncheck, go-test, claude-freshness

chore: envoy docs
  .claude/rules/envoy.md
  .clawker.yaml
  claude-plugin/clawker-support/.claude-plugin/plugin.json
  claude-plugin/clawker-support/skills/clawker-support/reference/sample-go.yaml
  internal/firewall/CLAUDE.md
Due: none

refactor: replace DFP with LOGICAL_DNS clusters, fix WebSocket
  .claude/rules/envoy.md
  .clawker.yaml
  internal/firewall/CLAUDE.md
  internal/firewall/envoy.go
  internal/firewall/envoy_test.go
  test/adversarial/attacker-server/go.mod
  test/adversarial/attacker-server/go.sum
  test/adversarial/attacker-server/main.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix: copilot review
  .claude/rules/envoy.md
  internal/config/mocks/config_mock.go
  internal/firewall/envoy.go
  test/adversarial/attacker-server/go.mod
  test/adversarial/attacker-server/go.sum
Due: semgrep, govulncheck, go-test, claude-freshness

fix: port-qualified cluster names, access log field, stale comments
  internal/config/consts.go
  internal/firewall/envoy.go
  internal/firewall/envoy_test.go
  internal/firewall/manager.go
  test/e2e/firewall_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

refactor: replace DFP with LOGICAL_DNS clusters, consolidate egress listener, add WebSocket support (#231)
  .claude/rules/envoy.md
  .clawker.yaml
  .gitignore
  .serena/memories/firewall-egress-stack-e2e-bugs.md
  README.md
  SECURITY.md
  claude-plugin/clawker-support/.claude-plugin/plugin.json
  claude-plugin/clawker-support/skills/clawker-support/reference/sample-go.yaml
  claude-plugin/clawker-support/skills/clawker-support/reference/troubleshooting.md
  docs/firewall.mdx
  docs/security.mdx
  docs/threat-model.mdx
  internal/config/config.go
  internal/config/consts.go
  internal/config/mocks/config_mock.go
  internal/config/mocks/stubs.go
  internal/firewall/CLAUDE.md
  internal/firewall/envoy.go
  internal/firewall/envoy_test.go
  internal/firewall/manager.go
  test/adversarial/CLAUDE.md
  test/adversarial/Dockerfile
  test/adversarial/attacker-server/go.mod
  test/adversarial/attacker-server/go.sum
  test/adversarial/attacker-server/main.go
  test/adversarial/compose.yml
  test/adversarial/scripts/setup.sh
  test/e2e/firewall_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

docs: update threat model to reflect tag ruleset hardening
  docs/threat-model.mdx
Due: none

docs: fix signed commits description — PRs rejected, not pushes
  docs/threat-model.mdx
Due: none

chore: add CODEOWNERS, dependabot config, update threat model rulesets
  .github/CODEOWNERS
  .github/dependabot.yml
  docs/threat-model.mdx
Due: none

chore: add semver checks
  docs/threat-model.mdx
Due: none

chore: grammar fix
  docs/threat-model.mdx
Due: none

docs: update threat model for tag ruleset hardening (#237)
  .github/CODEOWNERS
  .github/dependabot.yml
  docs/threat-model.mdx
Due: none

fix: block host access via clawker-net gateway, update threat model, add docker hygiene docs
  README.md
  claude-plugin/clawker-support/.claude-plugin/plugin.json
  claude-plugin/clawker-support/CLAUDE.md
  claude-plugin/clawker-support/skills/clawker-support/SKILL.md
  claude-plugin/clawker-support/skills/clawker-support/reference/docker-hygiene.md
  claude-plugin/clawker-support/skills/clawker-support/reference/troubleshooting.md
  docs/assets/monitor-firewall.png
  docs/docker-hygiene.mdx
  docs/docs.json
  docs/monitoring.mdx
  docs/threat-model.mdx
  internal/bundler/assets/firewall.sh
  internal/clawker/cmd.go
  internal/clawker/cmd_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

docs: add nav icon to docker hygiene page
  docs/docker-hygiene.mdx
Due: none

docs: fix docker hygiene networks description
  docs/docker-hygiene.mdx
Due: none

docs: add targeted volume cleanup commands, warn about volume prune
  docs/docker-hygiene.mdx
Due: none

docs: reorder docker cleanup commands, add system prune -a
  docs/docker-hygiene.mdx
Due: none

docs: remove docker system prune --volumes, use clawker volume prune instead
  docs/docker-hygiene.mdx
Due: none

docs: remove networks from docker hygiene table
  docs/docker-hygiene.mdx
Due: none

docs: use broom icon for docker hygiene page
  docs/docker-hygiene.mdx
Due: none

fix: block UDP to gateway, capitalize CLI in threat model
  docs/threat-model.mdx
  internal/bundler/assets/firewall.sh
Due: none

docs: fix inconsistent volume prune guidance in skill reference
  claude-plugin/clawker-support/skills/clawker-support/reference/docker-hygiene.md
Due: none

chore: clarified websearch tool note
  docs/threat-model.mdx
Due: none

fix: CLI is not cli DUH
  docs/threat-model.mdx
Due: none

fix: block host access via clawker-net gateway, update threat model docs (#242)
  README.md
  claude-plugin/clawker-support/.claude-plugin/plugin.json
  claude-plugin/clawker-support/CLAUDE.md
  claude-plugin/clawker-support/skills/clawker-support/SKILL.md
  claude-plugin/clawker-support/skills/clawker-support/reference/docker-hygiene.md
  claude-plugin/clawker-support/skills/clawker-support/reference/troubleshooting.md
  docs/assets/monitor-firewall.png
  docs/docker-hygiene.mdx
  docs/docs.json
  docs/monitoring.mdx
  docs/threat-model.mdx
  internal/bundler/assets/firewall.sh
  internal/clawker/cmd.go
  internal/clawker/cmd_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

chore(deps): consolidate dependabot dependency updates
  NOTICE
  go.mod
  go.sum
  test/adversarial/Dockerfile
Due: licenses-check

chore(deps): consolidate dependabot dependency updates (#248)
  NOTICE
  go.mod
  go.sum
  test/adversarial/Dockerfile
Due: licenses-check

fix: show denied destination in Envoy monitoring logs, add ✗/✓ status indicators
  internal/firewall/envoy.go
  internal/firewall/envoy_test.go
  internal/monitor/templates/grafana-dashboard.json
  internal/monitor/templates/promtail-config.yaml.tmpl
Due: semgrep, govulncheck, go-test, claude-freshness

fix: improve Envoy monitoring deny detection accuracy
  internal/monitor/templates/grafana-dashboard.json
  internal/monitor/templates/promtail-config.yaml.tmpl
Due: none

fix: promote upstream_host to label for deny match, then labeldrop
  internal/monitor/templates/promtail-config.yaml.tmpl
Due: none

fix: show denied destination in Envoy monitoring logs (#244)
  internal/firewall/envoy.go
  internal/firewall/envoy_test.go
  internal/monitor/templates/grafana-dashboard.json
  internal/monitor/templates/promtail-config.yaml.tmpl
Due: semgrep, govulncheck, go-test, claude-freshness

Path conditions:
  semgrep: any of: \.go$
  govulncheck: any of: \.go$
  go-test: any of: \.go$
  docs-check: any of: ^(cmd/|internal/cmd/|internal/docs/)
  licenses-check: any of: ^go\.(mod|sum)$
  claude-freshness: any of: \.go$
