Repository schmitthub/clawker: changes, and which pre-commit hooks are due for each by the changed paths.
All: semgrep, govulncheck, go-test, docs-check, licenses-check, claude-freshness

.pre-commit-config.yaml:

# Pre-commit hooks — mirrors CI quality gates locally.
# Install: bash scripts/install-hooks.sh
# Run all: pre-commit run --all-files
# Run one: pre-commit run gitleaks --all-files

repos:
  # ── Security ──────────────────────────────────────────────────────────────
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.30.0
    hooks:
      - id: gitleaks
        args: [--baseline-path, gitleaks-report.json]

  # ── Lint ──────────────────────────────────────────────────────────────────
  - repo: https://github.com/golangci/golangci-lint
    rev: v2.9.0
    hooks:
      - id: golangci-lint-full
        args: [--config, .golangci.yml]

  # ── Local hooks ───────────────────────────────────────────────────────────
  - repo: local
    hooks:
      - id: semgrep
        name: Semgrep SAST
        # Expected version: 1.146.0 (must match CI image tag in security.yml)
        entry: semgrep scan --baseline-commit HEAD --config p/golang --config p/security-audit --error
        language: system
        types: [go]
        pass_filenames: false

      - id: govulncheck
        name: govulncheck SCA
        entry: govulncheck ./...
        language: system
        types: [go]
        pass_filenames: false

      - id: go-test
        name: Unit tests
        entry: make test
        language: system
        types: [go]
        pass_filenames: false

      - id: docs-check
        name: CLI docs freshness
        entry: make docs-check
        language: system
        files: ^(cmd/|internal/cmd/|internal/docs/)
        pass_filenames: false

      - id: licenses-check
        name: NOTICE freshness
        entry: make licenses-check
        language: system
        files: ^go\.(mod|sum)$
        pass_filenames: false

      - id: claude-freshness
        name: Claude doc freshness (advisory)
        entry: bash -c 'bash scripts/check-claude-freshness.sh --strict --non-interactive --no-color | head -50 || true'
        language: system
        files: \.go$
        pass_filenames: false
        verbose: true

fix(monitor): scope saved-objects import to Clawker workspace
  internal/monitor/CLAUDE.md
  internal/monitor/templates/opensearch-bootstrap/bootstrap.sh.tmpl
Due: none

feat(monitor): enable Claude Code trace export + collapse OTLP envs to single base
  .claude/rules/monitoring.md
  README.md
  claude-plugin/clawker-support/skills/clawker-support/reference/Dockerfile.tmpl
  docs/configuration.mdx
  internal/bundler/CLAUDE.md
  internal/bundler/assets/Dockerfile.tmpl
  internal/bundler/assets/clawker-agent-prompt.md
  internal/bundler/dockerfile.go
  internal/bundler/dockerfile_test.go
  internal/cmd/image/build/build_progress_test.go
  internal/config/config.go
  internal/config/config_test.go
  internal/config/consts.go
  internal/config/mocks/config_mock.go
  internal/config/mocks/stubs.go
  internal/config/schema.go
  internal/docker/builder_test.go
  internal/monitor/CLAUDE.md
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(monitor): map instrumentationScope.{name,version} on OTel log indices
  internal/monitor/templates/opensearch-bootstrap/index-templates/claude-code.json
  internal/monitor/templates/opensearch-bootstrap/index-templates/clawker-cli.json
  internal/monitor/templates/opensearch-bootstrap/index-templates/clawker-coredns.json
  internal/monitor/templates/opensearch-bootstrap/index-templates/clawker-cp.json
Due: none

fix(monitor): pre-create empty log indices in bootstrap
  internal/monitor/templates/opensearch-bootstrap/bootstrap.sh.tmpl
Due: none

fix(monitor): harden bootstrap + OTel routing against silent failures
  .serena/memories/claude_code_os_dashboard_buildout.md
  internal/bundler/dockerfile_test.go
  internal/config/config_test.go
  internal/monitor/templates/compose.yaml.tmpl
  internal/monitor/templates/opensearch-bootstrap/bootstrap.sh.tmpl
  internal/monitor/templates/opensearch-bootstrap/index-templates/claude-code.json
  internal/monitor/templates/otel-config.yaml.tmpl
Due: semgrep, govulncheck, go-test, claude-freshness

docs: audit fixes for feat/os-dashboards branch
  .claude/docs/MONITORING-REFERENCE.md
  .claude/docs/REPO-STRUCTURE.md
  .serena/memories/audit_brainstorm_html_pointers.md
  .serena/memories/project-name-validator-unification.md
  CLAUDE.md
  docs/monitoring.mdx
  internal/storeui/CLAUDE.md
Due: none

docs: purge dead-stack refs (Grafana/Loki/Promtail/Jaeger/historical)
  .claude/docs/DESIGN.md
  .claude/docs/EBPF-DESIGN.md
  .claude/docs/MONITORING-REFERENCE.md
  .claude/rules/monitoring.md
  docs/monitoring.mdx
  internal/bundler/CLAUDE.md
  internal/cmd/monitor/down/down.go
  internal/cmd/monitor/up/up.go
  internal/consts/consts.go
  internal/controlplane/agent/CLAUDE.md
  internal/controlplane/agent/dialer.go
  internal/controlplane/dockerevents/dispatch.go
  internal/controlplane/dockerevents/events.go
  internal/controlplane/firewall/ebpf/cmd/CLAUDE.md
  internal/controlplane/firewall/handler.go
  internal/controlplane/firewall/handler_test.go
  internal/controlplane/otelcerts/otelcerts.go
  internal/controlplane/overseer/overseer.go
  internal/controlplane/overseer/overseer_test.go
  internal/logger/otel_writer_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(monitor): nest dotted attr collisions via OS ingest pipelines
  .serena/memories/claude_code_os_dashboard_buildout.md
  internal/monitor/CLAUDE.md
  internal/monitor/templates.go
  internal/monitor/templates/compose.yaml.tmpl
  internal/monitor/templates/opensearch-bootstrap/bootstrap.sh.tmpl
  internal/monitor/templates/opensearch-bootstrap/index-templates/claude-code.json
  internal/monitor/templates/opensearch-bootstrap/index-templates/clawker-cp.json
  internal/monitor/templates/opensearch-bootstrap/ingest-pipelines/claude-code-prompt-nest.json
  internal/monitor/templates/opensearch-bootstrap/ingest-pipelines/cp-actor-attr-nest.json
  internal/monitor/templates/otel-config.yaml.tmpl
  internal/monitor/templates_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix(monitor): bump pins + mirror SS4O envelope for OSD default columns
  internal/monitor/CLAUDE.md
  internal/monitor/templates.go
  internal/monitor/templates/opensearch-bootstrap/index-templates/claude-code.json
  internal/monitor/templates/opensearch-bootstrap/index-templates/clawker-cli.json
  internal/monitor/templates/opensearch-bootstrap/index-templates/clawker-coredns.json
  internal/monitor/templates/opensearch-bootstrap/index-templates/clawker-cp.json
  internal/monitor/templates/opensearch-bootstrap/index-templates/clawker-envoy.json
  internal/monitor/templates/opensearch-bootstrap/ingest-pipelines/envelope-normalize.json
Due: semgrep, govulncheck, go-test, claude-freshness

docs(memory): collapse closed drop-fix issues into gotchas
  .serena/memories/claude_code_os_dashboard_buildout.md
Due: none

fix(monitor): rename Prom `type` label to `kind` at OTel collector
  .claude/docs/MONITORING-REFERENCE.md
  .serena/memories/claude_code_os_dashboard_buildout.md
  docs/monitoring.mdx
  internal/monitor/CLAUDE.md
  internal/monitor/templates/otel-config.yaml.tmpl
Due: none

docs: document Clawker analytics workspace + dashboard intent
  README.md
  docs/monitoring.mdx
Due: none

docs(monitor): resolve Copilot review drift + scope dashboard memory to open work
  .claude/docs/MONITORING-REFERENCE.md
  .claude/rules/monitoring.md
  .serena/memories/claude_code_os_dashboard_buildout.md
  docs/monitoring.mdx
  internal/monitor/CLAUDE.md
  internal/monitor/templates/opensearch-bootstrap/bootstrap.sh.tmpl
Due: none

chore(deps): bump go-git/v6 to alpha.4 and go-billy/v6 to alpha.1
  go.mod
  go.sum
  internal/git/delete_branch_test.go
  internal/git/git.go
Due: semgrep, govulncheck, go-test, licenses-check, claude-freshness

build(bpf-deps): bump linux-libc-dev to 6.8.0-117.117
  Makefile
Due: none

chore(deps): consolidated dependabot bumps (5 PRs) (#293)
  .github/workflows/lint.yml
  .github/workflows/security.yml
  Makefile
  go.mod
  go.sum
  internal/git/delete_branch_test.go
  internal/git/git.go
  test/adversarial/Dockerfile
Due: semgrep, govulncheck, go-test, licenses-check, claude-freshness

fix(consts): host-derive ContainerUID, add HostUID for CP
  .serena/memories/fix_bind_mount_uid_postmortem.md
  internal/bundler/CLAUDE.md
  internal/config/CLAUDE.md
  internal/consts/consts.go
  internal/consts/controlplane.go
  internal/consts/host_user_test.go
  internal/controlplane/agent/init.go
  internal/controlplane/cpboot/container_config_test.go
  internal/controlplane/cpboot/cp_container.go
  internal/workspace/CLAUDE.md
  internal/workspace/setup.go
Due: semgrep, govulncheck, go-test, claude-freshness

refactor(consts): UID accessors, structured CP host-id diagnostic, dead Warnings field
  .serena/memories/fix_bind_mount_uid_postmortem.md
  cmd/clawker-cp/main.go
  cmd/clawker-cp/main_test.go
  internal/bundler/CLAUDE.md
  internal/cmd/container/shared/container_create.go
  internal/config/CLAUDE.md
  internal/config/config_test.go
  internal/config/consts.go
  internal/consts/consts.go
  internal/consts/controlplane.go
  internal/consts/host_user_test.go
  internal/controlplane/agent/init.go
  internal/controlplane/agent/init_test.go
  internal/controlplane/cpboot/container_config_test.go
  internal/controlplane/cpboot/cp_container.go
  internal/workspace/CLAUDE.md
  internal/workspace/setup.go
  internal/workspace/setup_test.go
  test/e2e/bind_mount_uid_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(consts): uid_t-typed host id accessors, neutral diagnostic event
  cmd/clawker-cp/main.go
  cmd/clawker-cp/main_test.go
  internal/consts/controlplane.go
  internal/consts/host_user_test.go
  internal/controlplane/agent/init.go
  internal/workspace/CLAUDE.md
  internal/workspace/setup.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(consts,bundler): Linux-only host UID/GID, idempotent groupadd
  claude-plugin/clawker-support/skills/clawker-support/reference/Dockerfile.tmpl
  internal/bundler/assets/Dockerfile.tmpl
  internal/consts/consts.go
Due: semgrep, govulncheck, go-test, claude-freshness

docs(serena): postmortem reflects HEAD, soft-closed pending alpha
  .serena/memories/fix_bind_mount_uid_postmortem.md
Due: none

fix(test,docs): mirror Linux-only host-ID fallback in test + CLAUDE.md
  internal/bundler/CLAUDE.md
  internal/config/CLAUDE.md
  internal/controlplane/cpboot/container_config_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

docs(plugin): drop UID-mismatch known-issue, add monitoring ref, bump 0.10.0
  claude-plugin/clawker-support/.claude-plugin/plugin.json
  claude-plugin/clawker-support/CLAUDE.md
  claude-plugin/clawker-support/skills/clawker-support/SKILL.md
  claude-plugin/clawker-support/skills/clawker-support/reference/known-issues.md
  claude-plugin/clawker-support/skills/clawker-support/reference/monitoring.md
  claude-plugin/clawker-support/skills/clawker-support/reference/troubleshooting.md
  docs/container-internals.mdx
  docs/security.mdx
  docs/threat-model.mdx
Due: none

test(consts): drop os.Unsetenv from TestResolveHostID
  internal/consts/host_user_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix(consts): host-derive ContainerUID, structured CP host-id diagnostic (#291)
  .serena/memories/fix_bind_mount_uid_postmortem.md
  claude-plugin/clawker-support/.claude-plugin/plugin.json
  claude-plugin/clawker-support/CLAUDE.md
  claude-plugin/clawker-support/skills/clawker-support/SKILL.md
  claude-plugin/clawker-support/skills/clawker-support/reference/Dockerfile.tmpl
  claude-plugin/clawker-support/skills/clawker-support/reference/known-issues.md
  claude-plugin/clawker-support/skills/clawker-support/reference/monitoring.md
  claude-plugin/clawker-support/skills/clawker-support/reference/troubleshooting.md
  cmd/clawker-cp/main.go
  cmd/clawker-cp/main_test.go
  docs/container-internals.mdx
  docs/security.mdx
  docs/threat-model.mdx
  internal/bundler/CLAUDE.md
  internal/bundler/assets/Dockerfile.tmpl
  internal/cmd/container/shared/container_create.go
  internal/config/CLAUDE.md
  internal/config/config_test.go
  internal/config/consts.go
  internal/consts/consts.go
  internal/consts/controlplane.go
  internal/consts/host_user_test.go
  internal/controlplane/agent/init.go
  internal/controlplane/agent/init_test.go
  internal/controlplane/cpboot/container_config_test.go
  internal/controlplane/cpboot/cp_container.go
  internal/workspace/CLAUDE.md
  internal/workspace/setup.go
  internal/workspace/setup_test.go
  test/e2e/bind_mount_uid_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

chore(plugin): bump clawker-support to 0.10.1
  claude-plugin/clawker-support/.claude-plugin/plugin.json
Due: none

chore(plugin): bump clawker-support to 0.10.1 (#294)
  claude-plugin/clawker-support/.claude-plugin/plugin.json
Due: none

chore: bump update-plugin workflow pin + clawker-support to 0.10.2
  .github/workflows/main.yml
  claude-plugin/clawker-support/.claude-plugin/plugin.json
Due: none

chore: bump update-plugin workflow pin + clawker-support to 0.10.2 (#295)
  .github/workflows/main.yml
  claude-plugin/clawker-support/.claude-plugin/plugin.json
Due: none

chore(plugin): tighten clawker-support firewall scope + audience rules (0.12.0)
  claude-plugin/clawker-support/.claude-plugin/plugin.json
  claude-plugin/clawker-support/skills/clawker-support/SKILL.md
  claude-plugin/clawker-support/skills/clawker-support/reference/project-config.md
Due: none

chore(scripts): add multipass VM launcher + setup; sync bug-tracker
  .serena/memories/bug-tracker.md
  scripts/multipass/launch-vm.sh
  scripts/multipass/setup.sh
Due: none

chore: clawker-support skill (0.12.0) + multipass VM bring-up scripts (#296)
  .serena/memories/bug-tracker.md
  claude-plugin/clawker-support/.claude-plugin/plugin.json
  claude-plugin/clawker-support/skills/clawker-support/SKILL.md
  claude-plugin/clawker-support/skills/clawker-support/reference/project-config.md
  scripts/multipass/launch-vm.sh
  scripts/multipass/setup.sh
Due: none

fix(cp): unconfine AppArmor so CP can write bpffs on Linux
  .clawker.yaml
  internal/controlplane/cpboot/bootstrap.go
  internal/controlplane/cpboot/container_config_test.go
  internal/controlplane/cpboot/cp_container.go
Due: semgrep, govulncheck, go-test, claude-freshness

chore(bug-tracker): close CP-won't-start-on-linux entry
  .serena/memories/bug-tracker.md
Due: none

test(cp): pin SecurityOpt forwarding through createCPContainer
  internal/controlplane/cpboot/bootstrap_test.go
  internal/controlplane/cpboot/container_config_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

docs(cp): document CP container privileges
  docs/control-plane.mdx
  docs/firewall.mdx
  docs/threat-model.mdx
Due: none

fix(cp): unconfine AppArmor so CP can write bpffs on Linux (#297)
  .clawker.yaml
  .serena/memories/bug-tracker.md
  docs/control-plane.mdx
  docs/firewall.mdx
  docs/threat-model.mdx
  internal/controlplane/cpboot/bootstrap.go
  internal/controlplane/cpboot/bootstrap_test.go
  internal/controlplane/cpboot/container_config_test.go
  internal/controlplane/cpboot/cp_container.go
Due: semgrep, govulncheck, go-test, claude-freshness

chore: updated bug tracker
  .serena/memories/bug-tracker.md
Due: none

feat(bundler): npm-resolved Claude Code version + Dockerfile.tmpl cache locality
  claude-plugin/clawker-support/skills/clawker-support/reference/Dockerfile.tmpl
  internal/bundler/CLAUDE.md
  internal/bundler/assets/Dockerfile.tmpl
  internal/bundler/dockerfile.go
  internal/bundler/dockerfile_test.go
  internal/bundler/hash_test.go
  internal/bundler/versions.go
  internal/cmd/factory/default.go
  internal/cmd/image/build/build.go
  internal/cmd/image/build/build_progress_test.go
  internal/cmd/image/build/httpstub_test.go
  internal/cmdutil/CLAUDE.md
  internal/cmdutil/factory.go
  internal/docker/builder.go
  internal/docker/builder_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness
