Repository schmitthub/clawker: changes, and which pre-commit hooks are due for each by the changed paths.
All: semgrep, govulncheck, go-test, docs-check, licenses-check, claude-freshness

semgrep:
  name: Semgrep SAST
  entry: semgrep scan --baseline-commit HEAD --config p/golang --config p/security-audit --error
  language: system
  pass_filenames: false

govulncheck:
  name: govulncheck SCA
  entry: govulncheck ./...
  language: system
  pass_filenames: false

go-test:
  name: Unit tests
  entry: make test
  language: system
  pass_filenames: false

docs-check:
  name: CLI docs freshness
  entry: make docs-check
  language: system
  pass_filenames: false

licenses-check:
  name: NOTICE freshness
  entry: make licenses-check
  language: system
  pass_filenames: false

claude-freshness:
  name: Claude doc freshness (advisory)
  entry: bash -c 'bash scripts/check-claude-freshness.sh --strict --non-interactive --no-color | head -50 || true'
  language: system
  pass_filenames: false
  verbose: true

chore(docs): 0.12.4 changelog
  CHANGELOG.md
Due: none

fix(iostreams,changelog): clean teaser inline-code rendering
  .github/workflows/release-build.yml
  .goreleaser.yaml
  internal/changelog/changelog_test.go
  internal/changelog/testdata/CHANGELOG.md
  internal/iostreams/markdown.go
  internal/iostreams/markdown_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

docs(update): drop stale "skipped if st == nil" from CheckForUpdate flow
  internal/update/CLAUDE.md
Due: none

refactor(bundler): drop dead VersionsFile.MarshalJSON; pin partial-match resolution
  internal/bundler/CLAUDE.md
  internal/bundler/registry/CLAUDE.md
  internal/bundler/registry/types.go
  internal/bundler/versions_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix(storeui,storage): align time.Time format/parse on RFC3339Nano
  internal/storage/defaults.go
  internal/storage/defaults_test.go
  internal/storeui/reflect.go
  internal/storeui/value.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix(update,changelog,docs): wrap semver parse errors; fix doc/comment drift
  .claude/rules/storage-schema.md
  claude-plugin/clawker-support/.claude-plugin/plugin.json
  claude-plugin/clawker-support/skills/clawker-support/reference/troubleshooting.md
  docs/installation.mdx
  internal/bundler/registry/types.go
  internal/changelog/changelog.go
  internal/project/registry.go
  internal/state/CLAUDE.md
  internal/state/state.go
  internal/storage/CLAUDE.md
  internal/storage/field.go
  internal/storage/write.go
  internal/storeui/reflect.go
  internal/update/update.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix(clawker,docs): abort background notification I/O on interrupt; clarify first-run teaser
  CONTRIBUTING.md
  claude-plugin/clawker-support/.claude-plugin/plugin.json
  claude-plugin/clawker-support/skills/clawker-support/reference/troubleshooting.md
  docs/installation.mdx
  internal/clawker/CLAUDE.md
  internal/clawker/cmd.go
Due: semgrep, govulncheck, go-test, claude-freshness

chore(docs): review fixes
  .serena/memories/release-guide.md
  CONTRIBUTING.md
  internal/update/CLAUDE.md
Due: none

test(agent): deflake DialAgent dedup test; consolidate dialer unit tests
  internal/controlplane/agent/dialer_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

chore(docs): keyword driveby
  README.md
  docs/aliases.mdx
  docs/architecture.mdx
  docs/configuration.mdx
  docs/container-internals.mdx
  docs/control-plane.mdx
  docs/credentials.mdx
  docs/custom-images.mdx
  docs/design.mdx
  docs/docker-hygiene.mdx
  docs/docs.json
  docs/firewall.mdx
  docs/index.mdx
  docs/installation.mdx
  docs/monitoring.mdx
  docs/observability.mdx
  docs/quickstart.mdx
  docs/security.mdx
  docs/threat-model.mdx
  docs/worktrees.mdx
Due: none

test(agent): bound the dedup test's <-entered wait with a timeout
  internal/controlplane/agent/dialer_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

chore(docs): make docs fix
  docs/configuration.mdx
Due: none

test(agent): deflake DialAgent dedup test; consolidate dialer unit tests (#382)
  README.md
  docs/aliases.mdx
  docs/architecture.mdx
  docs/container-internals.mdx
  docs/control-plane.mdx
  docs/credentials.mdx
  docs/custom-images.mdx
  docs/design.mdx
  docs/docker-hygiene.mdx
  docs/docs.json
  docs/firewall.mdx
  docs/index.mdx
  docs/installation.mdx
  docs/monitoring.mdx
  docs/observability.mdx
  docs/quickstart.mdx
  docs/security.mdx
  docs/threat-model.mdx
  docs/worktrees.mdx
  internal/controlplane/agent/dialer_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix: agent prompt causing any agent to forgo branch upstream tracking
  internal/bundler/assets/clawker-agent-prompt.md
Due: none

docs(agent-prompt): sync firewall egress rule schema in container prompt
  internal/bundler/assets/clawker-agent-prompt.md
Due: none

chore: 0.12.5 changelog
  CHANGELOG.md
Due: none

fix(agent-prompt): upstream-tracking guidance + firewall egress schema sync (#383)
  CHANGELOG.md
  internal/bundler/assets/clawker-agent-prompt.md
Due: none

docs: correct git push -u worktree language (push succeeds; only tracking write fails)
  docs/cli-reference/clawker_worktree.md
  docs/worktrees.mdx
  internal/cmd/worktree/worktree.go
  internal/workspace/CLAUDE.md
  internal/workspace/setup.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

docs: correct git push -u worktree language (push succeeds; only tracking write fails) (#384)
  docs/cli-reference/clawker_worktree.md
  docs/worktrees.mdx
  internal/cmd/worktree/worktree.go
  internal/workspace/CLAUDE.md
  internal/workspace/setup.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

chore(clawker): updated context7 post init command
  .clawker.yaml
Due: none

fix(logger): caller-owned Close(ctx) flush deadline + CP signal-context shutdown
  cmd/clawker-cp/main.go
  cmd/clawkerd/main.go
  internal/clawker/CLAUDE.md
  internal/clawker/cmd.go
  internal/cmd/bridge/bridge.go
  internal/cmd/hostproxy/serve.go
  internal/controlplane/subprocess.go
  internal/logger/CLAUDE.md
  internal/logger/logger.go
  internal/logger/logger_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(logger): Close returns true shutdown outcome; CP surfaces close error
  cmd/clawker-cp/main.go
  internal/logger/CLAUDE.md
  internal/logger/logger.go
  internal/logger/logger_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(clawker-cp): record shutdown signal value; tighten WaitHealthy comment
  cmd/clawker-cp/main.go
  internal/controlplane/subprocess.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(agent-init): combined output, fatal-exit mirroring, container teardown for dispatched commands (#386)
  api/clawkerd/v1/clawkerd.pb.go
  api/clawkerd/v1/clawkerd.proto
  cmd/clawker-cp/main.go
  cmd/clawker-cp/main_test.go
  cmd/clawkerd/CLAUDE.md
  cmd/clawkerd/command_output_test.go
  cmd/clawkerd/listener.go
  cmd/clawkerd/main.go
  cmd/clawkerd/progress.go
  cmd/clawkerd/session.go
  cmd/clawkerd/session_test.go
  internal/consts/consts.go
  internal/controlplane/agent/CLAUDE.md
  internal/controlplane/agent/dialer.go
  internal/controlplane/agent/init.go
  internal/controlplane/agent/init_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(pty): restore mouse/paste/focus + state-aware alt-screen leave on detach
  .clawker.yaml
  internal/docker/CLAUDE.md
  internal/docker/pty.go
  internal/docker/pty_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix: midflight dial and exec command refactor to switch to another workstation
  api/clawkerd/v1/clawkerd.pb.go
  api/clawkerd/v1/clawkerd.proto
  internal/consts/consts.go
  internal/controlplane/agent/CLAUDE.md
  internal/controlplane/agent/boot_steps.go
  internal/controlplane/agent/dialer.go
  internal/controlplane/agent/events.go
  internal/controlplane/agent/events_agent.go
  internal/controlplane/agent/events_session.go
  internal/controlplane/agent/exec.go
  internal/controlplane/agent/exec_test.go
  internal/controlplane/agent/init_steps.go
  internal/controlplane/agent/utils.go
  internal/controlplane/overseer/state.go
  internal/controlplane/overseer/state_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix: midflight changes to overseer
  internal/controlplane/agent/event_state.go
  internal/controlplane/agent/events.go
  internal/controlplane/agent/exec_test.go
  internal/controlplane/dockerevents/event_state.go
  internal/controlplane/dockerevents/events.go
  internal/controlplane/overseer/overseer.go
  internal/controlplane/overseer/state.go
Due: semgrep, govulncheck, go-test, claude-freshness

chore(changelog): 0.12.6 log
  CHANGELOG.md
Due: none

fix(changelog): 0.12.6 rewording
  CHANGELOG.md
Due: none

fix(logger): caller-owned Close(ctx) flush deadline + CP signal-context shutdown (#388)
  CHANGELOG.md
  cmd/clawker-cp/main.go
  cmd/clawkerd/main.go
  internal/clawker/CLAUDE.md
  internal/clawker/cmd.go
  internal/cmd/bridge/bridge.go
  internal/cmd/hostproxy/serve.go
  internal/controlplane/subprocess.go
  internal/logger/CLAUDE.md
  internal/logger/logger.go
  internal/logger/logger_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

refactor(controlplane): prd written
  .serena/memories/cp-refactor.md
Due: none

docs(controlplane): forbid "domain" as a runtime label in CP CLAUDE.md
  controlplane/CLAUDE.md
  internal/cmd/controlplane/CLAUDE.md
Due: docs-check

refactor(controlplane): changed cp constructor
  internal/controlplane/cmd.go
  internal/controlplane/cmd_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

refactor(controlplane): updated ignore
  .gitignore
Due: none

refactor(controlplane): domain rip
  controlplane/CLAUDE.md
  internal/cmd/controlplane/CLAUDE.md
  internal/controlplane/cmd.go
  internal/logger/logger.go
  internal/logger/logger_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(agent): make CP-driven init/boot one-shot; stop spurious container kill
  .gitignore
  cmd/clawkerd/listener.go
  cmd/clawkerd/main.go
  cmd/clawkerd/session.go
  cmd/clawkerd/session_test.go
  cmd/clawkerd/spawn_unix.go
  controlplane/agent/dialer.go
  internal/consts/consts.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

docs: sweep branch doc staleness (overseer→pubsub, package moves, init/boot lifecycle)
  .claude/docs/ARCHITECTURE.md
  .claude/docs/DESIGN.md
  .claude/docs/KEY-CONCEPTS.md
  .claude/docs/REPO-STRUCTURE.md
  claude-plugin/clawker-support/.claude-plugin/plugin.json
  claude-plugin/clawker-support/skills/clawker-support/reference/troubleshooting.md
  cmd/clawkerd/CLAUDE.md
  controlplane/CLAUDE.md
  controlplane/agent/CLAUDE.md
  docs/container-internals.mdx
  docs/quickstart.mdx
  internal/controlplane/cmd.go
  internal/logger/CLAUDE.md
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

Path conditions:
  semgrep: any of: \.go$
  govulncheck: any of: \.go$
  go-test: any of: \.go$
  docs-check: any of: ^(cmd/|internal/cmd/|internal/docs/)
  licenses-check: any of: ^go\.(mod|sum)$
  claude-freshness: any of: \.go$
