Repository schmitthub/clawker: changes, and which pre-commit hooks are due for each by the changed paths.
All: semgrep, govulncheck, go-test, docs-check, licenses-check, claude-freshness

semgrep:
  name: Semgrep SAST
  entry: semgrep scan --baseline-commit HEAD --config p/golang --config p/security-audit --error
  language: system
  pass_filenames: false

govulncheck:
  name: govulncheck SCA
  entry: govulncheck ./...
  language: system
  pass_filenames: false

go-test:
  name: Unit tests
  entry: make test
  language: system
  pass_filenames: false

docs-check:
  name: CLI docs freshness
  entry: make docs-check
  language: system
  pass_filenames: false

licenses-check:
  name: NOTICE freshness
  entry: make licenses-check
  language: system
  pass_filenames: false

claude-freshness:
  name: Claude doc freshness (advisory)
  entry: bash -c 'bash scripts/check-claude-freshness.sh --strict --non-interactive --no-color | head -50 || true'
  language: system
  pass_filenames: false
  verbose: true

fix(controlplane): bump linux-libc-dev pin to 6.1.170-3
  Dockerfile.controlplane
Due: none

fix(clawkerd): use Foreground only, drop Setctty (Go rejects both)
  cmd/clawkerd/spawn_unix.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(clawkerd): SIG_IGN SIGTTIN/SIGTTOU so supervisor doesn't freeze on tty I/O
  cmd/clawkerd/main.go
  cmd/clawkerd/spawn_unix.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(clawkerd): override HOME/USER/LOGNAME from PID-1 root + Stop instead of GracefulStop on exit
  cmd/clawkerd/main.go
  cmd/clawkerd/spawn.go
  cmd/clawkerd/spawn_test.go
  cmd/clawkerd/spawn_unix.go
  cmd/clawkerd/user.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

refactor(clawkerd): PR-review pass — fatal-cb wiring, reaperErr, single-read passwd
  cmd/clawkerd/CLAUDE.md
  cmd/clawkerd/listener.go
  cmd/clawkerd/main.go
  cmd/clawkerd/recover.go
  cmd/clawkerd/session.go
  cmd/clawkerd/spawn.go
  cmd/clawkerd/spawn_unix.go
  cmd/clawkerd/spawn_unix_test.go
  cmd/clawkerd/user.go
  cmd/clawkerd/user_test.go
  internal/bundler/dockerfile_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(clawkerd): inherit Docker WorkingDir + Home="/" fallback
  cmd/clawkerd/main.go
  cmd/clawkerd/user.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

docs(clawkerd,bundler): correct stale comments per Copilot review
  claude-plugin/clawker-support/skills/clawker-support/reference/Dockerfile.tmpl
  cmd/clawkerd/spawn_unix.go
  internal/bundler/assets/Dockerfile.tmpl
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

docs: post-PID1-cutover sweep of stale entrypoint.sh/gosu/fifo refs
  .claude/docs/ARCHITECTURE.md
  .claude/docs/DESIGN.md
  .serena/memories/clawkerd-pid1-initiative.md
  CLAUDE.md
  README.md
  internal/workspace/CLAUDE.md
Due: none

docs(clawkerd,bundler): fix Copilot review comments on stale refs
  cmd/clawkerd/CLAUDE.md
  cmd/clawkerd/main.go
  cmd/clawkerd/spawn_unix.go
  internal/bundler/dockerfile_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

test(clawkerd): delete TestSpawnState_RunWaitEcho
  cmd/clawkerd/spawn_unix_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

feat(clawkerd): make clawkerd PID 1 of agent containers; retire entrypoint.sh + gosu (#273)
  .claude/docs/ARCHITECTURE.md
  .claude/docs/DESIGN.md
  .gitignore
  .serena/memories/bug-tracker.md
  .serena/memories/clawkerd-pid1-initiative.md
  CLAUDE.md
  Dockerfile.controlplane
  NOTICE
  README.md
  claude-plugin/clawker-support/skills/clawker-support/reference/Dockerfile.tmpl
  claude-plugin/clawker-support/skills/clawker-support/reference/known-issues.md
  cmd/clawkerd/CLAUDE.md
  cmd/clawkerd/listener.go
  cmd/clawkerd/listener_test.go
  cmd/clawkerd/main.go
  cmd/clawkerd/recover.go
  cmd/clawkerd/recover_test.go
  cmd/clawkerd/session.go
  cmd/clawkerd/session_test.go
  cmd/clawkerd/spawn.go
  cmd/clawkerd/spawn_linux_test.go
  cmd/clawkerd/spawn_test.go
  cmd/clawkerd/spawn_unix.go
  cmd/clawkerd/spawn_unix_test.go
  cmd/clawkerd/user.go
  cmd/clawkerd/user_test.go
  go.mod
  internal/bundler/CLAUDE.md
  internal/bundler/assets/Dockerfile.tmpl
  internal/bundler/assets/entrypoint.sh.tmpl
  internal/bundler/build_test.go
  internal/bundler/dockerfile.go
  internal/bundler/dockerfile_test.go
  internal/bundler/entrypoint_test.go
  internal/bundler/hash_test.go
  internal/consts/consts.go
  internal/controlplane/agent/init.go
  internal/workspace/CLAUDE.md
Due: semgrep, govulncheck, go-test, docs-check, licenses-check, claude-freshness

feat(clawkerd): emit per-step boot progress to attached TTY
  cmd/clawkerd/CLAUDE.md
  cmd/clawkerd/listener.go
  cmd/clawkerd/main.go
  cmd/clawkerd/progress.go
  cmd/clawkerd/progress_test.go
  cmd/clawkerd/session.go
  internal/cmd/container/run/run.go
  internal/cmd/container/start/start.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

chore: cleanup
  .serena/memories/clawkerd-pid1-initiative.md
Due: none

fix(clawkerd): drop Final label arg + lock contracts in tests
  cmd/clawkerd/progress.go
  cmd/clawkerd/progress_test.go
  cmd/clawkerd/session.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(clawkerd): serialize progress writes + settle init steps post-send
  cmd/clawkerd/CLAUDE.md
  cmd/clawkerd/progress.go
  cmd/clawkerd/session.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

docs(clawkerd): correct stale comments in progress reporter wiring
  cmd/clawkerd/CLAUDE.md
  cmd/clawkerd/listener.go
  cmd/clawkerd/progress.go
  cmd/clawkerd/progress_test.go
  cmd/clawkerd/session.go
  internal/cmd/container/run/run.go
  internal/cmd/container/start/start.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

docs(clawkerd): correct init-step completion comment in dispatch
  cmd/clawkerd/session.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

feat(clawkerd): emit per-step boot progress to attached TTY (#274)
  .serena/memories/clawkerd-pid1-initiative.md
  cmd/clawkerd/CLAUDE.md
  cmd/clawkerd/listener.go
  cmd/clawkerd/main.go
  cmd/clawkerd/progress.go
  cmd/clawkerd/progress_test.go
  cmd/clawkerd/session.go
  internal/cmd/container/run/run.go
  internal/cmd/container/start/start.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

feat(release): bundle clawkerd + CP + firewall stack into release artifacts
  .github/workflows/release.yml
  .gitignore
  .goreleaser.yaml
  .serena/memories/outstanding-features.md
  .serena/memories/release-guide.md
  Makefile
Due: none

chore(release): seed release-pipeline-overhaul initiative + record Task 1 findings
  .serena/memories/release-pipeline-overhaul.md
Due: none

feat(release): emit enriched SLSA v1 build provenance with 16 subjects
  .github/workflows/release-build.yml
  .serena/memories/release-pipeline-overhaul.md
  cmd/gen-provenance/main.go
  cmd/gen-provenance/main_test.go
  scripts/capture-apt-packages.sh
  scripts/release-subjects.sh
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

chore(release): clean up Makefile, fix verify-release-embeds ELF check, harden stage-embeds atomicity
  .clawker.yaml
  .github/workflows/release.yml
  .serena/memories/release-guide.md
  .serena/memories/release-pipeline-overhaul.md
  Makefile
  internal/build/CLAUDE.md
Due: none

chore(release): split release.yml into caller + reusable workflow for SLSA L3 isolation
  .github/workflows/release-build.yml
  .github/workflows/release.yml
  .serena/memories/release-pipeline-overhaul.md
Due: none

revert(release): drop --version flag + version-subcommand-visibility changes from Task 6
  .serena/memories/release-pipeline-overhaul.md
  docs/cli-reference/clawker.md
  docs/cli-reference/clawker_version.md
  docs/docs.json
  internal/cmd/root/root.go
  internal/cmd/version/CLAUDE.md
  internal/cmd/version/version.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

revert(release): drop install.sh distribution changes from Task 6
  .goreleaser.yaml
  .serena/memories/release-pipeline-overhaul.md
  README.md
  docs/installation.mdx
  docs/quickstart.mdx
  internal/clawker/cmd.go
  scripts/install.sh
Due: semgrep, govulncheck, go-test, claude-freshness

chore(release): prune release-pipeline-overhaul memory (1203 → 392 lines)
  .serena/memories/release-pipeline-overhaul.md
Due: none

fix(release): pin install.sh URL, expose --version flag, correct CONTRIBUTING build instructions
  .goreleaser.yaml
  .serena/memories/release-guide.md
  .serena/memories/release-pipeline-overhaul.md
  CONTRIBUTING.md
  README.md
  docs/cli-reference/clawker.md
  docs/cli-reference/clawker_version.md
  docs/docs.json
  docs/installation.mdx
  docs/quickstart.mdx
  internal/clawker/cmd.go
  internal/cmd/root/root.go
  internal/cmd/version/CLAUDE.md
  internal/cmd/version/version.go
  scripts/install.sh
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

feat(release): add SPDX SBOM-mode attestation per archive via actions/attest@v4
  .github/workflows/release-build.yml
  .serena/memories/release-pipeline-overhaul.md
Due: none

fix(release): tighten provenance generator, subject digest validation, apt closure capture
  .github/workflows/release.yml
  Makefile
  cmd/gen-provenance/main.go
  cmd/gen-provenance/main_test.go
  scripts/capture-apt-packages.sh
  scripts/release-subjects.sh
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

chore(release): collapse attestation to single actions/attest step, drop gen-provenance CLI
  .claude/docs/ARCHITECTURE.md
  .github/workflows/release-build.yml
  .serena/memories/release-guide.md
  CLAUDE.md
  Dockerfile.controlplane
  Makefile
  cmd/gen-provenance/main.go
  cmd/gen-provenance/main_test.go
  docs/threat-model.mdx
  internal/controlplane/cpboot/CLAUDE.md
  internal/controlplane/firewall/ebpf/CLAUDE.md
  internal/controlplane/firewall/ebpf/REPRODUCIBILITY.md
  internal/controlplane/firewall/ebpf/cmd/CLAUDE.md
  internal/controlplane/firewall/ebpf/gen.go
  scripts/capture-apt-packages.sh
  scripts/release-subjects.sh
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

docs(release): threat model + release-guide for L3 attestation overhaul
  .serena/memories/release-guide.md
  .serena/memories/release-pipeline-overhaul.md
  docs/threat-model.mdx
Due: none

fix(ci): install bpf-deps in build-controlplane-binaries action; route test/licenses/docs through it
  .github/actions/build-controlplane-binaries/action.yml
  .github/workflows/docs.yml
  .github/workflows/licenses.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: none

fix(ci): switch BPF toolchain pinning to ubuntu:24.04; pin runners
  .dockerignore
  .github/actions/build-controlplane-binaries/action.yml
  .github/workflows/docs.yml
  .github/workflows/licenses.yml
  .github/workflows/lint.yml
  .github/workflows/main.yml
  .github/workflows/plugin.yml
  .github/workflows/release-build.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/test.yml
  .serena/memories/release-guide.md
  Dockerfile.controlplane
  Makefile
Due: none

fix(ci): scope ebpf go-generate to gen.go so moq isn't required
  Makefile
Due: none

docs+chore: address Copilot review findings on release pipeline
  .github/actions/build-controlplane-binaries/action.yml
  .github/workflows/release-build.yml
  CONTRIBUTING.md
  Dockerfile.controlplane
  Makefile
  docs/installation.mdx
  docs/threat-model.mdx
  internal/build/CLAUDE.md
  internal/build/build.go
  internal/controlplane/firewall/ebpf/CLAUDE.md
Due: semgrep, govulncheck, go-test, claude-freshness

chore: comment update
  Makefile
Due: none

fix(build): make ebpf/proto rules work on Apple's GNU Make 3.81
  Makefile
Due: none

Release pipeline overhaul: bundle CP/firewall embeds + L3 attestation (#276)
  .claude/docs/ARCHITECTURE.md
  .clawker.yaml
  .dockerignore
  .github/actions/build-controlplane-binaries/action.yml
  .github/workflows/docs.yml
  .github/workflows/licenses.yml
  .github/workflows/lint.yml
  .github/workflows/main.yml
  .github/workflows/plugin.yml
  .github/workflows/release-build.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/test.yml
  .gitignore
  .goreleaser.yaml
  .serena/memories/outstanding-features.md
  .serena/memories/release-guide.md
  CLAUDE.md
  CONTRIBUTING.md
  Dockerfile.controlplane
  Makefile
  docs/installation.mdx
  docs/threat-model.mdx
  internal/build/CLAUDE.md
  internal/build/build.go
  internal/controlplane/cpboot/CLAUDE.md
  internal/controlplane/firewall/ebpf/CLAUDE.md
  internal/controlplane/firewall/ebpf/REPRODUCIBILITY.md
  internal/controlplane/firewall/ebpf/cmd/CLAUDE.md
  internal/controlplane/firewall/ebpf/gen.go
Due: semgrep, govulncheck, go-test, claude-freshness

chore: uat bug
  .serena/memories/bug-tracker.md
Due: none

Path conditions:
  semgrep: any of: \.go$
  govulncheck: any of: \.go$
  go-test: any of: \.go$
  docs-check: any of: ^(cmd/|internal/cmd/|internal/docs/)
  licenses-check: any of: ^go\.(mod|sum)$
  claude-freshness: any of: \.go$
