Repository schmitthub/clawker: changes, and which pre-commit hooks are due for each by the changed paths.
All: semgrep, govulncheck, go-test, docs-check, licenses-check, claude-freshness

.pre-commit-config.yaml:

# Pre-commit hooks — mirrors CI quality gates locally.
# Install: bash scripts/install-hooks.sh
# Run all: pre-commit run --all-files
# Run one: pre-commit run gitleaks --all-files

repos:
  # ── Security ──────────────────────────────────────────────────────────────
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.30.0
    hooks:
      - id: gitleaks
        args: [--baseline-path, gitleaks-report.json]

  # ── Lint ──────────────────────────────────────────────────────────────────
  - repo: https://github.com/golangci/golangci-lint
    rev: v2.9.0
    hooks:
      - id: golangci-lint-full
        args: [--config, .golangci.yml]

  # ── Local hooks ───────────────────────────────────────────────────────────
  - repo: local
    hooks:
      - id: semgrep
        name: Semgrep SAST
        # Expected version: 1.146.0 (must match CI image tag in security.yml)
        entry: semgrep scan --baseline-commit HEAD --config p/golang --config p/security-audit --error
        language: system
        types: [go]
        pass_filenames: false

      - id: govulncheck
        name: govulncheck SCA
        entry: govulncheck ./...
        language: system
        types: [go]
        pass_filenames: false

      - id: go-test
        name: Unit tests
        entry: make test
        language: system
        types: [go]
        pass_filenames: false

      - id: docs-check
        name: CLI docs freshness
        entry: make docs-check
        language: system
        files: ^(cmd/|internal/cmd/|internal/docs/)
        pass_filenames: false

      - id: licenses-check
        name: NOTICE freshness
        entry: make licenses-check
        language: system
        files: ^go\.(mod|sum)$
        pass_filenames: false

      - id: claude-freshness
        name: Claude doc freshness (advisory)
        entry: bash -c 'bash scripts/check-claude-freshness.sh --strict --non-interactive --no-color | head -50 || true'
        language: system
        files: \.go$
        pass_filenames: false
        verbose: true

chore: restoring github rule
  .clawker.yaml
Due: none

fix(agent): close PR-review gaps in CP-driven Register foundation
  cmd/clawker-cp/main.go
  cmd/clawkerd/CLAUDE.md
  cmd/clawkerd/register.go
  cmd/clawkerd/register_test.go
  cmd/clawkerd/session.go
  cmd/clawkerd/session_test.go
  internal/auth/agent_cert.go
  internal/auth/agent_cert_test.go
  internal/cmd/container/create/create_test.go
  internal/cmd/container/run/run_test.go
  internal/cmd/container/shared/CLAUDE.md
  internal/cmd/container/shared/agent_bootstrap.go
  internal/cmd/container/shared/agent_bootstrap_test.go
  internal/cmd/container/shared/container_create.go
  internal/cmd/container/shared/container_start.go
  internal/cmd/container/shared/init_test.go
  internal/controlplane/CLAUDE.md
  internal/controlplane/agent/dialer.go
  internal/controlplane/agent/dialer_test.go
  internal/controlplane/agent/dispatch_register_test.go
  internal/controlplane/agent/events_agent.go
  internal/controlplane/agent/events_session.go
  internal/controlplane/agent/handler.go
  internal/controlplane/agent/register_handler.go
  internal/controlplane/agent/register_handler_test.go
  internal/controlplane/agent/registry_sqlite.go
  internal/controlplane/agent/registry_sqlite_test.go
  internal/controlplane/agent/registry_test.go
  internal/controlplane/agent/start.go
  internal/controlplane/agent/start_test.go
  internal/controlplane/overseer/CLAUDE.md
  internal/controlplane/overseer/overseer.go
  internal/controlplane/overseer/state.go
  internal/controlplane/overseer/types.go
  internal/controlplane/server.go
  internal/controlplane/server_test.go
  internal/docker/mocks/fake_client_test.go
  internal/docker/mocks/helpers.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

chore: docs cleanup
  .serena/memories/brainstorm_cp-clawkerd-init-commands.md
  .serena/memories/brainstorm_monitor-stack-agent-trust-boundary.md
  .serena/memories/control-plane-initiative.md
  .serena/memories/cp-driven-agent-register-shipped.md
  .serena/memories/cp-initiative-status.md
  .serena/memories/dockerevents-collapse-to-dockerevent.md
  .serena/memories/firewall-queue-initiative.md
  .serena/memories/firewall-queue-prd.md
  .serena/memories/restore-cp-driven-agent-register.md
Due: none

chore(deps): bump coredns to v1.14.3, go-git/v6 to alpha.3
  NOTICE
  go.mod
  go.sum
  internal/git/git_test.go
  internal/git/gittest/inmemory.go
Due: semgrep, govulncheck, go-test, licenses-check, claude-freshness

chore(deps): sweep remaining open dependabot PRs
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/test.yml
  go.mod
  go.sum
  test/adversarial/Dockerfile
Due: licenses-check

chore(deps): sweep all open dependabot PRs (#268)
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/test.yml
  NOTICE
  go.mod
  go.sum
  internal/git/git_test.go
  internal/git/gittest/inmemory.go
  test/adversarial/Dockerfile
Due: semgrep, govulncheck, go-test, licenses-check, claude-freshness

feat(containerfs,workspace): bind mount host ~/.claude/projects into containers
  claude-plugin/clawker-support/skills/clawker-support/reference/sample-go.yaml
  claude-plugin/clawker-support/skills/clawker-support/reference/sample-node.yaml
  cmd/clawkerd/session_test.go
  docs/configuration.mdx
  internal/config/schema.go
  internal/containerfs/CLAUDE.md
  internal/containerfs/containerfs.go
  internal/containerfs/containerfs_test.go
  internal/workspace/CLAUDE.md
  internal/workspace/setup.go
  internal/workspace/strategy.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(workspace,containerfs): surface bind-mount failures + tighten validation
  .serena/memories/bug_claude_projects_bind_uid_mismatch.md
  claude-plugin/clawker-support/skills/clawker-support/reference/known-issues.md
  cmd/clawkerd/session_test.go
  internal/cmd/container/shared/container_create.go
  internal/containerfs/CLAUDE.md
  internal/containerfs/containerfs.go
  internal/containerfs/containerfs_test.go
  internal/workspace/CLAUDE.md
  internal/workspace/setup.go
  internal/workspace/setup_test.go
  internal/workspace/strategy.go
  internal/workspace/strategy_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(security): bump Go toolchain to 1.25.10 + pin pre-commit govulncheck
  .clawker.yaml
  .pre-commit-config.yaml
  Dockerfile.controlplane
  go.mod
  internal/bundler/dockerfile.go
  scripts/govulncheck.sh
  test/adversarial/CLAUDE.md
  test/adversarial/attacker-server/go.mod
Due: semgrep, govulncheck, go-test, licenses-check, claude-freshness

fix(workspace): drop harmful chown/--user from UID mismatch warning
  internal/workspace/CLAUDE.md
  internal/workspace/setup.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix(containerfs): normalize relative $CLAUDE_CONFIG_DIR to absolute
  internal/containerfs/CLAUDE.md
  internal/containerfs/containerfs.go
  internal/containerfs/containerfs_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix(workspace,containerfs): hard-fail on missing host claude config dir
  .serena/memories/bug_claude_projects_bind_uid_mismatch.md
  claude-plugin/clawker-support/skills/clawker-support/reference/known-issues.md
  internal/cmd/container/create/create_test.go
  internal/cmd/container/shared/init_test.go
  internal/containerfs/containerfs.go
  internal/containerfs/containerfs_test.go
  internal/workspace/CLAUDE.md
  internal/workspace/setup.go
  internal/workspace/setup_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

test: disable mount_projects in remaining inline test configs
  internal/cmd/container/create/create_test.go
  internal/cmd/container/run/run_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

feat(containerfs,workspace): bind mount host ~/.claude/projects into containers (#269)
  .clawker.yaml
  .pre-commit-config.yaml
  .serena/memories/bug_claude_projects_bind_uid_mismatch.md
  Dockerfile.controlplane
  claude-plugin/clawker-support/skills/clawker-support/reference/known-issues.md
  claude-plugin/clawker-support/skills/clawker-support/reference/sample-go.yaml
  claude-plugin/clawker-support/skills/clawker-support/reference/sample-node.yaml
  cmd/clawkerd/session_test.go
  docs/configuration.mdx
  go.mod
  internal/bundler/dockerfile.go
  internal/cmd/container/create/create_test.go
  internal/cmd/container/run/run_test.go
  internal/cmd/container/shared/container_create.go
  internal/cmd/container/shared/init_test.go
  internal/config/schema.go
  internal/containerfs/CLAUDE.md
  internal/containerfs/containerfs.go
  internal/containerfs/containerfs_test.go
  internal/workspace/CLAUDE.md
  internal/workspace/setup.go
  internal/workspace/setup_test.go
  internal/workspace/strategy.go
  internal/workspace/strategy_test.go
  scripts/govulncheck.sh
  test/adversarial/CLAUDE.md
  test/adversarial/attacker-server/go.mod
Due: semgrep, govulncheck, go-test, docs-check, licenses-check, claude-freshness

chore(docs): comprehensive documentation audit and cleanup
  .claude/rules/git.md
  .claude/rules/storage-schema.md
  .claude/rules/storeui.md
  .claude/skills/audit-memory/REFERENCE.md
  .claude/skills/audit-memory/SKILL.md
  .serena/memories/outstanding-features.md
  .serena/memories/storeui-bug-tracker.md
  CLAUDE.md
  cmd/clawkerd/CLAUDE.md
  internal/bundler/CLAUDE.md
  internal/cmd/container/shared/CLAUDE.md
  internal/cmdutil/CLAUDE.md
  internal/git/CLAUDE.md
  internal/storage/CLAUDE.md
Due: docs-check

chore(claude): add Serena-first PreToolUse hooks
  .claude/hooks/serena-first.sh
  .claude/hooks/serena-init-marker.sh
  .claude/settings.local.json.example
Due: none

chore(docs): update controlplane/clawkerd docs for agent package consolidation
  .claude/docs/ARCHITECTURE.md
  .claude/docs/DESIGN.md
  .claude/docs/KEY-CONCEPTS.md
  .claude/skills/audit-memory/REFERENCE.md
  .serena/memories/project-overview.md
  CLAUDE.md
  internal/auth/CLAUDE.md
  internal/controlplane/CLAUDE.md
Due: none

chore(docs): comprehensive docs refresh + Serena hooks (#270)
  .claude/docs/ARCHITECTURE.md
  .claude/docs/DESIGN.md
  .claude/docs/KEY-CONCEPTS.md
  .claude/hooks/serena-first.sh
  .claude/hooks/serena-init-marker.sh
  .claude/rules/git.md
  .claude/rules/storage-schema.md
  .claude/rules/storeui.md
  .claude/settings.local.json.example
  .claude/skills/audit-memory/REFERENCE.md
  .claude/skills/audit-memory/SKILL.md
  .serena/memories/outstanding-features.md
  .serena/memories/project-overview.md
  .serena/memories/storeui-bug-tracker.md
  CLAUDE.md
  cmd/clawkerd/CLAUDE.md
  internal/auth/CLAUDE.md
  internal/bundler/CLAUDE.md
  internal/cmd/container/shared/CLAUDE.md
  internal/cmdutil/CLAUDE.md
  internal/controlplane/CLAUDE.md
  internal/git/CLAUDE.md
  internal/storage/CLAUDE.md
Due: docs-check

feat(cp,clawkerd): CP-driven container init via ShellCommand dispatch
  api/clawkerd/v1/clawkerd.pb.go
  api/clawkerd/v1/clawkerd.proto
  cmd/clawker-cp/main.go
  cmd/clawkerd/session.go
  cmd/clawkerd/session_test.go
  internal/bundler/assets/entrypoint.sh
  internal/consts/consts.go
  internal/controlplane/agent/dialer.go
  internal/controlplane/agent/dialer_test.go
  internal/controlplane/agent/events_agent.go
  internal/controlplane/agent/init.go
  internal/controlplane/agent/init_test.go
  internal/controlplane/overseer/state.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

docs(bug-tracker): log two CP-init follow-ups deferred from #ae5dfd4e
  .serena/memories/bug-tracker.md
Due: none

refactor(cp): typed init failure surface + Init worldview substruct
  api/clawkerd/v1/clawkerd.pb.go
  api/clawkerd/v1/clawkerd.proto
  cmd/clawkerd/session.go
  cmd/clawkerd/session_test.go
  internal/bundler/assets/entrypoint.sh
  internal/consts/consts.go
  internal/controlplane/agent/dialer.go
  internal/controlplane/agent/events_agent.go
  internal/controlplane/agent/init.go
  internal/controlplane/agent/init_test.go
  internal/controlplane/overseer/state.go
  internal/workspace/gitconfig.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

docs(cp): drop dead consts.EntrypointInitTimeoutSeconds xref
  internal/controlplane/agent/init.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix(cp): reject nil bus in NewExecutor
  internal/controlplane/agent/init.go
  internal/controlplane/agent/init_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix(cp): degrade NewExecutor failures instead of crashing CP
  .claude/docs/DESIGN.md
  .claude/docs/KEY-CONCEPTS.md
  .serena/memories/bug-tracker.md
  CLAUDE.md
  cmd/clawker-cp/main.go
  internal/controlplane/CLAUDE.md
  internal/controlplane/agent/init.go
  internal/controlplane/agent/init_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(cp,clawkerd): recover dial/agent-ready/reaper goroutines; test init Executor degrade
  .serena/memories/cp-init-pr271-fixes.md
  cmd/clawker-cp/main.go
  cmd/clawker-cp/main_test.go
  cmd/clawkerd/session.go
  cmd/clawkerd/session_test.go
  internal/controlplane/agent/dialer.go
  internal/controlplane/agent/dialer_test.go
  internal/controlplane/agent/init.go
  internal/controlplane/agent/init_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

refactor(overseer,agent): Init Trust idiom; seal step; named stepOutcome
  internal/controlplane/agent/events_agent.go
  internal/controlplane/agent/init.go
  internal/controlplane/agent/init_test.go
  internal/controlplane/overseer/state.go
  internal/controlplane/overseer/state_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix(bundler): templatize entrypoint timeout + paths from consts; restore loud-failure guards
  .serena/memories/bug-tracker.md
  .serena/memories/cp-init-pr271-fixes.md
  internal/bundler/assets/entrypoint.sh
  internal/bundler/assets/entrypoint.sh.tmpl
  internal/bundler/dockerfile.go
  internal/bundler/entrypoint_test.go
  internal/consts/consts.go
Due: semgrep, govulncheck, go-test, claude-freshness

polish(cp,clawkerd): test gaps, doc symbol-refs, log naming, register-error visibility
  .claude/docs/DESIGN.md
  .serena/memories/bug-tracker.md
  .serena/memories/cp-init-pr271-fixes.md
  CLAUDE.md
  cmd/clawker-cp/main.go
  cmd/clawkerd/session.go
  cmd/clawkerd/session_test.go
  internal/controlplane/CLAUDE.md
  internal/controlplane/agent/dialer.go
  internal/controlplane/agent/dispatch_register_test.go
  internal/controlplane/agent/init_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

chore: initiative cleanup
  .serena/memories/cp-init-pr271-fixes.md
Due: none

chore: untrack .claude/scheduled_tasks.lock
  .claude/scheduled_tasks.lock
Due: none

fix(cp,agent): allow parallel init across containers; drop Executor runMu
  internal/controlplane/agent/init.go
  internal/controlplane/agent/init_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

docs(bug-tracker): log CP-side abort signal for failed init
  .serena/memories/bug-tracker.md
Due: none

polish(cp,agent): address Copilot review on PR #271
  internal/controlplane/agent/dialer.go
  internal/controlplane/agent/init.go
  internal/controlplane/agent/init_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

feat(cp,clawkerd): CP-driven container init via ShellCommand dispatch (#271)
  .claude/docs/DESIGN.md
  .claude/docs/KEY-CONCEPTS.md
  .claude/scheduled_tasks.lock
  .serena/memories/bug-tracker.md
  CLAUDE.md
  api/clawkerd/v1/clawkerd.pb.go
  api/clawkerd/v1/clawkerd.proto
  cmd/clawker-cp/main.go
  cmd/clawker-cp/main_test.go
  cmd/clawkerd/session.go
  cmd/clawkerd/session_test.go
  internal/bundler/assets/entrypoint.sh
  internal/bundler/assets/entrypoint.sh.tmpl
  internal/bundler/dockerfile.go
  internal/bundler/entrypoint_test.go
  internal/consts/consts.go
  internal/controlplane/CLAUDE.md
  internal/controlplane/agent/dialer.go
  internal/controlplane/agent/dialer_test.go
  internal/controlplane/agent/dispatch_register_test.go
  internal/controlplane/agent/events_agent.go
  internal/controlplane/agent/init.go
  internal/controlplane/agent/init_test.go
  internal/controlplane/overseer/state.go
  internal/controlplane/overseer/state_test.go
  internal/workspace/gitconfig.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

feat(clawkerd): add unwired spawn + user-resolve helpers for PID-1 init
  .serena/memories/clawkerd-pid1-initiative.md
  NOTICE
  cmd/clawkerd/spawn.go
  cmd/clawkerd/spawn_linux_test.go
  cmd/clawkerd/spawn_test.go
  cmd/clawkerd/spawn_unix.go
  cmd/clawkerd/spawn_unix_test.go
  cmd/clawkerd/user.go
  cmd/clawkerd/user_test.go
  go.mod
Due: semgrep, govulncheck, go-test, docs-check, licenses-check, claude-freshness

feat(clawkerd,bundler): clawkerd as PID 1; retire entrypoint.sh + gosu
  .serena/memories/bug-tracker.md
  claude-plugin/clawker-support/skills/clawker-support/reference/Dockerfile.tmpl
  cmd/clawkerd/CLAUDE.md
  cmd/clawkerd/listener.go
  cmd/clawkerd/listener_test.go
  cmd/clawkerd/main.go
  cmd/clawkerd/session.go
  cmd/clawkerd/session_test.go
  cmd/clawkerd/spawn_unix.go
  cmd/clawkerd/spawn_unix_test.go
  cmd/clawkerd/user.go
  internal/bundler/assets/Dockerfile.tmpl
  internal/bundler/assets/entrypoint.sh.tmpl
  internal/bundler/build_test.go
  internal/bundler/dockerfile.go
  internal/bundler/dockerfile_test.go
  internal/bundler/entrypoint_test.go
  internal/consts/consts.go
  internal/controlplane/agent/init.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

chore: added claude lock to ignore
  .gitignore
Due: none

refactor(clawkerd): PR-review fixes; ExecUser hardening, gate-close on watchdog panic
  .serena/memories/clawkerd-pid1-initiative.md
  claude-plugin/clawker-support/skills/clawker-support/reference/Dockerfile.tmpl
  claude-plugin/clawker-support/skills/clawker-support/reference/known-issues.md
  cmd/clawkerd/CLAUDE.md
  cmd/clawkerd/listener.go
  cmd/clawkerd/main.go
  cmd/clawkerd/recover.go
  cmd/clawkerd/recover_test.go
  cmd/clawkerd/session.go
  cmd/clawkerd/session_test.go
  cmd/clawkerd/spawn.go
  cmd/clawkerd/spawn_linux_test.go
  cmd/clawkerd/spawn_test.go
  cmd/clawkerd/spawn_unix.go
  cmd/clawkerd/spawn_unix_test.go
  cmd/clawkerd/user.go
  cmd/clawkerd/user_test.go
  internal/bundler/CLAUDE.md
  internal/bundler/assets/Dockerfile.tmpl
  internal/bundler/build_test.go
  internal/bundler/dockerfile.go
  internal/bundler/dockerfile_test.go
  internal/bundler/hash_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(clawkerd): tcsetpgrp child pgroup so interactive TTY routes input to user CMD
  cmd/clawkerd/spawn_unix.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness
