Repository schmitthub/clawker: changes, and which pre-commit hooks are due for each by the changed paths.
All: semgrep, govulncheck, go-test, docs-check, licenses-check, claude-freshness

.pre-commit-config.yaml:

# Pre-commit hooks — mirrors CI quality gates locally.
# Install: bash scripts/install-hooks.sh
# Run all: pre-commit run --all-files
# Run one: pre-commit run gitleaks --all-files

repos:
  # ── Security ──────────────────────────────────────────────────────────────
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.30.0
    hooks:
      - id: gitleaks
        args: [--baseline-path, gitleaks-report.json]

  # ── Lint ──────────────────────────────────────────────────────────────────
  - repo: https://github.com/golangci/golangci-lint
    rev: v2.9.0
    hooks:
      - id: golangci-lint-full
        args: [--config, .golangci.yml]

  # ── Local hooks ───────────────────────────────────────────────────────────
  - repo: local
    hooks:
      - id: semgrep
        name: Semgrep SAST
        # Expected version: 1.146.0 (must match CI image tag in security.yml)
        entry: semgrep scan --baseline-commit HEAD --config p/golang --config p/security-audit --error
        language: system
        types: [go]
        pass_filenames: false

      - id: govulncheck
        name: govulncheck SCA
        entry: govulncheck ./...
        language: system
        types: [go]
        pass_filenames: false

      - id: go-test
        name: Unit tests
        entry: make test
        language: system
        types: [go]
        pass_filenames: false

      - id: docs-check
        name: CLI docs freshness
        entry: make docs-check
        language: system
        files: ^(cmd/|internal/cmd/|internal/docs/)
        pass_filenames: false

      - id: licenses-check
        name: NOTICE freshness
        entry: make licenses-check
        language: system
        files: ^go\.(mod|sum)$
        pass_filenames: false

      - id: claude-freshness
        name: Claude doc freshness (advisory)
        entry: bash -c 'bash scripts/check-claude-freshness.sh --strict --non-interactive --no-color | head -50 || true'
        language: system
        files: \.go$
        pass_filenames: false
        verbose: true

chore: bug tracker
  .serena/memories/bug-tracker.md
Due: none

fix: address Copilot PR review findings
  internal/cmd/firewall/add.go
  internal/cmd/firewall/port.go
  internal/cmd/firewall/port_test.go
  internal/cmd/firewall/remove.go
  internal/controlplane/adminclient/dial.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(firewall): validate static IPs fall within network subnet
  internal/controlplane/cpboot/bootstrap.go
  internal/controlplane/firewall/network.go
Due: semgrep, govulncheck, go-test, claude-freshness

feat(firewall): add ActionQueue primitive with FIFO + coalescing
  .serena/memories/firewall-queue-initiative.md
  .serena/memories/firewall-queue-prd.md
  internal/controlplane/firewall/queue.go
  internal/controlplane/firewall/queue_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

feat(firewall): route all AdminService RPCs through ActionQueue
  .serena/memories/firewall-queue-initiative.md
  NOTICE
  api/admin/v1/admin.pb.go
  api/admin/v1/admin.proto
  api/admin/v1/admin_grpc.pb.go
  cmd/clawker-cp/main.go
  internal/cmd/container/remove/remove_test.go
  internal/cmd/container/stop/stop_test.go
  internal/cmd/controlplane/status_test.go
  internal/cmd/firewall/add.go
  internal/cmd/firewall/down_test.go
  internal/cmd/firewall/list_test.go
  internal/cmd/firewall/reload.go
  internal/cmd/firewall/remove.go
  internal/cmd/firewall/remove_test.go
  internal/cmd/firewall/rotate_ca.go
  internal/cmd/firewall/rpc.go
  internal/controlplane/authz_test.go
  internal/controlplane/firewall/CLAUDE.md
  internal/controlplane/firewall/errors.go
  internal/controlplane/firewall/handler.go
  internal/controlplane/firewall/handler_test.go
  internal/controlplane/firewall/rules_store.go
  internal/controlplane/firewall/stack.go
  internal/controlplane/grpc_mtls_test.go
  internal/controlplane/mocks/admin_client_mock.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

feat(firewall): wire ActionQueue into CP drain + close review gaps
  .serena/memories/firewall-queue-initiative.md
  internal/cmd/firewall/bypass.go
  internal/cmd/firewall/disable.go
  internal/cmd/firewall/down.go
  internal/cmd/firewall/enable.go
  internal/cmd/firewall/list.go
  internal/cmd/firewall/status.go
  internal/cmd/firewall/up.go
  internal/controlplane/CLAUDE.md
  internal/controlplane/firewall/CLAUDE.md
  internal/controlplane/firewall/handler.go
  internal/controlplane/firewall/queue.go
  internal/controlplane/firewall/queue_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix: passing existing fw e2e
  .correctless/specs/cp-initiative/branch-2-cp-owns-firewall.md
  .correctless/verification/branch-2-cp-owns-firewall-verification.md
  .gitignore
  internal/consts/consts.go
  internal/controlplane/cpboot/CLAUDE.md
  internal/controlplane/cpboot/bootstrap.go
  internal/controlplane/cpboot/bootstrap_test.go
  internal/controlplane/firewall/handler.go
  internal/controlplane/firewall/rules_store.go
  test/e2e/harness/factory.go
  test/e2e/harness/harness.go
Due: semgrep, govulncheck, go-test, claude-freshness

chore: go mod tidy
  go.mod
Due: licenses-check

refactor(controlplane): decouple CP lifecycle, auth material, and admin dial
  .claude/docs/KEY-CONCEPTS.md
  internal/cmd/container/restart/restart.go
  internal/cmd/container/restart/restart_test.go
  internal/cmd/container/run/run.go
  internal/cmd/container/run/run_test.go
  internal/cmd/container/shared/container_start.go
  internal/cmd/container/shared/container_start_test.go
  internal/cmd/container/start/start.go
  internal/cmd/container/start/start_test.go
  internal/cmd/factory/CLAUDE.md
  internal/cmd/factory/default.go
  internal/cmd/factory/default_test.go
  internal/cmd/image/build/build.go
  internal/cmd/loop/iterate/iterate.go
  internal/cmd/loop/shared/lifecycle.go
  internal/cmd/loop/tasks/tasks.go
  internal/cmd/project/init/init.go
  internal/controlplane/adminclient/dial.go
  internal/controlplane/cpboot/bootstrap.go
  internal/controlplane/cpboot/bootstrap_test.go
  internal/controlplane/firewall/CLAUDE.md
  internal/controlplane/firewall/rules_store.go
  internal/project/CLAUDE.md
  internal/project/manager.go
  internal/project/mocks/project_mock.go
  internal/project/mocks/stubs.go
  test/CLAUDE.md
  test/e2e/firewall_test.go
  test/e2e/harness/factory.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

chore: bugs
  .serena/memories/bug-tracker.md
Due: none

fix(firewall): surface remove-rule miss as NotFound
  api/admin/v1/admin.go
  api/admin/v1/admin.pb.go
  api/admin/v1/admin.proto
  api/admin/v1/admin_grpc.pb.go
  api/proto_structure_test.go
  internal/cmd/firewall/CLAUDE.md
  internal/cmd/firewall/remove.go
  internal/cmd/firewall/remove_test.go
  internal/cmd/firewall/rpc.go
  internal/controlplane/firewall/CLAUDE.md
  internal/controlplane/firewall/errors.go
  internal/controlplane/firewall/handler.go
  internal/controlplane/firewall/handler_test.go
  internal/controlplane/mocks/admin_client_mock.go
  test/e2e/firewall_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

chore: address Copilot PR review
  internal/cmd/factory/CLAUDE.md
  internal/cmd/factory/default.go
  internal/controlplane/firewall/errors.go
  internal/controlplane/firewall/queue.go
  test/CLAUDE.md
  test/e2e/harness/factory.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(firewall): ensure CP is running in `firewall up`
  internal/cmd/controlplane/CLAUDE.md
  internal/cmd/firewall/CLAUDE.md
  internal/cmd/firewall/up.go
  internal/cmd/firewall/up_test.go
  test/e2e/firewall_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(firewall): route/listener parity + ActionResult invariant
  internal/controlplane/firewall/queue.go
  internal/controlplane/firewall/queue_test.go
  internal/controlplane/firewall/rules_store.go
  internal/controlplane/firewall/rules_store_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix(controlplane): SIGTERM runs full teardown, no orphans
  .claude/docs/ARCHITECTURE.md
  cmd/clawker-cp/main.go
  docs/cli-reference/clawker_controlplane_down.md
  docs/features/cp-owns-firewall.md
  internal/cmd/controlplane/CLAUDE.md
  internal/cmd/controlplane/down.go
  internal/cmd/controlplane/down_test.go
  internal/controlplane/cpboot/bootstrap.go
  internal/controlplane/cpboot/manager.go
  test/e2e/controlplane_cli_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

feat(firewall): re-enroll running agents on FirewallInit
  cmd/clawker-cp/main.go
  internal/controlplane/firewall/handler.go
  internal/controlplane/firewall/handler_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

docs: capture CP Docker events migration brainstorm + pantheon model
  .serena/memories/brainstorm_cp-docker-events-migration.md
  .serena/memories/clawker-pantheon.md
Due: none

feat(controlplane): add generic in-process informer
  .serena/memories/brainstorm_cp-docker-events-migration.md
  .serena/memories/brainstorm_monitor-stack-agent-trust-boundary.md
  docs/assets/cp-threat-model.excalidraw
  internal/controlplane/informer/CLAUDE.md
  internal/controlplane/informer/filter.go
  internal/controlplane/informer/informer.go
  internal/controlplane/informer/informer_test.go
  internal/controlplane/informer/mocks/informer_mock.go
  internal/controlplane/informer/read.go
  internal/controlplane/informer/store.go
  internal/controlplane/informer/subscribe.go
  internal/controlplane/informer/types.go
  internal/controlplane/informer/write.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix(firewall): seed BPF route_map on FirewallInit + add dump-* break-glass subcommands
  internal/controlplane/firewall/ebpf/cmd/main.go
  internal/controlplane/firewall/ebpf/manager.go
  internal/controlplane/firewall/handler.go
  internal/controlplane/firewall/handler_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix(controlplane): address Copilot review on cp-informer PR
  internal/controlplane/firewall/handler.go
  internal/controlplane/informer/filter.go
  internal/controlplane/informer/informer.go
  internal/controlplane/informer/informer_test.go
  internal/controlplane/informer/subscribe.go
Due: semgrep, govulncheck, go-test, claude-freshness

chore: removed excalidraw diagram
  docs/assets/cp-threat-model.excalidraw
Due: none

fix(controlplane): address PR review — informer concurrency, FirewallInit recovery, type split
  internal/controlplane/firewall/ebpf/manager.go
  internal/controlplane/firewall/handler.go
  internal/controlplane/firewall/handler_test.go
  internal/controlplane/informer/CLAUDE.md
  internal/controlplane/informer/informer.go
  internal/controlplane/informer/informer_test.go
  internal/controlplane/informer/mocks/informer_mock.go
  internal/controlplane/informer/read.go
  internal/controlplane/informer/store.go
  internal/controlplane/informer/subscribe.go
  internal/controlplane/informer/types.go
  internal/controlplane/informer/write.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix(controlplane): address Copilot review — map aliasing, route_map guard
  internal/controlplane/firewall/handler.go
  internal/controlplane/informer/store.go
  internal/controlplane/informer/subscribe.go
Due: semgrep, govulncheck, go-test, claude-freshness

feat(controlplane): add generic in-process informer (#261)
  .serena/memories/brainstorm_monitor-stack-agent-trust-boundary.md
  .serena/memories/clawker-pantheon.md
  internal/controlplane/firewall/ebpf/cmd/main.go
  internal/controlplane/firewall/ebpf/manager.go
  internal/controlplane/firewall/handler.go
  internal/controlplane/firewall/handler_test.go
  internal/controlplane/informer/CLAUDE.md
  internal/controlplane/informer/filter.go
  internal/controlplane/informer/informer.go
  internal/controlplane/informer/informer_test.go
  internal/controlplane/informer/mocks/informer_mock.go
  internal/controlplane/informer/read.go
  internal/controlplane/informer/store.go
  internal/controlplane/informer/subscribe.go
  internal/controlplane/informer/types.go
  internal/controlplane/informer/write.go
Due: semgrep, govulncheck, go-test, claude-freshness

feat(controlplane): dockerevents feeder + mTLS-gated CP OTEL push
  .correctless/AGENT_CONTEXT.md
  .serena/memories/outstanding-features.md
  CLAUDE.md
  NOTICE
  cmd/clawker-cp/main.go
  docs/configuration.mdx
  go.mod
  go.sum
  internal/auth/auth_material.go
  internal/auth/auth_test.go
  internal/cmd/monitor/init/init.go
  internal/config/schema.go
  internal/consts/consts.go
  internal/consts/controlplane.go
  internal/controlplane/cpboot/bootstrap.go
  internal/controlplane/cpboot/cp_container.go
  internal/controlplane/dockerevents/dispatch.go
  internal/controlplane/dockerevents/dispatch_test.go
  internal/controlplane/dockerevents/feeder.go
  internal/controlplane/dockerevents/reconcile.go
  internal/controlplane/firewall/ebpf/REPRODUCIBILITY.md
  internal/controlplane/informer/informer.go
  internal/controlplane/informer/types.go
  internal/logger/logger.go
  internal/logger/otel_writer.go
  internal/monitor/templates.go
  internal/monitor/templates/compose.yaml.tmpl
  internal/monitor/templates/grafana-dashboard-cp.json
  internal/monitor/templates/otel-config.yaml.tmpl
Due: semgrep, govulncheck, go-test, docs-check, licenses-check, claude-freshness

fix(dockerevents,cp,logger,auth): address PR review findings
  cmd/clawker-cp/main.go
  cmd/clawker-cp/main_test.go
  internal/auth/auth_material.go
  internal/auth/auth_test.go
  internal/controlplane/cpboot/container_config_test.go
  internal/controlplane/dockerevents/dispatch.go
  internal/controlplane/dockerevents/dispatch_test.go
  internal/controlplane/dockerevents/feeder.go
  internal/controlplane/dockerevents/feeder_test.go
  internal/controlplane/dockerevents/reconcile.go
  internal/logger/logger.go
  internal/logger/otel_writer.go
  internal/logger/otel_writer_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

chore: claude.md update
  CLAUDE.md
Due: none

fix(auth,dockerevents): tighten auth dir perms; CP OTEL client key 0600; actor_attr log schema
  internal/auth/auth_material.go
  internal/auth/auth_test.go
  internal/consts/consts.go
  internal/controlplane/dockerevents/dispatch.go
  internal/controlplane/dockerevents/dispatch_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix(informer,monitor): handle Marshal err; rename auth_channel -> ingest_source
  internal/controlplane/informer/informer.go
  internal/monitor/templates/grafana-dashboard-cp.json
  internal/monitor/templates/otel-config.yaml.tmpl
Due: semgrep, govulncheck, go-test, claude-freshness

feat(controlplane): dockerevents feeder + mTLS-gated CP OTEL push (#262)
  .correctless/AGENT_CONTEXT.md
  .serena/memories/outstanding-features.md
  CLAUDE.md
  NOTICE
  cmd/clawker-cp/main.go
  cmd/clawker-cp/main_test.go
  docs/configuration.mdx
  go.mod
  go.sum
  internal/auth/auth_material.go
  internal/auth/auth_test.go
  internal/cmd/monitor/init/init.go
  internal/config/schema.go
  internal/consts/consts.go
  internal/consts/controlplane.go
  internal/controlplane/cpboot/bootstrap.go
  internal/controlplane/cpboot/container_config_test.go
  internal/controlplane/cpboot/cp_container.go
  internal/controlplane/dockerevents/dispatch.go
  internal/controlplane/dockerevents/dispatch_test.go
  internal/controlplane/dockerevents/feeder.go
  internal/controlplane/dockerevents/feeder_test.go
  internal/controlplane/dockerevents/reconcile.go
  internal/controlplane/firewall/ebpf/REPRODUCIBILITY.md
  internal/controlplane/informer/informer.go
  internal/controlplane/informer/types.go
  internal/logger/logger.go
  internal/logger/otel_writer.go
  internal/logger/otel_writer_test.go
  internal/monitor/templates.go
  internal/monitor/templates/compose.yaml.tmpl
  internal/monitor/templates/grafana-dashboard-cp.json
  internal/monitor/templates/otel-config.yaml.tmpl
Due: semgrep, govulncheck, go-test, docs-check, licenses-check, claude-freshness

feat(api): add AgentService.Register + AdminService.AnnounceAgent, drop POC clawkerd protocol
  .serena/memories/cp-initiative-branch-4-clawkerd-auth-plan.md
  .serena/memories/cp-initiative-status.md
  Makefile
  api/admin/v1/admin.go
  api/admin/v1/admin.pb.go
  api/admin/v1/admin.proto
  api/admin/v1/admin_grpc.pb.go
  api/agent/v1/agent.pb.go
  api/agent/v1/agent.proto
  api/agent/v1/agent_grpc.pb.go
  api/proto_structure_test.go
  buf.yaml
  internal/clawkerd/protocol/v1/CLAUDE.md
  internal/clawkerd/protocol/v1/agent.pb.go
  internal/clawkerd/protocol/v1/agent.proto
  internal/clawkerd/protocol/v1/agent_grpc.pb.go
  internal/clawkerd/protocol/v1/controlplane.pb.go
  internal/clawkerd/protocol/v1/controlplane.proto
  internal/clawkerd/protocol/v1/controlplane_grpc.pb.go
  internal/controlplane/CLAUDE.md
  internal/controlplane/mocks/admin_client_mock.go
  internal/controlplane/mocks/controlplane_mock.go
  internal/controlplane/mocks/mock_server.go
  internal/controlplane/registry.go
  internal/controlplane/registry_test.go
  internal/controlplane/server.go
Due: semgrep, govulncheck, go-test, claude-freshness

feat(consts): agent client identity, scopes, bootstrap paths, and AgentPort default
  .serena/memories/cp-initiative-branch-4-clawkerd-auth-plan.md
  docs/configuration.mdx
  internal/config/schema.go
  internal/consts/consts.go
Due: semgrep, govulncheck, go-test, claude-freshness

feat(auth): MintAgentCert for per-agent mTLS leaf cert minting
  .serena/memories/cp-initiative-branch-4-clawkerd-auth-plan.md
  internal/auth/CLAUDE.md
  internal/auth/agent_cert.go
  internal/auth/agent_cert_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

feat(controlplane): register clawker-agent OAuth2 client with Hydra at startup
  .serena/memories/cp-initiative-branch-4-clawkerd-auth-plan.md
  cmd/clawker-cp/main.go
  internal/controlplane/CLAUDE.md
  internal/controlplane/hydra_client.go
  internal/controlplane/hydra_client_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

feat(controlplane): agentslots registry with PKCE consume and TTL janitor
  internal/controlplane/agentslots/mocks/registry_mock.go
  internal/controlplane/agentslots/registry.go
  internal/controlplane/agentslots/registry_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

feat(controlplane): agentregistry with cert thumbprint binding and dockerevents evict
  .serena/memories/cp-initiative-branch-4-clawkerd-auth-plan.md
  internal/controlplane/agentregistry/mocks/registry_mock.go
  internal/controlplane/agentregistry/registry.go
  internal/controlplane/agentregistry/registry_test.go
  internal/controlplane/agentregistry/subscribe.go
  internal/controlplane/agentregistry/subscribe_test.go
  internal/controlplane/dockerevents/dispatch.go
  internal/controlplane/dockerevents/feeder.go
Due: semgrep, govulncheck, go-test, claude-freshness

feat(cli): AnnounceAgent + per-agent bootstrap material delivery to container
  .serena/memories/cp-initiative-branch-4-clawkerd-auth-plan.md
  internal/auth/CLAUDE.md
  internal/auth/agent_assertion.go
  internal/auth/agent_assertion_test.go
  internal/cmd/container/shared/CLAUDE.md
  internal/cmd/container/shared/agent_bootstrap.go
  internal/cmd/container/shared/agent_bootstrap_test.go
  internal/docker/env.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

feat(controlplane): second gRPC listener on clawker-net for agent connections
  .serena/memories/cp-initiative-branch-4-clawkerd-auth-plan.md
  cmd/clawker-cp/main.go
  internal/controlplane/CLAUDE.md
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness
