Repository schmitthub/clawker: changes, and which pre-commit hooks are due for each by the changed paths.
All: semgrep, govulncheck, go-test, docs-check, licenses-check, claude-freshness

.pre-commit-config.yaml:

# Pre-commit hooks — mirrors CI quality gates locally.
# Install: bash scripts/install-hooks.sh
# Run all: pre-commit run --all-files
# Run one: pre-commit run gitleaks --all-files

repos:
  # ── Security ──────────────────────────────────────────────────────────────
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.30.0
    hooks:
      - id: gitleaks
        args: [--baseline-path, gitleaks-report.json]

  # ── Lint ──────────────────────────────────────────────────────────────────
  - repo: https://github.com/golangci/golangci-lint
    rev: v2.9.0
    hooks:
      - id: golangci-lint-full
        args: [--config, .golangci.yml]

  # ── Local hooks ───────────────────────────────────────────────────────────
  - repo: local
    hooks:
      - id: semgrep
        name: Semgrep SAST
        # Expected version: 1.146.0 (must match CI image tag in security.yml)
        entry: semgrep scan --baseline-commit HEAD --config p/golang --config p/security-audit --error
        language: system
        types: [go]
        pass_filenames: false

      - id: govulncheck
        name: govulncheck SCA
        entry: govulncheck ./...
        language: system
        types: [go]
        pass_filenames: false

      - id: go-test
        name: Unit tests
        entry: make test
        language: system
        types: [go]
        pass_filenames: false

      - id: docs-check
        name: CLI docs freshness
        entry: make docs-check
        language: system
        files: ^(cmd/|internal/cmd/|internal/docs/)
        pass_filenames: false

      - id: licenses-check
        name: NOTICE freshness
        entry: make licenses-check
        language: system
        files: ^go\.(mod|sum)$
        pass_filenames: false

      - id: claude-freshness
        name: Claude doc freshness (advisory)
        entry: bash -c 'bash scripts/check-claude-freshness.sh --strict --non-interactive --no-color | head -50 || true'
        language: system
        files: \.go$
        pass_filenames: false
        verbose: true

fix(rootless): re-prove ID-mapped views at start and harden the idmap lane
  .claude/docs/ARCHITECTURE.md
  .claude/docs/REPO-STRUCTURE.md
  Makefile
  cmd/idmap-mount/main_linux.go
  internal/cmd/container/CLAUDE.md
  internal/cmd/container/shared/CLAUDE.md
  internal/cmd/container/shared/container_create.go
  internal/cmd/container/shared/container_start.go
  internal/cmd/container/shared/idmap.go
  internal/cmd/container/shared/idmap_internal_test.go
  internal/cmd/controlplane/CLAUDE.md
  internal/cmd/controlplane/shared/assist.go
  internal/cmdutil/CLAUDE.md
  internal/consts/consts.go
  internal/idmap/CLAUDE.md
  internal/idmap/idmap.go
  internal/idmap/idmap_test.go
  internal/sudo/CLAUDE.md
  internal/sudo/sudo.go
  internal/sudo/sudo_internal_test.go
  pkg/whail/whailtest/stubs.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(cp): make the CP readiness gate a sequential loop and detach token mints from caller cancellation
  controlplane/adminclient/dial.go
  controlplane/manager/CLAUDE.md
  controlplane/manager/bootstrap.go
  controlplane/manager/bootstrap_test.go
  controlplane/manager/manager.go
  internal/cmd/container/shared/idmap.go
  internal/consts/consts.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(cp): hold the WatchSOS stream open from the start of the boot window
  controlplane/manager/CLAUDE.md
  controlplane/manager/bootstrap.go
  controlplane/manager/bootstrap_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

ci: build the bpffs-delegate and idmap-mount embeds in CI, attest them at release
  .github/actions/build-controlplane-binaries/action.yml
  .github/workflows/lint.yml
  .github/workflows/release-build.yml
Due: none

fix: address copilot review findings on PR #457
  internal/cmd/controlplane/up_test.go
  internal/cmd/firewall/up/up_test.go
  internal/idmap/mounted_linux.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(sudo): reject non-basename helper names before staging
  internal/sudo/CLAUDE.md
  internal/sudo/sudo.go
  internal/sudo/sudo_internal_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix(cp): join the readiness goroutine on the SOS-delivered return path
  controlplane/manager/bootstrap.go
Due: semgrep, govulncheck, go-test, claude-freshness

chore(claude): asd-ste100
  CLAUDE.md
Due: none

feat(socketbridge): probe host GPG before the bridge spawns
  internal/cmd/container/shared/container_start.go
  internal/cmd/container/shared/container_start_test.go
  internal/socketbridge/CLAUDE.md
  internal/socketbridge/manager.go
  internal/socketbridge/mocks/manager_mock.go
  internal/socketbridge/mocks/stubs.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

feat(cli): precheck configured credential-forwarding lanes on the host
  internal/cmd/container/shared/container_start.go
  internal/cmd/container/shared/container_start_test.go
  internal/hostproxy/CLAUDE.md
  internal/hostproxy/git_credential.go
  internal/hostproxy/hostproxytest/manager_mock.go
  internal/hostproxy/manager.go
  internal/socketbridge/CLAUDE.md
  internal/socketbridge/export_test.go
  internal/socketbridge/manager.go
  internal/socketbridge/manager_test.go
  internal/socketbridge/mocks/manager_mock.go
  internal/socketbridge/mocks/stubs.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

docs: rootless Docker, daemon host discovery, credential prechecks + changelog 2026.8.3
  CHANGELOG.md
  docs/architecture.mdx
  docs/container-internals.mdx
  docs/control-plane.mdx
  docs/credentials.mdx
  docs/design.mdx
  docs/firewall.mdx
  docs/installation.mdx
  docs/monitoring.mdx
  docs/observability.mdx
  docs/quickstart.mdx
  docs/testing.md
  docs/threat-model.mdx
  docs/worktrees.mdx
Due: none

docs(dev): index the release-window packages and refresh stale references
  .claude/docs/KEY-CONCEPTS.md
  .claude/docs/REPO-STRUCTURE.md
  CLAUDE.md
  clawkerd/CLAUDE.md
  cmd/coredns-clawker/CLAUDE.md
  cmd/coredns-clawker/plugins/otel/CLAUDE.md
  internal/auth/CLAUDE.md
  internal/bundler/CLAUDE.md
  internal/bundler/registry/CLAUDE.md
  internal/cmd/bridge/CLAUDE.md
  internal/cmd/container/CLAUDE.md
  internal/cmd/container/attach/CLAUDE.md
  internal/cmd/container/exec/CLAUDE.md
  internal/cmd/container/shared/CLAUDE.md
  internal/cmd/container/start/CLAUDE.md
  internal/cmd/factory/CLAUDE.md
  internal/cmd/image/CLAUDE.md
  internal/cmd/monitor/CLAUDE.md
  internal/cmd/root/CLAUDE.md
  pkg/whail/README.md
Due: docs-check

fix(iostreams): detect TTY state once at construction, not lazily per call
  .claude/rules/tui.md
  internal/iostreams/iostreams.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix: address copilot review findings on PR #461
  docs/credentials.mdx
  internal/cmd/container/shared/container_start.go
  internal/cmd/container/shared/container_start_test.go
  internal/hostproxy/git_credential.go
  internal/hostproxy/git_credential_test.go
  internal/socketbridge/CLAUDE.md
  internal/socketbridge/manager.go
  internal/socketbridge/mocks/manager_mock.go
  internal/socketbridge/mocks/stubs.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

build: adapt to otel/log v0.21.0 and Go 1.26 toolchain from deps bump
  .clawker.yaml
  CONTRIBUTING.md
  Dockerfile.controlplane
  NOTICE
  README.md
  cmd/coredns-clawker/plugins/otel/otel.go
  controlplane/firewall/ebpf/netlogger/otel_sink.go
  controlplane/firewall/ebpf/netlogger/otel_sink_test.go
  docs/installation.mdx
  go.mod
  internal/docker/ignore_parity_test.go
  internal/logger/otel_writer.go
  internal/logger/otel_writer_test.go
Due: semgrep, govulncheck, go-test, docs-check, licenses-check, claude-freshness

build: restore Go 1.25 toolchain floor; hold buildkit/containerd
  .clawker.yaml
  .github/dependabot.yml
  CONTRIBUTING.md
  Dockerfile.controlplane
  NOTICE
  README.md
  docs/installation.mdx
  go.mod
  go.sum
Due: licenses-check

build: drop dependabot ignore for buildkit/containerd
  .github/dependabot.yml
Due: none

build(bundler): pin Go builder image to golang:1.26.6-alpine
  CLAUDE.md
  internal/bundler/dockerfile.go
  internal/bundler/testdata/golden/harness-overlay.harness.Dockerfile
  internal/bundler/testdata/golden/minimal-buildkit.harness.Dockerfile
  internal/bundler/testdata/golden/minimal.harness.Dockerfile
  internal/bundler/testdata/golden/packages-instructions-inject.harness.Dockerfile
  internal/bundler/testdata/golden/telemetry-flags-off.harness.Dockerfile
Due: semgrep, govulncheck, go-test, claude-freshness

chore(codex): add Codex agent config, hooks, skills, and AGENTS.md
  .agents/skills/audit-memory/REFERENCE.md
  .agents/skills/audit-memory/SKILL.md
  .codex/agents/test-hunter.toml
  .codex/config.toml
  .codex/hooks.json
  .codex/hooks/git-checks.sh
  .codex/hooks/go-commands.sh
  .codex/hooks/serena-first.mjs
  .codex/hooks/serena-init-marker.mjs
  .codex/hooks/serena-session-start.mjs
  AGENTS.md
Due: none

chore(codex): drop machine-specific paths from Codex config
  .codex/config.toml
  .codex/hooks.json
Due: none

chore(codex): use serena codex context
  .codex/config.toml
Due: none

build(bundler): pin Go builder image to golang:1.26.6-alpine (#476)
  .agents/skills/audit-memory/REFERENCE.md
  .agents/skills/audit-memory/SKILL.md
  .codex/agents/test-hunter.toml
  .codex/config.toml
  .codex/hooks.json
  .codex/hooks/git-checks.sh
  .codex/hooks/go-commands.sh
  .codex/hooks/serena-first.mjs
  .codex/hooks/serena-init-marker.mjs
  .codex/hooks/serena-session-start.mjs
  AGENTS.md
  internal/bundler/dockerfile.go
  internal/bundler/testdata/golden/harness-overlay.harness.Dockerfile
  internal/bundler/testdata/golden/minimal-buildkit.harness.Dockerfile
  internal/bundler/testdata/golden/minimal.harness.Dockerfile
  internal/bundler/testdata/golden/packages-instructions-inject.harness.Dockerfile
  internal/bundler/testdata/golden/telemetry-flags-off.harness.Dockerfile
Due: semgrep, govulncheck, go-test, claude-freshness

feat(project): shell completion for registered project names
  internal/cmd/container/CLAUDE.md
  internal/cmd/container/list/list.go
  internal/cmd/project/CLAUDE.md
  internal/cmd/project/info/info.go
  internal/cmd/project/remove/remove.go
  internal/cmd/project/shared/completion.go
  internal/cmd/project/shared/completion_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

docs(changelog): add 2026.8.4 entry for project-name completion
  CHANGELOG.md
Due: none

feat(project): shell completion for registered project names (#477)
  CHANGELOG.md
  internal/cmd/container/CLAUDE.md
  internal/cmd/container/list/list.go
  internal/cmd/project/CLAUDE.md
  internal/cmd/project/info/info.go
  internal/cmd/project/remove/remove.go
  internal/cmd/project/shared/completion.go
  internal/cmd/project/shared/completion_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

feat(env): forward TERM_PROGRAM and TERM_PROGRAM_VERSION from host
  CHANGELOG.md
  docs/container-internals.mdx
  internal/cmd/container/shared/CLAUDE.md
  internal/cmd/container/shared/agentenv.go
  internal/cmd/container/shared/agentenv_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

docs(changelog): retitle 2026.8.4 entry as 2026.8.5
  CHANGELOG.md
Due: none

fix(review): assert Unsetenv in test helper; clarify term forwarding docs
  CHANGELOG.md
  docs/container-internals.mdx
  internal/cmd/container/shared/agentenv_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

docs(readme): add Rootless Docker Support column to comparison table
  README.md
Due: none

feat(env): forward TERM_PROGRAM and TERM_PROGRAM_VERSION from host (#478)
  CHANGELOG.md
  README.md
  docs/container-internals.mdx
  internal/cmd/container/shared/CLAUDE.md
  internal/cmd/container/shared/agentenv.go
  internal/cmd/container/shared/agentenv_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

feat(harness): configure Codex container context
  .serena/memories/multi-harness/README.md
  internal/bundle/assets/harnesses/codex/Dockerfile.harness.tmpl
  internal/bundle/assets/harnesses/codex/assets/codex-config.toml
  internal/bundle/assets/harnesses/codex/harness.yaml
  internal/bundler/assets/clawker-agent-prompt.md
  internal/bundler/build_test.go
  internal/bundler/dockerfile_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

chore: random cleanup
  .clawker.yaml
  .codex/config.toml
  .codex/hooks.json
  .codex/hooks/hooks.json
  .codex/hooks/serena-first.mjs
  .codex/hooks/serena-init-marker.mjs
  .codex/hooks/serena-session-start.mjs
  .serena/project.yml
Due: none

chore: prd, lib update, agent skills copy, hooks cleanup, sqlite pkg
  .clawker.yaml
  .codex/config.toml
  .codex/hooks/hooks.json
  .serena/memories/initiative_generic_socket_bridge/PRD.md
  Makefile
  internal/bundle/assets/harnesses/codex/harness.yaml
Due: none

feat(bundler): add socket manifest contract
  .serena/memories/initiative_generic_socket_bridge/plan.md
  internal/bundler/bundle.go
  internal/bundler/bundle_test.go
  internal/config/harness_schema.go
  internal/consts/docker.go
Due: semgrep, govulncheck, go-test, claude-freshness

feat(db): add socket grant store
  .serena/memories/initiative_generic_socket_bridge/plan.md
  internal/consts/consts.go
  internal/db/consts.go
  internal/db/db.go
  internal/db/grants.go
  internal/db/grants_test.go
  internal/db/mocks/grants_mock.go
  internal/socketbridge/identity.go
Due: semgrep, govulncheck, go-test, claude-freshness

feat: add host socket identity utilities
  .serena/memories/initiative_generic_socket_bridge/plan.md
  internal/cmdutil/paths.go
  internal/cmdutil/paths_test.go
  internal/socketbridge/peercred.go
  internal/socketbridge/peercred_darwin.go
  internal/socketbridge/peercred_linux.go
  internal/socketbridge/peercred_test.go
Due: semgrep, govulncheck, go-test, claude-freshness
