Repository schmitthub/clawker: changes, and which pre-commit hooks are due for each by the changed paths.
All: semgrep, govulncheck, go-test, docs-check, licenses-check, claude-freshness

semgrep:
  name: Semgrep SAST
  entry: semgrep scan --baseline-commit HEAD --config p/golang --config p/security-audit --error
  language: system
  pass_filenames: false

govulncheck:
  name: govulncheck SCA
  entry: govulncheck ./...
  language: system
  pass_filenames: false

go-test:
  name: Unit tests
  entry: make test
  language: system
  pass_filenames: false

docs-check:
  name: CLI docs freshness
  entry: make docs-check
  language: system
  pass_filenames: false

licenses-check:
  name: NOTICE freshness
  entry: make licenses-check
  language: system
  pass_filenames: false

claude-freshness:
  name: Claude doc freshness (advisory)
  entry: bash -c 'bash scripts/check-claude-freshness.sh --strict --non-interactive --no-color | head -50 || true'
  language: system
  pass_filenames: false
  verbose: true

fix(firewall): emit otel_collector_als cluster (close dangling access-log ref)
  internal/controlplane/firewall/ENVOY_TARGET.md
  internal/controlplane/firewall/envoy_config.go
  internal/controlplane/firewall/testdata/envoy/otel_mtls.envoy.golden
Due: semgrep, govulncheck, go-test, claude-freshness

test(firewall): collapse Envoy-gen goldens into one comprehensive interaction test
  .claude/rules/envoy.md
  internal/controlplane/firewall/CLAUDE.md
  internal/controlplane/firewall/envoy_config_test.go
  internal/controlplane/firewall/testdata/envoy/comprehensive.envoy.golden
  internal/controlplane/firewall/testdata/envoy/comprehensive_mtls.envoy.golden
  internal/controlplane/firewall/testdata/envoy/http.envoy.golden
  internal/controlplane/firewall/testdata/envoy/http_cidr.envoy.golden
  internal/controlplane/firewall/testdata/envoy/https.envoy.golden
  internal/controlplane/firewall/testdata/envoy/https_cidr.envoy.golden
  internal/controlplane/firewall/testdata/envoy/insecure_skip_verify.envoy.golden
  internal/controlplane/firewall/testdata/envoy/ip_dst.envoy.golden
  internal/controlplane/firewall/testdata/envoy/opaque_ip_cidr.envoy.golden
  internal/controlplane/firewall/testdata/envoy/otel_mtls.envoy.golden
  internal/controlplane/firewall/testdata/envoy/raw_tcp.envoy.golden
  internal/controlplane/firewall/testdata/envoy/raw_udp.envoy.golden
  internal/controlplane/firewall/testdata/envoy/tcp_port_range.envoy.golden
  internal/controlplane/firewall/testdata/envoy/udp_ip.envoy.golden
  internal/controlplane/firewall/testdata/envoy/unsupported_proto.envoy.golden
  internal/controlplane/firewall/testdata/envoy/ws.envoy.golden
  internal/controlplane/firewall/testdata/envoy/ws_cidr.envoy.golden
  internal/controlplane/firewall/testdata/envoy/ws_wildcard.envoy.golden
  internal/controlplane/firewall/testdata/envoy/ws_wss_absorb.envoy.golden
  internal/controlplane/firewall/testdata/envoy/wss.envoy.golden
  internal/controlplane/firewall/testdata/envoy/wss_cidr.envoy.golden
  internal/controlplane/firewall/testdata/envoy/wss_wildcard.envoy.golden
Due: semgrep, govulncheck, go-test, claude-freshness

fix(firewall): restore dropped health-check listener + share bringup timeout
  .clawker.yaml
  internal/cmd/firewall/reload.go
  internal/cmd/firewall/rpc.go
  internal/cmd/firewall/up.go
  internal/consts/consts.go
  internal/controlplane/firewall/envoy_config.go
  internal/controlplane/firewall/envoy_consts.go
  internal/controlplane/firewall/envoy_types.go
  internal/controlplane/firewall/stack.go
  internal/controlplane/firewall/testdata/envoy/comprehensive.envoy.golden
  internal/controlplane/firewall/testdata/envoy/comprehensive_mtls.envoy.golden
  internal/controlplane/firewall/testdata/envoy/http_exact_only.envoy.golden
  internal/controlplane/firewall/testdata/envoy/https_exact_only.envoy.golden
  internal/controlplane/firewall/testdata/envoy/ssh.envoy.golden
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

docs(clawker-support): VCS egress lockdown guidance + dogfood github.com path-scope
  .clawker.yaml
  claude-plugin/clawker-support/.claude-plugin/plugin.json
  claude-plugin/clawker-support/CLAUDE.md
  claude-plugin/clawker-support/skills/clawker-support/SKILL.md
  claude-plugin/clawker-support/skills/clawker-support/reference/firewall-security.md
  claude-plugin/clawker-support/skills/clawker-support/reference/troubleshooting.md
Due: none

docs(clawker-support): deny /gists on api.github.com + spike for exfil-vector research
  .clawker.yaml
  claude-plugin/clawker-support/.claude-plugin/plugin.json
  claude-plugin/clawker-support/skills/clawker-support/reference/firewall-security.md
Due: none

docs(firewall): runtime behavioral UAT rule + dogfood github paths
  .claude/rules/firewall-uat.md
  .clawker.yaml
  internal/controlplane/firewall/CLAUDE.md
Due: none

chore(clawker): added two more whitelisted paths
  .clawker.yaml
Due: none

feat(firewall/ebpf): UDP + QUIC egress route projection with cookie-keyed reverse-NAT
  .clawker.yaml
  Makefile
  internal/controlplane/firewall/ebpf/CLAUDE.md
  internal/controlplane/firewall/ebpf/bpf/clawker.c
  internal/controlplane/firewall/ebpf/bpf/common.h
  internal/controlplane/firewall/ebpf/cmd/main.go
  internal/controlplane/firewall/ebpf/manager.go
  internal/controlplane/firewall/ebpf/types.go
  internal/controlplane/firewall/envoy_types.go
  internal/controlplane/firewall/handler_test.go
  internal/controlplane/firewall/rules_store.go
  internal/controlplane/firewall/rules_store_test.go
  test/adversarial/CLAUDE.md
  test/adversarial/attacker-server/main.go
  test/adversarial/compose.yml
Due: semgrep, govulncheck, go-test, claude-freshness

fix(clawkerd): own stdout/stderr pipes so Wait can't truncate fast-exit output
  cmd/clawkerd/session.go
  cmd/clawkerd/session_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(firewall): address Copilot review on PR #330
  internal/controlplane/firewall/ebpf/bpf/common.h
  internal/controlplane/firewall/ebpf/manager.go
  internal/controlplane/firewall/ebpf/manager_test.go
  internal/controlplane/firewall/envoy_consts.go
  test/adversarial/attacker-server/main.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix(firewall): fail launch on invalid clawker.yaml rule + address PR #330 review
  .clawker.yaml
  internal/cmd/firewall/port_test.go
  internal/controlplane/firewall/ebpf/manager.go
  internal/controlplane/firewall/ebpf/manager_test.go
  internal/controlplane/firewall/envoy_config.go
  internal/controlplane/firewall/handler.go
  internal/controlplane/firewall/handler_test.go
  internal/controlplane/firewall/rules_store.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

docs(firewall): push path-granular egress advice over broad domain allows
  claude-plugin/clawker-support/.claude-plugin/plugin.json
  claude-plugin/clawker-support/CLAUDE.md
  claude-plugin/clawker-support/skills/clawker-support/SKILL.md
  claude-plugin/clawker-support/skills/clawker-support/reference/firewall-security.md
  claude-plugin/clawker-support/skills/clawker-support/reference/troubleshooting.md
  internal/bundler/assets/clawker-agent-prompt.md
Due: none

docs(firewall): correct stale Port + blank-import comments (PR #330 review)
  internal/config/schema.go
  internal/controlplane/firewall/envoy_validate.go
Due: semgrep, govulncheck, go-test, claude-freshness

docs(firewall): comment-rot sweep + ValidateRule path-rule test rows (PR #330 review)
  internal/controlplane/firewall/certs.go
  internal/controlplane/firewall/ebpf/bpf/clawker.c
  internal/controlplane/firewall/ebpf/bpf/common.h
  internal/controlplane/firewall/ebpf/cmd/main.go
  internal/controlplane/firewall/ebpf/manager.go
  internal/controlplane/firewall/ebpf/types.go
  internal/controlplane/firewall/envoy_accesslog.go
  internal/controlplane/firewall/envoy_config.go
  internal/controlplane/firewall/envoy_tls.go
  internal/controlplane/firewall/envoy_types.go
  internal/controlplane/firewall/envoy_udp.go
  internal/controlplane/firewall/envoy_validate.go
  internal/controlplane/firewall/handler_test.go
  internal/controlplane/firewall/rules_store.go
Due: semgrep, govulncheck, go-test, claude-freshness

docs(firewall): clarify CIDR cert SAN scope + strip yaml trailing space (PR #330 review)
  .clawker.yaml
  internal/controlplane/firewall/certs.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix(storage): route only touched fields, not type-coerced opaque slices
  .serena/memories/bug-tracker.md
  internal/storage/storage_test.go
  internal/storage/store.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix(storage): route only touched fields, not type-coerced opaque slices (#331)
  .serena/memories/bug-tracker.md
  internal/storage/storage_test.go
  internal/storage/store.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix(clawkerd): bound phase-2 orphan drain so PID1 can't hang on user CMD exit
  cmd/clawkerd/spawn_unix.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(hostproxy): mirror egress rule Port as string to stop /open/url fail-closed
  .serena/memories/rca_clawkerd_pid1_hang_orphan_drain_no_kill.md
  .serena/memories/rca_hostproxy_egress_port_schema_drift.md
  internal/hostproxy/egress_check.go
  internal/hostproxy/egress_check_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

chore(docs): removed clawkerd issue from bug tracker
  .serena/memories/bug-tracker.md
Due: none

chore(docs): removed stale egress gap from bug tracker
  .serena/memories/bug-tracker.md
Due: none

fix(hostproxy): parse egress port spec in lockstep with config to close deny-fallthrough hole
  internal/hostproxy/egress_check.go
  internal/hostproxy/egress_check_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix(hostproxy): canonicalize URL path before egress match to close traversal bypass
  internal/hostproxy/egress_check.go
  internal/hostproxy/egress_check_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix(hostproxy): honor deny-always-wins on egress rule collisions (port-range parity with Envoy)
  internal/hostproxy/egress_check.go
  internal/hostproxy/egress_check_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

hotfix: host proxy broken (agent /login auth down) + egress bypasses + clawkerd PID-1 hang from yesterday's release (#332)
  .serena/memories/bug-tracker.md
  .serena/memories/rca_clawkerd_pid1_hang_orphan_drain_no_kill.md
  .serena/memories/rca_hostproxy_egress_port_schema_drift.md
  cmd/clawkerd/spawn_unix.go
  internal/hostproxy/egress_check.go
  internal/hostproxy/egress_check_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

feat(agent): add pre_run every-start container hook
  .clawker.yaml
  CLAUDE.md
  claude-plugin/clawker-support/.claude-plugin/plugin.json
  claude-plugin/clawker-support/CLAUDE.md
  claude-plugin/clawker-support/skills/clawker-support/SKILL.md
  claude-plugin/clawker-support/skills/clawker-support/reference/mcp-recipes.md
  claude-plugin/clawker-support/skills/clawker-support/reference/sample-go.yaml
  claude-plugin/clawker-support/skills/clawker-support/reference/sample-node.yaml
  cmd/clawkerd/progress.go
  docs/configuration.mdx
  docs/container-internals.mdx
  internal/cmd/container/CLAUDE.md
  internal/cmd/container/restart/restart_test.go
  internal/cmd/container/shared/CLAUDE.md
  internal/cmd/container/shared/container_start.go
  internal/cmd/container/shared/container_start_test.go
  internal/cmd/container/shared/containerfs.go
  internal/cmd/container/start/start_test.go
  internal/config/schema.go
  internal/containerfs/CLAUDE.md
  internal/containerfs/containerfs.go
  internal/containerfs/containerfs_test.go
  internal/controlplane/agent/CLAUDE.md
  internal/controlplane/agent/init.go
  internal/controlplane/agent/init_test.go
  internal/docker/mocks/helpers.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(agent): post_init attempt-once + atomic create-time resource cleanup
  .clawker.yaml
  internal/cmd/container/shared/container_create.go
  internal/cmd/container/shared/container_create_scope_test.go
  internal/cmd/container/shared/containerfs.go
  internal/containerfs/CLAUDE.md
  internal/containerfs/containerfs.go
  internal/containerfs/containerfs_test.go
  internal/controlplane/agent/init.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

test(containerfs): restore tar-header invariant assertions for hooks
  internal/containerfs/containerfs_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

feat(agent): add pre_run every-start container hook (#335)
  .clawker.yaml
  CLAUDE.md
  claude-plugin/clawker-support/.claude-plugin/plugin.json
  claude-plugin/clawker-support/CLAUDE.md
  claude-plugin/clawker-support/skills/clawker-support/SKILL.md
  claude-plugin/clawker-support/skills/clawker-support/reference/mcp-recipes.md
  claude-plugin/clawker-support/skills/clawker-support/reference/sample-go.yaml
  claude-plugin/clawker-support/skills/clawker-support/reference/sample-node.yaml
  cmd/clawkerd/progress.go
  docs/configuration.mdx
  docs/container-internals.mdx
  internal/cmd/container/CLAUDE.md
  internal/cmd/container/restart/restart_test.go
  internal/cmd/container/shared/CLAUDE.md
  internal/cmd/container/shared/container_create.go
  internal/cmd/container/shared/container_create_scope_test.go
  internal/cmd/container/shared/container_start.go
  internal/cmd/container/shared/container_start_test.go
  internal/cmd/container/shared/containerfs.go
  internal/cmd/container/start/start_test.go
  internal/config/schema.go
  internal/containerfs/CLAUDE.md
  internal/containerfs/containerfs.go
  internal/containerfs/containerfs_test.go
  internal/controlplane/agent/CLAUDE.md
  internal/controlplane/agent/init.go
  internal/controlplane/agent/init_test.go
  internal/docker/mocks/helpers.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

feat(firewall): add `refresh` to live-apply clawker.yaml egress edits (#337)
  docs/cli-reference/clawker_firewall.md
  docs/cli-reference/clawker_firewall_refresh.md
  docs/docs.json
  docs/firewall.mdx
  internal/cmd/firewall/CLAUDE.md
  internal/cmd/firewall/firewall.go
  internal/cmd/firewall/refresh.go
  internal/cmd/firewall/refresh_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

chore(docs): removed explicit clawker.yaml references
  docs/cli-reference/clawker_firewall_refresh.md
  internal/cmd/firewall/refresh.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

refactor(firewall): move egress wire↔config translation to api/admin/v1 (#338)
  .claude/docs/KEY-CONCEPTS.md
  .claude/rules/firewall-uat.md
  README.md
  api/admin/v1/conversion.go
  api/admin/v1/conversion_test.go
  claude-plugin/clawker-support/.claude-plugin/plugin.json
  claude-plugin/clawker-support/skills/clawker-support/SKILL.md
  claude-plugin/clawker-support/skills/clawker-support/reference/firewall-security.md
  claude-plugin/clawker-support/skills/clawker-support/reference/project-config.md
  claude-plugin/clawker-support/skills/clawker-support/reference/troubleshooting.md
  docs/quickstart.mdx
  docs/security.mdx
  internal/bundler/assets/clawker-agent-prompt.md
  internal/cmd/container/shared/container_start.go
  internal/cmd/firewall/CLAUDE.md
  internal/cmd/firewall/list.go
  internal/cmd/firewall/list_test.go
  internal/cmd/firewall/refresh.go
  internal/cmd/firewall/refresh_test.go
  internal/cmd/firewall/rpc.go
  internal/controlplane/firewall/CLAUDE.md
  internal/controlplane/firewall/envoy_http.go
  internal/controlplane/firewall/handler.go
  internal/controlplane/firewall/handler_test.go
  internal/controlplane/firewall/rules_store.go
  internal/controlplane/firewall/rules_store_test.go
  internal/hostproxy/egress_check.go
  internal/hostproxy/egress_check_test.go
  internal/project/CLAUDE.md
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

chore(firewall): address Copilot review on refresh PR
  README.md
  api/admin/v1/conversion.go
  internal/project/CLAUDE.md
Due: semgrep, govulncheck, go-test, claude-freshness

chore(devtools): strictly enforce Serena init per session
  .claude/hooks/serena-first.sh
  .claude/hooks/serena-session-start.sh
  .claude/settings.local.json.example
Due: none

feat(firewall): add `refresh` to live-apply clawker.yaml egress edits (#337) (#339)
  .claude/docs/KEY-CONCEPTS.md
  .claude/hooks/serena-first.sh
  .claude/hooks/serena-session-start.sh
  .claude/rules/firewall-uat.md
  .claude/settings.local.json.example
  README.md
  api/admin/v1/conversion.go
  api/admin/v1/conversion_test.go
  claude-plugin/clawker-support/.claude-plugin/plugin.json
  claude-plugin/clawker-support/skills/clawker-support/SKILL.md
  claude-plugin/clawker-support/skills/clawker-support/reference/firewall-security.md
  claude-plugin/clawker-support/skills/clawker-support/reference/project-config.md
  claude-plugin/clawker-support/skills/clawker-support/reference/troubleshooting.md
  docs/cli-reference/clawker_firewall.md
  docs/cli-reference/clawker_firewall_refresh.md
  docs/docs.json
  docs/firewall.mdx
  docs/quickstart.mdx
  docs/security.mdx
  internal/bundler/assets/clawker-agent-prompt.md
  internal/cmd/container/shared/container_start.go
  internal/cmd/firewall/CLAUDE.md
  internal/cmd/firewall/firewall.go
  internal/cmd/firewall/list.go
  internal/cmd/firewall/list_test.go
  internal/cmd/firewall/refresh.go
  internal/cmd/firewall/refresh_test.go
  internal/cmd/firewall/rpc.go
  internal/controlplane/firewall/CLAUDE.md
  internal/controlplane/firewall/envoy_http.go
  internal/controlplane/firewall/handler.go
  internal/controlplane/firewall/handler_test.go
  internal/controlplane/firewall/rules_store.go
  internal/controlplane/firewall/rules_store_test.go
  internal/hostproxy/egress_check.go
  internal/hostproxy/egress_check_test.go
  internal/project/CLAUDE.md
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(monitor): stop claude-code log drops from attributes.agent collision
  internal/monitor/templates/opensearch-bootstrap/index-templates/claude-code.json
  internal/monitor/templates/opensearch-bootstrap/ingest-pipelines/claude-code-prompt-nest.json
Due: none

fix(monitor): stop claude-code log drops from attributes.agent collision (#340)
  internal/monitor/templates/opensearch-bootstrap/index-templates/claude-code.json
  internal/monitor/templates/opensearch-bootstrap/ingest-pipelines/claude-code-prompt-nest.json
Due: none

docs(monitoring): widen rule glob + add Runtime UAT working-session guidance
  .claude/rules/monitoring.md
  internal/monitor/CLAUDE.md
Due: none

Path conditions:
  semgrep: any of: \.go$
  govulncheck: any of: \.go$
  go-test: any of: \.go$
  docs-check: any of: ^(cmd/|internal/cmd/|internal/docs/)
  licenses-check: any of: ^go\.(mod|sum)$
  claude-freshness: any of: \.go$
