Repository schmitthub/clawker: changes, and which pre-commit hooks are due for each by the changed paths.
All: semgrep, govulncheck, go-test, docs-check, licenses-check, claude-freshness

semgrep:
  name: Semgrep SAST
  entry: semgrep scan --baseline-commit HEAD --config p/golang --config p/security-audit --error
  language: system
  pass_filenames: false

govulncheck:
  name: govulncheck SCA
  entry: govulncheck ./...
  language: system
  pass_filenames: false

go-test:
  name: Unit tests
  entry: make test
  language: system
  pass_filenames: false

docs-check:
  name: CLI docs freshness
  entry: make docs-check
  language: system
  pass_filenames: false

licenses-check:
  name: NOTICE freshness
  entry: make licenses-check
  language: system
  pass_filenames: false

claude-freshness:
  name: Claude doc freshness (advisory)
  entry: bash -c 'bash scripts/check-claude-freshness.sh --strict --non-interactive --no-color | head -50 || true'
  language: system
  pass_filenames: false
  verbose: true

feat(controlplane): AgentService handler with PKCE + label cross-check at Register
  .serena/memories/cp-initiative-branch-4-clawkerd-auth-plan.md
  cmd/clawker-cp/main.go
  internal/controlplane/agent/CLAUDE.md
  internal/controlplane/agent/handler.go
  internal/controlplane/agent/handler_test.go
  internal/controlplane/agent/mocks/inspector_mock.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

feat(controlplane): ListAgents RPC + clawker controlplane agents CLI
  .serena/memories/cp-initiative-branch-4-clawkerd-auth-plan.md
  api/admin/v1/admin.go
  api/admin/v1/admin.pb.go
  api/admin/v1/admin.proto
  api/admin/v1/admin_grpc.pb.go
  api/proto_structure_test.go
  cmd/clawker-cp/main.go
  docs/cli-reference/clawker_controlplane.md
  docs/cli-reference/clawker_controlplane_agents.md
  internal/cmd/controlplane/agents.go
  internal/cmd/controlplane/agents_test.go
  internal/cmd/controlplane/controlplane.go
  internal/controlplane/mocks/admin_client_mock.go
  internal/controlplane/server.go
  internal/controlplane/server_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

feat(controlplane): agent gRPC interceptor with cert thumbprint binding
  .serena/memories/cp-initiative-branch-4-clawkerd-auth-plan.md
  cmd/clawker-cp/main.go
  internal/controlplane/agent_method_scopes.go
  internal/controlplane/agent_method_scopes_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

feat(clawkerd): per-container agent daemon with PKCE register
  .serena/memories/cp-initiative-branch-4-clawkerd-auth-plan.md
  cmd/clawkerd/CLAUDE.md
  cmd/clawkerd/bootstrap_test.go
  cmd/clawkerd/interceptor.go
  cmd/clawkerd/main.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

feat(bundler): bake clawkerd binary into agent images, launch from entrypoint
  .gitignore
  .serena/memories/cp-initiative-branch-4-clawkerd-auth-plan.md
  Makefile
  claude-plugin/clawker-support/skills/clawker-support/reference/Dockerfile.tmpl
  internal/bundler/assets/Dockerfile.tmpl
  internal/bundler/assets/entrypoint.sh
  internal/bundler/dockerfile.go
  internal/clawkerd/embed.go
Due: semgrep, govulncheck, go-test, claude-freshness

test(e2e): clawkerd register happy path + adversarial coverage
  .serena/memories/cp-initiative-branch-4-clawkerd-auth-plan.md
  test/e2e/clawkerd_failures_test.go
  test/e2e/clawkerd_register_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

docs: refresh internal docs for Branch 4 (clawkerd) rollout
  .claude/docs/ARCHITECTURE.md
  .claude/docs/KEY-CONCEPTS.md
  .serena/memories/cp-initiative-branch-4-clawkerd-auth-plan.md
  .serena/memories/cp-initiative-status.md
Due: none

fix(agentregistry): recover from panics in Subscribe consumer
  cmd/clawker-cp/main.go
  internal/controlplane/agentregistry/subscribe.go
  internal/controlplane/agentregistry/subscribe_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(controlplane): pin agent client_id, harden close+errors handling
  cmd/clawker-cp/main.go
  cmd/clawkerd/main.go
  internal/controlplane/authz.go
  internal/controlplane/authz_test.go
  internal/controlplane/server.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

test(controlplane): mTLS rejection coverage for agent listener
  internal/controlplane/grpc_mtls_agent_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

docs: refresh Branch 4 docs and surface entrypoint silent-skip
  .claude/docs/ARCHITECTURE.md
  cmd/clawkerd/CLAUDE.md
  internal/bundler/assets/entrypoint.sh
  internal/controlplane/CLAUDE.md
Due: docs-check

fix(auth,agent,agentslots): tighten secret hygiene + invariants
  internal/auth/agent_assertion_test.go
  internal/auth/agent_cert.go
  internal/auth/agent_cert_test.go
  internal/cmd/container/shared/agent_bootstrap.go
  internal/cmd/container/shared/agent_bootstrap_test.go
  internal/consts/consts.go
  internal/controlplane/agent/handler.go
  internal/controlplane/agent/handler_test.go
  internal/controlplane/agentregistry/registry.go
  internal/controlplane/agentregistry/registry_test.go
  internal/controlplane/agentslots/registry.go
  internal/controlplane/agentslots/registry_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

docs: clarify CP is not the firewall + scope mintlify rule
  .claude/docs/ARCHITECTURE.md
  .claude/docs/DESIGN.md
  .claude/docs/KEY-CONCEPTS.md
  .claude/rules/mintlify-docs.md
  .serena/memories/project-overview.md
  CLAUDE.md
Due: none

docs(controlplane): finalize Branch 4 follow-up spec + track restart resilience
  .serena/memories/cp-initiative-branch-2-firewall-migration-plan.md
  .serena/memories/cp-initiative-branch-4-clawkerd-auth-plan.md
  .serena/memories/cp-initiative-branch-4-followup-spec.md
  .serena/memories/cp-initiative-cp-restart-resilience.md
  .serena/memories/cp-initiative-status.md
Due: none

docs(controlplane): convert B4 follow-up spec into a tracked initiative doc
  .serena/memories/cp-initiative-branch-4-followup-spec.md
  .serena/memories/cp-initiative-clawkerd-cli-integration.md
  .serena/memories/cp-initiative-status.md
Due: none

feat(agent/v1): rename Register → Connect (server-streaming) + stub Events
  .serena/memories/cp-initiative-clawkerd-cli-integration.md
  api/agent/v1/agent.go
  api/agent/v1/agent.pb.go
  api/agent/v1/agent.proto
  api/agent/v1/agent_grpc.pb.go
  api/proto_structure_test.go
  internal/consts/consts.go
  internal/controlplane/agent_method_scopes.go
  internal/controlplane/agent_method_scopes_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

refactor(agentslots): composite key + EvictByContainerID + dockerevents Subscribe
  .serena/memories/cp-initiative-clawkerd-cli-integration.md
  internal/controlplane/agentslots/mocks/registry_mock.go
  internal/controlplane/agentslots/registry.go
  internal/controlplane/agentslots/registry_test.go
  internal/controlplane/agentslots/subscribe.go
  internal/controlplane/agentslots/subscribe_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

refactor(agent): Connect server-streaming + CN cross-check + composite Consume
  .serena/memories/cp-initiative-clawkerd-cli-integration.md
  internal/controlplane/agent/handler.go
  internal/controlplane/agent/handler_test.go
  internal/controlplane/grpc_mtls_agent_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

feat(controlplane): implement AdminService.AnnounceAgent handler
  .serena/memories/cp-initiative-clawkerd-cli-integration.md
  cmd/clawker-cp/main.go
  internal/controlplane/server.go
  internal/controlplane/server_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

feat(agent): identity interceptor with fail-secure opt-out map
  .serena/memories/cp-initiative-clawkerd-cli-integration.md
  internal/controlplane/agent/identity_interceptor.go
  internal/controlplane/agent/identity_interceptor_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

feat(controlplane): wire identity interceptor + slot registry dockerevents subscription
  .serena/memories/cp-initiative-clawkerd-cli-integration.md
  cmd/clawker-cp/main.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

refactor(clawkerd): consume Connect server-stream
  .gitignore
  .serena/memories/cp-initiative-clawkerd-cli-integration.md
  cmd/clawkerd/CLAUDE.md
  cmd/clawkerd/interceptor.go
  cmd/clawkerd/main.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

feat(container): wire AnnounceAgent + bootstrap delivery into run/start
  .serena/memories/cp-initiative-clawkerd-cli-integration.md
  internal/cmd/container/run/run.go
  internal/cmd/container/run/run_test.go
  internal/cmd/container/shared/container_create.go
  internal/cmd/container/shared/container_start.go
  internal/cmd/container/shared/container_start_test.go
  internal/cmd/loop/shared/lifecycle.go
  internal/controlplane/agent/handler.go
  internal/controlplane/agentslots/subscribe_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

docs(controlplane,agent,agentslots): refresh for end-to-end CLI integration
  .claude/docs/KEY-CONCEPTS.md
  .serena/memories/cp-initiative-clawkerd-cli-integration.md
  .serena/memories/cp-initiative-status.md
  internal/controlplane/CLAUDE.md
  internal/controlplane/agent/CLAUDE.md
  internal/controlplane/agentslots/CLAUDE.md
Due: none

docs(cp): track e2e adversarial harness as a focused initiative
  .serena/memories/cp-initiative-e2e-adversarial-harness.md
  .serena/memories/cp-initiative-status.md
Due: none

fix(container): use Hydra self-issuer (127.0.0.1) for agent assertion audience
  internal/cmd/container/shared/container_start.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

docs: correct firewall master-switch path (settings.yaml, not security.firewall.enable)
  .claude/docs/ARCHITECTURE.md
  .claude/docs/DESIGN.md
  .claude/docs/KEY-CONCEPTS.md
  .serena/memories/cp-initiative-clawkerd-cli-integration.md
  .serena/memories/cp-initiative-status.md
  .serena/memories/project-overview.md
  CLAUDE.md
  internal/cmd/container/shared/container_start.go
  internal/storage/store.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

refactor(env): drop redundant CLAWKER_AGENT_NAME, reuse CLAWKER_AGENT
  cmd/clawkerd/main.go
  internal/cmd/container/shared/container_create.go
  internal/consts/consts.go
  internal/docker/env.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

feat: composite agent identity (thumbprint, agent_name, project) + canonical cert CN
  .claude/docs/KEY-CONCEPTS.md
  api/admin/v1/admin.pb.go
  api/admin/v1/admin.proto
  api/agent/v1/agent.pb.go
  api/agent/v1/agent.proto
  internal/auth/agent_cert.go
  internal/auth/agent_cert_test.go
  internal/cmd/container/run/run.go
  internal/cmd/container/shared/CLAUDE.md
  internal/cmd/container/shared/agent_bootstrap.go
  internal/cmd/container/shared/agent_bootstrap_test.go
  internal/cmd/container/shared/container_start.go
  internal/cmd/container/shared/container_start_test.go
  internal/cmd/loop/shared/lifecycle.go
  internal/consts/consts.go
  internal/controlplane/agent/CLAUDE.md
  internal/controlplane/agent/handler.go
  internal/controlplane/agent/handler_test.go
  internal/controlplane/agent/identity_interceptor.go
  internal/controlplane/agent/identity_interceptor_test.go
  internal/controlplane/agentregistry/mocks/registry_mock.go
  internal/controlplane/agentregistry/registry.go
  internal/controlplane/agentregistry/registry_test.go
  internal/controlplane/agentregistry/subscribe_test.go
  internal/controlplane/agentslots/CLAUDE.md
  internal/controlplane/agentslots/mocks/registry_mock.go
  internal/controlplane/agentslots/registry.go
  internal/controlplane/agentslots/registry_test.go
  internal/controlplane/agentslots/subscribe_test.go
  internal/controlplane/server.go
  internal/controlplane/server_test.go
  internal/docker/names.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

feat(clawkerd): file logging via internal/logger + CLAWKER_PROJECT wiring
  CLAUDE.md
  cmd/clawkerd/CLAUDE.md
  cmd/clawkerd/main.go
  internal/logger/CLAUDE.md
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

docs: initiative update
  .serena/memories/cp-initiative-clawkerd-identity-and-logging.md
  .serena/memories/cp-initiative-e2e-adversarial-harness.md
  .serena/memories/cp-initiative-status.md
  .serena/memories/outstanding-features.md
Due: none

fix(pr-review): address remaining findings from second review pass
  .claude/docs/ARCHITECTURE.md
  .claude/docs/DESIGN.md
  .claude/docs/KEY-CONCEPTS.md
  Makefile
  api/agent/v1/agent.pb.go
  api/agent/v1/agent.proto
  api/proto_structure_test.go
  cmd/clawkerd/CLAUDE.md
  cmd/clawkerd/exchange_assertion_test.go
  cmd/clawkerd/interceptor_test.go
  cmd/clawkerd/main.go
  internal/auth/CLAUDE.md
  internal/auth/agent_cert.go
  internal/auth/identity_test.go
  internal/bundler/assets/entrypoint.sh
  internal/cmd/container/shared/CLAUDE.md
  internal/consts/consts.go
  internal/controlplane/agent/handler.go
  internal/controlplane/agent/identity_interceptor.go
  internal/controlplane/agentregistry/mocks/registry_mock.go
  internal/controlplane/agentregistry/registry.go
  internal/controlplane/agentregistry/registry_test.go
  internal/controlplane/agentregistry/subscribe_test.go
  internal/controlplane/agentslots/registry.go
  internal/controlplane/agentslots/registry_test.go
  internal/controlplane/hydra_client_test.go
  internal/controlplane/server.go
  internal/controlplane/server_test.go
  internal/logger/CLAUDE.md
  test/e2e/clawkerd_failures_test.go
  test/e2e/clawkerd_register_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

docs(test/e2e): refresh clawkerd_register_test header — wiring landed
  test/e2e/clawkerd_register_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix(ci): build clawkerd-binary before cp-binary (cyclic embed dep)
  .github/actions/build-controlplane-binaries/action.yml
  Makefile
Due: none

fix(pr-review): address Copilot review findings on PR #264
  cmd/clawkerd/CLAUDE.md
  internal/bundler/assets/entrypoint.sh
  internal/controlplane/authz_test.go
  test/e2e/clawkerd_register_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

docs(bugs): track Loki ingester wedge on Docker disk-full
  .serena/memories/bug-tracker.md
Due: none

fix(agentregistry): sort Snapshot by (Project, AgentName)
  internal/controlplane/agentregistry/registry.go
  internal/controlplane/agentregistry/registry_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

perf(bundler): avoid double copy of clawkerd binary in script tables
  internal/bundler/dockerfile.go
Due: semgrep, govulncheck, go-test, claude-freshness

Path conditions:
  semgrep: any of: \.go$
  govulncheck: any of: \.go$
  go-test: any of: \.go$
  docs-check: any of: ^(cmd/|internal/cmd/|internal/docs/)
  licenses-check: any of: ^go\.(mod|sum)$
  claude-freshness: any of: \.go$
