Repository schmitthub/clawker: changes, and which pre-commit hooks are due for each by the changed paths.
All: semgrep, govulncheck, go-test, docs-check, licenses-check, claude-freshness

.pre-commit-config.yaml:

# Pre-commit hooks — mirrors CI quality gates locally.
# Install: bash scripts/install-hooks.sh
# Run all: pre-commit run --all-files
# Run one: pre-commit run gitleaks --all-files

repos:
  # ── Security ──────────────────────────────────────────────────────────────
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.30.0
    hooks:
      - id: gitleaks
        args: [--baseline-path, gitleaks-report.json]

  # ── Lint ──────────────────────────────────────────────────────────────────
  - repo: https://github.com/golangci/golangci-lint
    rev: v2.9.0
    hooks:
      - id: golangci-lint-full
        args: [--config, .golangci.yml]

  # ── Local hooks ───────────────────────────────────────────────────────────
  - repo: local
    hooks:
      - id: semgrep
        name: Semgrep SAST
        # Expected version: 1.146.0 (must match CI image tag in security.yml)
        entry: semgrep scan --baseline-commit HEAD --config p/golang --config p/security-audit --error
        language: system
        types: [go]
        pass_filenames: false

      - id: govulncheck
        name: govulncheck SCA
        entry: govulncheck ./...
        language: system
        types: [go]
        pass_filenames: false

      - id: go-test
        name: Unit tests
        entry: make test
        language: system
        types: [go]
        pass_filenames: false

      - id: docs-check
        name: CLI docs freshness
        entry: make docs-check
        language: system
        files: ^(cmd/|internal/cmd/|internal/docs/)
        pass_filenames: false

      - id: licenses-check
        name: NOTICE freshness
        entry: make licenses-check
        language: system
        files: ^go\.(mod|sum)$
        pass_filenames: false

      - id: claude-freshness
        name: Claude doc freshness (advisory)
        entry: bash -c 'bash scripts/check-claude-freshness.sh --strict --non-interactive --no-color | head -50 || true'
        language: system
        files: \.go$
        pass_filenames: false
        verbose: true

docs(spec): detailed oracle+golden+concurrent test patterns
  docs/superpowers/specs/2026-03-17-envoy-coredns-firewall-design.md
Due: none

docs(spec): no unit tests — golden files + e2e only
  docs/superpowers/specs/2026-03-17-envoy-coredns-firewall-design.md
Due: none

feat(config): add EgressRule/PathRule types, NormalizeRules(), *bool Enable
  internal/bundler/firewall_test.go
  internal/cmd/container/shared/init_test.go
  internal/config/config.go
  internal/config/config_test.go
  internal/config/consts.go
  internal/config/defaults.go
  internal/config/mocks/config_mock.go
  internal/config/mocks/stubs.go
  internal/config/schema.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

feat(firewall): add FirewallManager interface, config generators, CA/cert management
  internal/firewall/CLAUDE.md
  internal/firewall/certs.go
  internal/firewall/certs_test.go
  internal/firewall/coredns.go
  internal/firewall/coredns_test.go
  internal/firewall/envoy.go
  internal/firewall/envoy_test.go
  internal/firewall/firewall.go
  internal/firewall/firewalltest/mock_manager.go
  internal/firewall/testdata/corefile_basic.golden
  internal/firewall/testdata/envoy_mitm.golden
  internal/firewall/testdata/envoy_mixed.golden
  internal/firewall/testdata/envoy_passthrough.golden
  internal/firewall/types.go
Due: semgrep, govulncheck, go-test, claude-freshness

feat(firewall): rule state management with storage.Store and flock
  internal/firewall/rules.go
  internal/firewall/rules_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

feat(firewall): DockerFirewallManager implementation
  internal/docker/types.go
  internal/firewall/manager.go
  internal/firewall/network.go
  pkg/whail/types.go
Due: semgrep, govulncheck, go-test, claude-freshness

feat(firewall): wire Factory noun + container creation integration
  internal/cmd/container/create/create.go
  internal/cmd/container/run/run.go
  internal/cmd/container/shared/container.go
  internal/cmd/container/shared/init_test.go
  internal/cmd/factory/default.go
  internal/cmd/loop/iterate/iterate.go
  internal/cmd/loop/shared/lifecycle.go
  internal/cmd/loop/tasks/tasks.go
  internal/cmdutil/factory.go
  internal/docker/env.go
  internal/docker/env_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

feat(firewall): bundler, CLI commands, bypass, hostproxy lifecycle
  docs/cli-reference/clawker.md
  docs/cli-reference/clawker_firewall.md
  docs/cli-reference/clawker_firewall_add.md
  docs/cli-reference/clawker_firewall_bypass.md
  docs/cli-reference/clawker_firewall_disable.md
  docs/cli-reference/clawker_firewall_enable.md
  docs/cli-reference/clawker_firewall_list.md
  docs/cli-reference/clawker_firewall_reload.md
  docs/cli-reference/clawker_firewall_remove.md
  docs/cli-reference/clawker_firewall_rotate-ca.md
  docs/cli-reference/clawker_firewall_status.md
  internal/bundler/assets/Dockerfile.tmpl
  internal/bundler/assets/clawker-agent-prompt.md
  internal/bundler/assets/entrypoint.sh
  internal/bundler/assets/init-firewall.sh
  internal/bundler/dockerfile.go
  internal/cmd/firewall/add.go
  internal/cmd/firewall/bypass.go
  internal/cmd/firewall/disable.go
  internal/cmd/firewall/enable.go
  internal/cmd/firewall/firewall.go
  internal/cmd/firewall/list.go
  internal/cmd/firewall/reload.go
  internal/cmd/firewall/remove.go
  internal/cmd/firewall/rotate_ca.go
  internal/cmd/firewall/status.go
  internal/cmd/root/root.go
  internal/firewall/manager.go
  internal/hostproxy/daemon.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

docs(firewall): dedicated firewall guide, architecture overhaul, audit fixes
  .claude/docs/ARCHITECTURE.md
  .claude/docs/DESIGN.md
  .claude/rules/dependency-placement.md
  .claude/rules/docker-client.md
  .claude/rules/hostproxy.md
  CLAUDE.md
  README.md
  docs/configuration.mdx
  docs/docs.json
  docs/firewall.mdx
  docs/security.mdx
  internal/cmd/container/shared/CLAUDE.md
  internal/cmd/factory/CLAUDE.md
  internal/cmd/firewall/CLAUDE.md
  internal/cmdutil/CLAUDE.md
  internal/config/CLAUDE.md
  internal/docker/CLAUDE.md
  internal/firewall/CLAUDE.md
  internal/testenv/CLAUDE.md
  pkg/whail/CLAUDE.md
  test/CLAUDE.md
Due: docs-check

fix: bypass script
  internal/bundler/assets/Dockerfile.tmpl
  internal/bundler/assets/clawker-agent-prompt.md
  internal/bundler/assets/firewall-bypass.sh
  internal/bundler/dockerfile.go
  internal/cmd/firewall/bypass.go
  internal/firewall/manager.go
  test/e2e/firewall_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(firewall): use raw moby client for daemon and manager to prevent jailed container view
  .serena/memories/firewall-daemon-and-e2e-tests.md
  .serena/memories/firewall-egress-stack-e2e-bugs.md
  internal/cmd/factory/default.go
  internal/firewall/daemon.go
  internal/firewall/manager.go
  internal/firewall/network.go
  internal/firewall/rules_test.go
  internal/hostproxy/daemon.go
  test/e2e/harness/factory.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

docs(firewall): update CLAUDE.md for raw moby client change
  internal/firewall/CLAUDE.md
Due: none

docs: update bug tracker
  .serena/memories/firewall-egress-stack-e2e-bugs.md
Due: none

fix: firewall service startup issues
  .serena/memories/firewall-egress-stack-e2e-bugs.md
  README.md
  internal/config/config.go
  internal/config/consts.go
  internal/config/mocks/config_mock.go
  internal/config/mocks/stubs.go
  internal/firewall/coredns.go
  internal/firewall/coredns_test.go
  internal/firewall/daemon.go
  internal/firewall/envoy.go
  internal/firewall/manager.go
  internal/firewall/network.go
  test/e2e/harness/harness.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix: daemon logging, label filtering, and purpose label unification
  .clawker.yaml
  .serena/memories/firewall-egress-stack-e2e-bugs.md
  CLAUDE.md
  internal/cmd/container/shared/container.go
  internal/cmd/firewall/up.go
  internal/cmd/hostproxy/serve.go
  internal/config/config.go
  internal/config/consts.go
  internal/config/defaults.go
  internal/config/mocks/config_mock.go
  internal/config/mocks/stubs.go
  internal/docker/labels.go
  internal/firewall/daemon.go
  internal/firewall/manager.go
  internal/hostproxy/daemon.go
  internal/logger/logger.go
  internal/monitor/templates/compose.yaml.tmpl
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix: firewall bypass and uid-targeted iptables rules
  .serena/memories/firewall-egress-stack-e2e-bugs.md
  internal/bundler/assets/firewall-bypass.sh
  internal/bundler/assets/init-firewall.sh
  internal/cmd/container/shared/container.go
  test/e2e/firewall_test.go
  test/e2e/harness/harness.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix: write CA certs into certsDir instead of alongside it
  .serena/memories/firewall-egress-stack-e2e-bugs.md
  internal/firewall/certs.go
  internal/firewall/certs_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

docs: rewrite in-container agent prompt with full firewall guidance
  internal/bundler/assets/clawker-agent-prompt.md
Due: none

chore: updated bug tracker
  .serena/memories/firewall-egress-stack-e2e-bugs.md
Due: none

feat: interactive bypass TUI with proxy log streaming
  .serena/memories/firewall-egress-stack-e2e-bugs.md
  docs/cli-reference/clawker_firewall_bypass.md
  internal/bundler/assets/clawker-agent-prompt.md
  internal/bundler/assets/firewall-bypass.sh
  internal/cmd/firewall/bypass.go
  internal/cmd/firewall/bypass_dash.go
  internal/firewall/firewall.go
  internal/firewall/manager.go
  internal/firewall/mocks/manager_mock.go
  internal/tui/components.go
  test/e2e/firewall_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix: TCP firewall rules, port normalization, and CLI rule sync
  .serena/memories/firewall-egress-stack-e2e-bugs.md
  internal/bundler/assets/init-firewall.sh
  internal/cmd/container/shared/container.go
  internal/docker/env.go
  internal/firewall/envoy.go
  internal/firewall/firewall.go
  internal/firewall/manager.go
  internal/firewall/rules.go
  test/e2e/firewall_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix: firewall intra-network bypass and host proxy passthrough
  .serena/memories/firewall-egress-stack-e2e-bugs.md
  internal/bundler/assets/init-firewall.sh
  test/e2e/firewall_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

docs: bug tracker
  .serena/memories/firewall-egress-stack-e2e-bugs.md
Due: none

refactor: consolidate firewall scripts and simplify bypass to iptables toggle
  docs/cli-reference/clawker_firewall_bypass.md
  internal/bundler/assets/Dockerfile.tmpl
  internal/bundler/assets/clawker-agent-prompt.md
  internal/bundler/assets/entrypoint.sh
  internal/bundler/assets/firewall-bypass.sh
  internal/bundler/assets/init-firewall.sh
  internal/bundler/build_test.go
  internal/bundler/dockerfile.go
  internal/cmd/container/shared/container_create.go
  internal/cmd/firewall/bypass.go
  internal/cmd/firewall/bypass_dash.go
  internal/docker/env.go
  internal/firewall/CLAUDE.md
  internal/firewall/envoy.go
  internal/firewall/firewall.go
  internal/firewall/manager.go
  internal/firewall/mocks/manager_mock.go
  test/e2e/firewall_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix: socketbridge race. needs to be done after container start
  internal/cmd/bridge/bridge.go
  internal/cmd/container/restart/restart.go
  internal/cmd/container/shared/container_start.go
  internal/cmd/container/shared/container_start_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix: wire container name resolution in firewall enable/disable commands
  .serena/memories/brainstorm_shared-container-start-migration.md
  .serena/memories/firewall-egress-stack-e2e-bugs.md
  internal/cmd/firewall/disable.go
  internal/cmd/firewall/enable.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix: moved daemon start to serve so that firewall up isn't blocking
  .serena/memories/firewall-egress-stack-e2e-bugs.md
  docs/cli-reference/clawker_firewall.md
  docs/cli-reference/clawker_firewall_up.md
  internal/cmd/firewall/firewall.go
  internal/cmd/firewall/up.go
  internal/cmd/firewall/up_test.go
  internal/firewall/daemon.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix: CA cert path, OAuth callback IPv6 fallback, firewall hardening, and docs alignment
  .devcontainer/Dockerfile
  .devcontainer/claude-settings.json
  .devcontainer/devcontainer.json
  .devcontainer/init-firewall.sh
  .devcontainer/statusline.sh
  .serena/memories/firewall-egress-stack-e2e-bugs.md
  docs/configuration.mdx
  docs/firewall.mdx
  internal/bundler/assets/firewall.sh
  internal/bundler/dockerfile.go
  internal/cmd/container/shared/init_test.go
  internal/config/config_test.go
  internal/config/defaults.go
  internal/firewall/certs.go
  internal/firewall/coredns.go
  internal/firewall/envoy.go
  internal/firewall/network.go
  internal/firewall/rules_test.go
  internal/hostproxy/internals/cmd/callback-forwarder/main.go
  internal/hostproxy/internals/cmd/callback-forwarder/main_test.go
  internal/hostproxy/internals/host-open.sh
  internal/hostproxy/server.go
  internal/hostproxy/server_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix: removed unused helper
  internal/hostproxy/internals/host-open.sh
Due: none

fix: remove dante and proxychains from container image
  .claude/docs/DESIGN.md
  .serena/memories/firewall-egress-stack-e2e-bugs.md
  docs/firewall.mdx
  internal/bundler/assets/Dockerfile.tmpl
  test/e2e/firewall_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix: preserve Docker internal DNS when firewall is enabled
  .clawker.yaml
  .serena/memories/firewall-egress-stack-e2e-bugs.md
  README.md
  docs/firewall.mdx
  internal/bundler/assets/entrypoint.sh
  internal/bundler/assets/firewall.sh
  internal/cmd/container/shared/container_create.go
  internal/cmd/container/shared/container_start.go
  internal/docker/env.go
  internal/docker/env_test.go
  internal/firewall/CLAUDE.md
  internal/firewall/coredns.go
  internal/firewall/envoy.go
  internal/firewall/envoy_test.go
  internal/firewall/manager.go
  internal/firewall/testdata/corefile_basic.golden
  test/e2e/firewall_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix: added better defaults
  internal/config/defaults.go
Due: semgrep, govulncheck, go-test, claude-freshness

feat: add HTTP listener to Envoy for plain HTTP domain detection
  .serena/memories/firewall-egress-stack-e2e-bugs.md
  internal/config/config.go
  internal/config/consts.go
  internal/config/mocks/config_mock.go
  internal/config/mocks/stubs.go
  internal/firewall/envoy.go
  internal/firewall/envoy_test.go
  internal/firewall/manager.go
  internal/firewall/rules.go
  test/e2e/firewall_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

feat: add path rules e2e tests and auto-generate CA cert at build time
  .serena/memories/firewall-egress-stack-e2e-bugs.md
  docs/firewall.mdx
  internal/bundler/dockerfile.go
  internal/cmd/firewall/rotate_ca.go
  internal/config/config.go
  internal/config/consts.go
  internal/config/mocks/config_mock.go
  internal/config/mocks/stubs.go
  internal/firewall/certs.go
  internal/firewall/certs_test.go
  internal/firewall/manager.go
  test/CLAUDE.md
  test/e2e/firewall_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

docs: comprehensive documentation audit and staleness fixes
  .claude/docs/ARCHITECTURE.md
  .claude/docs/DESIGN.md
  .claude/docs/TESTING-REFERENCE.md
  .claude/rules/tui.md
  .serena/memories/firewall-egress-stack-e2e-bugs.md
  .serena/memories/initiative_envoy-coredns-firewall.md
  CLAUDE.md
  internal/cmd/bridge/CLAUDE.md
  internal/cmd/container/CLAUDE.md
  internal/cmd/container/shared/CLAUDE.md
  internal/cmd/container/start/CLAUDE.md
  internal/cmd/firewall/CLAUDE.md
  internal/firewall/CLAUDE.md
  internal/hostproxy/internals/CLAUDE.md
  test/CLAUDE.md
Due: docs-check

refactor: move firewall bootstrap to PostStart, remove Firewall from CreateContainer
  internal/cmd/container/create/create.go
  internal/cmd/container/restart/restart.go
  internal/cmd/container/restart/restart_test.go
  internal/cmd/container/run/run.go
  internal/cmd/container/run/run_test.go
  internal/cmd/container/shared/container_create.go
  internal/cmd/container/shared/container_start.go
  internal/cmd/container/shared/init_test.go
  internal/cmd/container/start/start.go
  internal/cmd/container/start/start_test.go
  internal/cmd/loop/shared/lifecycle.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix: resolve Copilot review findings — network label, logger fallback, output streams
  internal/cmd/factory/CLAUDE.md
  internal/cmd/factory/default.go
  internal/cmd/firewall/list.go
  internal/cmd/firewall/rotate_ca.go
  internal/cmd/firewall/up.go
  internal/config/defaults.go
  internal/firewall/manager.go
  internal/firewall/network.go
  internal/firewall/rules.go
  internal/firewall/rules_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness
