Repository schmitthub/clawker: changes, and which pre-commit hooks are due for each by the changed paths.
All: semgrep, govulncheck, go-test, docs-check, licenses-check, claude-freshness

semgrep:
  name: Semgrep SAST
  entry: semgrep scan --baseline-commit HEAD --config p/golang --config p/security-audit --error
  language: system
  pass_filenames: false

govulncheck:
  name: govulncheck SCA
  entry: govulncheck ./...
  language: system
  pass_filenames: false

go-test:
  name: Unit tests
  entry: make test
  language: system
  pass_filenames: false

docs-check:
  name: CLI docs freshness
  entry: make docs-check
  language: system
  pass_filenames: false

licenses-check:
  name: NOTICE freshness
  entry: make licenses-check
  language: system
  pass_filenames: false

claude-freshness:
  name: Claude doc freshness (advisory)
  entry: bash -c 'bash scripts/check-claude-freshness.sh --strict --non-interactive --no-color | head -50 || true'
  language: system
  pass_filenames: false
  verbose: true

feat: add `clawker auth rotate` command, rewrite stale CLAUDE.md docs
  CLAUDE.md
  docs/cli-reference/clawker.md
  docs/cli-reference/clawker_auth.md
  docs/cli-reference/clawker_auth_rotate.md
  internal/auth/auth_material.go
  internal/auth/auth_test.go
  internal/cmd/auth/auth.go
  internal/cmd/auth/rotate.go
  internal/cmd/auth/rotate_test.go
  internal/cmd/root/CLAUDE.md
  internal/cmd/root/root.go
  internal/controlplane/CLAUDE.md
  internal/firewall/CLAUDE.md
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

refactor: rename CP image tag to clawker-controlplane, fix stale refs
  .claude/docs/ARCHITECTURE.md
  .correctless/AGENT_CONTEXT.md
  .correctless/artifacts/workflow-state-feat-control-plane-815212.json
  .correctless/specs/cp-initiative/branch-1-cp-service.md
  .correctless/verification/control-plane-initiative-verification.md
  Makefile
  internal/consts/consts.go
  internal/firewall/manager.go
Due: semgrep, govulncheck, go-test, claude-freshness

feat: add mTLS for gRPC AdminService between CLI and control plane
  cmd/clawker-cp/main.go
  docs/cli-reference/clawker_auth_rotate.md
  internal/auth/auth_material.go
  internal/auth/auth_test.go
  internal/auth/cp_dial.go
  internal/cmd/auth/rotate.go
  internal/consts/consts.go
  internal/controlplane/CLAUDE.md
  internal/controlplane/container_config_test.go
  internal/controlplane/grpc_mtls_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix: correct subprocess name in Hydra admin health check
  cmd/clawker-cp/main.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

chore: increased startup time for cp
  internal/firewall/manager.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix: address PR review — security, reliability, error handling, tests
  api/admin/v1/admin.proto
  cmd/clawker-cp/main.go
  internal/auth/auth_material.go
  internal/auth/cp_dial.go
  internal/consts/consts.go
  internal/controlplane/CLAUDE.md
  internal/controlplane/admin_handler.go
  internal/controlplane/admin_handler_test.go
  internal/controlplane/authz.go
  internal/controlplane/authz_test.go
  internal/controlplane/ebpf/CLAUDE.md
  internal/controlplane/ebpf/manager.go
  internal/controlplane/ebpf/types.go
  internal/controlplane/hydra_client.go
  internal/controlplane/mocks/mock_server.go
  internal/controlplane/ory_configs.go
  internal/controlplane/registry.go
  internal/controlplane/registry_test.go
  internal/controlplane/server.go
  internal/controlplane/startup.go
  internal/controlplane/subprocess.go
  internal/firewall/manager.go
  internal/firewall/manager_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix: address Copilot + CodeQL review findings on PR #250
  Dockerfile.controlplane
  internal/auth/cp_dial.go
  internal/cmd/firewall/bypass.go
  internal/consts/consts.go
  internal/controlplane/ebpf/cmd/CLAUDE.md
  internal/controlplane/ebpf/manager.go
  internal/controlplane/hydra_client_test.go
  internal/controlplane/startup.go
  internal/controlplane/subprocess.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix: sanitize env-sourced paths with filepath.Clean for CodeQL path-injection
  internal/cmd/container/shared/agentenv.go
  internal/cmd/container/shared/container_create.go
  internal/containerfs/containerfs.go
  internal/docker/volume.go
  internal/hostproxy/internals/cmd/clawker-socket-server/main.go
  internal/storage/resolver.go
  internal/update/update.go
  internal/workspace/gitconfig.go
  test/adversarial/attacker-server/main.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

Revert "fix: sanitize env-sourced paths with filepath.Clean for CodeQL path-injection"
  internal/cmd/container/shared/agentenv.go
  internal/cmd/container/shared/container_create.go
  internal/containerfs/containerfs.go
  internal/docker/volume.go
  internal/hostproxy/internals/cmd/clawker-socket-server/main.go
  internal/storage/resolver.go
  internal/update/update.go
  internal/workspace/gitconfig.go
  test/adversarial/attacker-server/main.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

revert: remove ineffective filepath.Clean sanitization for CodeQL path-injection
  internal/consts/consts.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix: address Copilot review — scope check, crash suppression, health timeout, error diagnostics
  cmd/clawker-cp/main.go
  internal/controlplane/authz.go
  internal/controlplane/subprocess.go
  internal/controlplane/subprocess_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

chore: only run dep review on pr
  .github/workflows/main.yml
  .github/workflows/pr.yml
  .github/workflows/security.yml
Due: none

chore: include protoc gen go in clawker image
  .clawker.yaml
Due: none

fix: address PR review — CgroupParent bug, bypass timer leak, security hardening
  api/admin/v1/admin.pb.go
  api/admin/v1/admin.proto
  api/admin/v1/admin_grpc.pb.go
  api/agent/v1/agent.pb.go
  api/agent/v1/agent_grpc.pb.go
  cmd/clawker-cp/main.go
  internal/clawkerd/protocol/v1/agent.pb.go
  internal/clawkerd/protocol/v1/agent_grpc.pb.go
  internal/clawkerd/protocol/v1/controlplane.pb.go
  internal/clawkerd/protocol/v1/controlplane_grpc.pb.go
  internal/controlplane/admin_handler.go
  internal/controlplane/admin_handler_test.go
  internal/controlplane/authz.go
  internal/controlplane/authz_test.go
  internal/controlplane/container_config_test.go
  internal/controlplane/cp_container.go
  internal/controlplane/grpc_mtls_test.go
  internal/controlplane/grpc_test_helpers_test.go
  internal/controlplane/ory_configs.go
  internal/controlplane/registry.go
  internal/controlplane/registry_test.go
  internal/controlplane/server.go
  internal/controlplane/subprocess.go
  internal/firewall/manager.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix: address Copilot review — socket check, registry lock, nil guard, docs
  internal/controlplane/cp_container.go
  internal/controlplane/ebpf/cmd/CLAUDE.md
  internal/controlplane/registry.go
  internal/controlplane/subprocess.go
Due: semgrep, govulncheck, go-test, claude-freshness

rename: control plane container clawker-cp → clawker-controlplane
  Makefile
  cmd/clawker-cp/main.go
  docs/cli-reference/clawker_firewall_bypass.md
  internal/auth/auth_material.go
  internal/auth/auth_test.go
  internal/auth/cp_dial.go
  internal/cmd/firewall/bypass.go
  internal/consts/consts.go
  internal/controlplane/CLAUDE.md
  internal/controlplane/ebpf/CLAUDE.md
  internal/controlplane/ebpf/cmd/CLAUDE.md
  internal/controlplane/grpc_mtls_test.go
  internal/firewall/CLAUDE.md
  internal/firewall/firewall.go
  internal/firewall/manager.go
  test/e2e/harness/harness.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix: address Copilot review — TLS ServerName, nil logger guard, test typo
  cmd/clawker-cp/main.go
  internal/controlplane/authz.go
  internal/controlplane/hydra_client_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

docs: refresh internal docs for control plane rollout
  .claude/docs/ARCHITECTURE.md
  .claude/docs/DESIGN.md
  .claude/docs/EBPF-DESIGN.md
  .claude/docs/KEY-CONCEPTS.md
  .serena/memories/brainstorm_the-controlplane-and-clawkerd.md
  .serena/memories/cp-initiative-status.md
  .serena/memories/outstanding-features.md
  .serena/memories/project-overview.md
  CLAUDE.md
  internal/auth/CLAUDE.md
  internal/clawkerd/protocol/v1/CLAUDE.md
  internal/firewall/ebpf_embed.go
  internal/logger/CLAUDE.md
Due: semgrep, govulncheck, go-test, claude-freshness

build: pin proto tools to match committed generated files
  Makefile
  api/admin/v1/admin.pb.go
  api/admin/v1/admin_grpc.pb.go
Due: semgrep, govulncheck, go-test, claude-freshness

docs: refresh internal docs for control plane rollout (#254)
  .claude/docs/ARCHITECTURE.md
  .claude/docs/DESIGN.md
  .claude/docs/EBPF-DESIGN.md
  .claude/docs/KEY-CONCEPTS.md
  .serena/memories/brainstorm_the-controlplane-and-clawkerd.md
  .serena/memories/cp-initiative-status.md
  .serena/memories/outstanding-features.md
  .serena/memories/project-overview.md
  CLAUDE.md
  Makefile
  api/admin/v1/admin.pb.go
  api/admin/v1/admin_grpc.pb.go
  internal/auth/CLAUDE.md
  internal/clawkerd/protocol/v1/CLAUDE.md
  internal/firewall/ebpf_embed.go
  internal/logger/CLAUDE.md
Due: semgrep, govulncheck, go-test, claude-freshness

fix: corefile no longer returning AAAA records since we don't support ipv6
  .correctless/artifacts/workflow-state-feat-firewall-cp-migration-6d590b.json
  .correctless/learnings/tdd-phase-disabled.md
  .correctless/specs/branch-2-cp-owns.md
  .correctless/specs/cp-initiative/branch-2-cp-owns-firewall.md
  .serena/memories/cp-initiative-branch-2-firewall-migration-plan.md
  .serena/memories/outstanding-features.md
  internal/controlplane/admin_handler_test.go
  internal/firewall/CLAUDE.md
  internal/firewall/coredns.go
  internal/firewall/testdata/corefile_basic.golden
Due: semgrep, govulncheck, go-test, claude-freshness

docs(cp-initiative): capture test-hunter follow-ups + pre-commit gotcha in B2 plan
  .serena/memories/cp-initiative-branch-2-firewall-migration-plan.md
Due: none

feat(firewall): add Stack + cgroup helpers in controlplane/firewall subpackage
  .serena/memories/cp-initiative-branch-2-firewall-migration-plan.md
  internal/controlplane/firewall/cgroup.go
  internal/controlplane/firewall/cgroup_test.go
  internal/controlplane/firewall/stack.go
  internal/controlplane/firewall/stack_test.go
  internal/controlplane/firewall/status.go
  pkg/whail/whailtest/fake_client.go
  test/e2e/firewall_stack_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

feat(controlplane): add host-side bootstrap.EnsureRunning + mount/restart-policy updates
  .serena/memories/cp-initiative-branch-2-firewall-migration-plan.md
  internal/config/config.go
  internal/config/consts.go
  internal/config/mocks/config_mock.go
  internal/config/mocks/stubs.go
  internal/consts/consts.go
  internal/controlplane/bootstrap.go
  internal/controlplane/bootstrap_test.go
  internal/controlplane/cp_container.go
  internal/controlplane/firewall/network.go
Due: semgrep, govulncheck, go-test, claude-freshness

feat(controlplane): add AgentWatcher + self-shutdown + defensive startup cleanup
  .serena/memories/cp-initiative-branch-2-firewall-migration-plan.md
  cmd/clawker-cp/main.go
  internal/controlplane/CLAUDE.md
  internal/controlplane/firewall/ebpf/CLAUDE.md
  internal/controlplane/firewall/ebpf/manager.go
  internal/controlplane/firewall/handler.go
  internal/controlplane/watcher.go
  internal/controlplane/watcher_test.go
  test/e2e/cp_self_shutdown_test.go
  test/e2e/cp_startup_cleanup_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

feat(admin): scope-correct firewall surface to 13 methods with drift guard
  .serena/memories/cp-initiative-branch-2-firewall-migration-plan.md
  api/admin/v1/admin.go
  api/admin/v1/admin.pb.go
  api/admin/v1/admin.proto
  api/admin/v1/admin_grpc.pb.go
  api/agent/v1/agent.pb.go
  api/agent/v1/agent_grpc.pb.go
  api/proto_structure_test.go
  cmd/clawker-cp/main.go
  internal/clawkerd/protocol/v1/agent.pb.go
  internal/clawkerd/protocol/v1/agent_grpc.pb.go
  internal/clawkerd/protocol/v1/controlplane.pb.go
  internal/clawkerd/protocol/v1/controlplane_grpc.pb.go
  internal/controlplane/CLAUDE.md
  internal/controlplane/authz_test.go
  internal/controlplane/firewall/CLAUDE.md
  internal/controlplane/firewall/cgroup.go
  internal/controlplane/firewall/drift.go
  internal/controlplane/firewall/ebpf/manager.go
  internal/controlplane/firewall/ebpf/mocks/ebpf_manager_mock.go
  internal/controlplane/firewall/handler.go
  internal/controlplane/firewall/handler_test.go
  internal/controlplane/grpc_mtls_test.go
  internal/controlplane/grpc_test_helpers_test.go
  internal/controlplane/hydra_client.go
  internal/controlplane/server.go
  internal/firewall/manager.go
  internal/firewall/manager_test.go
  test/e2e/firewall_b2_handler_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

feat(cli): add clawker controlplane up/down/status break-glass commands
  docs/cli-reference/clawker.md
  docs/cli-reference/clawker_controlplane.md
  docs/cli-reference/clawker_controlplane_down.md
  docs/cli-reference/clawker_controlplane_status.md
  docs/cli-reference/clawker_controlplane_up.md
  internal/cmd/controlplane/CLAUDE.md
  internal/cmd/controlplane/controlplane.go
  internal/cmd/controlplane/down.go
  internal/cmd/controlplane/down_test.go
  internal/cmd/controlplane/status.go
  internal/cmd/controlplane/status_test.go
  internal/cmd/controlplane/up.go
  internal/cmd/controlplane/up_test.go
  internal/cmd/factory/CLAUDE.md
  internal/cmd/factory/default.go
  internal/cmd/root/root.go
  internal/cmdutil/CLAUDE.md
  internal/cmdutil/factory.go
  internal/controlplane/CLAUDE.md
  internal/controlplane/manager.go
  internal/controlplane/mocks/manager_mock.go
  test/e2e/controlplane_cli_test.go
  test/e2e/harness/factory.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

chore(firewall): delete internal/firewall/ — migration complete
  .claude/agents/test-hunter.md
  .claude/docs/ARCHITECTURE.md
  .claude/docs/KEY-CONCEPTS.md
  .claude/docs/TESTING-REFERENCE.md
  .claude/rules/dependency-placement.md
  .claude/rules/docker-client.md
  .claude/rules/envoy.md
  .claude/rules/hostproxy.md
  .claude/rules/testing.md
  .correctless/specs/cp-initiative/CLAUDE.md
  .serena/memories/cp-initiative-branch-2-firewall-migration-plan.md
  .serena/memories/cp-initiative-status.md
  CLAUDE.md
  cmd/coredns-clawker/main.go
  internal/cmd/container/shared/CLAUDE.md
  internal/config/CLAUDE.md
  internal/config/config.go
  internal/config/consts.go
  internal/config/mocks/config_mock.go
  internal/config/mocks/stubs.go
  internal/consts/consts.go
  internal/controlplane/CLAUDE.md
  internal/controlplane/firewall/CLAUDE.md
  internal/controlplane/firewall/ebpf/CLAUDE.md
  internal/controlplane/firewall/ebpf/types.go
  internal/dnsbpf/CLAUDE.md
  internal/hostproxy/CLAUDE.md
  test/CLAUDE.md
  test/e2e/harness/harness.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(controlplane): close B2 verify blockers + relocate admin dial
  .correctless/meta/drift-debt.json
  .correctless/meta/intensity-calibration.json
  .correctless/specs/cp-initiative/branch-2-cp-owns-firewall.md
  .correctless/verification/branch-2-cp-owns-firewall-verification.md
  internal/cmd/factory/CLAUDE.md
  internal/cmd/factory/default.go
  internal/cmd/factory/default_test.go
  internal/cmdutil/CLAUDE.md
  internal/controlplane/adminclient/dial.go
  internal/controlplane/firewall/container_spec_test.go
  test/CLAUDE.md
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

docs(cp-migration): record Branch 2 feature doc + refresh workflow state
  .correctless/AGENT_CONTEXT.md
  .correctless/ARCHITECTURE.md
  .correctless/artifacts/override-log.json
  .correctless/artifacts/workflow-state-feat-firewall-cp-migration-6d590b.json
  .correctless/meta/intensity-calibration.json
  .correctless/verification/branch-2-cp-owns-firewall-verification.md
  docs/features/cp-owns-firewall.md
  docs/workflow-history.md
Due: none

chore: claude scheduled tasks lock
  .claude/scheduled_tasks.lock
Due: none

refactor(controlplane): split host-side bootstrap into cpboot subpkg
  .claude/docs/ARCHITECTURE.md
  .claude/docs/KEY-CONCEPTS.md
  .claude/rules/dependency-placement.md
  .github/actions/build-controlplane-binaries/action.yml
  .github/workflows/lint.yml
  .github/workflows/security.yml
  .gitignore
  CLAUDE.md
  Makefile
  internal/cmd/container/shared/container_start.go
  internal/cmd/controlplane/CLAUDE.md
  internal/cmd/controlplane/controlplane.go
  internal/cmd/controlplane/down.go
  internal/cmd/controlplane/status.go
  internal/cmd/controlplane/up.go
  internal/cmd/controlplane/up_test.go
  internal/cmd/factory/CLAUDE.md
  internal/cmd/factory/default.go
  internal/cmd/firewall/CLAUDE.md
  internal/cmd/firewall/down.go
  internal/cmd/firewall/status.go
  internal/cmdutil/CLAUDE.md
  internal/cmdutil/factory.go
  internal/controlplane/CLAUDE.md
  internal/controlplane/cpboot/CLAUDE.md
  internal/controlplane/cpboot/bootstrap.go
  internal/controlplane/cpboot/bootstrap_test.go
  internal/controlplane/cpboot/container_config_test.go
  internal/controlplane/cpboot/cp_container.go
  internal/controlplane/cpboot/ebpf_regression_test.go
  internal/controlplane/cpboot/embed_cp.go
  internal/controlplane/cpboot/embed_ebpf.go
  internal/controlplane/cpboot/manager.go
  internal/controlplane/cpboot/mocks/manager_mock.go
  test/CLAUDE.md
  test/e2e/controlplane_cli_test.go
  test/e2e/cp_self_shutdown_test.go
  test/e2e/cp_startup_cleanup_test.go
  test/e2e/harness/factory.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

chore: fix consts migration
  .serena/memories/bug-tracker.md
  internal/config/consts.go
  internal/consts/consts.go
  internal/controlplane/firewall/container_spec_test.go
  internal/controlplane/firewall/stack.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix(controlplane): inject host XDG dirs into CP for sibling bind sources
  .serena/memories/bug-tracker.md
  cmd/clawker-cp/main.go
  internal/cmd/factory/default.go
  internal/cmd/factory/default_test.go
  internal/consts/consts.go
  internal/consts/controlplane.go
  internal/controlplane/cpboot/CLAUDE.md
  internal/controlplane/cpboot/bootstrap.go
  internal/controlplane/cpboot/bootstrap_test.go
  internal/controlplane/cpboot/container_config_test.go
  internal/controlplane/cpboot/cp_container.go
  internal/controlplane/cpboot/ebpf_regression_test.go
  internal/controlplane/cpboot/manager.go
  internal/controlplane/cpboot/mocks/manager_mock.go
  internal/controlplane/firewall/container_spec_test.go
  internal/controlplane/firewall/stack.go
  internal/controlplane/ory_configs.go
  test/e2e/cp_self_shutdown_test.go
  test/e2e/cp_startup_cleanup_test.go
  test/e2e/firewall_stack_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(firewall): CP resolves container config + entrypoint polls /healthz
  api/admin/v1/admin.pb.go
  api/admin/v1/admin.proto
  internal/bundler/assets/entrypoint.sh
  internal/cmd/container/shared/container_create.go
  internal/controlplane/firewall/CLAUDE.md
  internal/controlplane/firewall/drift.go
  internal/controlplane/firewall/handler.go
  internal/controlplane/firewall/handler_test.go
  internal/controlplane/firewall/stack.go
  internal/docker/env.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix: e2e fixes
  internal/cmd/container/shared/container_start.go
  internal/cmd/container/shared/container_start_test.go
  internal/controlplane/cpboot/CLAUDE.md
  internal/controlplane/cpboot/bootstrap_test.go
  internal/controlplane/cpboot/container_config_test.go
  internal/controlplane/firewall/CLAUDE.md
  internal/controlplane/firewall/handler_test.go
  internal/controlplane/firewall/stack.go
  internal/controlplane/firewall/stack_test.go
  test/e2e/controlplane_cli_test.go
  test/e2e/cp_self_shutdown_test.go
  test/e2e/cp_startup_cleanup_test.go
  test/e2e/firewall_b2_handler_test.go
  test/e2e/firewall_stack_test.go
  test/e2e/firewall_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(controlplane): address Copilot PR review findings
  Makefile
  api/admin/v1/admin_grpc.pb.go
  api/agent/v1/agent_grpc.pb.go
  internal/clawkerd/protocol/v1/agent_grpc.pb.go
  internal/clawkerd/protocol/v1/controlplane_grpc.pb.go
  internal/controlplane/adminclient/dial.go
  internal/controlplane/firewall/CLAUDE.md
  internal/controlplane/firewall/ebpf/REPRODUCIBILITY.md
  internal/controlplane/firewall/ebpf/manager.go
  internal/controlplane/firewall/embed_coredns.go
  internal/controlplane/firewall/network_test.go
  internal/controlplane/firewall/stack.go
  internal/controlplane/firewall/stack_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

Path conditions:
  semgrep: any of: \.go$
  govulncheck: any of: \.go$
  go-test: any of: \.go$
  docs-check: any of: ^(cmd/|internal/cmd/|internal/docs/)
  licenses-check: any of: ^go\.(mod|sum)$
  claude-freshness: any of: \.go$
