Repository schmitthub/clawker: changes, and which pre-commit hooks are due for each by the changed paths.
All: semgrep, govulncheck, go-test, docs-check, licenses-check, claude-freshness

.pre-commit-config.yaml:

# Pre-commit hooks — mirrors CI quality gates locally.
# Install: bash scripts/install-hooks.sh
# Run all: pre-commit run --all-files
# Run one: pre-commit run gitleaks --all-files

repos:
  # ── Security ──────────────────────────────────────────────────────────────
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.30.0
    hooks:
      - id: gitleaks
        args: [--baseline-path, gitleaks-report.json]

  # ── Lint ──────────────────────────────────────────────────────────────────
  - repo: https://github.com/golangci/golangci-lint
    rev: v2.9.0
    hooks:
      - id: golangci-lint-full
        args: [--config, .golangci.yml]

  # ── Local hooks ───────────────────────────────────────────────────────────
  - repo: local
    hooks:
      - id: semgrep
        name: Semgrep SAST
        # Expected version: 1.146.0 (must match CI image tag in security.yml)
        entry: semgrep scan --baseline-commit HEAD --config p/golang --config p/security-audit --error
        language: system
        types: [go]
        pass_filenames: false

      - id: govulncheck
        name: govulncheck SCA
        entry: govulncheck ./...
        language: system
        types: [go]
        pass_filenames: false

      - id: go-test
        name: Unit tests
        entry: make test
        language: system
        types: [go]
        pass_filenames: false

      - id: docs-check
        name: CLI docs freshness
        entry: make docs-check
        language: system
        files: ^(cmd/|internal/cmd/|internal/docs/)
        pass_filenames: false

      - id: licenses-check
        name: NOTICE freshness
        entry: make licenses-check
        language: system
        files: ^go\.(mod|sum)$
        pass_filenames: false

      - id: claude-freshness
        name: Claude doc freshness (advisory)
        entry: bash -c 'bash scripts/check-claude-freshness.sh --strict --non-interactive --no-color | head -50 || true'
        language: system
        files: \.go$
        pass_filenames: false
        verbose: true

docs(cp): pin B5 init substrate design + drop stale workflow artifacts
  .correctless/AGENT_CONTEXT.md
  .correctless/ARCHITECTURE.md
  .correctless/antipatterns.md
  .correctless/artifacts/checkpoint-csetup.json
  .correctless/artifacts/checkpoint-ctdd-branch-1-cp-service.json
  .correctless/artifacts/override-log.json
  .correctless/artifacts/tdd-test-edits.log
  .correctless/artifacts/workflow-state-feat-control-plane-815212.json
  .correctless/artifacts/workflow-state-feat-firewall-cp-migration-6d590b.json
  .correctless/config/workflow-config.json
  .correctless/hooks/audit-trail.sh
  .correctless/hooks/statusline.sh
  .correctless/hooks/workflow-advance.sh
  .correctless/hooks/workflow-gate.sh
  .correctless/learnings/tdd-phase-disabled.md
  .correctless/meta/drift-debt.json
  .correctless/meta/intensity-calibration.json
  .correctless/specs/branch-2-cp-owns.md
  .correctless/specs/cp-initiative/CLAUDE.md
  .correctless/specs/cp-initiative/CONTEXT.md
  .correctless/specs/cp-initiative/branch-1-cp-service.md
  .correctless/specs/cp-initiative/branch-2-cp-owns-firewall.md
  .correctless/verification/branch-2-cp-owns-firewall-verification.md
  .correctless/verification/control-plane-initiative-verification.md
  .serena/memories/brainstorm_cp-clawkerd-init-commands.md
  .serena/memories/control-plane-initiative.md
  docs/features/cp-owns-firewall.md
Due: none

docs(cp): rewrite B5 brainstorm with composite trust binding + reconciliation
  .serena/memories/brainstorm_cp-clawkerd-init-commands.md
Due: none

docs(cp): clarify substrate framing and scrub auth/registry conflation
  .serena/memories/brainstorm_cp-clawkerd-init-commands.md
Due: none

feat(clawkerd): add ClawkerdService listener + Session command dispatch
  Makefile
  api/clawkerd/v1/clawkerd.go
  api/clawkerd/v1/clawkerd.pb.go
  api/clawkerd/v1/clawkerd.proto
  api/clawkerd/v1/clawkerd_grpc.pb.go
  cmd/clawkerd/listener.go
  cmd/clawkerd/main.go
  cmd/clawkerd/session.go
  internal/consts/consts.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

feat(cp,clawkerd): CP→clawkerd dial reconciler + agent_session informer state + clawkerd daemon decoupling
  Makefile
  cmd/clawker-cp/main.go
  cmd/clawkerd/main.go
  internal/auth/agent_cert.go
  internal/auth/auth_material.go
  internal/auth/auth_test.go
  internal/consts/consts.go
  internal/consts/controlplane.go
  internal/controlplane/agentdial/dialer.go
  internal/controlplane/agentdial/subscribe.go
  internal/controlplane/cpboot/container_config_test.go
  internal/controlplane/cpboot/cp_container.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

feat(cp,clawkerd): sqlite-persisted agentregistry + unary Register handshake
  NOTICE
  api/agent/v1/agent.pb.go
  api/agent/v1/agent.proto
  api/agent/v1/agent_grpc.pb.go
  api/proto_structure_test.go
  cmd/clawker-cp/main.go
  cmd/clawkerd/main.go
  go.mod
  go.sum
  internal/cmd/container/start/start.go
  internal/consts/consts.go
  internal/consts/controlplane.go
  internal/controlplane/agent/handler.go
  internal/controlplane/agent/handler_test.go
  internal/controlplane/agent/identity_interceptor.go
  internal/controlplane/agent/identity_interceptor_test.go
  internal/controlplane/agent_method_scopes.go
  internal/controlplane/agentregistry/CLAUDE.md
  internal/controlplane/agentregistry/mocks/registry_mock.go
  internal/controlplane/agentregistry/registry.go
  internal/controlplane/agentregistry/registry_test.go
  internal/controlplane/agentregistry/sqlite.go
  internal/controlplane/agentregistry/subscribe_test.go
  internal/controlplane/cpboot/cp_container.go
  internal/controlplane/grpc_mtls_agent_test.go
  internal/controlplane/server.go
Due: semgrep, govulncheck, go-test, docs-check, licenses-check, claude-freshness

feat(cli,cp): CLI-written agentregistry + container_id-only AnnounceAgent
  api/admin/v1/admin.pb.go
  api/admin/v1/admin.proto
  cmd/clawker-cp/main.go
  cmd/clawkerd/main.go
  internal/cmd/container/create/create_test.go
  internal/cmd/container/remove/remove.go
  internal/cmd/container/shared/agent_bootstrap.go
  internal/cmd/container/shared/agent_bootstrap_test.go
  internal/cmd/container/shared/container_create.go
  internal/cmd/container/shared/container_start.go
  internal/cmd/container/shared/container_start_test.go
  internal/cmd/container/shared/init_test.go
  internal/cmd/container/start/start.go
  internal/controlplane/agent/handler.go
  internal/controlplane/agent/handler_test.go
  internal/controlplane/agentdial/dialer.go
  internal/controlplane/agentregistry/sqlite.go
  internal/controlplane/agentslots/mocks/registry_mock.go
  internal/controlplane/agentslots/registry.go
  internal/controlplane/agentslots/registry_test.go
  internal/controlplane/agentslots/subscribe_test.go
  internal/controlplane/cpboot/bootstrap.go
  internal/controlplane/server.go
  internal/controlplane/server_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

feat(cp): registry reaper + local-read agents CLI + destroy-only eviction
  .serena/memories/bug-tracker.md
  cmd/clawker-cp/main.go
  docs/cli-reference/clawker_controlplane_agents.md
  internal/cmd/controlplane/agents.go
  internal/cmd/controlplane/agents_test.go
  internal/controlplane/agentregistry/CLAUDE.md
  internal/controlplane/agentregistry/reap.go
  internal/controlplane/agentregistry/reap_test.go
  internal/controlplane/agentregistry/subscribe.go
  internal/controlplane/agentregistry/subscribe_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

refactor(agentregistry): drop cache + add canonical_cn column
  .serena/memories/pr-fixes/01-agentregistry-foundation.md
  .serena/memories/pr-fixes/02-bootstrap-order.md
  .serena/memories/pr-fixes/03-agents-cmd-dbpath.md
  .serena/memories/pr-fixes/04-informer-per-kind-split.md
  .serena/memories/pr-fixes/05-agentdial-refactor.md
  .serena/memories/pr-fixes/06-subscribe-ringbuffer.md
  .serena/memories/pr-fixes/07-clawkerd-session-fixes.md
  .serena/memories/pr-fixes/08-clawkerd-listener-fixes.md
  .serena/memories/pr-fixes/09-agentslots-sweep-tests.md
  .serena/memories/pr-fixes/10-server-test-nil-agents.md
  .serena/memories/pr-fixes/11-misc-close-swallows.md
  .serena/memories/pr-fixes/12-doc-agentslots-rewrite.md
  .serena/memories/pr-fixes/MASTER.md
  internal/cmd/container/remove/remove.go
  internal/controlplane/agentregistry/CLAUDE.md
  internal/controlplane/agentregistry/mocks/registry_mock.go
  internal/controlplane/agentregistry/reap.go
  internal/controlplane/agentregistry/reap_test.go
  internal/controlplane/agentregistry/registry.go
  internal/controlplane/agentregistry/registry_test.go
  internal/controlplane/agentregistry/sqlite.go
  internal/controlplane/agentregistry/sqlite_test.go
  internal/controlplane/agentregistry/subscribe.go
  internal/controlplane/agentregistry/subscribe_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

refactor(container): split agent bootstrap; registry row is last create step
  .serena/memories/pr-fixes/01-agentregistry-foundation.md
  .serena/memories/pr-fixes/02-bootstrap-order.md
  .serena/memories/pr-fixes/MASTER.md
  internal/cmd/container/shared/CLAUDE.md
  internal/cmd/container/shared/agent_bootstrap.go
  internal/cmd/container/shared/agent_bootstrap_test.go
  internal/cmd/container/shared/container_create.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

refactor(cmd/controlplane): remove DBPath options field; use consts directly
  .serena/memories/pr-fixes/02-bootstrap-order.md
  .serena/memories/pr-fixes/03-agents-cmd-dbpath.md
  .serena/memories/pr-fixes/MASTER.md
  internal/cmd/controlplane/agents.go
  internal/cmd/controlplane/agents_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(cmd): surface close errors instead of swallowing them
  .serena/memories/pr-fixes/03-agents-cmd-dbpath.md
  .serena/memories/pr-fixes/11-misc-close-swallows.md
  .serena/memories/pr-fixes/MASTER.md
  cmd/clawkerd/main.go
  internal/cmd/controlplane/agents.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

test(controlplane): pin nil-agents constructor contract for ListAgents
  .serena/memories/pr-fixes/10-server-test-nil-agents.md
  .serena/memories/pr-fixes/11-misc-close-swallows.md
  .serena/memories/pr-fixes/MASTER.md
  internal/controlplane/server_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

docs(agentslots): rewrite CLAUDE.md for container_id-keyed slot model
  .serena/memories/pr-fixes/10-server-test-nil-agents.md
  .serena/memories/pr-fixes/12-doc-agentslots-rewrite.md
  .serena/memories/pr-fixes/MASTER.md
  internal/controlplane/agentslots/CLAUDE.md
Due: none

chore(pr-fixes): record SHAs for completed tasks
  .serena/memories/pr-fixes/12-doc-agentslots-rewrite.md
Due: none

fix(clawkerd/listener): assert ClientAuth EKU + audit Session entry/exit
  .serena/memories/pr-fixes/08-clawkerd-listener-fixes.md
  .serena/memories/pr-fixes/MASTER.md
  cmd/clawkerd/CLAUDE.md
  cmd/clawkerd/listener.go
  cmd/clawkerd/listener_test.go
  cmd/clawkerd/session.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(clawkerd/session): audit log + stageErrs race + atomic + tests
  .serena/memories/pr-fixes/07-clawkerd-session-fixes.md
  .serena/memories/pr-fixes/MASTER.md
  cmd/clawkerd/CLAUDE.md
  cmd/clawkerd/session.go
  cmd/clawkerd/session_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

chore(pr-fixes): record SHA for task 07
  .serena/memories/pr-fixes/07-clawkerd-session-fixes.md
Due: none

refactor(controlplane): replace informer with typed Overseer event bus
  .claude/docs/KEY-CONCEPTS.md
  cmd/clawker-cp/main.go
  internal/controlplane/agent/CLAUDE.md
  internal/controlplane/agentdial/dialer.go
  internal/controlplane/agentdial/events.go
  internal/controlplane/agentdial/subscribe.go
  internal/controlplane/agentregistry/CLAUDE.md
  internal/controlplane/agentregistry/registry.go
  internal/controlplane/agentregistry/subscribe.go
  internal/controlplane/agentregistry/subscribe_test.go
  internal/controlplane/agentslots/CLAUDE.md
  internal/controlplane/agentslots/subscribe.go
  internal/controlplane/agentslots/subscribe_test.go
  internal/controlplane/dockerevents/dispatch.go
  internal/controlplane/dockerevents/dispatch_test.go
  internal/controlplane/dockerevents/events.go
  internal/controlplane/dockerevents/feeder.go
  internal/controlplane/dockerevents/feeder_test.go
  internal/controlplane/dockerevents/reconcile.go
  internal/controlplane/informer/CLAUDE.md
  internal/controlplane/informer/filter.go
  internal/controlplane/informer/informer.go
  internal/controlplane/informer/informer_test.go
  internal/controlplane/informer/mocks/informer_mock.go
  internal/controlplane/informer/read.go
  internal/controlplane/informer/store.go
  internal/controlplane/informer/subscribe.go
  internal/controlplane/informer/types.go
  internal/controlplane/informer/write.go
  internal/controlplane/overseer/CLAUDE.md
  internal/controlplane/overseer/overseer.go
  internal/controlplane/overseer/overseer_test.go
  internal/controlplane/overseer/state.go
  internal/controlplane/overseer/subscribe.go
  internal/controlplane/overseer/types.go
  internal/monitor/templates/grafana-dashboard-cp.json
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

chore(pr-fixes): close task 04 with Overseer post-mortem
  .serena/memories/pr-fixes/04-informer-per-kind-split.md
  .serena/memories/pr-fixes/08-clawkerd-listener-fixes.md
  .serena/memories/pr-fixes/MASTER.md
  .serena/memories/pr-fixes/informer-refactor-prd.md
Due: none

fix(agentregistry/subscribe): ring buffer for panic time window
  .serena/memories/pr-fixes/06-subscribe-ringbuffer.md
  .serena/memories/pr-fixes/MASTER.md
  internal/controlplane/agentregistry/subscribe.go
  internal/controlplane/agentregistry/subscribe_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix(agentslots): add agent+project to sweep log + janitor race test
  .serena/memories/pr-fixes/09-agentslots-sweep-tests.md
  .serena/memories/pr-fixes/MASTER.md
  internal/controlplane/agentslots/registry.go
  internal/controlplane/agentslots/registry_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

chore(pr-fixes): record SHAs for tasks 06 + 09
  .serena/memories/pr-fixes/06-subscribe-ringbuffer.md
  .serena/memories/pr-fixes/09-agentslots-sweep-tests.md
Due: none

refactor(agentdial): typed outcomes, fd-leak ceiling, ring buffer + tests
  .serena/memories/pr-fixes/05-agentdial-refactor.md
  .serena/memories/pr-fixes/MASTER.md
  internal/controlplane/agentdial/dialer.go
  internal/controlplane/agentdial/dialer_test.go
  internal/controlplane/agentdial/subscribe.go
  internal/controlplane/agentdial/subscribe_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

chore(pr-fixes): record SHA for task 05
  .serena/memories/pr-fixes/05-agentdial-refactor.md
Due: none

chore: cleanup
  .serena/memories/correctless/testing-safety.md
  .serena/memories/pr-fixes/01-agentregistry-foundation.md
  .serena/memories/pr-fixes/02-bootstrap-order.md
  .serena/memories/pr-fixes/03-agents-cmd-dbpath.md
  .serena/memories/pr-fixes/04-informer-per-kind-split.md
  .serena/memories/pr-fixes/05-agentdial-refactor.md
  .serena/memories/pr-fixes/06-subscribe-ringbuffer.md
  .serena/memories/pr-fixes/07-clawkerd-session-fixes.md
  .serena/memories/pr-fixes/08-clawkerd-listener-fixes.md
  .serena/memories/pr-fixes/09-agentslots-sweep-tests.md
  .serena/memories/pr-fixes/10-server-test-nil-agents.md
  .serena/memories/pr-fixes/11-misc-close-swallows.md
  .serena/memories/pr-fixes/12-doc-agentslots-rewrite.md
  .serena/memories/pr-fixes/MASTER.md
  .serena/memories/pr-fixes/informer-refactor-prd.md
Due: none

chore(pr-fixes): retire clawkerd outbound dial; doc/test sweep
  .claude/docs/ARCHITECTURE.md
  .claude/docs/DESIGN.md
  .claude/docs/KEY-CONCEPTS.md
  CLAUDE.md
  cmd/clawker-cp/main.go
  cmd/clawkerd/CLAUDE.md
  cmd/clawkerd/bootstrap_test.go
  cmd/clawkerd/exchange_assertion_test.go
  cmd/clawkerd/interceptor.go
  cmd/clawkerd/interceptor_test.go
  cmd/clawkerd/listener_test.go
  cmd/clawkerd/main.go
  cmd/clawkerd/session.go
  cmd/clawkerd/session_test.go
  internal/auth/CLAUDE.md
  internal/auth/agent_cert.go
  internal/cmd/container/run/run.go
  internal/cmd/container/shared/CLAUDE.md
  internal/cmd/container/shared/agent_bootstrap.go
  internal/cmd/container/shared/container_start.go
  internal/cmd/container/shared/container_start_test.go
  internal/consts/consts.go
  internal/controlplane/CLAUDE.md
  internal/controlplane/agent/CLAUDE.md
  internal/controlplane/agent/handler.go
  internal/controlplane/agent_method_scopes.go
  internal/controlplane/agent_method_scopes_test.go
  internal/controlplane/agentdial/dialer_test.go
  internal/controlplane/agentdial/subscribe_test.go
  internal/controlplane/agentregistry/CLAUDE.md
  internal/controlplane/agentregistry/registry.go
  internal/controlplane/agentregistry/sqlite.go
  internal/controlplane/dockerevents/dispatch.go
  internal/controlplane/overseer/CLAUDE.md
  internal/controlplane/overseer/overseer_test.go
  internal/controlplane/overseer/state.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

chore(pr-review): kill crap tests + ctx-in-struct + provenance enum + drop-log + tests
  .claude/docs/ARCHITECTURE.md
  api/proto_structure_test.go
  cmd/clawker-cp/main.go
  cmd/clawkerd/listener_test.go
  cmd/clawkerd/session.go
  cmd/clawkerd/session_test.go
  internal/cmd/container/create/create_test.go
  internal/cmd/container/shared/CLAUDE.md
  internal/consts/consts.go
  internal/controlplane/agent_method_scopes_test.go
  internal/controlplane/agentdial/dialer.go
  internal/controlplane/agentdial/dialer_test.go
  internal/controlplane/agentdial/events.go
  internal/controlplane/agentdial/subscribe_test.go
  internal/controlplane/agentregistry/CLAUDE.md
  internal/controlplane/agentregistry/reap_test.go
  internal/controlplane/agentregistry/registry.go
  internal/controlplane/agentregistry/registry_test.go
  internal/controlplane/agentregistry/sqlite_test.go
  internal/controlplane/agentregistry/subscribe.go
  internal/controlplane/dockerevents/dispatch.go
  internal/controlplane/dockerevents/reconcile.go
  internal/controlplane/server_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

chore(pr-review): post-review fixes — leak window, race, dialer outcomes, type sweep
  .serena/memories/brainstorm_the-controlplane-and-clawkerd.md
  .serena/memories/cp-initiative-clawkerd-cli-integration.md
  .serena/memories/cp-initiative-clawkerd-identity-and-logging.md
  .serena/memories/cp-initiative-cp-restart-resilience.md
  cmd/clawkerd/listener.go
  cmd/clawkerd/session.go
  internal/cmd/container/shared/agent_bootstrap.go
  internal/cmd/container/shared/container_create.go
  internal/cmd/controlplane/agents.go
  internal/controlplane/agent/identity_interceptor_test.go
  internal/controlplane/agentdial/dialer.go
  internal/controlplane/agentdial/dialer_test.go
  internal/controlplane/agentdial/events.go
  internal/controlplane/agentdial/subscribe_test.go
  internal/controlplane/agentregistry/CLAUDE.md
  internal/controlplane/agentregistry/mocks/registry_mock.go
  internal/controlplane/agentregistry/registry.go
  internal/controlplane/agentregistry/registry_test.go
  internal/controlplane/agentregistry/sqlite.go
  internal/controlplane/agentregistry/sqlite_test.go
  internal/controlplane/agentregistry/subscribe_test.go
  internal/controlplane/dockerevents/dispatch.go
  internal/controlplane/dockerevents/events.go
  internal/controlplane/overseer/overseer_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

feat(overseer): event log payload via MarshalZerologObject
  internal/controlplane/agentdial/events.go
  internal/controlplane/dockerevents/events.go
  internal/controlplane/overseer/CLAUDE.md
  internal/controlplane/overseer/overseer.go
  internal/controlplane/overseer/overseer_test.go
  internal/controlplane/overseer/types.go
Due: semgrep, govulncheck, go-test, claude-freshness

chore(logs): use event name as bus log message; clarify firewall ebpf re-enroll
  internal/controlplane/firewall/handler.go
  internal/controlplane/overseer/overseer.go
  internal/controlplane/overseer/overseer_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

refactor(dockerevents): 1:1 moby fidelity via composition
  .claude/docs/ARCHITECTURE.md
  .claude/docs/KEY-CONCEPTS.md
  CLAUDE.md
  internal/controlplane/agentdial/subscribe.go
  internal/controlplane/agentdial/subscribe_test.go
  internal/controlplane/agentregistry/subscribe.go
  internal/controlplane/agentregistry/subscribe_test.go
  internal/controlplane/dockerevents/dispatch.go
  internal/controlplane/dockerevents/dispatch_test.go
  internal/controlplane/dockerevents/events.go
  internal/controlplane/dockerevents/feeder_test.go
  internal/controlplane/dockerevents/reconcile.go
  internal/controlplane/overseer/CLAUDE.md
Due: semgrep, govulncheck, go-test, claude-freshness

fix(dockerevents): drop ContainerRemoved — moby fires only destroy for containers
  .claude/docs/ARCHITECTURE.md
  .claude/docs/KEY-CONCEPTS.md
  CLAUDE.md
  internal/controlplane/agentregistry/subscribe.go
  internal/controlplane/agentregistry/subscribe_test.go
  internal/controlplane/dockerevents/dispatch.go
  internal/controlplane/dockerevents/events.go
  internal/controlplane/overseer/CLAUDE.md
Due: semgrep, govulncheck, go-test, claude-freshness

refactor(dockerevents): collapse to single DockerEvent envelope
  .claude/docs/ARCHITECTURE.md
  .claude/docs/KEY-CONCEPTS.md
  CLAUDE.md
  internal/controlplane/agent/CLAUDE.md
  internal/controlplane/agentdial/dialer.go
  internal/controlplane/agentdial/subscribe.go
  internal/controlplane/agentdial/subscribe_test.go
  internal/controlplane/agentregistry/CLAUDE.md
  internal/controlplane/agentregistry/subscribe.go
  internal/controlplane/agentregistry/subscribe_test.go
  internal/controlplane/dockerevents/dispatch.go
  internal/controlplane/dockerevents/dispatch_test.go
  internal/controlplane/dockerevents/events.go
  internal/controlplane/dockerevents/feeder_test.go
  internal/controlplane/dockerevents/reconcile.go
  internal/controlplane/overseer/CLAUDE.md
  internal/controlplane/overseer/types.go
Due: semgrep, govulncheck, go-test, claude-freshness

chore: memory planning docs
  .serena/memories/dockerevents-collapse-to-dockerevent.md
  .serena/memories/restore-cp-driven-agent-register.md
Due: none

chore: moved clawkerd build instruction to make builds faster
  claude-plugin/clawker-support/skills/clawker-support/reference/Dockerfile.tmpl
  internal/bundler/assets/Dockerfile.tmpl
Due: none

chore: stale pin
  Dockerfile.controlplane
Due: none

chore: documentation
  .clawker.yaml
  .serena/memories/bug-tracker.md
Due: none
