Repository schmitthub/clawker: changes, and which pre-commit hooks are due for each by the changed paths.
All: semgrep, govulncheck, go-test, docs-check, licenses-check, claude-freshness

.pre-commit-config.yaml:

# Pre-commit hooks — mirrors CI quality gates locally.
# Install: bash scripts/install-hooks.sh
# Run all: pre-commit run --all-files
# Run one: pre-commit run gitleaks --all-files

repos:
  # ── Security ──────────────────────────────────────────────────────────────
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.30.0
    hooks:
      - id: gitleaks
        args: [--baseline-path, gitleaks-report.json]

  # ── Lint ──────────────────────────────────────────────────────────────────
  - repo: https://github.com/golangci/golangci-lint
    rev: v2.9.0
    hooks:
      - id: golangci-lint-full
        args: [--config, .golangci.yml]

  # ── Local hooks ───────────────────────────────────────────────────────────
  - repo: local
    hooks:
      - id: semgrep
        name: Semgrep SAST
        # Expected version: 1.146.0 (must match CI image tag in security.yml)
        entry: semgrep scan --baseline-commit HEAD --config p/golang --config p/security-audit --error
        language: system
        types: [go]
        pass_filenames: false

      - id: govulncheck
        name: govulncheck SCA
        entry: govulncheck ./...
        language: system
        types: [go]
        pass_filenames: false

      - id: go-test
        name: Unit tests
        entry: make test
        language: system
        types: [go]
        pass_filenames: false

      - id: docs-check
        name: CLI docs freshness
        entry: make docs-check
        language: system
        files: ^(cmd/|internal/cmd/|internal/docs/)
        pass_filenames: false

      - id: licenses-check
        name: NOTICE freshness
        entry: make licenses-check
        language: system
        files: ^go\.(mod|sum)$
        pass_filenames: false

      - id: claude-freshness
        name: Claude doc freshness (advisory)
        entry: bash -c 'bash scripts/check-claude-freshness.sh --strict --non-interactive --no-color | head -50 || true'
        language: system
        files: \.go$
        pass_filenames: false
        verbose: true

refactor(db): split socket grant store
  .serena/memories/initiative_generic_socket_bridge/plan.md
  internal/db/grants.go
  internal/db/grants_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix(paths): reject empty expansion
  .serena/memories/initiative_generic_socket_bridge/plan.md
  internal/cmdutil/paths.go
  internal/cmdutil/paths_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

feat(sockets): add grant commands
  .serena/memories/initiative_generic_socket_bridge/plan.md
  internal/cmd/factory/default.go
  internal/cmd/factory/default_test.go
  internal/cmd/root/root.go
  internal/cmd/sockets/completion.go
  internal/cmd/sockets/info.go
  internal/cmd/sockets/list.go
  internal/cmd/sockets/prune.go
  internal/cmd/sockets/revoke.go
  internal/cmd/sockets/sockets.go
  internal/cmd/sockets/sockets_test.go
  internal/cmdutil/factory.go
  internal/tui/tui.go
  internal/tui/tui_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

feat(container): authorize socket bridges
  .serena/memories/initiative_generic_socket_bridge/plan.md
  internal/cmd/container/restart/restart.go
  internal/cmd/container/restart/restart_test.go
  internal/cmd/container/run/run.go
  internal/cmd/container/run/run_test.go
  internal/cmd/container/shared/container_start.go
  internal/cmd/container/shared/container_start_test.go
  internal/cmd/container/shared/harness_identity_internal_test.go
  internal/cmd/container/shared/socket_authorization.go
  internal/cmd/container/shared/socket_authorization_test.go
  internal/cmd/container/start/start.go
  internal/cmd/container/start/start_test.go
  internal/cmdutil/flags.go
  internal/cmdutil/flags_test.go
  internal/prompter/prompter.go
  internal/socketbridge/bridged_socket.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

feat(socketbridge): support generic sockets
  .serena/memories/initiative_generic_socket_bridge/plan.md
  internal/cmd/bridge/bridge.go
  internal/cmd/bridge/bridge_test.go
  internal/cmd/container/restart/restart.go
  internal/cmd/container/run/run.go
  internal/cmd/container/shared/container_start.go
  internal/cmd/container/shared/container_start_test.go
  internal/cmd/container/start/start.go
  internal/consts/consts.go
  internal/hostproxy/internals/cmd/clawker-socket-server/main.go
  internal/hostproxy/internals/cmd/clawker-socket-server/main_test.go
  internal/socketbridge/bridge.go
  internal/socketbridge/bridge_test.go
  internal/socketbridge/bridged_socket.go
  internal/socketbridge/bridged_socket_test.go
  internal/socketbridge/export_test.go
  internal/socketbridge/manager.go
  internal/socketbridge/manager_test.go
  internal/socketbridge/mocks/manager_mock.go
  internal/socketbridge/mocks/stubs.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

feat(container): wait for socket bridges
  .serena/memories/initiative_generic_socket_bridge/plan.md
  controlplane/agent/boot_steps.go
  controlplane/agent/exec.go
  controlplane/agent/exec_test.go
  internal/cmd/container/shared/container_start.go
  internal/cmd/container/shared/container_start_test.go
  internal/cmd/container/shared/socket_wait.go
  internal/cmd/container/shared/socket_wait_test.go
  internal/consts/consts.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

test(socketbridge): add end-to-end journeys
  .serena/memories/initiative_generic_socket_bridge/plan.md
  internal/cmd/container/shared/socket_authorization.go
  internal/cmd/container/shared/socket_authorization_test.go
  internal/hostproxy/internals/AGENTS.md
  internal/hostproxy/internals/cmd/clawker-socket-server/main.go
  internal/hostproxy/internals/cmd/clawker-socket-server/main_test.go
  internal/socketbridge/bridge_test.go
  internal/socketbridge/export_test.go
  internal/socketbridge/manager.go
  internal/socketbridge/manager_test.go
  test/e2e/harness/factory.go
  test/e2e/harness/harness.go
  test/e2e/socket_bridge_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

docs(socketbridge): document socket grants
  .claude/docs/ARCHITECTURE.md
  .claude/docs/KEY-CONCEPTS.md
  .serena/memories/initiative_generic_socket_bridge/PRD.md
  .serena/memories/initiative_generic_socket_bridge/plan.md
  README.md
  docs/authoring-harnesses.mdx
  docs/cli-reference/clawker.md
  docs/cli-reference/clawker_container_restart.md
  docs/cli-reference/clawker_container_run.md
  docs/cli-reference/clawker_container_start.md
  docs/cli-reference/clawker_restart.md
  docs/cli-reference/clawker_run.md
  docs/cli-reference/clawker_sockets.md
  docs/cli-reference/clawker_sockets_info.md
  docs/cli-reference/clawker_sockets_list.md
  docs/cli-reference/clawker_sockets_prune.md
  docs/cli-reference/clawker_sockets_revoke.md
  docs/cli-reference/clawker_start.md
  docs/docs.json
  docs/host-sockets.mdx
  docs/schemas/harness.schema.json
  internal/cmd/sockets/AGENTS.md
  internal/cmd/sockets/CLAUDE.md
  internal/db/AGENTS.md
  internal/db/CLAUDE.md
Due: docs-check

refactor(sockets): compose loaded harness data
  .claude/docs/ARCHITECTURE.md
  .claude/docs/DESIGN.md
  .serena/memories/initiative_generic_socket_bridge/plan.md
  docs/authoring-harnesses.mdx
  docs/host-sockets.mdx
  internal/bundler/AGENTS.md
  internal/bundler/bundle.go
  internal/bundler/egress.go
  internal/bundler/harness.go
  internal/bundler/harness_test.go
  internal/cmd/container/restart/restart.go
  internal/cmd/container/run/run.go
  internal/cmd/container/shared/AGENTS.md
  internal/cmd/container/shared/container_create.go
  internal/cmd/container/shared/container_start.go
  internal/cmd/container/shared/container_start_test.go
  internal/cmd/container/shared/socket_authorization.go
  internal/cmd/container/shared/socket_authorization_test.go
  internal/cmd/container/start/start.go
  internal/cmd/container/start/start_test.go
  internal/cmd/sockets/prune.go
  internal/cmd/sockets/sockets_test.go
  internal/cmdutil/AGENTS.md
  internal/cmdutil/paths.go
  internal/cmdutil/paths_test.go
  internal/config/AGENTS.md
  internal/config/path_semantics.go
  internal/config/path_semantics_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(bundler): defer missing socket sources
  internal/bundler/AGENTS.md
  internal/bundler/harness.go
  internal/bundler/harness_test.go
  internal/cmd/container/create/create_test.go
  internal/cmd/container/start/start_test.go
  internal/cmd/image/build/build_progress_test.go
  internal/cmd/sockets/sockets_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

refactor(db): finish socket grant integration
  .claude/docs/KEY-CONCEPTS.md
  internal/cmd/container/restart/restart.go
  internal/cmd/container/restart/restart_test.go
  internal/cmd/container/run/run.go
  internal/cmd/container/run/run_test.go
  internal/cmd/container/shared/AGENTS.md
  internal/cmd/container/shared/container_start.go
  internal/cmd/container/shared/export_test.go
  internal/cmd/container/shared/socket_authorization.go
  internal/cmd/container/shared/socket_authorization_test.go
  internal/cmd/container/start/AGENTS.md
  internal/cmd/container/start/start.go
  internal/cmd/container/start/start_test.go
  internal/cmd/factory/default.go
  internal/cmd/sockets/AGENTS.md
  internal/cmd/sockets/completion.go
  internal/cmd/sockets/info.go
  internal/cmd/sockets/list.go
  internal/cmd/sockets/prune.go
  internal/cmd/sockets/revoke.go
  internal/cmd/sockets/sockets.go
  internal/cmd/sockets/sockets_test.go
  internal/cmdutil/AGENTS.md
  internal/cmdutil/socket_grants.go
  internal/cmdutil/socket_grants_test.go
  internal/consts/consts.go
  internal/consts/persisted_values_test.go
  internal/consts/xdg_dirs_test.go
  internal/db/AGENTS.md
  internal/db/consts.go
  internal/db/db.go
  internal/db/db_test.go
  internal/db/grants.go
  internal/db/grants_test.go
  internal/db/migrations/00001_init.sql
  internal/db/migrations_test.go
  internal/db/mocks/grants_mock.go
  test/e2e/harness/factory.go
  test/e2e/socket_bridge_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

chore(clawker): god forbid this was included...
  .clawker.yaml
Due: none

chore(serena): mem maintenance
  .serena/memories/memory_maintenance.md
Due: none

fix(socketbridge): respawn stale daemons
  .serena/memories/initiative_generic_socket_bridge/review-findings.md
  internal/socketbridge/AGENTS.md
  internal/socketbridge/bridged_socket.go
  internal/socketbridge/manager.go
  internal/socketbridge/manager_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix(sockets): sanitize approval prompt text
  .serena/memories/initiative_generic_socket_bridge/review-findings.md
  internal/cmd/container/shared/socket_authorization.go
  internal/cmd/container/shared/socket_authorization_test.go
  internal/text/AGENTS.md
  internal/text/text.go
  internal/text/text_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(socketbridge): remove registration state
  .serena/memories/initiative_generic_socket_bridge/review-findings.md
  internal/cmd/bridge/AGENTS.md
  internal/cmd/bridge/bridge.go
  internal/socketbridge/AGENTS.md
  internal/socketbridge/export_test.go
  internal/socketbridge/manager.go
  internal/socketbridge/manager_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

chore(review): close socket bridge findings
  .serena/memories/initiative_generic_socket_bridge/review-findings.md
Due: none

fix(hooks): key serena init gate on a tool that exists
  .claude/hooks/serena-first.mjs
  .claude/hooks/serena-init-marker.mjs
  .claude/hooks/serena-session-start.mjs
Due: none

chore(config): bump gh to 2.100.0 in container root_run
  .clawker.yaml
Due: none

chore(hooks): migrate pre-commit to prek with concurrent scan tier
  .clawker.yaml
  .devin/wiki.json
  .github/workflows/security.yml
  .pre-commit-config.yaml
  AGENTS.md
  Makefile
  prek.toml
  scripts/install-hooks.sh
Due: none

chore(hooks): bump golangci-lint to v2.13.2
  .github/workflows/lint.yml
  prek.toml
Due: none

fix(firewall): disable TLS session resumption on multi-host clusters
  .serena/memories/initiative_wildcard_san_certs.md
  controlplane/firewall/envoy_config.go
  controlplane/firewall/envoy_consts.go
  controlplane/firewall/envoy_tls.go
  controlplane/firewall/envoy_udp.go
  controlplane/firewall/envoy_upstream.go
  controlplane/firewall/testdata/envoy/comprehensive.envoy.golden
  controlplane/firewall/testdata/envoy/comprehensive_mtls.envoy.golden
Due: semgrep, govulncheck, go-test, claude-freshness

chore(firewall): bump Envoy image to distroless-v1.39.1
  controlplane/firewall/stack.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix(firewall): mint certificates per SNI
  .claude/docs/ARCHITECTURE.md
  .claude/docs/DESIGN.md
  .claude/rules/envoy.md
  .serena/memories/initiative_wildcard_san_certs.md
  README.md
  controlplane/AGENTS.md
  controlplane/firewall/AGENTS.md
  controlplane/firewall/certs.go
  controlplane/firewall/certs_test.go
  controlplane/firewall/envoy_config.go
  controlplane/firewall/envoy_config_test.go
  controlplane/firewall/envoy_consts.go
  controlplane/firewall/envoy_tls.go
  controlplane/firewall/envoy_types.go
  controlplane/firewall/envoy_udp.go
  controlplane/firewall/envoy_upstream.go
  controlplane/firewall/envoy_validate.go
  controlplane/firewall/sds_server.go
  controlplane/firewall/sds_server_test.go
  controlplane/firewall/stack.go
  controlplane/firewall/testdata/envoy/comprehensive_mtls.envoy.golden
  docs/configuration.mdx
  docs/firewall.mdx
  docs/schemas/settings.schema.json
  internal/config/schema.go
  internal/config/schema_ports_parity_test.go
  internal/consts/consts.go
  internal/controlplane/cmd.go
Due: semgrep, govulncheck, go-test, claude-freshness

docs: record wildcard certificate task completion
  .serena/memories/initiative_wildcard_san_certs.md
Due: none

build: use Go 1.27.1
  .clawker.yaml
  CONTRIBUTING.md
  Dockerfile.controlplane
  README.md
  docs/installation.mdx
  go.mod
  internal/bundler/AGENTS.md
  internal/bundler/dockerfile.go
  internal/bundler/testdata/golden/harness-overlay.harness.Dockerfile
  internal/bundler/testdata/golden/minimal-buildkit.harness.Dockerfile
  internal/bundler/testdata/golden/minimal.harness.Dockerfile
  internal/bundler/testdata/golden/packages-instructions-inject.harness.Dockerfile
  internal/bundler/testdata/golden/telemetry-flags-off.harness.Dockerfile
  prek.toml
  test/adversarial/Dockerfile
  test/adversarial/attacker-server/go.mod
Due: semgrep, govulncheck, go-test, licenses-check, claude-freshness

test(firewall): check Suno wildcard TLS
  .serena/memories/initiative_wildcard_san_certs.md
  test/AGENTS.md
  test/e2e/firewall_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

docs: record Go and Suno test completion
  .serena/memories/initiative_wildcard_san_certs.md
Due: none

docs: correct commit attribution ledger
  .serena/memories/initiative_wildcard_san_certs.md
Due: none

fix(firewall): complete wildcard TLS validation
  .clawker.yaml
  .serena/memories/initiative_wildcard_san_certs.md
  Makefile
  controlplane/firewall/envoy_types.go
  controlplane/firewall/testdata/envoy/comprehensive.envoy.golden
  controlplane/firewall/testdata/envoy/comprehensive_mtls.envoy.golden
  controlplane/firewall/testdata/envoy/http_exact_only.envoy.golden
  controlplane/firewall/testdata/envoy/https_exact_only.envoy.golden
  controlplane/firewall/testdata/envoy/ssh.envoy.golden
  prek.toml
  scripts/govulncheck.sh
  test/AGENTS.md
  test/e2e/firewall_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

docs: record wildcard TLS PR handoff
  .serena/memories/initiative_wildcard_san_certs.md
Due: none

fix: pass required wildcard TLS checks
  .github/workflows/security.yml
  .serena/memories/initiative_wildcard_san_certs.md
  controlplane/firewall/envoy_config.go
  controlplane/firewall/envoy_consts.go
  controlplane/firewall/envoy_http.go
  controlplane/firewall/envoy_tcp.go
  controlplane/firewall/envoy_types.go
  controlplane/firewall/envoy_udp.go
  controlplane/firewall/sds_server_test.go
  scripts/install-hooks.sh
Due: semgrep, govulncheck, go-test, claude-freshness

docs: record required check results
  .serena/memories/initiative_wildcard_san_certs.md
Due: none

chore(changelog): added two feature notes
  CHANGELOG.md
Due: none

fix(firewall): give the SDS lane its own client identity
  .serena/memories/initiative_wildcard_san_certs.md
  controlplane/AGENTS.md
  controlplane/firewall/AGENTS.md
  controlplane/firewall/container_spec_test.go
  controlplane/firewall/envoy_config.go
  controlplane/firewall/envoy_consts.go
  controlplane/firewall/stack.go
  controlplane/firewall/stack_drift_internal_test.go
  controlplane/firewall/stack_infracerts_internal_test.go
  controlplane/firewall/stack_sdscerts_internal_test.go
  controlplane/firewall/stack_test.go
  controlplane/firewall/testdata/envoy/comprehensive_mtls.envoy.golden
  controlplane/sdscerts/CLAUDE.md
  controlplane/sdscerts/sdscerts.go
  controlplane/sdscerts/sdscerts_test.go
  internal/consts/consts.go
  internal/consts/controlplane.go
  internal/controlplane/cmd.go
  internal/controlplane/sds_tls_internal_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

chore(memory): initiative update
  .serena/memories/initiative_wildcard_san_certs.md
Due: none

fix(firewall): bound the SDS per-SNI mint cache
  .serena/memories/pr519-copilot-triage-handoff.md
  NOTICE
  controlplane/firewall/sds_server.go
  controlplane/firewall/sds_server_internal_test.go
  go.mod
Due: semgrep, govulncheck, go-test, licenses-check, claude-freshness

fix(sdscerts): remove uncommitted key files
  controlplane/sdscerts/sdscerts.go
Due: semgrep, govulncheck, go-test, claude-freshness
