Repository schmitthub/clawker: changes, and which pre-commit hooks are due for each by the changed paths.
All: semgrep, govulncheck, go-test, docs-check, licenses-check, claude-freshness

semgrep:
  name: Semgrep SAST
  entry: semgrep scan --baseline-commit HEAD --config p/golang --config p/security-audit --error
  language: system
  pass_filenames: false

govulncheck:
  name: govulncheck SCA
  entry: govulncheck ./...
  language: system
  pass_filenames: false

go-test:
  name: Unit tests
  entry: make test
  language: system
  pass_filenames: false

docs-check:
  name: CLI docs freshness
  entry: make docs-check
  language: system
  pass_filenames: false

licenses-check:
  name: NOTICE freshness
  entry: make licenses-check
  language: system
  pass_filenames: false

claude-freshness:
  name: Claude doc freshness (advisory)
  entry: bash -c 'bash scripts/check-claude-freshness.sh --strict --non-interactive --no-color | head -50 || true'
  language: system
  pass_filenames: false
  verbose: true

chore(config): config file path getters
  internal/config/CLAUDE.md
  internal/config/config.go
  internal/config/config_test.go
  internal/config/consts.go
Due: semgrep, govulncheck, go-test, claude-freshness

chore(config): lazy-initialize config files
  internal/config/CLAUDE.md
  internal/config/config.go
  internal/config/config_test.go
  internal/config/consts.go
Due: semgrep, govulncheck, go-test, claude-freshness

chore(container/kill): migrate to new config interface
  internal/cmd/container/kill/kill.go
  internal/cmd/container/kill/kill_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

chore(container/list): migrate tests to new config interface
  .serena/memories/configapocalypse-command-migration-tracker.md
  internal/cmd/container/list/list_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

chore(config): fixed deadlock
  .serena/memories/brainstorm_config-package-split.md
  internal/config/config.go
  internal/config/config_test.go
  internal/config/export_test.go
  internal/config/mocks/config_mock.go
  internal/config/mocks/stubs.go
  internal/config/mocks/stubs_test.go
  internal/project/export_test.go
  internal/project/manager.go
  internal/project/manager_test.go
  internal/project/mocks/manager_mock.go
  internal/project/mocks/project_mock.go
  internal/project/mocks/stubs.go
  internal/project/register_test.go
  internal/project/stubs_test.go
  internal/project/worktree_test_helpers_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

chore(container): migrate 14 commands to new config interface
  .serena/memories/configapocalypse-command-migration-tracker.md
  internal/cmd/container/attach/attach.go
  internal/cmd/container/attach/attach_test.go
  internal/cmd/container/cp/cp.go
  internal/cmd/container/cp/cp_test.go
  internal/cmd/container/inspect/inspect.go
  internal/cmd/container/inspect/inspect_test.go
  internal/cmd/container/logs/logs.go
  internal/cmd/container/logs/logs_test.go
  internal/cmd/container/pause/pause.go
  internal/cmd/container/pause/pause_test.go
  internal/cmd/container/remove/remove.go
  internal/cmd/container/remove/remove_test.go
  internal/cmd/container/rename/rename.go
  internal/cmd/container/rename/rename_test.go
  internal/cmd/container/restart/restart.go
  internal/cmd/container/restart/restart_test.go
  internal/cmd/container/stats/stats.go
  internal/cmd/container/stats/stats_test.go
  internal/cmd/container/stop/stop.go
  internal/cmd/container/stop/stop_test.go
  internal/cmd/container/top/top.go
  internal/cmd/container/top/top_test.go
  internal/cmd/container/unpause/unpause.go
  internal/cmd/container/unpause/unpause_test.go
  internal/cmd/container/update/update.go
  internal/cmd/container/update/update_test.go
  internal/cmd/container/wait/wait.go
  internal/cmd/container/wait/wait_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

chore(config): pre 14 command sweep tracking update
  .serena/memories/configapocalypse-command-migration-tracker.md
Due: none

chore(config): pre config split tracking memory
  .serena/memories/configapocalypse-command-migration-tracker.md
Due: none

docs: update configapocalypse memories after 14-command bulk sweep
  .serena/memories/configapocalypse-codebase-migration.md
  .serena/memories/configapocalypse-command-layer-migration.md
  .serena/memories/configapocalypse-command-migration-tracker.md
  .serena/memories/configapocalypse-migration-inventory.md
  .serena/memories/configapocalypse-prd.md
Due: none

chore(fawker): updated
  internal/clawker/cmd.go
Due: semgrep, govulncheck, go-test, claude-freshness

chore(commands): migrate loop/reset, loop/status, monitor/down, container/start to config.Config interface
  .serena/memories/configapocalypse-command-migration-tracker.md
  go.mod
  go.sum
  internal/cmd/container/start/start.go
  internal/cmd/container/start/start_test.go
  internal/cmd/loop/reset/reset.go
  internal/cmd/loop/status/status.go
  internal/cmd/monitor/CLAUDE.md
  internal/cmd/monitor/down/down.go
Due: semgrep, govulncheck, go-test, docs-check, licenses-check, claude-freshness

chore(commands): migrate container/exec and worktree/* to config.Config interface
  .serena/memories/configapocalypse-command-migration-tracker.md
  internal/cmd/container/exec/exec.go
  internal/cmd/container/exec/exec_test.go
  internal/cmd/worktree/add/add.go
  internal/cmd/worktree/list/list.go
  internal/cmd/worktree/prune/prune.go
  internal/cmd/worktree/remove/remove.go
  internal/cmd/worktree/remove/remove_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

chore(config): migrated command subset
  internal/cmd/container/create/create.go
  internal/cmd/container/run/run.go
  internal/cmd/container/shared/agentenv.go
  internal/cmd/container/shared/container.go
  internal/cmd/container/shared/containerfs.go
  internal/cmd/container/shared/image.go
  internal/cmd/image/build/build.go
  internal/cmd/loop/iterate/iterate.go
  internal/cmd/loop/shared/lifecycle.go
  internal/cmd/loop/tasks/tasks.go
  internal/cmd/project/init/init.go
  internal/cmd/project/register/register.go
  internal/project/worktree_service.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

chore(config): fixed fawker and harness builder
  .serena/memories/TEST_HARNESS_MIGRATION_FINDINGS.md
  .serena/memories/configapocalypse-prd.md
  .serena/project.yml
  cmd/fawker/factory.go
  test/harness/builders/config_builder.go
  test/harness/factory.go
  test/harness/harness.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

chore(config): migrate all test files to Config interface
  .serena/memories/configapocalypse-prd.md
  internal/cmd/container/create/create_test.go
  internal/cmd/container/run/run_test.go
  internal/cmd/container/shared/image_test.go
  internal/cmd/container/shared/init_test.go
  internal/cmd/container/start/start_test.go
  internal/cmd/image/build/build_progress_golden_test.go
  internal/cmd/image/build/build_progress_test.go
  internal/cmd/image/build/build_test.go
  internal/cmd/loop/iterate/iterate_test.go
  internal/cmd/loop/shared/concurrency_test.go
  internal/cmd/loop/shared/dashboard_test.go
  internal/cmd/loop/shared/lifecycle_test.go
  internal/cmd/loop/shared/runner_test.go
  internal/cmd/loop/tasks/tasks_test.go
  test/agents/loop_test.go
  test/commands/container_create_test.go
  test/commands/container_exec_test.go
  test/commands/container_run_test.go
  test/commands/container_start_test.go
  test/commands/loop_test.go
  test/commands/worktree_test.go
  test/internals/constants_test.go
  test/internals/containerfs_test.go
  test/internals/docker_client_test.go
  test/internals/image_resolver_test.go
  test/internals/workspace_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

chore(config): migrate test/harness to Config interface
  .serena/memories/configapocalypse-prd.md
  internal/config/CLAUDE.md
  test/CLAUDE.md
  test/harness/client.go
  test/harness/docker.go
  test/harness/docker_test.go
  test/harness/harness_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

docs(test): update CLAUDE.md for configapocalypse harness migration
  test/CLAUDE.md
Due: none

docs(config): consolidate migration memories and prune CLAUDE.md
  .serena/memories/TEST_HARNESS_MIGRATION_FINDINGS.md
  .serena/memories/brainstorm_config-package-split.md
  .serena/memories/brainstorm_config-test-doubles.md
  .serena/memories/configapocalypse-check-migration.md
  .serena/memories/configapocalypse-codebase-migration.md
  .serena/memories/configapocalypse-command-layer-migration.md
  .serena/memories/configapocalypse-command-migration-tracker.md
  .serena/memories/configapocalypse-docs-sync.md
  .serena/memories/configapocalypse-docs-update.md
  .serena/memories/configapocalypse-migration-inventory.md
  .serena/memories/configapocalypse-prd.md
  internal/config/CLAUDE.md
Due: none

chore(docs): migration docs cleanup
  .serena/memories/configapocalypse-prd.md
  internal/config/CLAUDE.md
Due: none

chore(go.mod): go mod tidy
  go.mod
  go.sum
Due: licenses-check

chore(ignore): added note about node_module test dir
  node_modules/note.txt
Due: none

chore(docs): memory audit
  .serena/memories/clawkerd-container-control-plane.md
  .serena/memories/cp_test_harness_scaffolding.md
  CLAUDE.md
  internal/bundler/CLAUDE.md
  internal/config/CLAUDE.md
  internal/docker/CLAUDE.md
  internal/iostreams/CLAUDE.md
  pkg/whail/CLAUDE.md
Due: none

refactor(socketbridge): migrate to moq mock + external test package
  .claude/docs/TESTING-REFERENCE.md
  CLAUDE.md
  internal/cmd/container/remove/remove_test.go
  internal/cmd/container/stop/stop_test.go
  internal/cmdutil/CLAUDE.md
  internal/config/CLAUDE.md
  internal/config/config.go
  internal/config/consts.go
  internal/config/mocks/config_mock.go
  internal/config/mocks/stubs.go
  internal/socketbridge/CLAUDE.md
  internal/socketbridge/bridge_test.go
  internal/socketbridge/export_test.go
  internal/socketbridge/manager.go
  internal/socketbridge/manager_test.go
  internal/socketbridge/mocks/helpers.go
  internal/socketbridge/mocks/manager_mock.go
  internal/socketbridge/mocks/stubs.go
  internal/socketbridge/socketbridgetest/mock.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

refactor(config): eliminate hardcoded paths and env var names
  internal/cmd/config/check/check.go
  internal/cmd/config/check/check_test.go
  internal/cmd/project/init/init.go
  internal/cmd/project/register/register.go
  internal/config/CLAUDE.md
  internal/config/config.go
  internal/config/config_test.go
  internal/config/consts.go
  internal/config/export_test.go
  internal/config/mocks/config_mock.go
  internal/config/mocks/stubs.go
  internal/docker/client.go
  internal/project/register_test.go
  internal/project/registry.go
  internal/project/worktree_test_helpers_test.go
  test/agents/run_test.go
  test/commands/worktree_test.go
  test/harness/harness.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

docs: comprehensive documentation audit for launch readiness
  docs/configuration.mdx
  docs/credentials.mdx
  docs/custom-images.mdx
  docs/docs.json
  docs/index.mdx
  docs/installation.mdx
  docs/loops.mdx
  docs/monitoring.mdx
  docs/quickstart.mdx
  docs/security.mdx
  docs/testing.md
  docs/worktrees.mdx
  internal/config/defaults.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix: eliminate remaining hardcoded paths, env vars, and filenames
  .claude/memories/cli-output-style-guide.md
  .claude/rules/code-style.md
  CLAUDE.md
  internal/clawker/CLAUDE.md
  internal/cmd/config/check/check_test.go
  internal/cmd/generate/CLAUDE.md
  internal/cmd/monitor/CLAUDE.md
  internal/cmd/worktree/worktree.go
  internal/docker/volume.go
  internal/docs/markdown_test.go
  internal/logger/CLAUDE.md
  internal/update/CLAUDE.md
  internal/workspace/CLAUDE.md
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

chore(docs): removed old env var and path references
  .claude/docs/ARCHITECTURE.md
  .claude/docs/CLI-VERBS.md
  .claude/docs/DESIGN.md
  .serena/memories/config_hardcoded_paths_refactor.md
  internal/cmd/init/CLAUDE.md
  internal/cmd/project/CLAUDE.md
  internal/config/CLAUDE.md
  internal/project/CLAUDE.md
  test/commands/worktree_test.go
  test/harness/harness_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

docs: remove stale Project.Project gotcha from CLAUDE.md
  CLAUDE.md
Due: none

refactor(config): split config.go into logical files by concern
  internal/config/CLAUDE.md
  internal/config/config.go
  internal/config/dirty.go
  internal/config/load.go
  internal/config/resolve.go
  internal/config/write.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix: eliminate hardcoded config constants from docker and test code
  internal/cmd/container/restart/restart.go
  internal/cmd/container/shared/container.go
  internal/cmd/container/start/start.go
  internal/cmd/container/start/start_test.go
  internal/docker/CLAUDE.md
  internal/docker/dockertest/fake_client_test.go
  internal/docker/names.go
  internal/docker/names_test.go
  internal/docker/volume_test.go
  test/harness/harness.go
  test/harness/harness_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

chore(config): post review cleanup
  cmd/fawker/factory.go
  internal/bundler/hash_test.go
  internal/cmd/config/check/check_test.go
  internal/cmd/container/run/run_test.go
  internal/cmd/container/shared/containerfs_test.go
  internal/cmd/container/shared/image.go
  internal/cmd/image/build/build_progress_golden_test.go
  internal/cmd/image/build/build_progress_test.go
  internal/cmd/init/init.go
  internal/cmd/loop/iterate/iterate_test.go
  internal/cmd/loop/shared/dashboard_test.go
  internal/cmd/loop/tasks/tasks_test.go
  internal/config/config_internal_test.go
  internal/config/config_test.go
  internal/config/export_test.go
  internal/docker/builder_test.go
  internal/docker/client_test.go
  internal/docker/image_resolve_test.go
  internal/docker/labels_test.go
  internal/project/register_test.go
  internal/project/registry.go
  test/commands/loop_test.go
  test/harness/factory.go
  test/internals/containerfs_test.go
  test/internals/image_resolver_test.go
  test/internals/workspace_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

chore(config): isolated config write test harness
  internal/config/CLAUDE.md
  internal/config/defaults.go
  internal/config/export_test.go
  internal/config/load.go
  internal/config/mocks/stubs.go
  internal/config/mocks/stubs_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

chore(config): test repo dir and env var added to writable test harness
  .claude/docs/TESTING-REFERENCE.md
  internal/config/config.go
  internal/config/consts.go
  internal/config/export_test.go
  internal/config/mocks/stubs.go
Due: semgrep, govulncheck, go-test, claude-freshness

chore(projectmanager): project manager testing
  .serena/memories/test_infrastructure_and_project_tests.md
  CLAUDE.md
  clawker.yaml
  internal/cmd/container/create/create_test.go
  internal/cmd/container/run/run_test.go
  internal/cmd/container/shared/init_test.go
  internal/cmd/factory/default.go
  internal/cmd/project/init/init.go
  internal/cmd/project/register/register.go
  internal/cmd/worktree/add/add.go
  internal/cmd/worktree/list/list.go
  internal/cmd/worktree/list/list_test.go
  internal/cmd/worktree/remove/remove.go
  internal/cmd/worktree/remove/remove_test.go
  internal/config/CLAUDE.md
  internal/config/mocks/config_mock.go
  internal/git/git.go
  internal/project/CLAUDE.md
  internal/project/manager.go
  internal/project/manager_test.go
  internal/project/mocks/manager_mock.go
  internal/project/mocks/project_mock.go
  internal/project/mocks/stubs.go
  internal/project/project_test.go
  internal/project/register_test.go
  internal/project/stubs_test.go
  internal/project/worktree_service.go
  internal/project/worktree_service_test.go
  internal/project/worktree_test_helpers_test.go
  internal/socketbridge/manager_test.go
  internal/socketbridge/mocks/helpers.go
  internal/socketbridge/mocks/stubs.go
  test/agents/loop_test.go
  test/commands/worktree_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

chore(config): lazy file creation on Write
  internal/config/config_test.go
  internal/config/write.go
Due: semgrep, govulncheck, go-test, claude-freshness

chore(config): corrected docstring
  internal/config/mocks/stubs.go
Due: semgrep, govulncheck, go-test, claude-freshness

chore(config): config split arch
  .claude/docs/ARCHITECTURE.md
  .serena/memories/config-replacement-architecture.md
  internal/bundler/.claude/settings.local.json
Due: none

Path conditions:
  semgrep: any of: \.go$
  govulncheck: any of: \.go$
  go-test: any of: \.go$
  docs-check: any of: ^(cmd/|internal/cmd/|internal/docs/)
  licenses-check: any of: ^go\.(mod|sum)$
  claude-freshness: any of: \.go$
