Repository schmitthub/clawker: changes, and which pre-commit hooks are due for each by the changed paths.
All: semgrep, govulncheck, go-test, docs-check, licenses-check, claude-freshness

semgrep:
  name: Semgrep SAST
  entry: semgrep scan --baseline-commit HEAD --config p/golang --config p/security-audit --error
  language: system
  pass_filenames: false

govulncheck:
  name: govulncheck SCA
  entry: govulncheck ./...
  language: system
  pass_filenames: false

go-test:
  name: Unit tests
  entry: make test
  language: system
  pass_filenames: false

docs-check:
  name: CLI docs freshness
  entry: make docs-check
  language: system
  pass_filenames: false

licenses-check:
  name: NOTICE freshness
  entry: make licenses-check
  language: system
  pass_filenames: false

claude-freshness:
  name: Claude doc freshness (advisory)
  entry: bash -c 'bash scripts/check-claude-freshness.sh --strict --non-interactive --no-color | head -50 || true'
  language: system
  pass_filenames: false
  verbose: true

docs: expand bypass guidance, add Anthropic proxy note for WebFetch/WebSearch
  docs/threat-model.mdx
Due: none

docs: clarify bypass is per-agent, not global — firewall stack stays up
  docs/threat-model.mdx
Due: none

docs: confirmed — only WebSearch uses Anthropic proxy, WebFetch respects firewall
  docs/threat-model.mdx
Due: none

docs: clarify WebSearch proxy is secured and curated by Anthropic
  docs/threat-model.mdx
Due: none

docs: fix hardcoded allowlist description — includes OAuth/telemetry, not just API
  docs/threat-model.mdx
Due: none

docs: add threat model docs link to README
  README.md
Due: none

docs: fix firewall disable DNS behavior — Docker embedded DNS, not direct Cloudflare
  docs/threat-model.mdx
Due: none

docs: clarify MITM only for TLS path rules, plain HTTP inspected directly
  docs/threat-model.mdx
Due: none

docs: replace phantom 'Home guard' term with actual mechanisms
  docs/threat-model.mdx
Due: none

docs: clarify clawker-net CIDR is allowed, not all internal traffic blocked
  docs/threat-model.mdx
Due: none

docs: fix protocol routing — TCP to Envoy, DNS to CoreDNS, non-DNS UDP dropped
  docs/threat-model.mdx
Due: none

docs: add threat model page (#196)
  .devin/wiki.json
  README.md
  docs/docs.json
  docs/threat-model.mdx
Due: none

docs: threat model update chore: package update
  docs/threat-model.mdx
  go.mod
  go.sum
Due: licenses-check

docs: clarified how docker network is isolated
  docs/threat-model.mdx
Due: none

fix: remove Docker registry domains from required firewall rules
  docs/firewall.mdx
  docs/security.mdx
  internal/config/config_test.go
  internal/config/defaults.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix: supply chain hardening — pin versions, add integrity checks, fix vulnerabilities
  .github/workflows/release.yml
  .github/workflows/security.yml
  .pre-commit-config.yaml
  docs/threat-model.mdx
  go.mod
  go.sum
  internal/bundler/CLAUDE.md
  internal/bundler/assets/Dockerfile.tmpl
  internal/bundler/dockerfile.go
  internal/cmd/project/init/init_test.go
  internal/config/presets.go
  internal/monitor/CLAUDE.md
  internal/monitor/templates.go
  internal/monitor/templates/compose.yaml.tmpl
  scripts/gen-notice.sh
  scripts/install-hooks.sh
Due: semgrep, govulncheck, go-test, docs-check, licenses-check, claude-freshness

fix: add named volumes with clawker labels to monitoring stack
  internal/monitor/templates/compose.yaml.tmpl
Due: none

fix: upgrade go-licenses to v2 and regenerate NOTICE
  NOTICE
Due: none

fix: fix zsh-in-docker invocation with download-verify-execute pattern
  internal/bundler/assets/Dockerfile.tmpl
Due: none

fix: block ICMP to prevent tunneling exfiltration, update threat model
  docs/firewall.mdx
  docs/security.mdx
  docs/threat-model.mdx
  internal/bundler/assets/firewall.sh
  test/e2e/firewall_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix: resolve Copilot review findings — docs, Dockerfile, pre-commit
  .pre-commit-config.yaml
  docs/firewall.mdx
  docs/threat-model.mdx
  internal/bundler/assets/Dockerfile.tmpl
  internal/config/defaults.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix: add Docker socket privilege escalation warning to threat model
  docs/threat-model.mdx
Due: none

docs: tracker memory update
  .serena/memories/bug-tracker.md
Due: none

fix: add iputils-ping to ICMP test, add IPv6 firewall rules
  internal/bundler/assets/firewall.sh
  test/e2e/firewall_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

docs: added security note to claude.md
  CLAUDE.md
Due: none

fix: threat model docs + supply chain hardening (#197)
  .github/workflows/release.yml
  .github/workflows/security.yml
  .pre-commit-config.yaml
  .serena/memories/bug-tracker.md
  CLAUDE.md
  NOTICE
  docs/firewall.mdx
  docs/security.mdx
  docs/threat-model.mdx
  go.mod
  go.sum
  internal/bundler/CLAUDE.md
  internal/bundler/assets/Dockerfile.tmpl
  internal/bundler/assets/firewall.sh
  internal/bundler/dockerfile.go
  internal/cmd/project/init/init_test.go
  internal/config/config_test.go
  internal/config/defaults.go
  internal/config/presets.go
  internal/monitor/CLAUDE.md
  internal/monitor/templates.go
  internal/monitor/templates/compose.yaml.tmpl
  scripts/gen-notice.sh
  scripts/install-hooks.sh
  test/e2e/firewall_test.go
Due: semgrep, govulncheck, go-test, docs-check, licenses-check, claude-freshness

test: verify plugin drift check
  .github/workflows/main.yml
  .github/workflows/plugin.yml
  .github/workflows/pr.yml
  .pre-commit-config.yaml
  claude-plugin/clawker-support/.claude-plugin/plugin.json
  claude-plugin/clawker-support/LICENSE
  claude-plugin/clawker-support/README.md
  claude-plugin/clawker-support/skills/clawker-support/SKILL.md
  claude-plugin/clawker-support/skills/clawker-support/reference/Dockerfile.tmpl
  claude-plugin/clawker-support/skills/clawker-support/reference/mcp-recipes.md
  claude-plugin/clawker-support/skills/clawker-support/reference/troubleshooting.md
Due: none

feat: clawker-support Claude Code plugin + marketplace CI
  .github/workflows/plugin-release.yml
  CLAUDE.md
  claude-plugin/clawker-support/.claude-plugin/plugin.json
  claude-plugin/clawker-support/README.md
  claude-plugin/clawker-support/skills/clawker-support/SKILL.md
  claude-plugin/clawker-support/skills/clawker-support/reference/known-issues.md
  claude-plugin/clawker-support/skills/clawker-support/reference/mcp-recipes.md
Due: none

fix: patch BuildKit CVE-2026-33747 + fix pre-commit govulncheck gap
  .github/workflows/plugin-release.yml
  .pre-commit-config.yaml
  go.mod
  go.sum
Due: licenses-check

fix: address Copilot PR review — SHA pin workflow, fix config precedence docs
  .github/workflows/plugin-release.yml
  claude-plugin/clawker-support/skills/clawker-support/SKILL.md
  claude-plugin/clawker-support/skills/clawker-support/reference/troubleshooting.md
  internal/storage/CLAUDE.md
Due: none

fix: address Copilot round 2 — config precedence, storage API docs
  claude-plugin/clawker-support/skills/clawker-support/SKILL.md
  claude-plugin/clawker-support/skills/clawker-support/reference/troubleshooting.md
  internal/storage/CLAUDE.md
Due: none

feat: clawker-support Claude Code plugin (#200)
  .github/workflows/main.yml
  .github/workflows/plugin-release.yml
  .github/workflows/plugin.yml
  .github/workflows/pr.yml
  .pre-commit-config.yaml
  CLAUDE.md
  claude-plugin/clawker-support/.claude-plugin/plugin.json
  claude-plugin/clawker-support/LICENSE
  claude-plugin/clawker-support/README.md
  claude-plugin/clawker-support/skills/clawker-support/SKILL.md
  claude-plugin/clawker-support/skills/clawker-support/reference/Dockerfile.tmpl
  claude-plugin/clawker-support/skills/clawker-support/reference/known-issues.md
  claude-plugin/clawker-support/skills/clawker-support/reference/mcp-recipes.md
  claude-plugin/clawker-support/skills/clawker-support/reference/troubleshooting.md
  go.mod
  go.sum
  internal/storage/CLAUDE.md
Due: licenses-check

fix: consolidate main workflow + fix startup_failure since Feb 28
  .github/workflows/main.yml
  .github/workflows/plugin-release.yml
Due: none

docs: update plugin install command for schmitthub-plugins marketplace name
  claude-plugin/clawker-support/README.md
Due: none

docs: add clawker-support plugin install instructions to README and quickstart
  README.md
  docs/quickstart.mdx
Due: none

docs: improve clawker-support skill build-time vs runtime guidance
  claude-plugin/clawker-support/skills/clawker-support/SKILL.md
  claude-plugin/clawker-support/skills/clawker-support/reference/mcp-recipes.md
  claude-plugin/clawker-support/skills/clawker-support/reference/troubleshooting.md
Due: none

docs: replace prescriptive MCP examples with research-driven methodology
  claude-plugin/clawker-support/skills/clawker-support/reference/mcp-recipes.md
  claude-plugin/clawker-support/skills/clawker-support/reference/troubleshooting.md
Due: none

docs: improve clawker-support skill build-time vs runtime guidance (#202)
  claude-plugin/clawker-support/skills/clawker-support/SKILL.md
  claude-plugin/clawker-support/skills/clawker-support/reference/mcp-recipes.md
  claude-plugin/clawker-support/skills/clawker-support/reference/troubleshooting.md
Due: none

fix: plugin release detection for squash merges
  .github/workflows/main.yml
Due: none

chore: bump clawker-support plugin to v0.2.0
  claude-plugin/clawker-support/.claude-plugin/plugin.json
Due: none

Path conditions:
  semgrep: any of: \.go$
  govulncheck: any of: \.go$
  go-test: any of: \.go$
  docs-check: any of: ^(cmd/|internal/cmd/|internal/docs/)
  licenses-check: any of: ^go\.(mod|sum)$
  claude-freshness: any of: \.go$
