Repository schmitthub/clawker: changes, and which pre-commit hooks are due for each by the changed paths.
All: semgrep, govulncheck, go-test, docs-check, licenses-check, claude-freshness

.pre-commit-config.yaml:

# Pre-commit hooks — mirrors CI quality gates locally.
# Install: bash scripts/install-hooks.sh
# Run all: pre-commit run --all-files
# Run one: pre-commit run gitleaks --all-files

repos:
  # ── Security ──────────────────────────────────────────────────────────────
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.30.0
    hooks:
      - id: gitleaks
        args: [--baseline-path, gitleaks-report.json]

  # ── Lint ──────────────────────────────────────────────────────────────────
  - repo: https://github.com/golangci/golangci-lint
    rev: v2.9.0
    hooks:
      - id: golangci-lint-full
        args: [--config, .golangci.yml]

  # ── Local hooks ───────────────────────────────────────────────────────────
  - repo: local
    hooks:
      - id: semgrep
        name: Semgrep SAST
        # Expected version: 1.146.0 (must match CI image tag in security.yml)
        entry: semgrep scan --baseline-commit HEAD --config p/golang --config p/security-audit --error
        language: system
        types: [go]
        pass_filenames: false

      - id: govulncheck
        name: govulncheck SCA
        entry: govulncheck ./...
        language: system
        types: [go]
        pass_filenames: false

      - id: go-test
        name: Unit tests
        entry: make test
        language: system
        types: [go]
        pass_filenames: false

      - id: docs-check
        name: CLI docs freshness
        entry: make docs-check
        language: system
        files: ^(cmd/|internal/cmd/|internal/docs/)
        pass_filenames: false

      - id: licenses-check
        name: NOTICE freshness
        entry: make licenses-check
        language: system
        files: ^go\.(mod|sum)$
        pass_filenames: false

      - id: claude-freshness
        name: Claude doc freshness (advisory)
        entry: bash -c 'bash scripts/check-claude-freshness.sh --strict --non-interactive --no-color | head -50 || true'
        language: system
        files: \.go$
        pass_filenames: false
        verbose: true

docs(firewall): correct SDS identity comments
  controlplane/firewall/envoy_config_test.go
  controlplane/firewall/envoy_consts.go
  controlplane/firewall/envoy_types.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix(hooks): register guards and order writes
  .codex/config.toml
  prek.toml
Due: none

fix(firewall): detect SDS listener port drift
  controlplane/firewall/AGENTS.md
  controlplane/firewall/stack.go
  controlplane/firewall/stack_drift_internal_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix(controlplane): bound SDS graceful shutdown
  controlplane/AGENTS.md
  internal/controlplane/cmd.go
  internal/controlplane/sds_stop_internal_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix(firewall): share CA ownership during rotation
  .claude/docs/ARCHITECTURE.md
  .claude/docs/DESIGN.md
  README.md
  controlplane/AGENTS.md
  controlplane/firewall/AGENTS.md
  controlplane/firewall/castore.go
  controlplane/firewall/castore_internal_test.go
  controlplane/firewall/castore_test.go
  controlplane/firewall/certs.go
  controlplane/firewall/container_spec_test.go
  controlplane/firewall/errors.go
  controlplane/firewall/handler.go
  controlplane/firewall/sds_server.go
  controlplane/firewall/sds_server_internal_test.go
  controlplane/firewall/sds_server_test.go
  controlplane/firewall/stack.go
  controlplane/firewall/stack_drift_internal_test.go
  controlplane/firewall/stack_infracerts_internal_test.go
  controlplane/firewall/stack_sdscerts_internal_test.go
  controlplane/firewall/stack_test.go
  docs/firewall.mdx
  internal/controlplane/cmd.go
  internal/controlplane/sds_stop_internal_test.go
  prek.toml
Due: semgrep, govulncheck, go-test, claude-freshness

docs(memory): record PR 519 review completion
  .serena/memories/pr519-copilot-triage-handoff.md
Due: none

fix(firewall): restrict SDS certificate access
  .claude/docs/ARCHITECTURE.md
  .claude/docs/DESIGN.md
  .serena/memories/cp-refactor.md
  .serena/memories/instruction-file-convention.md
  .serena/memories/lint-approval.md
  .serena/memories/pr519-copilot-triage-handoff.md
  AGENTS.md
  README.md
  controlplane/AGENTS.md
  controlplane/firewall/certs.go
  controlplane/firewall/certs_test.go
  controlplane/firewall/container_spec_test.go
  controlplane/firewall/envoy_config.go
  controlplane/firewall/sds_server.go
  controlplane/firewall/sds_server_test.go
  controlplane/firewall/stack.go
  controlplane/firewall/stack_drift_internal_test.go
  controlplane/sdscerts/AGENTS.md
  controlplane/sdscerts/CLAUDE.md
  controlplane/sdscerts/sdscerts.go
  controlplane/sdscerts/sdscerts_test.go
  docs/firewall.mdx
  internal/consts/controlplane.go
  internal/controlplane/cmd.go
  internal/controlplane/cmd_helpers_test.go
  internal/controlplane/sds_stop_internal_test.go
  internal/controlplane/sds_tls_internal_test.go
  test/AGENTS.md
  test/e2e/firewall_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix(git): resolve container dubious ownership
  CHANGELOG.md
  README.md
  docs/cli-reference/clawker_worktree.md
  docs/container-internals.mdx
  docs/index.mdx
  docs/quickstart.mdx
  docs/threat-model.mdx
  docs/worktrees.mdx
  internal/bundler/assets/clawker-agent-prompt.md
  internal/cmd/worktree/worktree.go
  internal/docker/AGENTS.md
  internal/docker/consts.go
  internal/docker/env.go
  internal/workspace/AGENTS.md
  internal/workspace/setup.go
  internal/workspace/setup_test.go
  test/AGENTS.md
  test/e2e/worktree_git_access_test.go
  test/git/runtime_env_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(git): trust every repository inside the container
  internal/docker/AGENTS.md
  internal/docker/consts.go
  internal/docker/env.go
  internal/docker/env_test.go
  test/git/runtime_env_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

docs(quickstart): remove empty worktree note
  docs/quickstart.mdx
Due: none

chore(firewall): allow Docker issue reads
  .clawker.yaml
Due: none

test(git): remove native Git environment test
  test/AGENTS.md
  test/git/runtime_env_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

chore: memory cleanup
  .serena/memories/pr519-copilot-triage-handoff.md
Due: none

fix(git): resolve container dubious ownership (#522)
  .clawker.yaml
  .serena/memories/pr519-copilot-triage-handoff.md
  CHANGELOG.md
  README.md
  docs/cli-reference/clawker_worktree.md
  docs/container-internals.mdx
  docs/index.mdx
  docs/quickstart.mdx
  docs/threat-model.mdx
  docs/worktrees.mdx
  internal/bundler/assets/clawker-agent-prompt.md
  internal/cmd/worktree/worktree.go
  internal/docker/AGENTS.md
  internal/docker/consts.go
  internal/docker/env.go
  internal/docker/env_test.go
  internal/workspace/AGENTS.md
  internal/workspace/setup.go
  internal/workspace/setup_test.go
  test/e2e/worktree_git_access_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(firewall): make domain certs readable by the Envoy process
  .claude/docs/ARCHITECTURE.md
  CHANGELOG.md
  controlplane/firewall/AGENTS.md
  controlplane/firewall/castore.go
  controlplane/firewall/castore_internal_test.go
  controlplane/firewall/castore_test.go
  controlplane/firewall/certs.go
  controlplane/firewall/certs_test.go
  controlplane/firewall/sds_server_test.go
  controlplane/firewall/stack.go
  controlplane/firewall/stack_test.go
  internal/controlplane/cmd.go
  internal/controlplane/cmd_helpers_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

docs(changelog): simplify Linux cert mount entry
  CHANGELOG.md
Due: none

fix(firewall): make domain certs readable by the Envoy process (#523)
  .claude/docs/ARCHITECTURE.md
  CHANGELOG.md
  controlplane/firewall/AGENTS.md
  controlplane/firewall/castore.go
  controlplane/firewall/castore_internal_test.go
  controlplane/firewall/castore_test.go
  controlplane/firewall/certs.go
  controlplane/firewall/certs_test.go
  controlplane/firewall/sds_server_test.go
  controlplane/firewall/stack.go
  controlplane/firewall/stack_test.go
  internal/controlplane/cmd.go
  internal/controlplane/cmd_helpers_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

chore(copilot): add code review instructions, skill, and instructions scaffold
  .github/copilot-instructions.md
  .github/instructions/README.md
  .github/skills/code-review/SKILL.md
  AGENTS.md
Due: none

chore(claude): omit session URL from commit and PR attribution
  .claude/settings.json
Due: none

chore(copilot): align review docs with rule paths and GitHub terms
  .github/copilot-instructions.md
  .github/instructions/README.md
  .github/skills/code-review/SKILL.md
Due: none

chore(copilot): add code review instructions, skill, and instructions scaffold (#524)
  .claude/settings.json
  .github/copilot-instructions.md
  .github/instructions/README.md
  .github/skills/code-review/SKILL.md
  AGENTS.md
Due: none

chore(agents): dissolve .agents/docs into skills, package instructions, and Serena memories
  .agents/README.md
  .agents/docs/MONITORING-REFERENCE.md
  .agents/docs/STOREUI-REFERENCE.md
  .agents/docs/prompter-wizard.md
  .agents/rules/code-style.md
  .agents/rules/testing.md
  .agents/skills/agent-files/SKILL.md
  .agents/skills/audit-memory/REFERENCE.md
  .agents/skills/audit-memory/SKILL.md
  .agents/skills/cli-output/SKILL.md
  .agents/skills/dev-checks/SKILL.md
  .agents/skills/firewall-uat/SKILL.md
  .agents/skills/writing-tests/SKILL.md
  .claude/settings.local.json.example
  .devin/wiki.json
  .github/copilot-instructions.md
  .gitignore
  .serena/memories/architecture.md
  .serena/memories/cli/core.md
  .serena/memories/core.md
  .serena/memories/design.md
  .serena/memories/history/storage-redesign/migration-guide.md
  .serena/memories/key-concepts.md
  .serena/memories/monitoring/core.md
  .serena/memories/project-guide.md
  .serena/memories/repo-structure.md
  .serena/memories/testing/core.md
  AGENTS.md
  internal/cmd/container/AGENTS.md
  internal/cmd/settings/AGENTS.md
  internal/config/AGENTS.md
  internal/logger/AGENTS.md
  internal/monitor/AGENTS.md
  internal/prompter/AGENTS.md
  internal/storage/AGENTS.md
  internal/storeui/AGENTS.md
  internal/tui/AGENTS.md
  scripts/check-agent-compatibility.py
  scripts/test_agent_compatibility.py
Due: docs-check

chore(agents): make situational references auto-invoked skills
  .agents/skills/dev-checks/SKILL.md
  .agents/skills/monitoring-checks/SKILL.md
  .agents/skills/store-editor/SKILL.md
  .agents/skills/wizard-commands/SKILL.md
  .serena/memories/core.md
  .serena/memories/monitoring/core.md
  .serena/memories/suggested_commands.md
  .serena/memories/task_completion.md
  .serena/memories/tech_stack.md
  .serena/memories/testing/core.md
  AGENTS.md
  internal/cmd/settings/AGENTS.md
  internal/monitor/AGENTS.md
  internal/prompter/AGENTS.md
  internal/storeui/AGENTS.md
  internal/tui/AGENTS.md
  scripts/check-agent-compatibility.py
  scripts/test_agent_compatibility.py
Due: docs-check

chore(agents): move testing rules into the root AGENTS.md
  .agents/rules/testing.md
  .agents/skills/writing-tests/SKILL.md
  .serena/memories/testing/core.md
  AGENTS.md
  test/AGENTS.md
Due: none

chore(agents): move dependency placement into the root AGENTS.md
  .agents/rules/dependency-placement.md
  .serena/memories/design.md
  AGENTS.md
Due: none

chore(agents): drop stale file-pattern note in the design memory
  .serena/memories/design.md
Due: none

chore(agents): roll code-style into Serena and remove the rule directory
  .agents/rules/code-style.md
  .agents/skills/agent-files/SKILL.md
  .agents/skills/audit-memory/REFERENCE.md
  .agents/skills/audit-memory/SKILL.md
  .agents/skills/cli-output/SKILL.md
  .claude/rules
  .claude/settings.local.json.example
  .devin/wiki.json
  .github/copilot-instructions.md
  .github/instructions/README.md
  .serena/memories/architecture.md
  .serena/memories/cli/core.md
  .serena/memories/config/core.md
  .serena/memories/conventions.md
  .serena/memories/core.md
  .serena/memories/design.md
  AGENTS.md
  internal/project/registry.go
  internal/state/state.go
  internal/storage/errors.go
  pkg/whail/AGENTS.md
  pkg/whail/README.md
  scripts/check-agent-compatibility.py
Due: semgrep, govulncheck, go-test, claude-freshness

docs(agents): describe the Serena memory bank in the root AGENTS.md
  AGENTS.md
Due: none

docs(agents): drop rule-file wording from the root instructions
  AGENTS.md
Due: none

chore(hooks): remove the advisory agent doc freshness hook
  .agents/skills/agent-files/SKILL.md
  .agents/skills/audit-memory/SKILL.md
  .agents/skills/dev-checks/SKILL.md
  .serena/memories/repo-structure.md
  prek.toml
  scripts/check-agents-freshness.sh
Due: none

chore(serena): memory maintenance and prefixes
  .serena/memories/architecture.md
  .serena/memories/cli/core.md
  .serena/memories/core.md
  .serena/memories/design.md
  .serena/memories/history/controlplane-trust-model.md
  .serena/memories/history/wildcard-sds-certificates.md
  .serena/memories/plans/docker-build-parity.md
  .serena/memories/plans/generic-socket-bridge/requirements.md
  .serena/memories/plans/multi-harness/follow-ups.md
  .serena/memories/plans/openclaw/plan.md
  .serena/memories/plans/openclaw/research.md
  .serena/memories/research/agent-sandboxes/assessment-guidelines.md
  .serena/memories/research/agent-sandboxes/providers/anthropic-sandbox-runtime.md
  .serena/memories/research/agent-sandboxes/providers/claude-code-sandboxing.md
  .serena/memories/research/agent-sandboxes/providers/codex-cli-sandbox.md
  .serena/memories/research/agent-sandboxes/providers/docker-sandboxes.md
  .serena/memories/research/agent-sandboxes/providers/mattolson-agent-sandbox.md
  .serena/memories/research/agent-sandboxes/sources.md
Due: none

fix(scripts): harden the agent compatibility check
  .agents/skills/agent-files/SKILL.md
  scripts/check-agent-compatibility.py
  scripts/test_agent_compatibility.py
Due: none

chore(graphify): add knowledge graph, skill, and git integration
  .agents/skills/graphify/.graphify_version
  .agents/skills/graphify/SKILL.md
  .agents/skills/graphify/references/add-watch.md
  .agents/skills/graphify/references/exports.md
  .agents/skills/graphify/references/extraction-spec.md
  .agents/skills/graphify/references/github-and-merge.md
  .agents/skills/graphify/references/hooks.md
  .agents/skills/graphify/references/query.md
  .agents/skills/graphify/references/transcribe.md
  .agents/skills/graphify/references/update.md
  .clawker.yaml
  .codex/config.toml
  .gitattributes
  .gitignore
  graphify-out/.graphify_labels.json
  graphify-out/.graphify_labels.json.sig
  graphify-out/GRAPH_REPORT.md
  graphify-out/graph.html
  graphify-out/graph.json
  graphify-out/manifest.json
Due: none

chore(graphify): wire Claude hooks and AGENTS.md guidance
  .claude/settings.json
  AGENTS.md
Due: none

chore(graphify): stop tracking manifest.json
  .gitattributes
  .gitignore
  graphify-out/manifest.json
Due: none
