Repository schmitthub/clawker: changes, and which pre-commit hooks are due for each by the changed paths.
All: semgrep, govulncheck, go-test, docs-check, licenses-check, claude-freshness

semgrep:
  name: Semgrep SAST
  entry: semgrep scan --baseline-commit HEAD --config p/golang --config p/security-audit --error
  language: system
  pass_filenames: false

govulncheck:
  name: govulncheck SCA
  entry: govulncheck ./...
  language: system
  pass_filenames: false

go-test:
  name: Unit tests
  entry: make test
  language: system
  pass_filenames: false

docs-check:
  name: CLI docs freshness
  entry: make docs-check
  language: system
  pass_filenames: false

licenses-check:
  name: NOTICE freshness
  entry: make licenses-check
  language: system
  pass_filenames: false

claude-freshness:
  name: Claude doc freshness (advisory)
  entry: bash -c 'bash scripts/check-claude-freshness.sh --strict --non-interactive --no-color | head -50 || true'
  language: system
  pass_filenames: false
  verbose: true

fix(tui): use textarea editor for all text fields
  internal/tui/fieldbrowser.go
  internal/tui/fieldbrowser_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix: remove fields, empty string handling
  .claude/rules/storeui.md
  .clawker.bak.yaml
  .clawker.yaml
  .serena/project.yml
  internal/config/config_test.go
  internal/storage/CLAUDE.md
  internal/storage/storage_test.go
  internal/storage/store.go
  internal/storage/write.go
  internal/storeui/CLAUDE.md
  internal/storeui/edit.go
  internal/storeui/integration_test.go
  internal/tui/CLAUDE.md
  internal/tui/fieldbrowser.go
Due: semgrep, govulncheck, go-test, claude-freshness

refactor(storage): per-field dirty tracking, virtual layer, unified Write
  internal/cmd/init/init.go
  internal/cmd/project/init/init.go
  internal/config/config_test.go
  internal/storage/merge.go
  internal/storage/storage_test.go
  internal/storage/store.go
  internal/storage/write.go
  internal/storeui/edit.go
  internal/storeui/integration_test.go
  internal/tui/fieldbrowser.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

feat(storeui): full schema editing — kill KindComplex, add Editor extension point
  internal/config/storeui/project/project.go
  internal/config/storeui/project/project_test.go
  internal/storage/defaults.go
  internal/storage/defaults_test.go
  internal/storage/field.go
  internal/storage/field_test.go
  internal/storage/write.go
  internal/storeui/edit.go
  internal/storeui/field.go
  internal/storeui/field_test.go
  internal/storeui/reflect.go
  internal/storeui/reflect_test.go
  internal/storeui/value.go
  internal/tui/fieldbrowser.go
  internal/tui/fieldbrowser_test.go
  internal/tui/fieldeditor.go
  internal/tui/formeditor.go
  internal/tui/itemlisteditor.go
  internal/tui/kveditor.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix(storeui): accept plain strings for struct slice fields
  internal/storeui/value.go
Due: semgrep, govulncheck, go-test, claude-freshness

refactor(bundler): drop OS-variant branching from run instructions
  internal/bundler/assets/Dockerfile.tmpl
Due: none

refactor(schema): simplify RunInstruction to []string
  internal/bundler/assets/Dockerfile.tmpl
  internal/bundler/dockerfile.go
  internal/config/config.go
  internal/config/migrations.go
  internal/config/schema.go
Due: semgrep, govulncheck, go-test, claude-freshness

test(config): add migration tests — unit + e2e through Cobra
  internal/cmd/project/shared/discovery.go
  internal/config/config.go
  internal/config/migrations.go
  internal/config/migrations_test.go
  test/e2e/migration_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(entrypoint): chgrp docker socket before privilege drop
  internal/bundler/assets/entrypoint.sh
Due: none

feat(storage): add MarkForWrite and re-discovery Refresh for per-layer saves
  internal/storage/CLAUDE.md
  internal/storage/storage_test.go
  internal/storage/store.go
  internal/storeui/edit.go
  internal/storeui/edit_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

refactor(storeui): consolidate LayerTargets into shared BuildLayerTargets
  .clawker.yaml
  internal/config/schema.go
  internal/config/storeui/project/project.go
  internal/config/storeui/settings/settings.go
Due: semgrep, govulncheck, go-test, claude-freshness

feat(tui): wire KVEditorModel as default editor for map[string]string fields
  .claude/rules/storeui.md
  internal/config/storeui/project/project.go
  internal/storeui/CLAUDE.md
  internal/tui/CLAUDE.md
  internal/tui/fieldbrowser.go
  internal/tui/fieldbrowser_test.go
  internal/tui/kveditor_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

chore: doc update
  .clawker.yaml
  .serena/memories/storeui-bug-tracker.md
Due: none

fix(init): remove broken offerUserDefault function
  .serena/memories/copilot-pr191-findings.md
  .serena/memories/storeui-bug-tracker.md
  internal/cmd/project/init/init.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(storage): Write() rebuilds tree/provenance after persisting
  .serena/memories/copilot-pr191-findings.md
  internal/storage/storage_test.go
  internal/storage/store.go
  internal/storeui/edit.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix(storage): schema-aware merge/diff/write for map[string]string fields
  .claude/docs/DESIGN.md
  .serena/memories/copilot-pr191-findings.md
  internal/config/schema.go
  internal/storage/CLAUDE.md
  internal/storage/merge.go
  internal/storage/storage_test.go
  internal/storage/store.go
  internal/storage/write.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix(tui): correct misleading comment in FieldBrowser Editor fallback
  .serena/memories/copilot-pr191-findings.md
  internal/tui/fieldbrowser.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix(test): assert command success in e2e migration tests
  .serena/memories/copilot-pr191-findings.md
  test/e2e/migration_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

feat(tui): generic editor validation system with write-boundary design
  .claude/rules/storeui.md
  .clawker.yaml
  .serena/memories/copilot-pr191-findings.md
  internal/tui/CLAUDE.md
  internal/tui/fieldbrowser.go
  internal/tui/fieldeditor.go
  internal/tui/fields.go
  internal/tui/itemlisteditor.go
  internal/tui/kveditor.go
  internal/tui/kveditor_test.go
  internal/tui/listeditor.go
  internal/tui/textareaeditor.go
  internal/tui/validation.go
  internal/tui/validation_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

docs: add layered inheritance mental model to storeui and storage docs
  .claude/rules/storeui.md
  CLAUDE.md
  internal/storage/CLAUDE.md
Due: none

fix(storage): consolidate type-kind mapping, fail fast on unsupported types
  .serena/memories/copilot-pr191-findings.md
  internal/storage/defaults.go
  internal/storage/defaults_test.go
  internal/storage/field.go
  internal/storage/field_test.go
  internal/storage/merge.go
  internal/storage/storage_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix(storage): extensible kind system with strict map classification (#17)
  .claude/rules/storage-schema.md
  .claude/rules/storeui.md
  .serena/memories/copilot-pr191-findings.md
  internal/storage/CLAUDE.md
  internal/storage/defaults.go
  internal/storage/field.go
  internal/storage/field_test.go
  internal/storage/merge.go
  internal/storeui/CLAUDE.md
  internal/storeui/edit.go
  internal/storeui/field_test.go
  internal/storeui/reflect.go
  internal/storeui/reflect_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix: resolve remaining copilot PR review findings (#7,#8,#3,#6,#15)
  .claude/rules/storeui.md
  .serena/memories/copilot-pr191-findings.md
  internal/storage/CLAUDE.md
  internal/storage/defaults.go
  internal/storage/defaults_test.go
  internal/storage/store.go
  internal/storeui/CLAUDE.md
  internal/tui/components.go
  internal/tui/components_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

chore: doc cleanup
  .serena/memories/brainstorm_config-field-descriptions.md
  .serena/memories/copilot-pr191-findings.md
  .serena/memories/initiative_storage-schema-contract.md
  .serena/memories/prd_store-ui.md
  .serena/memories/store-ui-backup.md
Due: none

fix(security): harden tar extraction against path traversal and symlink attacks
  CLAUDE.md
  internal/cmd/container/cp/cp.go
  internal/cmd/container/cp/cp_test.go
  internal/cmd/project/CLAUDE.md
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(storage): remove preallocation in unionAny to satisfy CodeQL overflow check
  internal/storage/merge.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix(security): sanitize tar entry name before filepath.Join for CodeQL
  internal/cmd/container/cp/cp.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(security): sanitize header.Linkname before filesystem calls
  internal/cmd/container/cp/cp.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(security): use resolved+relative path for symlink creation
  internal/cmd/container/cp/cp.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(security): inline containment checks for CodeQL taint tracking
  internal/cmd/container/cp/cp.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(security): use EvalSymlinks for symlink/hardlink containment checks
  internal/cmd/container/cp/cp.go
  internal/cmd/container/cp/cp_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(security): use securejoin.SecureJoin for all tar path sanitization
  internal/cmd/container/cp/cp.go
  internal/cmd/container/cp/cp_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(storeui): remove wrapStringAsStructSlice silent corruption fallback
  internal/storeui/value.go
  internal/tui/itemlisteditor.go
Due: semgrep, govulncheck, go-test, claude-freshness

feat(config): add language preset definitions for project init
  .claude/docs/DESIGN.md
  .claude/rules/storage-schema.md
  internal/config/CLAUDE.md
  internal/config/defaults.go
  internal/config/presets.go
  internal/config/presets_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

feat(storeui): add store-backed Wizard[T] for guided field editing
  internal/storeui/CLAUDE.md
  internal/storeui/wizard.go
  internal/storeui/wizard_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

feat(project): rewrite project init with preset-based guided setup
  docs/cli-reference/clawker_project_init.md
  internal/cmd/project/CLAUDE.md
  internal/cmd/project/init/init.go
  internal/cmd/project/init/init_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

feat(init): convert clawker init to project init alias
  .claude/docs/CLI-VERBS.md
  .claude/docs/DESIGN.md
  CLAUDE.md
  README.md
  docs/cli-reference/clawker.md
  docs/cli-reference/clawker_init.md
  internal/cmd/init/CLAUDE.md
  internal/cmd/init/init.go
  internal/cmd/init/init_test.go
  internal/cmd/root/CLAUDE.md
  internal/cmd/root/root.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

chore: docs and configs
  .clawker.yaml
  .serena/memories/brainstorm_init-commands-refactor.md
  .serena/memories/bug-tracker.md
  .serena/memories/init-commands-refactor.md
  .serena/memories/storeui-and-wizard-systems.md
Due: none

docs: readme update
  README.md
  examples/csharp.yaml
  examples/go.yaml
  examples/llm.md
  examples/node.yaml
  examples/php.yaml
  examples/python.yaml
  examples/rust.yaml
Due: none

Path conditions:
  semgrep: any of: \.go$
  govulncheck: any of: \.go$
  go-test: any of: \.go$
  docs-check: any of: ^(cmd/|internal/cmd/|internal/docs/)
  licenses-check: any of: ^go\.(mod|sum)$
  claude-freshness: any of: \.go$
