Repository schmitthub/clawker: changes, and which pre-commit hooks are due for each by the changed paths.
All: semgrep, govulncheck, go-test, docs-check, licenses-check, claude-freshness

semgrep:
  name: Semgrep SAST
  entry: semgrep scan --baseline-commit HEAD --config p/golang --config p/security-audit --error
  language: system
  pass_filenames: false

govulncheck:
  name: govulncheck SCA
  entry: govulncheck ./...
  language: system
  pass_filenames: false

go-test:
  name: Unit tests
  entry: make test
  language: system
  pass_filenames: false

docs-check:
  name: CLI docs freshness
  entry: make docs-check
  language: system
  pass_filenames: false

licenses-check:
  name: NOTICE freshness
  entry: make licenses-check
  language: system
  pass_filenames: false

claude-freshness:
  name: Claude doc freshness (advisory)
  entry: bash -c 'bash scripts/check-claude-freshness.sh --strict --non-interactive --no-color | head -50 || true'
  language: system
  pass_filenames: false
  verbose: true

feat(alias): ship wt worktree default; shell-quoting help fix
  cmd/gen-docs/configuration.mdx.tmpl
  docs/cli-reference/clawker_alias.md
  docs/cli-reference/clawker_alias_set.md
  docs/configuration.mdx
  internal/cmd/alias/CLAUDE.md
  internal/cmd/alias/alias.go
  internal/cmd/alias/list/list_test.go
  internal/cmd/alias/set/set.go
  internal/cmd/root/CLAUDE.md
  internal/config/config_test.go
  internal/config/schema.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(alias): defaults immutable — delete routes to file layers only
  cmd/gen-docs/configuration.mdx.tmpl
  docs/cli-reference/clawker_alias_delete.md
  docs/cli-reference/clawker_alias_export.md
  docs/cli-reference/clawker_alias_list.md
  docs/configuration.mdx
  internal/cmd/alias/CLAUDE.md
  internal/cmd/alias/delete/delete.go
  internal/cmd/alias/delete/delete_test.go
  internal/cmd/alias/export/export.go
  internal/cmd/alias/list/list.go
  internal/cmd/root/CLAUDE.md
  internal/cmd/root/useraliases.go
  internal/cmd/root/useraliases_integration_test.go
  internal/config/schema.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

chore: bump plugin version
  claude-plugin/clawker-support/.claude-plugin/plugin.json
Due: none

docs(alias): dedicated aliases guide + promote across quickstarts; wt default takes branch[:base]
  README.md
  claude-plugin/clawker-support/.claude-plugin/plugin.json
  claude-plugin/clawker-support/skills/clawker-support/reference/project-config.md
  claude-plugin/clawker-support/skills/clawker-support/reference/settings.md
  cmd/gen-docs/configuration.mdx.tmpl
  docs/aliases.mdx
  docs/cli-reference/clawker_alias.md
  docs/cli-reference/clawker_alias_set.md
  docs/configuration.mdx
  docs/docs.json
  docs/index.mdx
  docs/quickstart.mdx
  internal/cmd/alias/alias.go
  internal/cmd/alias/list/list_test.go
  internal/cmd/alias/set/set.go
  internal/cmd/root/CLAUDE.md
  internal/config/config_test.go
  internal/config/schema.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

chore(docs): added skill ref to readme quickstart
  README.md
Due: none

chore(docs): readme ordering change to flow better
  README.md
Due: none

fix(alias): reject dots in alias names; pin gh-parity expansion semantics
  README.md
  docs/aliases.mdx
  internal/cmd/alias/CLAUDE.md
  internal/cmd/alias/shared/shared.go
  internal/cmd/alias/shared/shared_test.go
  internal/cmd/root/useraliases.go
  internal/cmd/root/useraliases_test.go
  internal/config/CLAUDE.md
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(keyring): inject Claude Code credential blob verbatim, never re-marshal
  internal/containerfs/CLAUDE.md
  internal/containerfs/containerfs.go
  internal/containerfs/containerfs_test.go
  internal/keyring/CLAUDE.md
  internal/keyring/claude_code.go
  internal/keyring/claude_code_test.go
  internal/keyring/service.go
Due: semgrep, govulncheck, go-test, claude-freshness

docs(worktree): caveats section + sweep all worktree entry points to it
  README.md
  claude-plugin/clawker-support/.claude-plugin/plugin.json
  claude-plugin/clawker-support/skills/clawker-support/reference/known-issues.md
  docs/aliases.mdx
  docs/cli-reference/clawker_worktree.md
  docs/container-internals.mdx
  docs/index.mdx
  docs/quickstart.mdx
  docs/worktrees.mdx
  internal/bundler/assets/clawker-agent-prompt.md
  internal/cmd/worktree/worktree.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(keyring): inject Claude Code credential blob verbatim, never re-marshal (#371)
  README.md
  claude-plugin/clawker-support/.claude-plugin/plugin.json
  claude-plugin/clawker-support/skills/clawker-support/reference/known-issues.md
  docs/aliases.mdx
  docs/cli-reference/clawker_worktree.md
  docs/container-internals.mdx
  docs/index.mdx
  docs/quickstart.mdx
  docs/worktrees.mdx
  internal/bundler/assets/clawker-agent-prompt.md
  internal/cmd/worktree/worktree.go
  internal/containerfs/CLAUDE.md
  internal/containerfs/containerfs.go
  internal/containerfs/containerfs_test.go
  internal/keyring/CLAUDE.md
  internal/keyring/claude_code.go
  internal/keyring/claude_code_test.go
  internal/keyring/service.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

chore(docs): moved go alias to primary command in quiickstart docs
  README.md
  docs/quickstart.mdx
Due: none

chore(docs): re-ordered monitoring in quickstart guides
  README.md
  docs/quickstart.mdx
Due: none

feat(container): reap auto-remove containers whose start fails
  internal/cmd/container/restart/restart.go
  internal/cmd/container/restart/restart_test.go
  internal/cmd/container/run/run.go
  internal/cmd/container/run/run_test.go
  internal/cmd/container/shared/CLAUDE.md
  internal/cmd/container/shared/container_start.go
  internal/cmd/container/shared/container_start_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(container): reap on all start-failure paths; benign NotFound races
  internal/cmd/container/restart/restart.go
  internal/cmd/container/restart/restart_test.go
  internal/cmd/container/run/run.go
  internal/cmd/container/run/run_test.go
  internal/cmd/container/shared/CLAUDE.md
  internal/cmd/container/shared/container_start.go
  internal/cmd/container/shared/container_start_test.go
  internal/cmd/container/start/start.go
  internal/cmd/container/start/start_test.go
  internal/docker/CLAUDE.md
  internal/docker/mocks/helpers.go
  internal/docker/types.go
  pkg/whail/CLAUDE.md
  pkg/whail/errors.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix: added Reap to failed container start as well just in case
  internal/cmd/container/shared/container_start.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

feat(container): reap auto-remove containers whose start fails (#373)
  internal/cmd/container/restart/restart.go
  internal/cmd/container/restart/restart_test.go
  internal/cmd/container/run/run.go
  internal/cmd/container/run/run_test.go
  internal/cmd/container/shared/CLAUDE.md
  internal/cmd/container/shared/container_start.go
  internal/cmd/container/shared/container_start_test.go
  internal/cmd/container/start/start.go
  internal/cmd/container/start/start_test.go
  internal/docker/CLAUDE.md
  internal/docker/mocks/helpers.go
  internal/docker/types.go
  pkg/whail/CLAUDE.md
  pkg/whail/errors.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(presets): TypeScript preset runs npm install pre_run
  internal/config/presets.go
  internal/config/presets_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix(presets): TypeScript preset runs npm install pre_run (#375)
  internal/config/presets.go
  internal/config/presets_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

refactor(storage): delegate XDG resolution to internal/consts
  .claude/docs/ARCHITECTURE.md
  internal/consts/consts.go
  internal/consts/xdg_dirs_test.go
  internal/storage/CLAUDE.md
  internal/storage/resolver.go
Due: semgrep, govulncheck, go-test, claude-freshness

refactor: swap hardcoded literals for existing consts (tier 1)
  cmd/clawker-cp/main.go
  cmd/clawkerd/main.go
  internal/cmd/container/shared/containerfs.go
  internal/cmd/project/init/init.go
  internal/cmdutil/format.go
  internal/cmdutil/worktree.go
  internal/config/config.go
  internal/config/port.go
  internal/controlplane/cpboot/cp_container.go
  internal/controlplane/firewall/ebpf/manager.go
  internal/controlplane/firewall/ebpf/types.go
  internal/controlplane/firewall/stack.go
  internal/dnsbpf/bpfmap.go
  internal/docker/client.go
  internal/testenv/testenv.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

feat(consts): foundational consts for codebase-wide cleanup
  internal/consts/auth_dirs_test.go
  internal/consts/consts.go
  internal/consts/controlplane.go
  internal/consts/egress.go
  internal/consts/monitoring.go
  internal/consts/oauth.go
Due: semgrep, govulncheck, go-test, claude-freshness

refactor(firewall): canonical egress proto/action tokens in consts
  api/admin/v1/conversion.go
  internal/cmd/firewall/add.go
  internal/cmd/firewall/list.go
  internal/cmd/firewall/remove.go
  internal/config/schema.go
  internal/consts/egress.go
  internal/consts/monitoring.go
  internal/controlplane/firewall/certs.go
  internal/controlplane/firewall/coredns_config.go
  internal/controlplane/firewall/ebpf/mocks/ebpf_manager_mock.go
  internal/controlplane/firewall/ebpf/netlogger/event.go
  internal/controlplane/firewall/envoy_accesslog.go
  internal/controlplane/firewall/envoy_config.go
  internal/controlplane/firewall/envoy_http.go
  internal/controlplane/firewall/envoy_tcp.go
  internal/controlplane/firewall/envoy_types.go
  internal/controlplane/firewall/envoy_udp.go
  internal/controlplane/firewall/rules_store.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

chore: comments stop hard-spelling const values; clawker-net sweep
  api/agent/v1/agent.go
  api/agent/v1/agent.proto
  api/agent/v1/agent_grpc.pb.go
  api/clawkerd/v1/clawkerd.proto
  api/clawkerd/v1/clawkerd_grpc.pb.go
  cmd/clawker-cp/main.go
  cmd/clawkerd/main.go
  internal/auth/auth_material.go
  internal/auth/auth_test.go
  internal/cmd/network/inspect/inspect_test.go
  internal/config/config.go
  internal/config/config_test.go
  internal/config/consts.go
  internal/consts/monitoring.go
  internal/controlplane/agent/dialer.go
  internal/controlplane/agent/handler.go
  internal/controlplane/agent/peer_lookup.go
  internal/controlplane/agent/peer_lookup_moby.go
  internal/controlplane/agent/peer_lookup_test.go
  internal/controlplane/agent/register_handler.go
  internal/controlplane/cpboot/bootstrap.go
  internal/controlplane/cpboot/bootstrap_test.go
  internal/controlplane/cpboot/cp_container.go
  internal/controlplane/cpboot/manager.go
  internal/controlplane/dockerevents/dispatch_test.go
  internal/controlplane/dockerevents/feeder_test.go
  internal/controlplane/firewall/coredns_config.go
  internal/controlplane/firewall/ebpf/netlogger/event.go
  internal/controlplane/firewall/ebpf/types.go
  internal/controlplane/firewall/envoy_config.go
  internal/controlplane/firewall/stack.go
  internal/controlplane/firewall/stack_test.go
  internal/docker/client.go
  internal/docker/env.go
  internal/monitor/templates.go
  test/e2e/firewall_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

refactor: OAuth protocol strings, Ory names, OTel env names, cert subjects via consts
  cmd/clawker-cp/main.go
  cmd/clawkerd/register.go
  cmd/coredns-clawker/plugins/otel/setup.go
  internal/auth/agent_cert.go
  internal/auth/auth_material.go
  internal/auth/consts.go
  internal/cmd/container/shared/container_create.go
  internal/cmd/container/shared/container_start.go
  internal/consts/monitoring.go
  internal/controlplane/adminclient/dial.go
  internal/controlplane/authz.go
  internal/controlplane/cpboot/bootstrap.go
  internal/controlplane/cpboot/cp_container.go
  internal/controlplane/cpboot/manager.go
  internal/controlplane/firewall/stack.go
  internal/controlplane/hydra_client.go
  internal/controlplane/infracerts/infracerts.go
  internal/controlplane/otelcerts/otelcerts.go
  internal/docker/env.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

refactor: env var names, socket types, Docker hostnames, loopback via consts
  cmd/clawker-cp/main.go
  cmd/clawkerd/register_test.go
  cmd/clawkerd/session_test.go
  internal/auth/auth_material.go
  internal/auth/auth_test.go
  internal/cmd/container/exec/exec.go
  internal/cmd/container/shared/container_create.go
  internal/cmd/container/shared/container_create_test.go
  internal/cmd/container/shared/container_start.go
  internal/consts/consts.go
  internal/consts/controlplane.go
  internal/controlplane/adminclient/dial.go
  internal/controlplane/agent/init.go
  internal/controlplane/agent/register_handler_test.go
  internal/controlplane/cpboot/bootstrap.go
  internal/controlplane/cpboot/bootstrap_test.go
  internal/controlplane/cpboot/container_config_test.go
  internal/controlplane/cpboot/cp_container.go
  internal/controlplane/cpboot/manager.go
  internal/controlplane/firewall/coredns_config.go
  internal/controlplane/firewall/envoy_config.go
  internal/controlplane/firewall/handler.go
  internal/controlplane/grpc_mtls_test.go
  internal/controlplane/ory_configs.go
  internal/controlplane/otelclient_test.go
  internal/controlplane/startup.go
  internal/docker/env.go
  internal/hostproxy/internals/cmd/callback-forwarder/main.go
  internal/hostproxy/internals/cmd/callback-forwarder/main_test.go
  internal/hostproxy/internals/cmd/clawker-socket-server/main.go
  internal/hostproxy/manager.go
  internal/hostproxy/manager_test.go
  internal/hostproxy/server.go
  internal/hostproxy/server_test.go
  internal/logger/logger_test.go
  internal/monitor/templates_test.go
  internal/socketbridge/bridge.go
  internal/workspace/git.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

refactor: package-local consts for whail, docker, containerfs, keyring, logger
  cmd/clawkerd/progress.go
  cmd/coredns-clawker/plugins/otel/otel.go
  internal/cmd/container/shared/container_start.go
  internal/cmd/container/shared/containerfs.go
  internal/cmd/project/shared/discovery.go
  internal/consts/consts.go
  internal/containerfs/consts.go
  internal/containerfs/containerfs.go
  internal/controlplane/agent/init.go
  internal/controlplane/firewall/envoy_accesslog.go
  internal/docker/client.go
  internal/docker/consts.go
  internal/docker/image_resolve.go
  internal/docker/labels.go
  internal/docker/names.go
  internal/keyring/claude_code.go
  internal/keyring/keyring.go
  internal/logger/logger.go
  internal/storage/discover.go
  internal/storage/write.go
  internal/storeui/edit.go
  internal/workspace/strategy.go
  pkg/whail/buildkit/consts.go
  pkg/whail/buildkit/solve.go
  pkg/whail/consts.go
  pkg/whail/container.go
  pkg/whail/engine.go
  pkg/whail/image.go
  pkg/whail/labels.go
  pkg/whail/network.go
  pkg/whail/volume.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

test(config): pin ControlPlaneSettings port defaults to consts; storage perms via consts
  internal/config/mocks/config_mock.go
  internal/config/schema_ports_parity_test.go
  internal/storage/load.go
  internal/storage/write.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix(consts): review fixes — tripwire pins, tautology cleanup, comment accuracy
  .claude/docs/ARCHITECTURE.md
  internal/auth/consts.go
  internal/config/CLAUDE.md
  internal/config/config_test.go
  internal/consts/auth_dirs_test.go
  internal/consts/consts.go
  internal/consts/persisted_values_test.go
  internal/containerfs/containerfs.go
  internal/controlplane/cpboot/container_config_test.go
  internal/docker/CLAUDE.md
  internal/hostproxy/manager.go
  internal/iostreams/pager.go
  internal/storage/CLAUDE.md
  internal/update/update.go
  internal/workspace/strategy.go
Due: semgrep, govulncheck, go-test, claude-freshness

chore(docs): record consts moves in package docs; env var straggler consts
  .claude/docs/ARCHITECTURE.md
  .claude/docs/DESIGN.md
  internal/cmd/alias/export/export_test.go
  internal/cmd/alias/shared/shared_test.go
  internal/cmd/controlplane/CLAUDE.md
  internal/cmd/monitor/CLAUDE.md
  internal/cmd/network/CLAUDE.md
  internal/cmd/project/shared/discovery.go
  internal/config/CLAUDE.md
  internal/consts/consts.go
  internal/controlplane/CLAUDE.md
  internal/controlplane/agent/CLAUDE.md
  internal/controlplane/firewall/CLAUDE.md
  internal/docker/CLAUDE.md
  internal/hostproxy/manager.go
  internal/iostreams/pager.go
  internal/update/update.go
  test/e2e/harness/harness.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

refactor(consts): hoist CP auth-path intermediate consts
  internal/consts/controlplane.go
Due: semgrep, govulncheck, go-test, claude-freshness

test: dedupe XDG resolver tests; persisted-value tripwires; review fixes
  internal/config/schema_ports_parity_test.go
  internal/consts/persisted_values_test.go
  internal/hostproxy/internals/cmd/clawker-socket-server/main.go
  internal/socketbridge/bridge.go
  internal/storage/storage_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix(consts): keep embedded standalone binaries stdlib-only
  internal/hostproxy/internals/cmd/callback-forwarder/main.go
  internal/hostproxy/internals/cmd/callback-forwarder/main_test.go
  internal/hostproxy/internals/cmd/clawker-socket-server/main.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix(containerfs): skip broken symlinks when staging claude config
  internal/containerfs/CLAUDE.md
  internal/containerfs/containerfs.go
  internal/containerfs/containerfs_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix(consts): copilot review fixes — loopback invariant test + network name provenance
  internal/controlplane/agent/dialer.go
  internal/controlplane/agent/peer_lookup.go
  internal/controlplane/agent/peer_lookup_moby.go
  internal/controlplane/cpboot/container_config_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

chore(clawker): bumped gh version
  .clawker.yaml
Due: none

fix(workspace): copy .git into snapshots; reject worktree+snapshot
  docs/container-internals.mdx
  docs/worktrees.mdx
  internal/cmd/container/shared/container_create.go
  internal/cmd/container/shared/init_test.go
  internal/docker/CLAUDE.md
  internal/docker/volume.go
  internal/docker/volume_test.go
  internal/workspace/CLAUDE.md
  internal/workspace/setup.go
  internal/workspace/setup_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(workspace): copy .git into snapshots; reject worktree+snapshot (#377)
  .clawker.yaml
  docs/container-internals.mdx
  docs/worktrees.mdx
  internal/cmd/container/shared/container_create.go
  internal/cmd/container/shared/init_test.go
  internal/docker/CLAUDE.md
  internal/docker/volume.go
  internal/docker/volume_test.go
  internal/workspace/CLAUDE.md
  internal/workspace/setup.go
  internal/workspace/setup_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

Path conditions:
  semgrep: any of: \.go$
  govulncheck: any of: \.go$
  go-test: any of: \.go$
  docs-check: any of: ^(cmd/|internal/cmd/|internal/docs/)
  licenses-check: any of: ^go\.(mod|sum)$
  claude-freshness: any of: \.go$
