Repository schmitthub/clawker: changes, and which pre-commit hooks are due for each by the changed paths.
All: semgrep, govulncheck, go-test, docs-check, licenses-check, claude-freshness

.pre-commit-config.yaml:

# Pre-commit hooks — mirrors CI quality gates locally.
# Install: bash scripts/install-hooks.sh
# Run all: pre-commit run --all-files
# Run one: pre-commit run gitleaks --all-files

repos:
  # ── Security ──────────────────────────────────────────────────────────────
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.30.0
    hooks:
      - id: gitleaks
        args: [--baseline-path, gitleaks-report.json]

  # ── Lint ──────────────────────────────────────────────────────────────────
  - repo: https://github.com/golangci/golangci-lint
    rev: v2.9.0
    hooks:
      - id: golangci-lint-full
        args: [--config, .golangci.yml]

  # ── Local hooks ───────────────────────────────────────────────────────────
  - repo: local
    hooks:
      - id: semgrep
        name: Semgrep SAST
        # Expected version: 1.146.0 (must match CI image tag in security.yml)
        entry: semgrep scan --baseline-commit HEAD --config p/golang --config p/security-audit --error
        language: system
        types: [go]
        pass_filenames: false

      - id: govulncheck
        name: govulncheck SCA
        entry: govulncheck ./...
        language: system
        types: [go]
        pass_filenames: false

      - id: go-test
        name: Unit tests
        entry: make test
        language: system
        types: [go]
        pass_filenames: false

      - id: docs-check
        name: CLI docs freshness
        entry: make docs-check
        language: system
        files: ^(cmd/|internal/cmd/|internal/docs/)
        pass_filenames: false

      - id: licenses-check
        name: NOTICE freshness
        entry: make licenses-check
        language: system
        files: ^go\.(mod|sum)$
        pass_filenames: false

      - id: claude-freshness
        name: Claude doc freshness (advisory)
        entry: bash -c 'bash scripts/check-claude-freshness.sh --strict --non-interactive --no-color | head -50 || true'
        language: system
        files: \.go$
        pass_filenames: false
        verbose: true

fix: clarify clawkerignore bind vs snapshot behavior in file header
  internal/config/defaults.go
Due: semgrep, govulncheck, go-test, claude-freshness

docs: review suggestion fix
  docs/threat-model.mdx
Due: none

fix: use type placeholders with inline default/required metadata in YAML schema
  claude-plugin/clawker-support/skills/clawker-support/reference/project-config.md
  docs/configuration.mdx
  internal/docs/configdoc.go
  internal/docs/configdoc_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix: remove dead Duration/FileMode guards from struct-type check
  internal/docs/configdoc.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix: add default/required metadata to struct slice element fields
  docs/configuration.mdx
  internal/docs/configdoc.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

bump skill version
  claude-plugin/clawker-support/.claude-plugin/plugin.json
Due: none

docs: clarified priv mode warning
  docs/threat-model.mdx
Due: none

fix: generate full YAML schema in docs and fix clawkerignore tmpfs permissions (#210)
  claude-plugin/clawker-support/.claude-plugin/plugin.json
  claude-plugin/clawker-support/skills/clawker-support/reference/project-config.md
  cmd/gen-docs/configuration.mdx.tmpl
  docs/configuration.mdx
  docs/threat-model.mdx
  internal/config/defaults.go
  internal/docs/configdoc.go
  internal/docs/configdoc_test.go
  internal/workspace/bind.go
  internal/workspace/bind_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix: remove invalid nosuid/nodev tmpfs options that Docker rejects
  docs/threat-model.mdx
  internal/workspace/bind.go
  internal/workspace/bind_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

Update internal/workspace/bind_test.go
  internal/workspace/bind_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix: remove invalid nosuid/nodev tmpfs options (#212)
  docs/threat-model.mdx
  internal/workspace/bind.go
  internal/workspace/bind_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

feat: fw monitoring init
  .claude/rules/monitoring.md
  .serena/memories/egress-monitoring/implementation-status.md
  docs/monitoring.mdx
  internal/cmd/monitor/init/init.go
  internal/firewall/CLAUDE.md
  internal/firewall/coredns.go
  internal/firewall/envoy.go
  internal/firewall/envoy_test.go
  internal/firewall/testdata/corefile_basic.golden
  internal/monitor/CLAUDE.md
  internal/monitor/templates.go
  internal/monitor/templates/compose.yaml.tmpl
  internal/monitor/templates/grafana-dashboard.json
  internal/monitor/templates/promtail-config.yaml.tmpl
  internal/monitor/templates_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

feat: firewall monitoring — health listener, source IP fix, dashboard wiring
  .clawker.yaml
  .serena/memories/egress-monitoring/grafana-dashboard-filtering-fix.md
  .serena/memories/egress-monitoring/implementation-status.md
  .serena/memories/egress-monitoring/resume-state.md
  internal/bundler/assets/firewall.sh
  internal/config/config.go
  internal/config/consts.go
  internal/config/mocks/config_mock.go
  internal/config/mocks/stubs.go
  internal/firewall/coredns.go
  internal/firewall/envoy.go
  internal/firewall/envoy_test.go
  internal/firewall/manager.go
  internal/firewall/testdata/corefile_basic.golden
  internal/monitor/templates.go
  internal/monitor/templates/grafana-dashboard.json
  internal/monitor/templates/promtail-config.yaml.tmpl
  internal/monitor/templates_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix: dashboard filter
  .serena/memories/egress-monitoring/grafana-dashboard-filtering-fix.md
  .serena/memories/egress-monitoring/resume-state.md
  internal/monitor/templates/grafana-dashboard.json
Due: none

fix: entrypoint firewall wait used iteration count not wall-clock seconds
  internal/bundler/assets/entrypoint.sh
Due: none

fix: address Copilot review — cardinality, timeouts, stale comments, deny logging
  .claude/rules/monitoring.md
  internal/bundler/assets/firewall.sh
  internal/cmd/container/shared/container_create.go
  internal/config/consts.go
  internal/docker/env.go
  internal/firewall/CLAUDE.md
  internal/firewall/envoy.go
  internal/firewall/manager.go
  internal/monitor/templates/grafana-dashboard.json
  internal/monitor/templates/promtail-config.yaml.tmpl
  internal/monitor/templates_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

chore: cleanup
  .clawker.yaml
  .serena/memories/egress-monitoring/grafana-dashboard-filtering-fix.md
  .serena/memories/egress-monitoring/implementation-status.md
  .serena/memories/storeui-and-wizard-systems.md
Due: none

feat: firewall monitoring — health listener, source IP fix, dashboard wiring (#213)
  .claude/rules/monitoring.md
  .clawker.yaml
  .serena/memories/storeui-and-wizard-systems.md
  docs/monitoring.mdx
  internal/bundler/assets/entrypoint.sh
  internal/bundler/assets/firewall.sh
  internal/cmd/container/shared/container_create.go
  internal/cmd/monitor/init/init.go
  internal/config/config.go
  internal/config/consts.go
  internal/config/mocks/config_mock.go
  internal/config/mocks/stubs.go
  internal/docker/env.go
  internal/firewall/CLAUDE.md
  internal/firewall/coredns.go
  internal/firewall/envoy.go
  internal/firewall/envoy_test.go
  internal/firewall/manager.go
  internal/firewall/testdata/corefile_basic.golden
  internal/monitor/CLAUDE.md
  internal/monitor/templates.go
  internal/monitor/templates/compose.yaml.tmpl
  internal/monitor/templates/grafana-dashboard.json
  internal/monitor/templates/promtail-config.yaml.tmpl
  internal/monitor/templates_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

docs: removed stale reference to google ip ranges
  CLAUDE.md
Due: none

audit: QA convergence audit (4 rounds) + red team assessment
  .claude/artifacts/redteam/report-2026-03-30.md
  .serena/memories/correctless/audit-qa-round1-2026-03-30.md
  .serena/memories/correctless/audit-qa-round2-2026-03-30.md
  .serena/memories/correctless/audit-qa-round3-2026-03-30.md
  .serena/memories/correctless/audit-qa-round4-2026-03-30.md
  .serena/memories/correctless/redteam-2026-03-30.md
Due: none

feat: add wildcard domain support and new required firewall rules
  docs/firewall.mdx
  docs/security.mdx
  internal/config/config_test.go
  internal/config/defaults.go
  internal/firewall/coredns.go
  internal/firewall/coredns_test.go
  internal/firewall/envoy.go
  internal/firewall/envoy_test.go
  internal/firewall/rules.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix: normalize wildcard domains in cert generation and inherit PathRules on dedup
  internal/firewall/certs.go
  internal/firewall/certs_test.go
  internal/firewall/envoy_test.go
  internal/firewall/rules.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix: wildcard and exact domain rules coexist as separate filter chains
  internal/firewall/envoy.go
  internal/firewall/envoy_test.go
  internal/firewall/rules.go
Due: semgrep, govulncheck, go-test, claude-freshness

audit: add privesc red team report + address PR review comments
  .claude/artifacts/redteam/privesc-report-2026-03-31.md
  .claude/artifacts/redteam/report-2026-03-30.md
  .serena/memories/correctless/redteam-2026-03-30.md
  .serena/memories/correctless/redteam-privesc-2026-03-31.md
Due: none

test: E2E test for wildcard and exact domain rule coexistence
  test/e2e/firewall_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

feat: blink running-step dots in progress display tree
  internal/tui/progress.go
Due: semgrep, govulncheck, go-test, claude-freshness

feat: TLS inspection for all domains + egress dashboard improvements
  .claude/rules/monitoring.md
  .serena/memories/brainstorm_egress-monitoring-paths-layout.md
  claude-plugin/clawker-support/skills/clawker-support/reference/Dockerfile.tmpl
  docs/firewall.mdx
  internal/bundler/assets/Dockerfile.tmpl
  internal/bundler/assets/entrypoint.sh
  internal/cmd/container/shared/container_start.go
  internal/firewall/certs.go
  internal/firewall/certs_test.go
  internal/firewall/envoy.go
  internal/firewall/envoy_test.go
  internal/firewall/firewall.go
  internal/firewall/manager.go
  internal/monitor/templates/grafana-dashboard.json
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

docs: updated agent prompt about new firewall behavior
  internal/bundler/assets/clawker-agent-prompt.md
Due: none

fix: cross-proto wildcard suppression, cert dedup, and Loki path guard
  internal/firewall/certs.go
  internal/firewall/certs_test.go
  internal/firewall/envoy.go
  internal/monitor/templates/grafana-dashboard.json
Due: semgrep, govulncheck, go-test, claude-freshness

docs: review fixes
  internal/bundler/assets/clawker-agent-prompt.md
Due: none

fix: end-to-end TLS negotiation for MITM proxy + SNI bypass
  internal/firewall/envoy.go
  internal/firewall/envoy_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix: upstream ECDH curves for P-384 ECDSA server certs
  internal/firewall/envoy.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix: disable Envoy default 15s route timeout for forward proxy
  internal/firewall/envoy.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix: unique virtual host names and TLS upstream port enforcement
  .clawker.yaml
  internal/firewall/envoy.go
  internal/firewall/envoy_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

chore: cleanup
  .serena/memories/brainstorm_egress-monitoring-paths-layout.md
Due: none

fix: h2 proxy
  internal/firewall/envoy.go
  internal/firewall/envoy_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix: respect caller context deadline in WaitForHealthy and tie blink tick to step lifecycle
  internal/firewall/envoy_test.go
  internal/firewall/manager.go
  internal/tui/progress.go
  test/e2e/firewall_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

release: bumped skill point release for new dockerfile tmpl
  claude-plugin/clawker-support/.claude-plugin/plugin.json
Due: none

fix: TLS/HTTP route_config port matching and WaitForHealthy expired context
  internal/firewall/envoy.go
  internal/firewall/manager.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix: prevent duplicate blink tick chains causing rapid flash in progress display
  internal/tui/progress.go
Due: semgrep, govulncheck, go-test, claude-freshness
