Repository schmitthub/clawker: changes, and which pre-commit hooks are due for each by the changed paths.
All: semgrep, govulncheck, go-test, docs-check, licenses-check, claude-freshness

semgrep:
  name: Semgrep SAST
  entry: semgrep scan --baseline-commit HEAD --config p/golang --config p/security-audit --error
  language: system
  pass_filenames: false

govulncheck:
  name: govulncheck SCA
  entry: govulncheck ./...
  language: system
  pass_filenames: false

go-test:
  name: Unit tests
  entry: make test
  language: system
  pass_filenames: false

docs-check:
  name: CLI docs freshness
  entry: make docs-check
  language: system
  pass_filenames: false

licenses-check:
  name: NOTICE freshness
  entry: make licenses-check
  language: system
  pass_filenames: false

claude-freshness:
  name: Claude doc freshness (advisory)
  entry: bash -c 'bash scripts/check-claude-freshness.sh --strict --non-interactive --no-color | head -50 || true'
  language: system
  pass_filenames: false
  verbose: true

chore(docs): gen docs update
  docs/configuration.mdx
Due: none

test(storage): pin routed writes byte-exact — dirty nodes only, never the virtual layer
  internal/storage/storage_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

chore(clawker): bump schema version
  .clawker.yaml
Due: none

docs(multi-harness): add Claude-coupling inventory planning artifact
  .serena/memories/multi-harness/claude-coupling-inventory.md
Due: none

docs(multi-harness): add build.go to coupling inventory
  .serena/memories/multi-harness/claude-coupling-inventory.md
Due: none

docs(multi-harness): map clawker skill command; drop MCP phantom
  .serena/memories/multi-harness/claude-coupling-inventory.md
  .serena/memories/multi-harness/design.md
Due: none

docs(multi-harness): add design artifact + folder index
  .serena/memories/multi-harness/README.md
  .serena/memories/multi-harness/claude-coupling-inventory.md
  .serena/memories/multi-harness/design.md
Due: none

docs(multi-harness): expand containerfs staging to mechanic-level
  .serena/memories/multi-harness/claude-coupling-inventory.md
Due: none

docs(multi-harness): elevate firewall floor + agent/build coupling
  .serena/memories/multi-harness/claude-coupling-inventory.md
Due: none

feat(multi-harness): ship codex as an embedded harness bundle
  internal/bundler/assets/harnesses/codex/Dockerfile.harness.tmpl
  internal/bundler/assets/harnesses/codex/harness.yaml
  internal/bundler/harness_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

docs(multi-harness): add harness bundle and toolchain development guides
  docs/docs.json
  docs/harness-bundles.mdx
  docs/toolchains.mdx
Due: none

feat(plugin): add clawker-harness-dev skill for bundle and toolchain authors
  .github/workflows/main.yml
  .github/workflows/plugin.yml
  .github/workflows/pr.yml
  claude-plugin/clawker-harness-dev/.claude-plugin/plugin.json
  claude-plugin/clawker-harness-dev/CLAUDE.md
  claude-plugin/clawker-harness-dev/LICENSE
  claude-plugin/clawker-harness-dev/README.md
  claude-plugin/clawker-harness-dev/skills/clawker-harness-dev/SKILL.md
  claude-plugin/clawker-harness-dev/skills/clawker-harness-dev/reference/harness-manifest.md
  claude-plugin/clawker-harness-dev/skills/clawker-harness-dev/reference/security-egress.md
  claude-plugin/clawker-harness-dev/skills/clawker-harness-dev/reference/template-blocks.md
  claude-plugin/clawker-harness-dev/skills/clawker-harness-dev/reference/toolchain-authoring.md
  claude-plugin/clawker-harness-dev/skills/clawker-harness-dev/reference/worked-example.md
Due: none

feat(multi-harness): load-time config migrations and shipped-bundle staleness detection
  docs/docs.json
  docs/upgrading.mdx
  internal/bundler/CLAUDE.md
  internal/bundler/config.go
  internal/bundler/harness.go
  internal/bundler/harness_test.go
  internal/bundler/toolchain.go
  internal/bundler/toolchain_test.go
  internal/bundler/versions_test.go
  internal/cmd/bridge/CLAUDE.md
  internal/cmd/image/build/build.go
  internal/config/CLAUDE.md
  internal/config/config_test.go
  internal/config/consts.go
  internal/config/egress_rules_test.go
  internal/config/migrations.go
  internal/config/migrations_test.go
  internal/config/presets_test.go
  internal/config/schema_ports_parity_test.go
  internal/config/schema_test.go
  internal/config/storeui/project/project.go
  internal/config/storeui/project/project_test.go
  internal/config/storeui/settings/settings_test.go
  internal/harness/consts.go
  internal/harness/harness_test.go
  internal/harness/materialize.go
  test/e2e/firewall_test.go
  test/e2e/migration_test.go
  test/e2e/preset_builds_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

docs(multi-harness): add 0.13.0 changelog entry with upgrade actions
  CHANGELOG.md
Due: none

docs(multi-harness): prune planning memories to current state
  .serena/memories/multi-harness/README.md
  .serena/memories/multi-harness/base-image-split.md
  .serena/memories/multi-harness/claude-coupling-inventory.md
  .serena/memories/multi-harness/descriptor-schema.md
  .serena/memories/multi-harness/design.md
  .serena/memories/multi-harness/master-template-refactor.md
  .serena/memories/multi-harness/migration.md
  .serena/memories/multi-harness/substrate-toolchains.md
  .serena/memories/multi-harness/upgrade-guide.md
Due: none

refactor(plugin): fold harness-dev skill into clawker-support plugin
  .github/workflows/main.yml
  .serena/memories/multi-harness/README.md
  CHANGELOG.md
  claude-plugin/clawker-harness-dev/.claude-plugin/plugin.json
  claude-plugin/clawker-harness-dev/CLAUDE.md
  claude-plugin/clawker-harness-dev/LICENSE
  claude-plugin/clawker-harness-dev/README.md
  claude-plugin/clawker-support/.claude-plugin/plugin.json
  claude-plugin/clawker-support/CLAUDE.md
  claude-plugin/clawker-support/README.md
  claude-plugin/clawker-support/skills/harness-toolchain-dev/SKILL.md
  claude-plugin/clawker-support/skills/harness-toolchain-dev/reference/harness-manifest.md
  claude-plugin/clawker-support/skills/harness-toolchain-dev/reference/security-egress.md
  claude-plugin/clawker-support/skills/harness-toolchain-dev/reference/template-blocks.md
  claude-plugin/clawker-support/skills/harness-toolchain-dev/reference/toolchain-authoring.md
  claude-plugin/clawker-support/skills/harness-toolchain-dev/reference/worked-example.md
  docs/cli-reference/clawker_skill.md
  docs/cli-reference/clawker_skill_install.md
  internal/cmd/skill/install/install.go
  internal/cmd/skill/skill.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

docs(skill): call the plugin agent skills, not a Claude Code plugin
  README.md
  claude-plugin/clawker-support/README.md
  docs/architecture.mdx
  docs/cli-reference/clawker.md
  docs/cli-reference/clawker_skill.md
  docs/cli-reference/clawker_skill_install.md
  docs/cli-reference/clawker_skill_remove.md
  docs/cli-reference/clawker_skill_show.md
  internal/cmd/skill/CLAUDE.md
  internal/cmd/skill/install/install.go
  internal/cmd/skill/remove/remove.go
  internal/cmd/skill/skill.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

docs(serena): record multi-agent plugin packaging as merge blocker
  .serena/memories/multi-harness/README.md
Due: none

docs(changelog): drop docs-only bullet, link guides inline
  CHANGELOG.md
Due: none

docs(changelog): drop inline doc links from bullets
  CHANGELOG.md
Due: none

fix(config): stop seeding the harness registry at config load
  .serena/memories/multi-harness/blast-radius.md
  docs/upgrading.mdx
  internal/config/CLAUDE.md
  internal/config/migrations.go
  internal/config/migrations_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

docs: version-scope the upgrade guide
  .serena/memories/multi-harness/README.md
  CHANGELOG.md
  docs/docs.json
  docs/upgrading/v0.13.mdx
Due: none

docs(serena): record stack unit-contract redesign as merge blocker
  .serena/memories/multi-harness/README.md
Due: none

docs(serena): stack unit-contract design model from brainstorm session
  .clawker.yaml
  .serena/memories/multi-harness/README.md
  .serena/memories/multi-harness/stack-unit-contract-design.md
  .serena/memories/multi-harness/stack-unit-contract-model.md
Due: none

feat(build): add openssh-client to the base package floor
  internal/bundler/assets/Dockerfile.base.tmpl
  internal/bundler/dockerfile.go
  internal/bundler/testdata/golden/minimal-buildkit.base.Dockerfile
  internal/bundler/testdata/golden/minimal.base.Dockerfile
  internal/bundler/testdata/golden/packages-instructions-inject.base.Dockerfile
  internal/bundler/testdata/golden/telemetry-flags-off.base.Dockerfile
Due: semgrep, govulncheck, go-test, claude-freshness

feat(config): project-side stack/harness registries, per-harness build overlay, unified naming rule
  .serena/memories/multi-harness/stack-contract-implementation.md
  .serena/memories/multi-harness/stack-unit-contract-model.md
  docs/configuration.mdx
  docs/schemas/clawker.schema.json
  go.mod
  go.sum
  internal/bundler/harness.go
  internal/cmd/container/shared/agentenv_test.go
  internal/cmd/container/shared/containerfs_test.go
  internal/config/CLAUDE.md
  internal/config/config.go
  internal/config/registries_test.go
  internal/config/schema.go
  internal/config/validate.go
  internal/config/validate_internal_test.go
  internal/consts/name.go
  internal/consts/name_test.go
  internal/stack/stack.go
Due: semgrep, govulncheck, go-test, docs-check, licenses-check, claude-freshness

docs(serena): task 1 lint learnings + commit hash in stack-contract tracker
  .serena/memories/multi-harness/stack-contract-implementation.md
Due: none

refactor(bundler): rewire stack/harness resolution to lineage lookup with provenance
  .serena/memories/multi-harness/stack-contract-implementation.md
  CHANGELOG.md
  docs/configuration.mdx
  docs/schemas/settings.schema.json
  internal/bundler/CLAUDE.md
  internal/bundler/dockerfile.go
  internal/bundler/egress.go
  internal/bundler/egress_test.go
  internal/bundler/errors.go
  internal/bundler/harness.go
  internal/bundler/harness_test.go
  internal/bundler/stack.go
  internal/bundler/stack_test.go
  internal/cmd/container/shared/image.go
  internal/cmd/image/build/build.go
  internal/cmd/image/build/build_test.go
  internal/config/CLAUDE.md
  internal/config/config.go
  internal/config/migrations.go
  internal/config/migrations_test.go
  internal/config/mocks/config_mock.go
  internal/config/mocks/stubs.go
  internal/config/schema.go
  internal/consts/name.go
  internal/docker/builder.go
  internal/docker/builder_test.go
  internal/harness/bundle.go
  internal/harness/consts.go
  internal/harness/harness.go
  internal/harness/harness_test.go
  internal/harness/materialize.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

feat(bundler): render per-harness build overlay in the harness image
  .serena/memories/multi-harness/stack-contract-implementation.md
  internal/bundler/CLAUDE.md
  internal/bundler/assets/Dockerfile.harness-image.tmpl
  internal/bundler/dockerfile.go
  internal/bundler/golden_test.go
  internal/bundler/harness.go
  internal/bundler/overlay_test.go
  internal/bundler/testdata/golden/harness-overlay.base.Dockerfile
  internal/bundler/testdata/golden/harness-overlay.harness.Dockerfile
Due: semgrep, govulncheck, go-test, claude-freshness

docs(serena): task 3 complete in stack-contract tracker + key learnings
  .serena/memories/multi-harness/stack-contract-implementation.md
Due: none

feat(cli): add stack/harness registry front-door commands
  docs/cli-reference/clawker.md
  docs/cli-reference/clawker_harness.md
  docs/cli-reference/clawker_harness_list.md
  docs/cli-reference/clawker_harness_register.md
  docs/cli-reference/clawker_harness_remove.md
  docs/cli-reference/clawker_stack.md
  docs/cli-reference/clawker_stack_list.md
  docs/cli-reference/clawker_stack_register.md
  docs/cli-reference/clawker_stack_remove.md
  internal/cmd/harness/harness.go
  internal/cmd/harness/helpers.go
  internal/cmd/harness/helpers_internal_test.go
  internal/cmd/harness/list.go
  internal/cmd/harness/list_test.go
  internal/cmd/harness/register.go
  internal/cmd/harness/register_test.go
  internal/cmd/harness/remove.go
  internal/cmd/harness/remove_test.go
  internal/cmd/root/root.go
  internal/cmd/stack/helpers.go
  internal/cmd/stack/list.go
  internal/cmd/stack/list_test.go
  internal/cmd/stack/register.go
  internal/cmd/stack/register_test.go
  internal/cmd/stack/remove.go
  internal/cmd/stack/remove_test.go
  internal/cmd/stack/stack.go
  internal/cmdutil/registry.go
  internal/cmdutil/registry_test.go
  internal/harness/bundle.go
  internal/harness/harness_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(bundler): fold base-declared build-arg values into BaseContentHash
  .serena/memories/multi-harness/stack-contract-implementation.md
  internal/bundler/CLAUDE.md
  internal/bundler/basehash.go
  internal/bundler/basehash_test.go
  internal/docker/builder.go
  internal/docker/builder_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

docs(serena): record Task 5 commit hash in stack-contract ledger
  .serena/memories/multi-harness/stack-contract-implementation.md
Due: none

docs: align stack-contract docs + skill with the r10 model
  CHANGELOG.md
  claude-plugin/clawker-support/CLAUDE.md
  claude-plugin/clawker-support/skills/clawker-support/SKILL.md
  claude-plugin/clawker-support/skills/harness-stack-dev/SKILL.md
  claude-plugin/clawker-support/skills/harness-stack-dev/reference/harness-manifest.md
  claude-plugin/clawker-support/skills/harness-stack-dev/reference/stack-authoring.md
  claude-plugin/clawker-support/skills/harness-stack-dev/reference/template-blocks.md
  claude-plugin/clawker-support/skills/harness-stack-dev/reference/worked-example.md
  docs/custom-images.mdx
  docs/docs.json
  docs/harness-bundles.mdx
  docs/stacks.mdx
  docs/upgrading/v0.13.mdx
  internal/stack/consts.go
  internal/stack/stack.go
Due: semgrep, govulncheck, go-test, claude-freshness

Path conditions:
  semgrep: any of: \.go$
  govulncheck: any of: \.go$
  go-test: any of: \.go$
  docs-check: any of: ^(cmd/|internal/cmd/|internal/docs/)
  licenses-check: any of: ^go\.(mod|sum)$
  claude-freshness: any of: \.go$
