Repository schmitthub/clawker: changes, and which pre-commit hooks are due for each by the changed paths.
All: semgrep, govulncheck, go-test, docs-check, licenses-check, claude-freshness

.pre-commit-config.yaml:

# Pre-commit hooks — mirrors CI quality gates locally.
# Install: bash scripts/install-hooks.sh
# Run all: pre-commit run --all-files
# Run one: pre-commit run gitleaks --all-files

repos:
  # ── Security ──────────────────────────────────────────────────────────────
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.30.0
    hooks:
      - id: gitleaks
        args: [--baseline-path, gitleaks-report.json]

  # ── Lint ──────────────────────────────────────────────────────────────────
  - repo: https://github.com/golangci/golangci-lint
    rev: v2.9.0
    hooks:
      - id: golangci-lint-full
        args: [--config, .golangci.yml]

  # ── Local hooks ───────────────────────────────────────────────────────────
  - repo: local
    hooks:
      - id: semgrep
        name: Semgrep SAST
        # Expected version: 1.146.0 (must match CI image tag in security.yml)
        entry: semgrep scan --baseline-commit HEAD --config p/golang --config p/security-audit --error
        language: system
        types: [go]
        pass_filenames: false

      - id: govulncheck
        name: govulncheck SCA
        entry: govulncheck ./...
        language: system
        types: [go]
        pass_filenames: false

      - id: go-test
        name: Unit tests
        entry: make test
        language: system
        types: [go]
        pass_filenames: false

      - id: docs-check
        name: CLI docs freshness
        entry: make docs-check
        language: system
        files: ^(cmd/|internal/cmd/|internal/docs/)
        pass_filenames: false

      - id: licenses-check
        name: NOTICE freshness
        entry: make licenses-check
        language: system
        files: ^go\.(mod|sum)$
        pass_filenames: false

      - id: claude-freshness
        name: Claude doc freshness (advisory)
        entry: bash -c 'bash scripts/check-claude-freshness.sh --strict --non-interactive --no-color | head -50 || true'
        language: system
        files: \.go$
        pass_filenames: false
        verbose: true

fix: nest DockerfilesSubdir under BuildSubdir for correct build path (#169)
  internal/bundler/CLAUDE.md
  internal/bundler/dockerfile.go
  internal/bundler/dockerfile_test.go
  internal/cmd/generate/CLAUDE.md
  internal/cmd/generate/generate.go
  internal/config/config_test.go
  internal/config/consts.go
  internal/docker/defaults.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix: harden gpg.program rewrite in container entrypoint
  internal/bundler/assets/entrypoint.sh
Due: none

fix: rewrite gpg.program path in container entrypoint
  internal/bundler/assets/entrypoint.sh
Due: none

fix: switch Homebrew distribution from cask to formula
  .goreleaser.yaml
Due: none

fix: override gpg.program via env vars instead of config rewrite
  internal/bundler/assets/entrypoint.sh
  internal/docker/env.go
  internal/docker/env_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix: macOS security fixes — Homebrew formula + GPG path override (#168)
  .goreleaser.yaml
  internal/docker/env.go
  internal/docker/env_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

chore(serena): classsssic serena
  .serena/project.yml
Due: none

refactor(storage): copy-on-write Store with atomic snapshots
  internal/cmd/init/init.go
  internal/config/CLAUDE.md
  internal/config/config.go
  internal/config/config_test.go
  internal/config/mocks/config_mock.go
  internal/project/registry.go
  internal/storage/CLAUDE.md
  internal/storage/storage_test.go
  internal/storage/store.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(config): fixed merge priority ordering bug
  internal/config/config.go
Due: semgrep, govulncheck, go-test, claude-freshness

docs(storage): document oracle + golden test strategy as tables
  internal/storage/CLAUDE.md
Due: none

docs: add storage oracle + golden test strategy to testing guides
  .claude/docs/TESTING-REFERENCE.md
  .claude/rules/testing.md
  docs/testing.md
Due: none

refactor(tests): pre review findings. specific storage tests created with new additions from adding intentional regressions
  Makefile
  go.mod
  go.sum
  internal/clawker/cmd.go
  internal/cmd/bridge/bridge.go
  internal/cmd/container/attach/CLAUDE.md
  internal/cmd/container/attach/attach.go
  internal/cmd/container/exec/CLAUDE.md
  internal/cmd/container/exec/exec.go
  internal/cmd/container/remove/remove.go
  internal/cmd/container/run/run.go
  internal/cmd/container/start/start.go
  internal/cmd/container/stop/stop.go
  internal/cmd/factory/CLAUDE.md
  internal/cmd/factory/default.go
  internal/cmd/loop/CLAUDE.md
  internal/iostreams/iostreams.go
  internal/storage/CLAUDE.md
  internal/storage/merge.go
  internal/storage/options.go
  internal/storage/storage_test.go
  internal/storage/store.go
  test/e2e/workdir_mounts_test.go
Due: semgrep, govulncheck, go-test, docs-check, licenses-check, claude-freshness

feat(testenv): unified test environment + XDG directory collision detection
  .claude/docs/ARCHITECTURE.md
  .claude/docs/TESTING-REFERENCE.md
  .claude/rules/testing.md
  .gitignore
  .serena/memories/test_infrastructure_and_project_tests.md
  CLAUDE.md
  Makefile
  docs/testing.md
  internal/config/mocks/stubs.go
  internal/project/mocks/stubs.go
  internal/storage/resolver.go
  internal/storage/storage_test.go
  internal/testenv/CLAUDE.md
  internal/testenv/testenv.go
  test/e2e/harness/harness.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix(storage): env var collision detection validation
  internal/clawker/cmd.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix(init): persist built image to user-level clawker.yaml
  internal/cmd/init/CLAUDE.md
  internal/cmd/init/init.go
  internal/cmd/init/init_test.go
  internal/storage/storage_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

test(make): make localenv helper script to set env vars to local test dirs
  Makefile
  scripts/localenv-dotenv.sh
Due: none

fix(run): image resolution config fallback, no-project support, home dir safety
  internal/cmd/container/create/create.go
  internal/cmd/container/run/run.go
  internal/cmd/container/shared/safety.go
  internal/cmd/container/shared/safety_test.go
  internal/cmd/loop/iterate/iterate.go
  internal/cmd/loop/tasks/tasks.go
  internal/docker/image_resolve.go
  internal/docker/image_resolve_test.go
  internal/workspace/setup.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

chore(qa): added copilot review suggestions for future
  internal/cmd/loop/shared/session.go
  internal/iostreams/pager_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

docs: update CLAUDE.md files for image resolution, safety, workspace changes
  .claude/rules/container-commands.md
  .serena/memories/project-overview.md
  CLAUDE.md
  internal/cmd/container/CLAUDE.md
  internal/cmd/container/shared/CLAUDE.md
  internal/cmd/loop/CLAUDE.md
  internal/docker/CLAUDE.md
  internal/workspace/CLAUDE.md
Due: docs-check

fix(iostreams): fix pager race and strengthen table width test
  internal/iostreams/iostreams.go
  internal/iostreams/pager_test.go
  internal/iostreams/table_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix: SSH default, GPG opt-in — nil guard removal + e2e credential tests
  CLAUDE.md
  examples/llm.md
  internal/cmd/container/run/run.go
  internal/cmd/container/shared/container.go
  internal/cmd/container/shared/socket_bridge.go
  internal/cmd/container/shared/socket_bridge_test.go
  internal/cmd/loop/shared/runner.go
  internal/config/config_test.go
  internal/config/defaults.go
  internal/config/schema.go
  test/CLAUDE.md
  test/e2e/CLAUDE.md
  test/e2e/credentials_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

feat(readme): deepwiki badge for auto indexing
  README.md
Due: none

docs(readme): mintlify docs clawker config prompt example
  README.md
Due: none

feat(controlplane): POC — gRPC control plane with Register + RunInit flow
  buf.gen.yaml
  buf.yaml
  clawkerd/main.go
  docs/control-plane.md
  internal/clawkerd/protocol/v1/agent.pb.go
  internal/clawkerd/protocol/v1/agent.proto
  internal/clawkerd/protocol/v1/agent_grpc.pb.go
  internal/controlplane/registry.go
  internal/controlplane/server.go
  test/controlplane/controlplane_test.go
  test/controlplane/main_test.go
  test/controlplane/testdata/Dockerfile
  test/controlplane/testdata/entrypoint.sh
Due: semgrep, govulncheck, go-test, claude-freshness

refactor(controlplane): wire config store, extract interface + mock
  clawkerd/main.go
  internal/controlplane/controlplanetest/mock_server.go
  internal/controlplane/server.go
  internal/monitor/templates.go
  test/controlplane/controlplane_test.go
  test/controlplane/main_test.go
  test/controlplane/testdata/Dockerfile
  test/controlplane/testdata/entrypoint.sh
Due: semgrep, govulncheck, go-test, claude-freshness

fix(otel): service_name resource, scope_name differentiation, real OTEL pipeline
  .serena/memories/brainstorm_the-controlplane-and-clawkerd.md
  clawkerd/main.go
  internal/clawkerd/protocol/v1/agent.pb.go
  internal/clawkerd/protocol/v1/agent.proto
  internal/cmd/monitor/init/init.go
  internal/controlplane/server.go
  internal/monitor/CLAUDE.md
  internal/monitor/templates.go
  internal/monitor/templates/compose.yaml.tmpl
  internal/monitor/templates/grafana-cp-dashboard.json
  test/controlplane/controlplane_test.go
  test/controlplane/main_test.go
  test/controlplane/testdata/Dockerfile
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

chore: clawker and serena project update
  .clawker.yaml
  .serena/project.yml
Due: none

feat(project): add list, show, and remove commands for project registry CRUD
  docs/cli-reference/clawker_project.md
  docs/cli-reference/clawker_project_list.md
  docs/cli-reference/clawker_project_remove.md
  docs/cli-reference/clawker_project_show.md
  internal/cmd/project/CLAUDE.md
  internal/cmd/project/list/list.go
  internal/cmd/project/list/list_test.go
  internal/cmd/project/project.go
  internal/cmd/project/remove/remove.go
  internal/cmd/project/remove/remove_test.go
  internal/cmd/project/show/show.go
  internal/cmd/project/show/show_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix: replace removed iostreamstest import, upgrade Go 1.26.1 and all dependencies
  NOTICE
  go.mod
  go.sum
  internal/cmd/project/list/list_test.go
  internal/cmd/project/remove/remove_test.go
  internal/cmd/project/show/show_test.go
Due: semgrep, govulncheck, go-test, docs-check, licenses-check, claude-freshness

chore: go bump
  .clawker.yaml
Due: none

refactor(project): rename show→info, add ProjectState, fix review findings
  .claude/docs/ARCHITECTURE.md
  cmd/gen-docs/main.go
  docs/cli-reference/clawker_config.md
  docs/cli-reference/clawker_config_check.md
  docs/cli-reference/clawker_project.md
  docs/cli-reference/clawker_project_info.md
  docs/cli-reference/clawker_project_list.md
  docs/cli-reference/clawker_project_show.md
  internal/cmd/project/CLAUDE.md
  internal/cmd/project/info/info.go
  internal/cmd/project/info/info_test.go
  internal/cmd/project/list/list.go
  internal/cmd/project/list/list_test.go
  internal/cmd/project/project.go
  internal/cmd/project/remove/remove.go
  internal/cmd/project/remove/remove_test.go
  internal/cmd/project/show/show.go
  internal/cmd/project/show/show_test.go
  internal/project/CLAUDE.md
  internal/project/manager.go
  internal/project/mocks/manager_mock.go
  internal/project/mocks/stubs.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(project): override --quiet flag description to match behavior
  docs/cli-reference/clawker_project_list.md
  internal/cmd/project/list/list.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(project): handle non-directory root in ListProjects StatusErr invariant
  internal/project/manager.go
Due: semgrep, govulncheck, go-test, claude-freshness

feat(project): add list, show, and remove registry commands (#157)
  .claude/docs/ARCHITECTURE.md
  .clawker.yaml
  NOTICE
  cmd/gen-docs/main.go
  docs/cli-reference/clawker_config.md
  docs/cli-reference/clawker_config_check.md
  docs/cli-reference/clawker_project.md
  docs/cli-reference/clawker_project_info.md
  docs/cli-reference/clawker_project_list.md
  docs/cli-reference/clawker_project_remove.md
  go.mod
  go.sum
  internal/cmd/project/CLAUDE.md
  internal/cmd/project/info/info.go
  internal/cmd/project/info/info_test.go
  internal/cmd/project/list/list.go
  internal/cmd/project/list/list_test.go
  internal/cmd/project/project.go
  internal/cmd/project/remove/remove.go
  internal/cmd/project/remove/remove_test.go
  internal/project/CLAUDE.md
  internal/project/manager.go
  internal/project/mocks/manager_mock.go
  internal/project/mocks/stubs.go
Due: semgrep, govulncheck, go-test, docs-check, licenses-check, claude-freshness

docs(spec): add Envoy+CoreDNS firewall design spec
  docs/superpowers/specs/2026-03-17-envoy-coredns-firewall-design.md
Due: none

docs(spec): address review findings + hostproxy lifecycle
  docs/superpowers/specs/2026-03-17-envoy-coredns-firewall-design.md
Due: none

docs(spec): hostproxy already has Docker dependency
  docs/superpowers/specs/2026-03-17-envoy-coredns-firewall-design.md
Due: none

docs(spec): add testing strategy — oracle+golden+integration, no mocks
  docs/superpowers/specs/2026-03-17-envoy-coredns-firewall-design.md
Due: none
