Repository schmitthub/clawker: changes, and which pre-commit hooks are due for each by the changed paths.
All: semgrep, govulncheck, go-test, docs-check, licenses-check, claude-freshness

semgrep:
  name: Semgrep SAST
  entry: semgrep scan --baseline-commit HEAD --config p/golang --config p/security-audit --error
  language: system
  pass_filenames: false

govulncheck:
  name: govulncheck SCA
  entry: govulncheck ./...
  language: system
  pass_filenames: false

go-test:
  name: Unit tests
  entry: make test
  language: system
  pass_filenames: false

docs-check:
  name: CLI docs freshness
  entry: make docs-check
  language: system
  pass_filenames: false

licenses-check:
  name: NOTICE freshness
  entry: make licenses-check
  language: system
  pass_filenames: false

claude-freshness:
  name: Claude doc freshness (advisory)
  entry: bash -c 'bash scripts/check-claude-freshness.sh --strict --non-interactive --no-color | head -50 || true'
  language: system
  pass_filenames: false
  verbose: true

fix: skip reserved internal hosts from Corefile domain zones
  internal/firewall/coredns.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix: daemon cleanup on startup failure + CoreDNS duplicate zone guard
  internal/firewall/daemon.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix: resolve Copilot review — missing bootstrap providers, network label, trailing space
  internal/cmd/container/restart/restart.go
  internal/cmd/container/start/start.go
  internal/config/defaults.go
  internal/firewall/network.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(homebrew): switch from brews (formula) to homebrew_casks
  .goreleaser.yaml
Due: none

fix(homebrew): switch from brews (formula) to homebrew_casks (#187)
  .goreleaser.yaml
Due: none

docs: readme firewall correction
  README.md
Due: none

docs: comprehensive audit and overhaul of Mintlify documentation
  docs/configuration.mdx
  docs/container-internals.mdx
  docs/design.md
  docs/docs.json
  docs/firewall.mdx
  docs/installation.mdx
  docs/monitoring.mdx
  docs/security.mdx
  docs/testing.md
  docs/worktrees.mdx
Due: none

docs: add common firewall setup examples and SSH firewall note
  docs/credentials.mdx
  docs/firewall.mdx
Due: none

docs: replace thin quickstart with comprehensive getting started guide
  docs/quickstart.mdx
Due: none

docs: address Copilot review — traces, telemetry toggle, test harness
  docs/monitoring.mdx
  docs/testing.md
Due: none

docs: comprehensive audit and overhaul of Mintlify site (#188)
  docs/configuration.mdx
  docs/container-internals.mdx
  docs/credentials.mdx
  docs/design.md
  docs/docs.json
  docs/firewall.mdx
  docs/installation.mdx
  docs/monitoring.mdx
  docs/quickstart.mdx
  docs/security.mdx
  docs/testing.md
  docs/worktrees.mdx
Due: none

chore(clawker): added staticcheck
  .clawker.yaml
Due: none

chore: removed firewall initiative memory
  .serena/memories/initiative_envoy-coredns-firewall.md
Due: none

fix(firewall): defend against port:0 in Envoy config causing crashloop
  internal/firewall/envoy.go
  internal/firewall/envoy_test.go
  internal/firewall/manager.go
  internal/firewall/rules.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix(firewall): normalize store reads in formatPortMappings and addRulesToStore
  internal/firewall/manager.go
Due: semgrep, govulncheck, go-test, claude-freshness

chore: removed fawker references
  .claude/docs/ARCHITECTURE.md
  .claude/memories/cli-output-style-guide.md
  CLAUDE.md
  CONTRIBUTING.md
  docs/testing.md
  internal/term/CLAUDE.md
Due: none

chore: removed fawker references
  internal/docker/client.go
  internal/docker/defaults.go
  internal/docker/dockertest/helpers.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix: self healing legacy port 0
  internal/firewall/manager.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix(firewall): eliminate TOCTOU races and add cross-process locking
  internal/firewall/manager.go
  internal/firewall/rules.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix(prompt): instruct agent to resolve CLAWKER_AGENT before presenting firewall commands
  internal/bundler/assets/clawker-agent-prompt.md
Due: none

fix(firewall): defend against port:0 in Envoy config causing crashloop (#189)
  .claude/docs/ARCHITECTURE.md
  .claude/memories/cli-output-style-guide.md
  .clawker.yaml
  .serena/memories/initiative_envoy-coredns-firewall.md
  CLAUDE.md
  CONTRIBUTING.md
  docs/testing.md
  internal/bundler/assets/clawker-agent-prompt.md
  internal/docker/client.go
  internal/docker/defaults.go
  internal/docker/dockertest/helpers.go
  internal/firewall/envoy.go
  internal/firewall/envoy_test.go
  internal/firewall/manager.go
  internal/firewall/rules.go
  internal/term/CLAUDE.md
Due: semgrep, govulncheck, go-test, claude-freshness

feat(storeui): add Field, Override types and ApplyOverrides function
  internal/storeui/field.go
  internal/storeui/field_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

feat(storeui): add WalkFields struct walker with reflection-based field discovery
  internal/storeui/reflect.go
  internal/storeui/reflect_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

feat(storeui): add SetFieldValue reverse reflection for writing field values
  internal/storeui/field_test.go
  internal/storeui/reflect_test.go
  internal/storeui/testfixtures_test.go
  internal/storeui/value.go
  internal/storeui/value_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

feat(storeui): add BubbleTea editor model with Browse/Edit/Save states
  internal/storeui/editor.go
  internal/storeui/editor_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

feat(storeui): add Edit[T] orchestration function
  internal/storeui/edit.go
  internal/storeui/edit_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

feat(storeui): add settings and project domain adapters
  internal/config/storeui/project/project.go
  internal/config/storeui/project/project_test.go
  internal/config/storeui/settings/settings.go
  internal/config/storeui/settings/settings_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

feat(cmd): add settings edit and project edit commands
  internal/cmd/project/edit/edit.go
  internal/cmd/project/edit/edit_test.go
  internal/cmd/project/project.go
  internal/cmd/root/root.go
  internal/cmd/settings/edit/edit.go
  internal/cmd/settings/edit/edit_test.go
  internal/cmd/settings/settings.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

docs: add storeui package docs and update CLAUDE.md, CLI-VERBS.md
  .claude/docs/CLI-VERBS.md
  CLAUDE.md
  internal/storeui/CLAUDE.md
Due: none

chore: cleanup
  .serena/memories/prd_store-ui.md
  .serena/memories/store-ui-backup.md
  .vscode/settings.json
Due: none

refactor(storeui): tabbed editor with grouped sections
  internal/storeui/editor.go
  internal/storeui/editor_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix(storeui): prefix-based hidden overrides and tabbed editor UX
  internal/config/storeui/project/project.go
  internal/config/storeui/project/project_test.go
  internal/storeui/field.go
Due: semgrep, govulncheck, go-test, claude-freshness

feat(storeui): SaveTarget-based save flow with domain adapter control
  internal/cmd/project/edit/edit.go
  internal/config/storeui/project/project.go
  internal/config/storeui/settings/settings.go
  internal/storeui/edit.go
  internal/storeui/editor.go
  internal/storeui/editor_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

feat(storeui): type-specific editors for lists, multiline text, and improved UX
  internal/cmd/project/edit/edit.go
  internal/config/storeui/project/project.go
  internal/config/storeui/settings/settings.go
  internal/storeui/edit.go
  internal/storeui/edit_test.go
  internal/storeui/editor.go
  internal/storeui/editor_test.go
  internal/storeui/field_test.go
  internal/storeui/listeditor.go
  internal/storeui/listeditor_test.go
  internal/storeui/textareaeditor.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(storeui): textarea editor uses plain expanding text box without line numbers
  internal/storeui/textareaeditor.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix(storeui): indent all textarea lines consistently
  internal/storeui/textareaeditor.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix(storeui): textarea uses full terminal width and generous height
  internal/storeui/textareaeditor.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix(storeui): only write fields that actually changed from original value
  internal/storeui/editor.go
Due: semgrep, govulncheck, go-test, claude-freshness

feat(storeui): always show save target dialog with human-readable layer labels
  internal/config/storeui/project/project.go
  internal/config/storeui/settings/settings.go
  internal/storeui/editor.go
  internal/storeui/editor_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

Path conditions:
  semgrep: any of: \.go$
  govulncheck: any of: \.go$
  go-test: any of: \.go$
  docs-check: any of: ^(cmd/|internal/cmd/|internal/docs/)
  licenses-check: any of: ^go\.(mod|sum)$
  claude-freshness: any of: \.go$
