Repository schmitthub/clawker: changes, and which pre-commit hooks are due for each by the changed paths.
All: semgrep, govulncheck, go-test, docs-check, licenses-check, claude-freshness

.pre-commit-config.yaml:

# Pre-commit hooks — mirrors CI quality gates locally.
# Install: bash scripts/install-hooks.sh
# Run all: pre-commit run --all-files
# Run one: pre-commit run gitleaks --all-files

repos:
  # ── Security ──────────────────────────────────────────────────────────────
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.30.0
    hooks:
      - id: gitleaks
        args: [--baseline-path, gitleaks-report.json]

  # ── Lint ──────────────────────────────────────────────────────────────────
  - repo: https://github.com/golangci/golangci-lint
    rev: v2.9.0
    hooks:
      - id: golangci-lint-full
        args: [--config, .golangci.yml]

  # ── Local hooks ───────────────────────────────────────────────────────────
  - repo: local
    hooks:
      - id: semgrep
        name: Semgrep SAST
        # Expected version: 1.146.0 (must match CI image tag in security.yml)
        entry: semgrep scan --baseline-commit HEAD --config p/golang --config p/security-audit --error
        language: system
        types: [go]
        pass_filenames: false

      - id: govulncheck
        name: govulncheck SCA
        entry: govulncheck ./...
        language: system
        types: [go]
        pass_filenames: false

      - id: go-test
        name: Unit tests
        entry: make test
        language: system
        types: [go]
        pass_filenames: false

      - id: docs-check
        name: CLI docs freshness
        entry: make docs-check
        language: system
        files: ^(cmd/|internal/cmd/|internal/docs/)
        pass_filenames: false

      - id: licenses-check
        name: NOTICE freshness
        entry: make licenses-check
        language: system
        files: ^go\.(mod|sum)$
        pass_filenames: false

      - id: claude-freshness
        name: Claude doc freshness (advisory)
        entry: bash -c 'bash scripts/check-claude-freshness.sh --strict --non-interactive --no-color | head -50 || true'
        language: system
        files: \.go$
        pass_filenames: false
        verbose: true

fix: address Copilot PR review findings (#139)
  .github/workflows/security.yml
  .gitleaksignore
  docs/cli-reference/clawker_config_check.md
  internal/cmd/config/check/check.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(ci): correct gitleaks checksums filename
  .github/workflows/security.yml
Due: none

fix(install): eliminate silent failures in install script
  internal/clawker/cmd.go
  internal/clawker/cmd_test.go
  scripts/install.sh
Due: semgrep, govulncheck, go-test, claude-freshness

feat(dist): add Homebrew distribution + multi-path update notification
  .goreleaser.yaml
  CLAUDE.md
  internal/clawker/cmd.go
  internal/clawker/cmd_test.go
  scripts/install.sh
Due: semgrep, govulncheck, go-test, claude-freshness

fix(dist): use shared homebrew-tap repo + add release workflow auth
  .github/workflows/release.yml
  .goreleaser.yaml
  CLAUDE.md
  scripts/install.sh
Due: none

feat(dist): add Homebrew distribution + multi-path update notification (#140)
  .github/workflows/release.yml
  .goreleaser.yaml
  CLAUDE.md
  internal/clawker/cmd.go
  internal/clawker/cmd_test.go
  scripts/install.sh
Due: semgrep, govulncheck, go-test, claude-freshness

chore(docs): README refresh — Homebrew install, TOC, centered intro
  README.md
Due: none

quick update.. .
  README.md
Due: none

chore(docs): README refresh — Homebrew install, TOC, centered intro (#141)
  README.md
Due: none

fix(examples): fixed node example
  examples/node.yaml
Due: none

fix(examples): replace instructions.env with build.inject for build-time ENV vars
  README.md
  examples/csharp.yaml
  examples/go.yaml
  examples/llm.md
  examples/php.yaml
  examples/python.yaml
  examples/rust.yaml
Due: none

feat(config): enhance `config check` with --file flag and strict YAML validation
  .claude/docs/CLI-VERBS.md
  internal/cmd/config/CLAUDE.md
  internal/cmd/config/check/check.go
  internal/cmd/config/check/check_test.go
  internal/config/project_loader.go
  internal/config/schema.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(config): harden config check error handling and add ErrorUnused tests
  examples/llm.md
  internal/cmd/config/check/check.go
  internal/cmd/config/check/check_test.go
  internal/config/project_loader_test.go
  internal/config/schema.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix: address CI review findings — gofmt alignment and llm.md paths
  examples/llm.md
  internal/cmd/config/check/check.go
  internal/cmd/config/check/check_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(ci): regenerate CLI docs and NOTICE, fix gofmt in schema.go
  NOTICE
  docs/cli-reference/clawker_config.md
  docs/cli-reference/clawker_config_check.md
  internal/config/schema.go
Due: semgrep, govulncheck, go-test, claude-freshness

docs(examples): comprehensive rewrite of llm.md authoring guide
  examples/llm.md
Due: none

fix(examples): use build.inject for build-time ENV vars (#142)
  .claude/docs/CLI-VERBS.md
  NOTICE
  README.md
  docs/cli-reference/clawker_config.md
  docs/cli-reference/clawker_config_check.md
  examples/csharp.yaml
  examples/go.yaml
  examples/llm.md
  examples/php.yaml
  examples/python.yaml
  examples/rust.yaml
  internal/cmd/config/CLAUDE.md
  internal/cmd/config/check/check.go
  internal/cmd/config/check/check_test.go
  internal/config/project_loader.go
  internal/config/project_loader_test.go
  internal/config/schema.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

feat(docs): Mintlify documentation site + clawker.dev dark theme alignment
  .serena/memories/brainstorm_clawker-dev-website.md
  .serena/memories/mintlify-docs-setup.md
  .serena/memories/prd_clawker-dev-splash-site.md
  CLAUDE.md
  cmd/gen-docs/main.go
  cmd/gen-docs/main_test.go
  docs/README.md
  docs/architecture.md
  docs/assets/monitor-coding-activity.png
  docs/assets/monitor-cost-usage.png
  docs/assets/monitor-session-detail-events.png
  docs/assets/monitor-tool-usage.png
  docs/assets/monitor-top.png
  docs/configuration.mdx
  docs/custom.css
  docs/design.md
  docs/docs.json
  docs/index.mdx
  docs/installation.mdx
  docs/quickstart.mdx
  docs/testing.md
  internal/docs/CLAUDE.md
  internal/docs/markdown.go
  internal/docs/markdown_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

chore(clawker): added ci deps to build image
  clawker.yaml
Due: none

feat(docs): Mintlify documentation site + clawker.dev dark theme (#143)
  .serena/memories/brainstorm_clawker-dev-website.md
  .serena/memories/mintlify-docs-setup.md
  .serena/memories/prd_clawker-dev-splash-site.md
  CLAUDE.md
  clawker.yaml
  cmd/gen-docs/main.go
  cmd/gen-docs/main_test.go
  docs/README.md
  docs/architecture.md
  docs/assets/monitor-coding-activity.png
  docs/assets/monitor-cost-usage.png
  docs/assets/monitor-session-detail-events.png
  docs/assets/monitor-tool-usage.png
  docs/assets/monitor-top.png
  docs/configuration.mdx
  docs/custom.css
  docs/design.md
  docs/docs.json
  docs/index.mdx
  docs/installation.mdx
  docs/quickstart.mdx
  docs/testing.md
  internal/docs/CLAUDE.md
  internal/docs/markdown.go
  internal/docs/markdown_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(docs): add favicon + consolidate Mintlify docs conventions
  .claude/rules/mintlify-docs.md
  .claude/skills/audit-memory/REFERENCE.md
  .claude/skills/audit-memory/SKILL.md
  .serena/memories/mintlify-docs-setup.md
  CLAUDE.md
  docs/docs.json
  docs/favicon.svg
Due: none

fix(docs): add favicon + consolidate Mintlify docs conventions (#144)
  .claude/rules/mintlify-docs.md
  .claude/skills/audit-memory/REFERENCE.md
  .claude/skills/audit-memory/SKILL.md
  .serena/memories/mintlify-docs-setup.md
  CLAUDE.md
  docs/docs.json
  docs/favicon.svg
Due: none

fix(security): make firewall a runtime concern, not a build concern
  internal/bundler/CLAUDE.md
  internal/bundler/assets/Dockerfile.tmpl
  internal/bundler/assets/entrypoint.sh
  internal/bundler/build_test.go
  internal/bundler/dockerfile.go
  internal/cmd/container/shared/init_test.go
  internal/docker/env.go
  internal/docker/env_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(config): add semgrep and govulncheck to container image
  clawker.yaml
Due: none

chore(config): add shellcheck to container image packages
  clawker.yaml
Due: none

fix(security): fail fast when firewall enabled but prerequisites missing
  internal/bundler/assets/entrypoint.sh
Due: none

refactor(security): remove override/remove domains, harden firewall error handling
  clawker.yaml
  internal/bundler/assets/init-firewall.sh
  internal/bundler/firewall_test.go
  internal/cmd/container/shared/container.go
  internal/cmd/container/shared/init_test.go
  internal/config/defaults.go
  internal/config/ip_ranges.go
  internal/config/ip_ranges_test.go
  internal/config/schema.go
  internal/config/validator.go
  internal/config/validator_test.go
  internal/docker/env.go
  internal/docker/env_test.go
  test/harness/builders/config_builder.go
  test/harness/builders/config_builder_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(security): make firewall a runtime concern, not a build concern (#145)
  clawker.yaml
  internal/bundler/CLAUDE.md
  internal/bundler/assets/Dockerfile.tmpl
  internal/bundler/assets/entrypoint.sh
  internal/bundler/assets/init-firewall.sh
  internal/bundler/build_test.go
  internal/bundler/dockerfile.go
  internal/bundler/firewall_test.go
  internal/cmd/container/shared/container.go
  internal/cmd/container/shared/init_test.go
  internal/config/defaults.go
  internal/config/ip_ranges.go
  internal/config/ip_ranges_test.go
  internal/config/schema.go
  internal/config/validator.go
  internal/config/validator_test.go
  internal/docker/env.go
  internal/docker/env_test.go
  test/harness/builders/config_builder.go
  test/harness/builders/config_builder_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

feat(workspace): wire .clawkerignore into container creation workflow
  internal/config/defaults.go
  internal/docker/CLAUDE.md
  internal/docker/volume.go
  internal/docker/volume_test.go
  internal/workspace/CLAUDE.md
  internal/workspace/bind.go
  internal/workspace/bind_test.go
  internal/workspace/setup.go
  internal/workspace/setup_test.go
  internal/workspace/snapshot.go
  internal/workspace/strategy.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix(workspace): harden .clawkerignore — comments, validation, error-path tests
  internal/config/defaults.go
  internal/docker/volume.go
  internal/docker/volume_test.go
  internal/workspace/bind.go
  internal/workspace/bind_test.go
  internal/workspace/setup.go
  internal/workspace/snapshot.go
  internal/workspace/strategy.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix(workspace): normalize container paths + improve error diagnostics
  internal/docker/volume.go
  internal/workspace/bind.go
  internal/workspace/bind_test.go
  internal/workspace/setup.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix(workspace): improve bind ignore overlays and setup tests
  internal/docker/volume.go
  internal/docker/volume_test.go
  internal/workspace/bind.go
  internal/workspace/bind_test.go
  internal/workspace/setup_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix: semgrep firewall rule, removed .git from clawkerignore defauls
  clawker.yaml
  internal/config/defaults.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix(workspace): use daemon-compatible tmpfs mode for bind overlays
  internal/workspace/bind.go
  internal/workspace/bind_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix(workspace): set tmpfs overlay uid/gid for bind masks
  internal/workspace/bind.go
  internal/workspace/bind_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix(config): update TestDefaultIgnoreFile to match .git/ removal
  .clawkerignore
  internal/config/defaults_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

feat(workspace): wire .clawkerignore into container creation (#146)
  .clawkerignore
  clawker.yaml
  internal/config/defaults.go
  internal/config/defaults_test.go
  internal/docker/CLAUDE.md
  internal/docker/volume.go
  internal/docker/volume_test.go
  internal/workspace/CLAUDE.md
  internal/workspace/bind.go
  internal/workspace/bind_test.go
  internal/workspace/setup.go
  internal/workspace/setup_test.go
  internal/workspace/snapshot.go
  internal/workspace/strategy.go
Due: semgrep, govulncheck, go-test, claude-freshness

feat(controlplane): POC — gRPC control plane with Register + RunInit flow
  Makefile
  buf.gen.yaml
  buf.yaml
  clawkerd/main.go
  docs/control-plane.md
  go.mod
  internal/clawkerd/protocol/v1/agent.pb.go
  internal/clawkerd/protocol/v1/agent.proto
  internal/clawkerd/protocol/v1/agent_grpc.pb.go
  internal/controlplane/registry.go
  internal/controlplane/server.go
  test/controlplane/controlplane_test.go
  test/controlplane/main_test.go
  test/controlplane/testdata/Dockerfile
  test/controlplane/testdata/entrypoint.sh
  test/harness/client.go
Due: semgrep, govulncheck, go-test, licenses-check, claude-freshness

fix(otel): service_name resource, scope_name differentiation, real OTEL pipeline
  .serena/memories/brainstorm_the-controlplane-and-clawkerd.md
  clawkerd/main.go
  internal/clawkerd/protocol/v1/agent.pb.go
  internal/clawkerd/protocol/v1/agent.proto
  internal/cmd/factory/default.go
  internal/cmd/monitor/init/init.go
  internal/config/CLAUDE.md
  internal/config/settings.go
  internal/config/settings_test.go
  internal/controlplane/server.go
  internal/logger/CLAUDE.md
  internal/logger/logger.go
  internal/monitor/CLAUDE.md
  internal/monitor/templates.go
  internal/monitor/templates/compose.yaml.tmpl
  internal/monitor/templates/grafana-cp-dashboard.json
  test/controlplane/controlplane_test.go
  test/controlplane/main_test.go
  test/controlplane/testdata/Dockerfile
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness
