Repository schmitthub/clawker: changes, and which pre-commit hooks are due for each by the changed paths.
All: semgrep, govulncheck, go-test, docs-check, licenses-check, claude-freshness

semgrep:
  name: Semgrep SAST
  entry: semgrep scan --baseline-commit HEAD --config p/golang --config p/security-audit --error
  language: system
  pass_filenames: false

govulncheck:
  name: govulncheck SCA
  entry: govulncheck ./...
  language: system
  pass_filenames: false

go-test:
  name: Unit tests
  entry: make test
  language: system
  pass_filenames: false

docs-check:
  name: CLI docs freshness
  entry: make docs-check
  language: system
  pass_filenames: false

licenses-check:
  name: NOTICE freshness
  entry: make licenses-check
  language: system
  pass_filenames: false

claude-freshness:
  name: Claude doc freshness (advisory)
  entry: bash -c 'bash scripts/check-claude-freshness.sh --strict --non-interactive --no-color | head -50 || true'
  language: system
  pass_filenames: false
  verbose: true

fix: include plugin version in marketplace release
  .github/workflows/main.yml
  claude-plugin/clawker-support/.claude-plugin/plugin.json
Due: none

dock fixes
  README.md
  docs/quickstart.mdx
Due: none

docs: streamline quickstart — rename, consolidate config, remove fluff
  docs/docs.json
  docs/quickstart.mdx
Due: none

docs: quickstart edits
  .clawker.yaml
  docs/quickstart.mdx
Due: none

docs: promote plugin install and remove redundant Claude Code qualifier (#203)
  .clawker.yaml
  README.md
  docs/docs.json
  docs/quickstart.mdx
Due: none

docs: fixes lolz
  docs/architecture.mdx
  docs/design.mdx
Due: none

docs: fix stale testing docs to match actual test infrastructure
  .claude/docs/TESTING-REFERENCE.md
  .claude/rules/testing.md
  CLAUDE.md
  CONTRIBUTING.md
  docs/testing.md
  test/CLAUDE.md
Due: none

docs: fix stale root_run/user_run format in custom-images docs
  docs/custom-images.mdx
  internal/config/CLAUDE.md
Due: none

docs: rewrite architecture docs with accurate package DAG from goda
  .claude/docs/ARCHITECTURE.md
  docs/architecture.mdx
Due: none

fix: remove stale Makefile test targets and fix Copilot review findings
  Makefile
  docs/design.mdx
  test/CLAUDE.md
Due: none

fix: address Copilot review — stale file refs, harness defaults, example
  .claude/rules/mintlify-docs.md
  .claude/skills/audit-memory/REFERENCE.md
  CLAUDE.md
  CONTRIBUTING.md
  docs/testing.md
  test/CLAUDE.md
Due: none

chore: comment fix
  test/e2e/harness/factory.go
Due: semgrep, govulncheck, go-test, claude-freshness

docs: fix stale testing docs and custom-images instructions (#204)
  .claude/docs/ARCHITECTURE.md
  .claude/docs/TESTING-REFERENCE.md
  .claude/rules/mintlify-docs.md
  .claude/rules/testing.md
  .claude/skills/audit-memory/REFERENCE.md
  CLAUDE.md
  CONTRIBUTING.md
  Makefile
  docs/architecture.md
  docs/architecture.mdx
  docs/custom-images.mdx
  docs/design.mdx
  docs/testing.md
  internal/config/CLAUDE.md
  test/CLAUDE.md
  test/e2e/harness/factory.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix: prevent textarea editor exit on arrow key hold and correct save hint
  internal/cmd/project/init/init.go
  internal/tui/fieldbrowser.go
  internal/tui/fieldbrowser_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix: prevent textarea editor exit on arrow key hold and correct save hint (#206)
  internal/cmd/project/init/init.go
  internal/tui/fieldbrowser.go
  internal/tui/fieldbrowser_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix: update statusline colors and add subscription usage bars
  internal/bundler/assets/statusline.sh
Due: none

fix: scope cache_age as local in statusline refresh_usage_cache
  internal/bundler/assets/statusline.sh
Due: none

fix: update statusline colors and add subscription usage bars (#205)
  internal/bundler/assets/statusline.sh
Due: none

chore: update NOTICE after removing docker/docker dependency
  NOTICE
  go.mod
  go.sum
  internal/cmd/loop/shared/runner.go
  internal/docker/dockertest/helpers.go
Due: semgrep, govulncheck, go-test, docs-check, licenses-check, claude-freshness

fix: use stdcopy.Stdout constant instead of magic number
  internal/docker/dockertest/helpers.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix: remove legacy docker/docker dependency (CVE-2026-33997, CVE-2026-34040) (#207)
  NOTICE
  go.mod
  go.sum
  internal/cmd/loop/shared/runner.go
  internal/docker/dockertest/helpers.go
Due: semgrep, govulncheck, go-test, docs-check, licenses-check, claude-freshness

fix: improve skill config level awareness, research-first workflow, and strip hardcoded details
  claude-plugin/clawker-support/.claude-plugin/plugin.json
  claude-plugin/clawker-support/skills/clawker-support/SKILL.md
  claude-plugin/clawker-support/skills/clawker-support/reference/mcp-recipes.md
  claude-plugin/clawker-support/skills/clawker-support/reference/settings.md
  claude-plugin/clawker-support/skills/clawker-support/reference/troubleshooting.md
Due: none

fix: address copilot review — remove stale agent.includes, fix concrete details
  CLAUDE.md
  claude-plugin/clawker-support/skills/clawker-support/SKILL.md
  claude-plugin/clawker-support/skills/clawker-support/reference/mcp-recipes.md
  claude-plugin/clawker-support/skills/clawker-support/reference/settings.md
  claude-plugin/clawker-support/skills/clawker-support/reference/troubleshooting.md
Due: none

docs: add file discovery rules to skill — dot-prefix, dir form, yml support
  claude-plugin/clawker-support/skills/clawker-support/SKILL.md
Due: none

refactor: restructure troubleshooting into domain-routed reference files
  claude-plugin/clawker-support/skills/clawker-support/SKILL.md
  claude-plugin/clawker-support/skills/clawker-support/reference/mcp-recipes.md
  claude-plugin/clawker-support/skills/clawker-support/reference/project-config.md
  claude-plugin/clawker-support/skills/clawker-support/reference/settings.md
  claude-plugin/clawker-support/skills/clawker-support/reference/troubleshooting.md
Due: none

docs: add concrete-details disclaimer to skill definition
  claude-plugin/clawker-support/skills/clawker-support/SKILL.md
Due: none

docs: add CLAUDE.md development guide for clawker-support plugin
  claude-plugin/clawker-support/CLAUDE.md
Due: none

docs: add skill plugin standards and tooling guidance to CLAUDE.md
  claude-plugin/clawker-support/CLAUDE.md
Due: none

docs: split plugin CLAUDE.md — generic skill conventions to plugin root
  claude-plugin/CLAUDE.md
  claude-plugin/clawker-support/CLAUDE.md
Due: none

fix: correct post_init execution semantics — runs once per config volume
  claude-plugin/clawker-support/skills/clawker-support/SKILL.md
  claude-plugin/clawker-support/skills/clawker-support/reference/mcp-recipes.md
Due: none

fix: correct post_init gotcha wording and add firewall command scoping
  claude-plugin/clawker-support/skills/clawker-support/SKILL.md
  claude-plugin/clawker-support/skills/clawker-support/reference/troubleshooting.md
Due: none

fix: improve skill config level awareness and research-first workflow (#208)
  CLAUDE.md
  claude-plugin/CLAUDE.md
  claude-plugin/clawker-support/.claude-plugin/plugin.json
  claude-plugin/clawker-support/CLAUDE.md
  claude-plugin/clawker-support/skills/clawker-support/SKILL.md
  claude-plugin/clawker-support/skills/clawker-support/reference/mcp-recipes.md
  claude-plugin/clawker-support/skills/clawker-support/reference/project-config.md
  claude-plugin/clawker-support/skills/clawker-support/reference/settings.md
  claude-plugin/clawker-support/skills/clawker-support/reference/troubleshooting.md
Due: none

fix: nil pointer in E2E test and document NewProjectStoreFromPreset
  internal/config/CLAUDE.md
  test/e2e/preset_builds_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix: prevent user-level config from bleeding into project init
  internal/cmd/project/init/init.go
  internal/config/config.go
  test/e2e/preset_builds_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix: prevent user-level config from bleeding into project init (#209)
  internal/cmd/project/init/init.go
  internal/config/CLAUDE.md
  internal/config/config.go
  test/e2e/preset_builds_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix: generate full YAML schema in docs and fix clawkerignore tmpfs permissions
  cmd/gen-docs/configuration.mdx.tmpl
  docs/configuration.mdx
  internal/docs/configdoc.go
  internal/docs/configdoc_test.go
  internal/workspace/bind.go
  internal/workspace/bind_test.go
  internal/workspace/strategy.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix: remove invalid uid/gid tmpfs options that Docker rejects
  internal/workspace/bind.go
  internal/workspace/bind_test.go
  internal/workspace/strategy.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix: hardcode nosuid+nodev on tmpfs mounts and document exec justification
  docs/threat-model.mdx
  internal/workspace/bind.go
  internal/workspace/bind_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

docs: document privileged mode risks in threat model
  docs/threat-model.mdx
Due: none

fix: replace default clawkerignore entries with commented-out examples
  internal/config/defaults.go
Due: semgrep, govulncheck, go-test, claude-freshness

Path conditions:
  semgrep: any of: \.go$
  govulncheck: any of: \.go$
  go-test: any of: \.go$
  docs-check: any of: ^(cmd/|internal/cmd/|internal/docs/)
  licenses-check: any of: ^go\.(mod|sum)$
  claude-freshness: any of: \.go$
