Repository schmitthub/clawker: changes, and which pre-commit hooks are due for each by the changed paths.
All: semgrep, govulncheck, go-test, docs-check, licenses-check, claude-freshness

.pre-commit-config.yaml:

# Pre-commit hooks — mirrors CI quality gates locally.
# Install: bash scripts/install-hooks.sh
# Run all: pre-commit run --all-files
# Run one: pre-commit run gitleaks --all-files

repos:
  # ── Security ──────────────────────────────────────────────────────────────
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.30.0
    hooks:
      - id: gitleaks
        args: [--baseline-path, gitleaks-report.json]

  # ── Lint ──────────────────────────────────────────────────────────────────
  - repo: https://github.com/golangci/golangci-lint
    rev: v2.9.0
    hooks:
      - id: golangci-lint-full
        args: [--config, .golangci.yml]

  # ── Local hooks ───────────────────────────────────────────────────────────
  - repo: local
    hooks:
      - id: semgrep
        name: Semgrep SAST
        # Expected version: 1.146.0 (must match CI image tag in security.yml)
        entry: semgrep scan --baseline-commit HEAD --config p/golang --config p/security-audit --error
        language: system
        types: [go]
        pass_filenames: false

      - id: govulncheck
        name: govulncheck SCA
        entry: govulncheck ./...
        language: system
        types: [go]
        pass_filenames: false

      - id: go-test
        name: Unit tests
        entry: make test
        language: system
        types: [go]
        pass_filenames: false

      - id: docs-check
        name: CLI docs freshness
        entry: make docs-check
        language: system
        files: ^(cmd/|internal/cmd/|internal/docs/)
        pass_filenames: false

      - id: licenses-check
        name: NOTICE freshness
        entry: make licenses-check
        language: system
        files: ^go\.(mod|sum)$
        pass_filenames: false

      - id: claude-freshness
        name: Claude doc freshness (advisory)
        entry: bash -c 'bash scripts/check-claude-freshness.sh --strict --non-interactive --no-color | head -50 || true'
        language: system
        files: \.go$
        pass_filenames: false
        verbose: true

refactor(docker): drop dead EnsureImage chain + wire BuildKit digest capture
  docs/cli-reference/clawker_build.md
  docs/cli-reference/clawker_image_build.md
  internal/bundler/CLAUDE.md
  internal/bundler/dockerfile.go
  internal/bundler/hash.go
  internal/bundler/hash_test.go
  internal/cmd/image/build/build.go
  internal/docker/CLAUDE.md
  internal/docker/builder.go
  internal/docker/builder_test.go
  internal/docker/client.go
  internal/docker/client_progress_test.go
  internal/docker/names.go
  internal/docker/names_test.go
  internal/hostproxy/internals/CLAUDE.md
  internal/hostproxy/internals/embed.go
  pkg/whail/CLAUDE.md
  pkg/whail/buildkit/builder.go
  pkg/whail/image.go
  pkg/whail/image_test.go
  pkg/whail/types.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

chore(memory): in-flight serena memories — build-parity initiative + cache UAT
  .serena/memories/docker_build_parity_initiative.md
  .serena/memories/dockerfile_cache_optimization_uat.md
Due: none

chore(memory): lock docker build parity scope — 5 keeps, 18 drops with reasons
  .serena/memories/docker_build_parity_initiative.md
Due: none

chore: doc cleanup
  .serena/memories/bug_claude_projects_bind_uid_mismatch.md
  .serena/memories/dockerfile_cache_optimization_uat.md
  .serena/memories/fix_bind_mount_uid_postmortem.md
Due: none

fix(build): surface --iidfile failures + tighten npm version resolution
  .claude/docs/ARCHITECTURE.md
  .claude/docs/REPO-STRUCTURE.md
  .claude/rules/dependency-placement.md
  claude-plugin/clawker-support/skills/clawker-support/reference/Dockerfile.tmpl
  docs/cli-reference/clawker_build.md
  docs/cli-reference/clawker_image_build.md
  internal/bundler/CLAUDE.md
  internal/bundler/assets/Dockerfile.tmpl
  internal/bundler/errors.go
  internal/bundler/registry/errors.go
  internal/bundler/registry/npm.go
  internal/bundler/registry/npm_test.go
  internal/bundler/versions.go
  internal/bundler/versions_test.go
  internal/cmd/factory/default.go
  internal/cmd/generate/generate.go
  internal/cmd/image/CLAUDE.md
  internal/cmd/image/build/build.go
  internal/cmd/image/build/build_progress_test.go
  internal/cmd/image/build/httpstub_test.go
  internal/cmdutil/CLAUDE.md
  internal/cmdutil/factory.go
  internal/docker/CLAUDE.md
  internal/docker/client_progress_test.go
  pkg/whail/CLAUDE.md
  pkg/whail/buildkit/builder.go
  pkg/whail/buildkit/builder_test.go
  pkg/whail/types.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

docs(bundler): fix HttpClient signature + npm body-cap comment
  internal/bundler/CLAUDE.md
  internal/bundler/registry/npm.go
Due: semgrep, govulncheck, go-test, claude-freshness

chore(deps): drop custom dependabot labels, use defaults
  .github/dependabot.yml
Due: none

docs(wiki): rewrite .devin/wiki.json with component-based structure
  .devin/wiki.json
Due: none

docs(wiki): rewrite .devin/wiki.json with component-based structure (#303)
  .devin/wiki.json
Due: none

docs(wiki): clarify firewall.enable lives in settings.yaml
  .devin/wiki.json
Due: none

docs(wiki): clarify firewall.enable lives in settings.yaml (#307)
  .devin/wiki.json
Due: none

refactor(docker): collapse agent volume purpose label to "agent"
  internal/docker/CLAUDE.md
  internal/docker/labels.go
  internal/docker/labels_test.go
  internal/docker/names.go
  internal/docker/names_test.go
  internal/workspace/snapshot.go
  internal/workspace/strategy.go
Due: semgrep, govulncheck, go-test, claude-freshness

feat(volume): narrow `volume prune` default to agent volumes; add --all
  claude-plugin/clawker-support/.claude-plugin/plugin.json
  claude-plugin/clawker-support/skills/clawker-support/reference/docker-hygiene.md
  docs/cli-reference/clawker_volume.md
  docs/cli-reference/clawker_volume_prune.md
  docs/container-internals.mdx
  docs/docker-hygiene.mdx
  docs/quickstart.mdx
  internal/cmd/volume/CLAUDE.md
  internal/cmd/volume/prune/prune.go
  internal/cmd/volume/prune/prune_test.go
  pkg/whail/CLAUDE.md
  pkg/whail/volume.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

refactor(docker): review followups — stale docs, snapshot test, comment
  internal/docker/CLAUDE.md
  internal/docker/client.go
  internal/workspace/snapshot.go
  internal/workspace/snapshot_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

docs(volume): align prune scope wording with actual behavior
  claude-plugin/clawker-support/.claude-plugin/plugin.json
  claude-plugin/clawker-support/skills/clawker-support/reference/docker-hygiene.md
  docs/cli-reference/clawker_volume_prune.md
  docs/container-internals.mdx
  docs/docker-hygiene.mdx
  docs/quickstart.mdx
  internal/cmd/volume/prune/prune.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

feat(volume): narrow prune default to agent volumes; collapse purpose label (#299)
  claude-plugin/clawker-support/.claude-plugin/plugin.json
  claude-plugin/clawker-support/skills/clawker-support/reference/docker-hygiene.md
  docs/cli-reference/clawker_volume.md
  docs/cli-reference/clawker_volume_prune.md
  docs/container-internals.mdx
  docs/docker-hygiene.mdx
  docs/quickstart.mdx
  internal/cmd/volume/CLAUDE.md
  internal/cmd/volume/prune/prune.go
  internal/cmd/volume/prune/prune_test.go
  internal/docker/CLAUDE.md
  internal/docker/client.go
  internal/docker/labels.go
  internal/docker/labels_test.go
  internal/docker/names.go
  internal/docker/names_test.go
  internal/workspace/snapshot.go
  internal/workspace/snapshot_test.go
  internal/workspace/strategy.go
  pkg/whail/CLAUDE.md
  pkg/whail/volume.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(cp): content-derived CP image tag + SHA drift gate + concurrent-bootstrap recovery
  .claude/docs/ARCHITECTURE.md
  .goreleaser.yaml
  Makefile
  internal/build/CLAUDE.md
  internal/build/build.go
  internal/consts/consts.go
  internal/controlplane/cpboot/CLAUDE.md
  internal/controlplane/cpboot/bootstrap.go
  internal/controlplane/cpboot/bootstrap_test.go
  internal/controlplane/cpboot/container_config_test.go
  internal/controlplane/cpboot/cp_container.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix(cp): log adoption event on SHA-match recovery branch
  internal/controlplane/cpboot/bootstrap.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix(cp): block CP upgrade when active CP or agents are running
  .claude/rules/docker-client.md
  .serena/memories/bug-tracker.md
  internal/controlplane/cpboot/bootstrap.go
  internal/controlplane/cpboot/bootstrap_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

chore: pr fixes
  internal/controlplane/cpboot/bootstrap.go
  internal/controlplane/cpboot/bootstrap_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix(cp): content-derived CP image tag + SHA drift gate + concurrent-bootstrap recovery (#300)
  .claude/docs/ARCHITECTURE.md
  .claude/rules/docker-client.md
  .goreleaser.yaml
  .serena/memories/bug-tracker.md
  Makefile
  internal/build/CLAUDE.md
  internal/build/build.go
  internal/consts/consts.go
  internal/controlplane/cpboot/CLAUDE.md
  internal/controlplane/cpboot/bootstrap.go
  internal/controlplane/cpboot/bootstrap_test.go
  internal/controlplane/cpboot/container_config_test.go
  internal/controlplane/cpboot/cp_container.go
Due: semgrep, govulncheck, go-test, claude-freshness

chore: doc sync
  .serena/memories/audit_brainstorm_html_pointers.md
  .serena/memories/brainstorm_otel-network-monitoring-ebpf.html
  .serena/memories/brainstorm_otel-network-monitoring-ebpf.md
  .serena/memories/initiative_ebpf-netlogger.md
Due: none

chore: final plan
  .serena/memories/initiative_ebpf-netlogger.md
Due: none

feat(ebpf): events_ringbuf + per-decision-point egress event emission
  .serena/memories/initiative_ebpf-netlogger.md
  internal/controlplane/firewall/ebpf/CLAUDE.md
  internal/controlplane/firewall/ebpf/bpf/clawker.c
  internal/controlplane/firewall/ebpf/bpf/common.h
  internal/controlplane/firewall/ebpf/gen.go
  internal/controlplane/firewall/ebpf/manager.go
  internal/controlplane/firewall/ebpf/manager_test.go
  internal/controlplane/firewall/ebpf/types.go
Due: semgrep, govulncheck, go-test, claude-freshness

feat(netlogger): ringbuf reader + label cache + reverse-DNS + processor
  .serena/memories/initiative_ebpf-netlogger.md
  cmd/clawker-cp/main.go
  internal/controlplane/firewall/ebpf/events.go
  internal/controlplane/firewall/ebpf/netlogger/CLAUDE.md
  internal/controlplane/firewall/ebpf/netlogger/cache.go
  internal/controlplane/firewall/ebpf/netlogger/cache_test.go
  internal/controlplane/firewall/ebpf/netlogger/event.go
  internal/controlplane/firewall/ebpf/netlogger/event_test.go
  internal/controlplane/firewall/ebpf/netlogger/metrics.go
  internal/controlplane/firewall/ebpf/netlogger/netlogger.go
  internal/controlplane/firewall/ebpf/netlogger/netlogger_test.go
  internal/controlplane/firewall/ebpf/netlogger/processor.go
  internal/controlplane/firewall/ebpf/netlogger/processor_test.go
  internal/controlplane/firewall/ebpf/netlogger/reader.go
  internal/controlplane/firewall/ebpf/netlogger/reader_test.go
  internal/controlplane/firewall/ebpf/netlogger/reverse_dns.go
  internal/controlplane/firewall/ebpf/netlogger/reverse_dns_test.go
  internal/controlplane/firewall/ebpf/netlogger/sink.go
  internal/controlplane/firewall/ebpf/netlogger/sink_test.go
  internal/controlplane/firewall/handler.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

feat(netlogger): otel sink + cp wiring + generic otel client
  .serena/memories/initiative_ebpf-netlogger.md
  cmd/clawker-cp/main.go
  internal/controlplane/CLAUDE.md
  internal/controlplane/firewall/ebpf/netlogger/CLAUDE.md
  internal/controlplane/firewall/ebpf/netlogger/circuit.go
  internal/controlplane/firewall/ebpf/netlogger/circuit_test.go
  internal/controlplane/firewall/ebpf/netlogger/metrics.go
  internal/controlplane/firewall/ebpf/netlogger/netlogger.go
  internal/controlplane/firewall/ebpf/netlogger/netlogger_test.go
  internal/controlplane/firewall/ebpf/netlogger/otel_sink.go
  internal/controlplane/firewall/ebpf/netlogger/otel_sink_test.go
  internal/controlplane/firewall/ebpf/netlogger/processor_test.go
  internal/controlplane/firewall/ebpf/netlogger/sink.go
  internal/controlplane/firewall/ebpf/netlogger/sink_test.go
  internal/controlplane/otelclient.go
  internal/controlplane/otelclient_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

docs(netlogger): observability page + monitor-stack ebpf-networking routing
  .claude/docs/ARCHITECTURE.md
  .claude/docs/DESIGN.md
  .claude/docs/KEY-CONCEPTS.md
  .claude/docs/MONITORING-REFERENCE.md
  .claude/docs/REPO-STRUCTURE.md
  .claude/rules/monitoring.md
  .serena/memories/initiative_ebpf-netlogger.md
  docs/architecture.mdx
  docs/control-plane.mdx
  docs/docs.json
  docs/firewall.mdx
  docs/monitoring.mdx
  docs/observability.mdx
  docs/quickstart.mdx
  docs/threat-model.mdx
  internal/controlplane/firewall/CLAUDE.md
  internal/controlplane/otelcerts/CLAUDE.md
  internal/controlplane/overseer/CLAUDE.md
  internal/monitor/CLAUDE.md
  internal/monitor/templates/opensearch-bootstrap/bootstrap.sh.tmpl
  internal/monitor/templates/opensearch-bootstrap/index-templates/clawker-netlogger.json
  internal/monitor/templates/opensearch-bootstrap/ism-policies/clawker-retention.json
  internal/monitor/templates/otel-config.yaml.tmpl
Due: none

fix(netlogger): hydrate LabelCache on startup re-enrollment + UI-friendly index shape
  .claude/docs/ARCHITECTURE.md
  .claude/docs/DESIGN.md
  .claude/docs/KEY-CONCEPTS.md
  .claude/docs/MONITORING-REFERENCE.md
  .claude/rules/monitoring.md
  .serena/memories/initiative_ebpf-netlogger.md
  cmd/clawker-cp/main.go
  docs/architecture.mdx
  docs/control-plane.mdx
  docs/monitoring.mdx
  docs/observability.mdx
  docs/quickstart.mdx
  docs/threat-model.mdx
  internal/controlplane/CLAUDE.md
  internal/controlplane/firewall/ebpf/netlogger/CLAUDE.md
  internal/controlplane/firewall/ebpf/netlogger/otel_sink.go
  internal/controlplane/firewall/ebpf/netlogger/otel_sink_test.go
  internal/controlplane/firewall/handler.go
  internal/controlplane/firewall/handler_test.go
  internal/monitor/CLAUDE.md
  internal/monitor/templates/opensearch-bootstrap/bootstrap.sh.tmpl
  internal/monitor/templates/opensearch-bootstrap/index-templates/clawker-ebpf-egress.json
  internal/monitor/templates/opensearch-bootstrap/ism-policies/clawker-retention.json
  internal/monitor/templates/opensearch-bootstrap/saved-objects/clawker.ndjson
  internal/monitor/templates/otel-config.yaml.tmpl
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

refactor(netlogger): match Cilium ratelimit convention + populate dst_host
  .serena/memories/bug-tracker.md
  .serena/memories/initiative_ebpf-netlogger.md
  .serena/memories/initiative_route_identity_allocator.md
  cmd/clawker-cp/main.go
  docs/observability.mdx
  internal/controlplane/firewall/ebpf/CLAUDE.md
  internal/controlplane/firewall/ebpf/bpf/common.h
  internal/controlplane/firewall/ebpf/netlogger/CLAUDE.md
  internal/controlplane/firewall/ebpf/netlogger/netlogger.go
  internal/controlplane/firewall/ebpf/netlogger/netlogger_test.go
  internal/controlplane/firewall/ebpf/netlogger/otel_sink.go
  internal/controlplane/firewall/ebpf/netlogger/otel_sink_test.go
  internal/controlplane/firewall/ebpf/netlogger/processor_test.go
  internal/controlplane/firewall/ebpf/netlogger/reverse_dns.go
  internal/controlplane/firewall/ebpf/netlogger/reverse_dns_test.go
  internal/controlplane/firewall/handler.go
  internal/controlplane/firewall/handler_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(bundler/registry): switch to npm abbreviated metadata to avoid 1 MiB truncation
  internal/bundler/registry/npm.go
Due: semgrep, govulncheck, go-test, claude-freshness

chore: mem cleanup
  .serena/memories/initiative_ebpf-netlogger.md
Due: none

fix(netlogger): address Copilot PR review findings
  docs/observability.mdx
  internal/controlplane/firewall/ebpf/netlogger/CLAUDE.md
  internal/controlplane/firewall/ebpf/netlogger/netlogger.go
  internal/controlplane/firewall/ebpf/netlogger/otel_sink.go
  internal/controlplane/firewall/ebpf/netlogger/otel_sink_test.go
  internal/controlplane/firewall/ebpf/netlogger/reader_test.go
  internal/monitor/templates/opensearch-bootstrap/index-templates/clawker-ebpf-egress.json
Due: semgrep, govulncheck, go-test, claude-freshness

fix(netlogger): address review findings + doc drift sweep
  .claude/docs/ARCHITECTURE.md
  .claude/docs/DESIGN.md
  .claude/docs/KEY-CONCEPTS.md
  .claude/docs/MONITORING-REFERENCE.md
  docs/architecture.mdx
  docs/design.mdx
  docs/firewall.mdx
  docs/index.mdx
  docs/monitoring.mdx
  docs/observability.mdx
  docs/quickstart.mdx
  docs/security.mdx
  docs/threat-model.mdx
  internal/controlplane/CLAUDE.md
  internal/controlplane/firewall/CLAUDE.md
  internal/controlplane/firewall/ebpf/CLAUDE.md
  internal/controlplane/firewall/ebpf/netlogger/CLAUDE.md
  internal/controlplane/firewall/ebpf/netlogger/circuit.go
  internal/controlplane/firewall/ebpf/netlogger/metrics.go
  internal/controlplane/firewall/ebpf/netlogger/netlogger.go
  internal/controlplane/firewall/ebpf/netlogger/netlogger_test.go
  internal/controlplane/firewall/ebpf/netlogger/otel_sink.go
  internal/controlplane/firewall/ebpf/netlogger/processor.go
  internal/controlplane/firewall/ebpf/netlogger/reverse_dns.go
  internal/controlplane/firewall/handler.go
  internal/controlplane/otelclient.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix(netlogger): address Copilot review + schema cleanup
  .claude/rules/monitoring.md
  docs/observability.mdx
  internal/controlplane/cpboot/cp_container.go
  internal/controlplane/firewall/ebpf/bpf/clawker.c
  internal/controlplane/firewall/ebpf/bpf/common.h
  internal/controlplane/firewall/ebpf/manager.go
  internal/controlplane/firewall/ebpf/manager_test.go
  internal/controlplane/firewall/ebpf/netlogger/CLAUDE.md
  internal/controlplane/firewall/ebpf/netlogger/event.go
  internal/controlplane/firewall/ebpf/netlogger/event_test.go
  internal/controlplane/firewall/ebpf/netlogger/otel_sink.go
  internal/controlplane/firewall/ebpf/netlogger/otel_sink_test.go
  internal/controlplane/firewall/ebpf/netlogger/processor_test.go
  internal/controlplane/firewall/ebpf/types.go
  internal/monitor/CLAUDE.md
Due: semgrep, govulncheck, go-test, claude-freshness

docs(netlogger): align doc surfaces with actual emission contract
  .claude/docs/MONITORING-REFERENCE.md
  docs/observability.mdx
  internal/controlplane/firewall/ebpf/CLAUDE.md
  internal/controlplane/firewall/ebpf/bpf/common.h
  internal/controlplane/firewall/ebpf/netlogger/reader.go
Due: semgrep, govulncheck, go-test, claude-freshness

chore(deps): bump golang.org/x/net to v0.55.0 (GO-2026-5026)
  go.mod
  go.sum
Due: licenses-check

chore(deps): bump golang.org/x/net to v0.55.0 (GO-2026-5026) (#309)
  go.mod
  go.sum
Due: licenses-check

chore(docs): outsanding bug cleanup
  .serena/memories/bug-tracker.md
Due: none
