Repository schmitthub/clawker: changes, and which pre-commit hooks are due for each by the changed paths.
All: semgrep, govulncheck, go-test, docs-check, licenses-check, claude-freshness

semgrep:
  name: Semgrep SAST
  entry: semgrep scan --baseline-commit HEAD --config p/golang --config p/security-audit --error
  language: system
  pass_filenames: false

govulncheck:
  name: govulncheck SCA
  entry: govulncheck ./...
  language: system
  pass_filenames: false

go-test:
  name: Unit tests
  entry: make test
  language: system
  pass_filenames: false

docs-check:
  name: CLI docs freshness
  entry: make docs-check
  language: system
  pass_filenames: false

licenses-check:
  name: NOTICE freshness
  entry: make licenses-check
  language: system
  pass_filenames: false

claude-freshness:
  name: Claude doc freshness (advisory)
  entry: bash -c 'bash scripts/check-claude-freshness.sh --strict --non-interactive --no-color | head -50 || true'
  language: system
  pass_filenames: false
  verbose: true

fix(storeui): provenance routing, list editor esc, textarea esc
  internal/storeui/edit.go
  internal/storeui/editor.go
  internal/storeui/editor_test.go
  internal/storeui/listeditor.go
  internal/storeui/listeditor_test.go
  internal/storeui/textareaeditor.go
Due: semgrep, govulncheck, go-test, claude-freshness

feat(storage,storeui): WriteTo for path-based saves, layer-aware save dialog
  internal/config/storeui/project/project.go
  internal/config/storeui/settings/settings.go
  internal/storage/store.go
  internal/storeui/edit.go
  internal/storeui/edit_test.go
  internal/storeui/editor.go
  internal/storeui/editor_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix(storeui): remove config DAG violation, add real integration tests
  internal/storeui/edit_test.go
  internal/storeui/integration_test.go
  internal/storeui/reflect_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix(storeui): proper round-trip integration tests through real store
  internal/storeui/integration_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

feat(storeui): show effective defaults for unset fields
  internal/config/storeui/project/project.go
  internal/storeui/editor.go
  internal/storeui/field.go
Due: semgrep, govulncheck, go-test, claude-freshness

feat(config): backfill *bool defaults into defaultProjectYAML
  internal/config/defaults.go
  internal/config/storeui/project/project.go
Due: semgrep, govulncheck, go-test, claude-freshness

chore: add clawker.yaml backup for UAT testing (remove before merge)
  .clawker.bak.yml
Due: none

style: run gofmt on all Go files
  internal/cmd/project/edit/edit.go
  internal/cmd/settings/edit/edit.go
  internal/config/storeui/project/project.go
  internal/storeui/field.go
  internal/storeui/listeditor.go
  internal/storeui/textareaeditor.go
  pkg/whail/network_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(tests): nil Prompter panic when CWD is outside $HOME
  internal/cmd/container/create/create_test.go
  internal/cmd/container/run/run_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

docs: regenerate CLI reference for project edit and settings commands
  docs/cli-reference/clawker.md
  docs/cli-reference/clawker_project.md
  docs/cli-reference/clawker_project_edit.md
  docs/cli-reference/clawker_settings.md
  docs/cli-reference/clawker_settings_edit.md
Due: none

refactor(storeui,tui): move BubbleTea models from storeui to tui
  CLAUDE.md
  internal/storeui/CLAUDE.md
  internal/storeui/edit.go
  internal/storeui/editor.go
  internal/storeui/editor_test.go
  internal/tui/CLAUDE.md
  internal/tui/fieldbrowser.go
  internal/tui/fieldbrowser_test.go
  internal/tui/listeditor.go
  internal/tui/listeditor_test.go
  internal/tui/textareaeditor.go
  internal/tui/textareaeditor_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

feat(storage): expose per-layer data and field provenance
  internal/storage/storage_test.go
  internal/storage/store.go
  internal/storeui/edit.go
  internal/tui/fieldbrowser.go
Due: semgrep, govulncheck, go-test, claude-freshness

feat(tui): show per-layer value breakdown for selected field
  internal/storeui/edit.go
  internal/tui/fieldbrowser.go
  internal/tui/fieldbrowser_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

refactor: fixed package boundary added data layer features
  internal/config/storeui/project/project.go
  internal/config/storeui/settings/settings.go
  internal/socketbridge/bridge.go
  internal/storage/merge.go
  internal/storage/store.go
  internal/storeui/edit.go
  internal/storeui/field.go
  internal/storeui/integration_test.go
  internal/storeui/reflect.go
  internal/storeui/reflect_test.go
  internal/storeui/value.go
  internal/storeui/value_test.go
  internal/tui/fieldbrowser.go
  internal/tui/fieldbrowser_test.go
  internal/tui/listeditor.go
  internal/tui/listeditor_test.go
  internal/tui/textareaeditor.go
Due: semgrep, govulncheck, go-test, claude-freshness

feat(storeui): per-field save with layer picker
  internal/cmd/project/edit/edit.go
  internal/cmd/settings/edit/edit.go
  internal/config/storeui/project/project.go
  internal/config/storeui/settings/settings.go
  internal/storeui/edit.go
  internal/tui/fieldbrowser.go
  internal/tui/fieldbrowser_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix: address Copilot review findings across TUI and socketbridge
  .clawker.bak.yml
  internal/socketbridge/bridge.go
  internal/tui/fieldbrowser.go
  internal/tui/fieldbrowser_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

docs: document storeui, settings edit, and project edit across all docs
  .claude/docs/ARCHITECTURE.md
  .claude/rules/storeui.md
  CLAUDE.md
  README.md
  docs/configuration.mdx
  docs/docs.json
  internal/cmd/root/CLAUDE.md
Due: docs-check

fix: address Copilot review findings across storeui and TUI
  internal/storeui/CLAUDE.md
  internal/storeui/edit.go
  internal/tui/CLAUDE.md
  internal/tui/fieldbrowser.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix: comprehensive review fixes across storeui, TUI, and domain adapters
  docs/cli-reference/clawker_settings.md
  internal/cmd/project/edit/edit.go
  internal/cmd/project/edit/edit_test.go
  internal/cmd/settings/edit/edit.go
  internal/cmd/settings/edit/edit_test.go
  internal/cmd/settings/settings.go
  internal/config/storeui/project/project.go
  internal/config/storeui/settings/settings.go
  internal/storeui/CLAUDE.md
  internal/storeui/edit.go
  internal/storeui/field_test.go
  internal/storeui/reflect.go
  internal/storeui/reflect_test.go
  internal/storeui/value.go
  internal/tui/CLAUDE.md
  internal/tui/fieldbrowser.go
  internal/tui/fieldbrowser_test.go
  internal/tui/listeditor_test.go
  internal/tui/textareaeditor_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

feat(storage): add Field, FieldSet, Schema interfaces and NormalizeFields normalizer
  .serena/memories/initiative_storage-schema-contract.md
  internal/storage/CLAUDE.md
  internal/storage/field.go
  internal/storage/field_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

test(storage): remove wasteful tests flagged by test-hunter audit
  internal/storage/field_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

feat(config): add desc/label struct tags and Schema interface to Project and Settings
  .serena/memories/initiative_storage-schema-contract.md
  internal/config/schema.go
  internal/config/schema_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

feat(config,firewall): add Schema interface to EgressRulesFile and ProjectRegistry
  .serena/memories/initiative_storage-schema-contract.md
  internal/config/schema.go
  internal/firewall/types.go
Due: semgrep, govulncheck, go-test, claude-freshness

feat(storage,storeui): enforce Store[T Schema] constraint and refactor storeui
  .serena/memories/initiative_storage-schema-contract.md
  internal/config/storeui/project/project.go
  internal/config/storeui/settings/settings.go
  internal/storage/CLAUDE.md
  internal/storage/field.go
  internal/storage/load.go
  internal/storage/merge.go
  internal/storage/storage_test.go
  internal/storage/store.go
  internal/storeui/CLAUDE.md
  internal/storeui/edit.go
  internal/storeui/field.go
  internal/storeui/integration_test.go
  internal/storeui/reflect_test.go
  internal/storeui/testfixtures_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

docs: update documentation for storage schema contract initiative
  .claude/rules/storeui.md
  .serena/memories/brainstorm_config-field-descriptions.md
  .serena/memories/initiative_storage-schema-contract.md
  CLAUDE.md
  internal/config/CLAUDE.md
Due: none

cleanup
  .claude/agents/test-hunter.md
  .claude/templates/initiative.md
  .clawker.yaml
Due: none

docs(storage): fix NormalizeFields type constraint in CLAUDE.md
  internal/storage/CLAUDE.md
Due: none

feat(storeui): left-align section headers, show field descriptions, remove cancel message
  internal/cmd/project/edit/edit.go
  internal/cmd/settings/edit/edit.go
  internal/config/storeui/project/project.go
  internal/tui/components.go
  internal/tui/components_test.go
  internal/tui/fieldbrowser.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(storeui,tui): address PR review findings across scroll, docs, and tests
  .claude/rules/storeui.md
  .claude/rules/tui.md
  internal/config/schema_test.go
  internal/firewall/types_test.go
  internal/storage/field.go
  internal/storeui/CLAUDE.md
  internal/tui/CLAUDE.md
  internal/tui/fieldbrowser.go
  internal/tui/fieldbrowser_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

style(storage): use reflect.Ptr for consistency with codebase convention
  internal/storage/field.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix(exec): remove redundant EnsureBridge call that panicked on nil SocketBridge
  internal/cmd/container/exec/exec.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

feat(config): replace YAML template constants with struct-tag-driven defaults
  .claude/docs/DESIGN.md
  .claude/rules/storage-schema.md
  .serena/memories/initiative_storage-schema-contract.md
  CLAUDE.md
  internal/cmd/project/CLAUDE.md
  internal/cmd/project/init/init.go
  internal/cmd/project/init/init_test.go
  internal/config/CLAUDE.md
  internal/config/config.go
  internal/config/config_test.go
  internal/config/defaults.go
  internal/config/schema.go
  internal/project/registry.go
  internal/storage/CLAUDE.md
  internal/storage/defaults.go
  internal/storage/defaults_test.go
  internal/storage/field.go
  internal/storage/field_test.go
  internal/storage/options.go
  internal/tui/fieldbrowser_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

feat(init): use store API for config persistence, wire storeui editor
  internal/cmd/project/init/init.go
  internal/cmd/project/init/init_test.go
  internal/storage/write.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

feat(init): use store API for saveUserProjectConfig, wire settings editor
  internal/cmd/init/init.go
  internal/cmd/init/init_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix: address Copilot review findings across storage, init, and docs
  internal/cmd/project/CLAUDE.md
  internal/cmd/project/init/init.go
  internal/config/CLAUDE.md
  internal/storage/CLAUDE.md
  internal/storage/defaults_test.go
  internal/storage/write.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

chore: remove .clawker.yaml from repo (local config, not project source)
  .clawker.yaml
Due: none

fix: use marshalYAML in migration re-save, pass project config to user default
  internal/cmd/project/init/init.go
  internal/storage/load.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

style(init): rename maybeOfferUserDefault to offerUserDefault
  internal/cmd/project/init/init.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

feat(init): add edit command hints to init output
  internal/cmd/init/init.go
  internal/cmd/project/init/init.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

Path conditions:
  semgrep: any of: \.go$
  govulncheck: any of: \.go$
  go-test: any of: \.go$
  docs-check: any of: ^(cmd/|internal/cmd/|internal/docs/)
  licenses-check: any of: ^go\.(mod|sum)$
  claude-freshness: any of: \.go$
