Repository schmitthub/clawker: changes, and which pre-commit hooks are due for each by the changed paths.
All: semgrep, govulncheck, go-test, docs-check, licenses-check, claude-freshness

.pre-commit-config.yaml:

# Pre-commit hooks — mirrors CI quality gates locally.
# Install: bash scripts/install-hooks.sh
# Run all: pre-commit run --all-files
# Run one: pre-commit run gitleaks --all-files

repos:
  # ── Security ──────────────────────────────────────────────────────────────
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.30.0
    hooks:
      - id: gitleaks
        args: [--baseline-path, gitleaks-report.json]

  # ── Lint ──────────────────────────────────────────────────────────────────
  - repo: https://github.com/golangci/golangci-lint
    rev: v2.9.0
    hooks:
      - id: golangci-lint-full
        args: [--config, .golangci.yml]

  # ── Local hooks ───────────────────────────────────────────────────────────
  - repo: local
    hooks:
      - id: semgrep
        name: Semgrep SAST
        # Expected version: 1.146.0 (must match CI image tag in security.yml)
        entry: semgrep scan --baseline-commit HEAD --config p/golang --config p/security-audit --error
        language: system
        types: [go]
        pass_filenames: false

      - id: govulncheck
        name: govulncheck SCA
        entry: govulncheck ./...
        language: system
        types: [go]
        pass_filenames: false

      - id: go-test
        name: Unit tests
        entry: make test
        language: system
        types: [go]
        pass_filenames: false

      - id: docs-check
        name: CLI docs freshness
        entry: make docs-check
        language: system
        files: ^(cmd/|internal/cmd/|internal/docs/)
        pass_filenames: false

      - id: licenses-check
        name: NOTICE freshness
        entry: make licenses-check
        language: system
        files: ^go\.(mod|sum)$
        pass_filenames: false

      - id: claude-freshness
        name: Claude doc freshness (advisory)
        entry: bash -c 'bash scripts/check-claude-freshness.sh --strict --non-interactive --no-color | head -50 || true'
        language: system
        files: \.go$
        pass_filenames: false
        verbose: true

chore(hooks): added git checks
  .claude/hooks/git-checks.sh
  .claude/settings.local.json.example
Due: none

chore(hooks): hardened checks to prevent pre-commit skip var bypass
  .claude/hooks/git-checks.sh
Due: none

chore(lint): removed depguard from checks
  .golangci.yml
Due: none

chore(lint): added wsl_v5 to disable list
  .golangci.yml
Due: none

chore(lint): more forgiving rules
  .golangci.yml
Due: none

fix(review): pre-linter fixes
  .claude/docs/DESIGN.md
  .claude/docs/KEY-CONCEPTS.md
  CLAUDE.md
  api/clawkerd/v1/mocks/stubs.go
  controlplane/CLAUDE.md
  controlplane/agent/dialer.go
  controlplane/agent/dialer_test.go
  controlplane/agent/exec.go
  controlplane/agent/exec_test.go
  internal/controlplane/cmd.go
  internal/controlplane/cmd_helpers_test.go
  internal/hostproxy/daemon.go
  internal/hostproxy/daemon_test.go
  internal/iostreams/markdown.go
  internal/iostreams/markdown_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

chore(lint): resolve all golangci-lint-full findings on the branch
  api/clawkerd/v1/mocks/stubs.go
  controlplane/agent/boot_steps.go
  controlplane/agent/dialer.go
  controlplane/agent/dispatch_register_test.go
  controlplane/agent/exec.go
  controlplane/agent/exec_test.go
  controlplane/agent/helpers_test.go
  controlplane/agent/init_steps.go
  controlplane/agent/mocks/stubs.go
  controlplane/agent/register_handler_test.go
  controlplane/agent/repository_test.go
  controlplane/agent/start_test.go
  controlplane/firewall/envoy_consts.go
  controlplane/firewall/envoy_http.go
  internal/cmd/container/shared/container_create.go
  internal/cmd/container/shared/container_start.go
  internal/cmd/controlplane/agents_test.go
  internal/cmd/factory/default.go
  internal/hostproxy/daemon.go
  internal/hostproxy/daemon_test.go
  internal/hostproxy/egress_check.go
  internal/hostproxy/egress_check_test.go
  internal/hostproxy/manager.go
  internal/hostproxy/server.go
  internal/hostproxy/server_test.go
  internal/iostreams/markdown_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

chore(linter): relax containedctx et al for stubs and mocks
  .golangci.yml
Due: none

chore(linter): contextcheck on mocks
  .golangci.yml
Due: none

chore(linter): revert
  .golangci.yml
Due: none

refactor(mocks): store ctx directly in FakeSessionStream
  api/clawkerd/v1/mocks/stubs.go
Due: semgrep, govulncheck, go-test, claude-freshness

chore(clawker): regex test
  .clawker.yaml
Due: none

chore(lint): tighten golangci-lint for agents, normalize mock filenames, add yq
  .clawker.yaml
  .golangci.yml
  internal/docker/mocks/moby_mock.go
  internal/docker/mocks/stubs.go
  internal/docker/mocks/stubs_test.go
  internal/hostproxy/hostproxytest/manager_mock.go
  pkg/whail/whailtest/stubs.go
Due: semgrep, govulncheck, go-test, claude-freshness

ci(lint): scope golangci-lint to PR diff via only-new-issues
  .github/workflows/lint.yml
Due: none

ci(lint): fetch main ref so new-from-merge-base resolves in CI
  .github/workflows/lint.yml
Due: none

ci(build): pin yq by hardcoded release-binary SHA, drop remote script
  .clawker.yaml
Due: none

chore(lint): tighten golangci-lint for agents, normalize mock filenames, add yq (#404)
  .clawker.yaml
  .github/workflows/lint.yml
  .golangci.yml
  internal/docker/mocks/moby_mock.go
  internal/docker/mocks/stubs.go
  internal/docker/mocks/stubs_test.go
  internal/hostproxy/hostproxytest/manager_mock.go
  pkg/whail/whailtest/stubs.go
Due: semgrep, govulncheck, go-test, claude-freshness

ci(lint): run golangci-lint on PRs only, drop Code Scanning upload
  .github/workflows/lint.yml
  .github/workflows/main.yml
  .github/workflows/pr.yml
Due: none

chore(clawker): add nvm node sites for references and testing purposes
  .clawker.yaml
Due: none

feat(bundler): bake Node + nvm into base Dockerfile template
  CHANGELOG.md
  claude-plugin/clawker-support/.claude-plugin/plugin.json
  claude-plugin/clawker-support/skills/clawker-support/reference/Dockerfile.tmpl
  claude-plugin/clawker-support/skills/clawker-support/reference/known-issues.md
  claude-plugin/clawker-support/skills/clawker-support/reference/sample-node.yaml
  docs/custom-images.mdx
  docs/threat-model.mdx
  internal/bundler/CLAUDE.md
  internal/bundler/assets/Dockerfile.tmpl
  internal/bundler/dockerfile_test.go
  internal/cmd/container/shared/container_create.go
  internal/cmd/container/shared/container_start.go
  internal/cmd/container/shared/containerfs.go
  internal/containerfs/containerfs.go
  internal/containerfs/containerfs_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(bundler): harden nvm install resolution; tighten Node docs
  claude-plugin/clawker-support/skills/clawker-support/reference/Dockerfile.tmpl
  claude-plugin/clawker-support/skills/clawker-support/reference/known-issues.md
  internal/bundler/CLAUDE.md
  internal/bundler/assets/Dockerfile.tmpl
Due: none

fix: re-instate shell after nvm
  claude-plugin/clawker-support/skills/clawker-support/reference/Dockerfile.tmpl
  internal/bundler/assets/Dockerfile.tmpl
Due: none

fix(bundler): guard Node LTS resolution against jq null; doc zsh build shell
  claude-plugin/clawker-support/skills/clawker-support/reference/Dockerfile.tmpl
  docs/custom-images.mdx
  internal/bundler/assets/Dockerfile.tmpl
Due: none

feat(bundler): bake Node + nvm into base Dockerfile template (#408)
  .clawker.yaml
  CHANGELOG.md
  claude-plugin/clawker-support/.claude-plugin/plugin.json
  claude-plugin/clawker-support/skills/clawker-support/reference/Dockerfile.tmpl
  claude-plugin/clawker-support/skills/clawker-support/reference/known-issues.md
  claude-plugin/clawker-support/skills/clawker-support/reference/sample-node.yaml
  docs/custom-images.mdx
  docs/threat-model.mdx
  internal/bundler/CLAUDE.md
  internal/bundler/assets/Dockerfile.tmpl
  internal/bundler/dockerfile_test.go
  internal/cmd/container/shared/container_create.go
  internal/cmd/container/shared/container_start.go
  internal/cmd/container/shared/containerfs.go
  internal/containerfs/containerfs.go
  internal/containerfs/containerfs_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

feat(storage): node-native engine, path-based Store API, config JSON Schema headers
  .claude/docs/STOREUI-REFERENCE.md
  .claude/rules/store-backed-package.md
  .claude/rules/storeui.md
  .clawker.yaml
  .golangci.yml
  cmd/gen-docs/main.go
  controlplane/firewall/handler.go
  controlplane/firewall/stack.go
  controlplane/firewall/stack_infracerts_internal_test.go
  docs/schemas/clawker.schema.json
  docs/schemas/settings.schema.json
  internal/cmd/alias/shared/shared.go
  internal/cmd/project/init/init.go
  internal/config/CLAUDE.md
  internal/config/config.go
  internal/config/config_test.go
  internal/config/migrations.go
  internal/config/migrations_test.go
  internal/consts/consts.go
  internal/docs/CLAUDE.md
  internal/docs/jsonschema.go
  internal/docs/jsonschema_test.go
  internal/project/registry.go
  internal/state/migrations.go
  internal/state/state.go
  internal/storage/CLAUDE.md
  internal/storage/load.go
  internal/storage/merge.go
  internal/storage/node.go
  internal/storage/options.go
  internal/storage/storage_test.go
  internal/storage/store.go
  internal/storage/write.go
  internal/storeui/CLAUDE.md
  internal/storeui/edit.go
  internal/storeui/integration_test.go
  internal/storeui/value.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(storage): harden node-native Store and finish path-based migration
  .claude/agents/test-hunter.md
  .claude/docs/ARCHITECTURE.md
  .claude/docs/DESIGN.md
  .claude/rules/code-style.md
  .claude/rules/store-backed-package.md
  cmd/gen-docs/main.go
  cmd/gen-docs/main_test.go
  controlplane/firewall/handler.go
  controlplane/firewall/rules_store.go
  controlplane/firewall/stack.go
  internal/cmd/project/init/init.go
  internal/cmd/project/init/init_test.go
  internal/config/migrations_test.go
  internal/docs/jsonschema_test.go
  internal/storage/CLAUDE.md
  internal/storage/merge.go
  internal/storage/node.go
  internal/storage/options.go
  internal/storage/storage_test.go
  internal/storage/store.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(storage): close error-handling gaps in node Store and migrations
  .claude/docs/ARCHITECTURE.md
  .clawker.yaml
  cmd/gen-docs/main.go
  internal/config/migrations.go
  internal/config/migrations_test.go
  internal/state/CLAUDE.md
  internal/state/state.go
  internal/storage/CLAUDE.md
  internal/storage/node.go
  internal/storage/storage_test.go
  internal/storage/store.go
  internal/storeui/integration_test.go
  internal/storeui/value_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

refactor(storage): flag virtual layer explicitly, add error sentinels
  .claude/agents/test-hunter.md
  controlplane/firewall/stack.go
  internal/config/config.go
  internal/state/CLAUDE.md
  internal/storage/errors.go
  internal/storage/load.go
  internal/storage/node.go
  internal/storage/storage_test.go
  internal/storage/store.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix(storage): harden Store writes, kill default leakage, consolidate API
  .claude/docs/ARCHITECTURE.md
  .claude/docs/DESIGN.md
  .claude/docs/STOREUI-REFERENCE.md
  .claude/rules/envoy.md
  .claude/rules/store-backed-package.md
  .claude/rules/storeui.md
  controlplane/firewall/envoy_config_test.go
  controlplane/firewall/rules_store.go
  internal/cmd/project/CLAUDE.md
  internal/cmd/project/init/init_test.go
  internal/cmd/project/shared/discovery.go
  internal/config/config.go
  internal/config/config_test.go
  internal/config/presets_test.go
  internal/state/state.go
  internal/storage/CLAUDE.md
  internal/storage/defaults_test.go
  internal/storage/errors.go
  internal/storage/node.go
  internal/storage/storage_test.go
  internal/storage/store.go
  internal/storage/write.go
  internal/storeui/edit.go
  internal/storeui/integration_test.go
  test/e2e/preset_builds_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

docs(storeui): fix stale delete-path API in data-flow diagram
  internal/storeui/CLAUDE.md
Due: none

fix(storeui): derive save targets from the store, export storage Options
  .claude/docs/STOREUI-REFERENCE.md
  .claude/rules/storeui.md
  internal/cmd/project/edit/edit.go
  internal/cmd/settings/edit/edit.go
  internal/config/storeui/project/project.go
  internal/config/storeui/project/project_test.go
  internal/config/storeui/settings/settings.go
  internal/config/storeui/settings/settings_test.go
  internal/storage/CLAUDE.md
  internal/storage/discover.go
  internal/storage/options.go
  internal/storage/storage_test.go
  internal/storage/store.go
  internal/storage/targets.go
  internal/storage/targets_test.go
  internal/storage/write.go
  internal/storeui/CLAUDE.md
  internal/storeui/edit.go
  internal/storeui/edit_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(docs): gate config JSON Schema generation behind a dedicated --schemas flag
  .claude/rules/mintlify-docs.md
  .claude/skills/audit-memory/REFERENCE.md
  CLAUDE.md
  Makefile
  cmd/gen-docs/main.go
  cmd/gen-docs/main_test.go
  internal/docs/CLAUDE.md
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

feat(config): pin schema URLs to the binary's release tag via git refs
  cmd/gen-docs/main.go
  internal/changelog/consts.go
  internal/clawker/cmd.go
  internal/config/CLAUDE.md
  internal/config/config.go
  internal/consts/consts.go
  internal/consts/schema_test.go
  internal/docs/CLAUDE.md
  internal/storage/CLAUDE.md
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

chore(changelog): 0.12.11
  CHANGELOG.md
Due: none

refactor(storage): generalize WithSchemaURL into WithHeader
  internal/config/CLAUDE.md
  internal/config/config.go
  internal/docs/CLAUDE.md
  internal/storage/CLAUDE.md
  internal/storage/options.go
  internal/storage/storage_test.go
  internal/storage/store.go
  internal/storage/write.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

chore(build): bump linux-libc-dev pin to 6.8.0-134.134
  Makefile
Due: none

fix(config): never stamp a branch ref in schema URLs
  .clawker.yaml
  internal/config/CLAUDE.md
  internal/config/config.go
  internal/consts/consts.go
  internal/consts/schema_test.go
  internal/docs/CLAUDE.md
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(storeui): label save targets Project/User/Local by their actual role
  .claude/docs/STOREUI-REFERENCE.md
  .claude/rules/storeui.md
  internal/config/storeui/project/project.go
  internal/config/storeui/project/project_test.go
  internal/config/storeui/settings/settings.go
  internal/config/storeui/settings/settings_test.go
  internal/storeui/CLAUDE.md
  internal/storeui/edit.go
  internal/storeui/edit_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix(storage): honor mixed dual-placement — dir form takes precedence, never suppresses
  .claude/docs/STOREUI-REFERENCE.md
  .claude/rules/storeui.md
  docs/configuration.mdx
  internal/config/storeui/project/project.go
  internal/config/storeui/project/project_test.go
  internal/storage/CLAUDE.md
  internal/storage/discover.go
  internal/storage/load.go
  internal/storage/storage_test.go
  internal/storage/store.go
  internal/storage/targets.go
  internal/storage/targets_test.go
  internal/storeui/CLAUDE.md
  internal/storeui/edit.go
  internal/storeui/edit_test.go
Due: semgrep, govulncheck, go-test, claude-freshness
