Repository schmitthub/clawker: changes, and which pre-commit hooks are due for each by the changed paths.
All: semgrep, govulncheck, go-test, docs-check, licenses-check, claude-freshness

semgrep:
  name: Semgrep SAST
  entry: semgrep scan --baseline-commit HEAD --config p/golang --config p/security-audit --error
  language: system
  pass_filenames: false

govulncheck:
  name: govulncheck SCA
  entry: govulncheck ./...
  language: system
  pass_filenames: false

go-test:
  name: Unit tests
  entry: make test
  language: system
  pass_filenames: false

docs-check:
  name: CLI docs freshness
  entry: make docs-check
  language: system
  pass_filenames: false

licenses-check:
  name: NOTICE freshness
  entry: make licenses-check
  language: system
  pass_filenames: false

claude-freshness:
  name: Claude doc freshness (advisory)
  entry: bash -c 'bash scripts/check-claude-freshness.sh --strict --non-interactive --no-color | head -50 || true'
  language: system
  pass_filenames: false
  verbose: true

feat(firewall): path-rule removal + per-rule status enums on rule ops
  .serena/memories/bug-tracker.md
  api/admin/v1/admin.pb.go
  api/admin/v1/admin.proto
  claude-plugin/clawker-support/.claude-plugin/plugin.json
  claude-plugin/clawker-support/skills/clawker-support/SKILL.md
  docs/cli-reference/clawker_firewall_add.md
  docs/cli-reference/clawker_firewall_remove.md
  docs/firewall.mdx
  internal/bundler/assets/clawker-agent-prompt.md
  internal/cmd/firewall/CLAUDE.md
  internal/cmd/firewall/add.go
  internal/cmd/firewall/add_test.go
  internal/cmd/firewall/remove.go
  internal/cmd/firewall/remove_test.go
  internal/controlplane/firewall/CLAUDE.md
  internal/controlplane/firewall/handler.go
  internal/controlplane/firewall/handler_test.go
  internal/controlplane/firewall/rule_status.go
  internal/controlplane/firewall/rules_store.go
  internal/controlplane/firewall/rules_store_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(firewall): post-review cleanup — PathDefault preserve, NOT_FOUND wire contract, no-panic queue assertions
  api/admin/v1/admin.proto
  api/admin/v1/admin_grpc.pb.go
  docs/cli-reference/clawker_firewall_add.md
  docs/cli-reference/clawker_firewall_remove.md
  docs/firewall.mdx
  internal/bundler/assets/clawker-agent-prompt.md
  internal/cmd/firewall/CLAUDE.md
  internal/cmd/firewall/add.go
  internal/cmd/firewall/remove.go
  internal/cmd/firewall/rpc.go
  internal/controlplane/firewall/CLAUDE.md
  internal/controlplane/firewall/errors.go
  internal/controlplane/firewall/handler.go
  internal/controlplane/firewall/rules_store.go
  internal/controlplane/firewall/rules_store_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

docs(firewall): refresh stale rule-op doc comments for typed-status surface
  internal/cmd/firewall/add_test.go
  internal/controlplane/firewall/handler.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(firewall): infer path_default for denylist path rules
  internal/cmd/container/list/list_test.go
  internal/cmd/firewall/list.go
  internal/cmd/firewall/list_test.go
  internal/cmd/project/info/info_test.go
  internal/cmd/project/list/list_test.go
  internal/cmdutil/json.go
  internal/cmdutil/json_test.go
  internal/controlplane/firewall/envoy_config.go
  internal/controlplane/firewall/envoy_config_test.go
  internal/controlplane/firewall/rules_store.go
  internal/controlplane/firewall/rules_store_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(hostproxy): mirror firewall path_default inference
  internal/hostproxy/egress_check.go
  internal/hostproxy/egress_check_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

feat(firewall): path-rule removal + per-rule status enums on rule ops (#311)
  .serena/memories/bug-tracker.md
  api/admin/v1/admin.pb.go
  api/admin/v1/admin.proto
  api/admin/v1/admin_grpc.pb.go
  claude-plugin/clawker-support/.claude-plugin/plugin.json
  claude-plugin/clawker-support/skills/clawker-support/SKILL.md
  docs/cli-reference/clawker_firewall_add.md
  docs/cli-reference/clawker_firewall_remove.md
  docs/firewall.mdx
  internal/bundler/assets/clawker-agent-prompt.md
  internal/cmd/container/list/list_test.go
  internal/cmd/firewall/CLAUDE.md
  internal/cmd/firewall/add.go
  internal/cmd/firewall/add_test.go
  internal/cmd/firewall/list.go
  internal/cmd/firewall/list_test.go
  internal/cmd/firewall/remove.go
  internal/cmd/firewall/remove_test.go
  internal/cmd/firewall/rpc.go
  internal/cmd/project/info/info_test.go
  internal/cmd/project/list/list_test.go
  internal/cmdutil/json.go
  internal/cmdutil/json_test.go
  internal/controlplane/firewall/CLAUDE.md
  internal/controlplane/firewall/envoy_config.go
  internal/controlplane/firewall/envoy_config_test.go
  internal/controlplane/firewall/errors.go
  internal/controlplane/firewall/handler.go
  internal/controlplane/firewall/handler_test.go
  internal/controlplane/firewall/rule_status.go
  internal/controlplane/firewall/rules_store.go
  internal/controlplane/firewall/rules_store_test.go
  internal/hostproxy/egress_check.go
  internal/hostproxy/egress_check_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

feat(firewall): OTel-named access log schema + log noise cleanup
  .claude/docs/MONITORING-REFERENCE.md
  .claude/rules/envoy.md
  .claude/rules/monitoring.md
  .clawker.yaml
  cmd/coredns-clawker/plugins/otel/CLAUDE.md
  cmd/coredns-clawker/plugins/otel/otel.go
  cmd/coredns-clawker/plugins/otel/otel_test.go
  cmd/coredns-clawker/plugins/otel/setup.go
  docs/cli-reference/clawker_firewall_add.md
  docs/cli-reference/clawker_firewall_remove.md
  docs/configuration.mdx
  internal/cmd/firewall/add.go
  internal/cmd/firewall/list_test.go
  internal/cmd/firewall/remove.go
  internal/cmd/firewall/remove_test.go
  internal/config/config_test.go
  internal/config/defaults.go
  internal/config/schema.go
  internal/controlplane/firewall/CLAUDE.md
  internal/controlplane/firewall/certs.go
  internal/controlplane/firewall/certs_test.go
  internal/controlplane/firewall/ebpf/netlogger/CLAUDE.md
  internal/controlplane/firewall/ebpf/netlogger/event.go
  internal/controlplane/firewall/ebpf/netlogger/otel_sink.go
  internal/controlplane/firewall/ebpf/netlogger/otel_sink_test.go
  internal/controlplane/firewall/envoy_config.go
  internal/controlplane/firewall/envoy_config_test.go
  internal/controlplane/firewall/handler_test.go
  internal/controlplane/firewall/rules_store.go
  internal/controlplane/firewall/rules_store_test.go
  internal/hostproxy/egress_check.go
  internal/hostproxy/egress_check_test.go
  internal/monitor/CLAUDE.md
  internal/monitor/templates/opensearch-bootstrap/index-templates/clawker-coredns.json
  internal/monitor/templates/opensearch-bootstrap/index-templates/clawker-ebpf-egress.json
  internal/monitor/templates/opensearch-bootstrap/index-templates/clawker-envoy.json
  internal/monitor/templates/opensearch-bootstrap/ingest-pipelines/envelope-normalize.json
  internal/monitor/templates/otel-config.yaml.tmpl
  internal/project/manager.go
  test/e2e/firewall_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(firewall): restore plaintext HTTP + drop timeout/buffer regressions; tls→https rename
  .claude/rules/envoy.md
  docs/cli-reference/clawker_firewall_add.md
  docs/cli-reference/clawker_firewall_remove.md
  docs/configuration.mdx
  internal/cmd/firewall/CLAUDE.md
  internal/cmd/firewall/add.go
  internal/cmd/firewall/list.go
  internal/cmd/firewall/list_test.go
  internal/cmd/firewall/remove.go
  internal/cmd/firewall/remove_test.go
  internal/config/config_test.go
  internal/config/defaults.go
  internal/config/schema.go
  internal/controlplane/firewall/CLAUDE.md
  internal/controlplane/firewall/certs.go
  internal/controlplane/firewall/certs_test.go
  internal/controlplane/firewall/envoy_config.go
  internal/controlplane/firewall/envoy_config_test.go
  internal/controlplane/firewall/handler_test.go
  internal/controlplane/firewall/rules_store.go
  internal/controlplane/firewall/rules_store_test.go
  internal/hostproxy/egress_check.go
  internal/hostproxy/egress_check_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(firewall): add_domains generate proto:https, not http
  .clawker.yaml
  internal/project/manager.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix(monitor): full OTel semconv + Painless bracket-access + Envoy noise strip
  .claude/rules/envoy.md
  .claude/rules/monitoring.md
  cmd/coredns-clawker/plugins/otel/CLAUDE.md
  cmd/coredns-clawker/plugins/otel/otel.go
  internal/controlplane/firewall/CLAUDE.md
  internal/controlplane/firewall/envoy_config.go
  internal/controlplane/firewall/envoy_config_test.go
  internal/monitor/CLAUDE.md
  internal/monitor/templates/opensearch-bootstrap/index-templates/clawker-coredns.json
  internal/monitor/templates/opensearch-bootstrap/index-templates/clawker-envoy.json
  internal/monitor/templates/opensearch-bootstrap/ingest-pipelines/envelope-normalize.json
  internal/monitor/templates/opensearch-bootstrap/ingest-pipelines/envoy-normalize.json
  internal/monitor/templates/otel-config.yaml.tmpl
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

feat(monitor): networking dashboard + envoy/netlogger ingest fixes
  docs/monitoring.mdx
  internal/monitor/CLAUDE.md
  internal/monitor/templates/opensearch-bootstrap/index-templates/clawker-ebpf-egress.json
  internal/monitor/templates/opensearch-bootstrap/ingest-pipelines/netlogger-normalize.json
  internal/monitor/templates/opensearch-bootstrap/saved-objects/clawker.ndjson
  internal/monitor/templates/otel-config.yaml.tmpl
Due: none

docs: backfill envoy access-log field reference + protocol-gap tracker
  .claude/rules/envoy.md
  .serena/memories/bug-tracker.md
  docs/monitoring.mdx
Due: none

fix: PR review correctness — pre-route action, ingest audit, e2e https
  .claude/rules/envoy.md
  cmd/coredns-clawker/plugins/otel/otel.go
  cmd/coredns-clawker/plugins/otel/otel_test.go
  internal/controlplane/firewall/certs.go
  internal/controlplane/firewall/envoy_config.go
  internal/controlplane/firewall/envoy_config_test.go
  internal/monitor/templates/opensearch-bootstrap/ingest-pipelines/envelope-normalize.json
  internal/monitor/templates/opensearch-bootstrap/ingest-pipelines/envoy-normalize.json
  internal/monitor/templates/opensearch-bootstrap/ingest-pipelines/netlogger-normalize.json
  internal/monitor/templates/opensearch-bootstrap/saved-objects/clawker.ndjson
  internal/monitor/templates/otel-config.yaml.tmpl
  test/e2e/firewall_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix: Copilot review — action field docs, ssh:22 default, proto flag rendering
  docs/cli-reference/clawker_firewall_remove.md
  docs/monitoring.mdx
  internal/cmd/firewall/remove.go
  internal/controlplane/firewall/handler_test.go
  internal/controlplane/firewall/rules_store.go
  internal/hostproxy/egress_check.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

chore: envoy hardening pass
  .claude/docs/firewall-wildcard-fix-REQUIREMENTS.md
  .claude/rules/envoy.md
  .clawker.yaml
  cmd/regen-envoy/main.go
  internal/controlplane/firewall/envoy_config.go
  internal/controlplane/firewall/envoy_config_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

chore(docs): cleanup
  .claude/docs/firewall-wildcard-fix-REQUIREMENTS.md
Due: none

fix(firewall): symmetric tls_exact_/tls_wildcard_ cluster naming + duplicate-name fail-fast
  .claude/rules/envoy.md
  internal/controlplane/firewall/envoy_config.go
  internal/controlplane/firewall/envoy_config_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

chore: drop cmd/regen-envoy debug binary
  cmd/regen-envoy/main.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

docs(firewall): correct TLS cluster + wildcard SNI match comments
  internal/controlplane/firewall/envoy_config.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix(firewall): wildcard TLS cluster regression + sni-lock hardening (#315)
  .claude/rules/envoy.md
  .clawker.yaml
  internal/controlplane/firewall/envoy_config.go
  internal/controlplane/firewall/envoy_config_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix(firewall): default-block claude.ai UGC paths + longest-prefix route order
  internal/config/defaults.go
  internal/controlplane/firewall/envoy_config.go
  internal/controlplane/firewall/envoy_config_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix(config): deep-copy PathRules in RequiredFirewallRules
  internal/config/config_test.go
  internal/config/consts.go
Due: semgrep, govulncheck, go-test, claude-freshness

test(clawkerd): de-flake InitialStdinCloseStdinRace deadlines
  cmd/clawkerd/session_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(firewall): default-block claude.ai UGC paths + longest-prefix route order (#317)
  cmd/clawkerd/session_test.go
  internal/config/config_test.go
  internal/config/consts.go
  internal/config/defaults.go
  internal/controlplane/firewall/envoy_config.go
  internal/controlplane/firewall/envoy_config_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(bundler): scope CC-version cache bust to install layer under BuildKit
  claude-plugin/clawker-support/skills/clawker-support/reference/Dockerfile.tmpl
  internal/bundler/CLAUDE.md
  internal/bundler/assets/Dockerfile.tmpl
  internal/bundler/dockerfile_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix(bundler): scope CC-version cache bust to install layer under BuildKit (#318)
  claude-plugin/clawker-support/skills/clawker-support/reference/Dockerfile.tmpl
  internal/bundler/CLAUDE.md
  internal/bundler/assets/Dockerfile.tmpl
  internal/bundler/dockerfile_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix(monitor): CoreDNS pie keys on action not rcode
  internal/monitor/templates/opensearch-bootstrap/saved-objects/clawker.ndjson
Due: none

fix(firewall): close DNS subtree exfil — exact-host CoreDNS scoping + Envoy deny chains
  .claude/rules/envoy.md
  .claude/rules/monitoring.md
  cmd/coredns-clawker/CLAUDE.md
  cmd/coredns-clawker/plugins/otel/CLAUDE.md
  cmd/coredns-clawker/plugins/otel/otel.go
  cmd/coredns-clawker/plugins/otel/otel_test.go
  cmd/coredns-clawker/plugins/otel/setup.go
  internal/controlplane/firewall/CLAUDE.md
  internal/controlplane/firewall/coredns_config.go
  internal/controlplane/firewall/coredns_config_test.go
  internal/controlplane/firewall/envoy_config.go
  internal/controlplane/firewall/envoy_config_test.go
  internal/controlplane/firewall/testdata/corefile_wildcard_deny.golden
  internal/monitor/CLAUDE.md
  internal/monitor/templates/opensearch-bootstrap/index-templates/clawker-coredns.json
  test/e2e/firewall_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(firewall): gate CoreDNS wildcard recording on effective allow
  .serena/memories/firewall_protocol_handling_prd.md
  internal/controlplane/firewall/coredns_config.go
  internal/controlplane/firewall/coredns_config_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

chore: removed domain
  .clawker.yaml
Due: none

fix(firewall): exact Envoy deny chains cover the whole subtree
  .claude/rules/envoy.md
  internal/controlplane/firewall/envoy_config.go
  internal/controlplane/firewall/envoy_config_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix(firewall): close DNS subtree exfiltration via exact-host scoping (#320)
  .claude/rules/envoy.md
  .claude/rules/monitoring.md
  .clawker.yaml
  .serena/memories/firewall_protocol_handling_prd.md
  cmd/coredns-clawker/CLAUDE.md
  cmd/coredns-clawker/plugins/otel/CLAUDE.md
  cmd/coredns-clawker/plugins/otel/otel.go
  cmd/coredns-clawker/plugins/otel/otel_test.go
  cmd/coredns-clawker/plugins/otel/setup.go
  internal/controlplane/firewall/CLAUDE.md
  internal/controlplane/firewall/coredns_config.go
  internal/controlplane/firewall/coredns_config_test.go
  internal/controlplane/firewall/envoy_config.go
  internal/controlplane/firewall/envoy_config_test.go
  internal/controlplane/firewall/testdata/corefile_wildcard_deny.golden
  internal/monitor/CLAUDE.md
  internal/monitor/templates/opensearch-bootstrap/index-templates/clawker-coredns.json
  test/e2e/firewall_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

refactor(firewall): layered Envoy generator + correct wildcard-http upstream
  NOTICE
  go.mod
  go.sum
  internal/controlplane/firewall/envoy_accesslog.go
  internal/controlplane/firewall/envoy_config.go
  internal/controlplane/firewall/envoy_config_test.go
  internal/controlplane/firewall/envoy_consts.go
  internal/controlplane/firewall/envoy_layer_http.go
  internal/controlplane/firewall/envoy_layer_tcp.go
  internal/controlplane/firewall/envoy_layer_upstream.go
  internal/controlplane/firewall/envoy_types.go
  internal/controlplane/firewall/envoy_types_test.go
  internal/controlplane/firewall/envoy_util.go
  internal/controlplane/firewall/envoy_validate.go
  internal/controlplane/firewall/envoy_validate_test.go
Due: semgrep, govulncheck, go-test, licenses-check, claude-freshness

refactor(firewall): transport-first Envoy generator + IP/self-signed support
  .claude/rules/envoy.md
  .serena/memories/firewall_protocol_handling_prd.md
  docs/configuration.mdx
  internal/config/schema.go
  internal/controlplane/firewall/ENVOY_TARGET.md
  internal/controlplane/firewall/certs.go
  internal/controlplane/firewall/envoy_accesslog.go
  internal/controlplane/firewall/envoy_config.go
  internal/controlplane/firewall/envoy_config_test.go
  internal/controlplane/firewall/envoy_consts.go
  internal/controlplane/firewall/envoy_http.go
  internal/controlplane/firewall/envoy_layer_http.go
  internal/controlplane/firewall/envoy_layer_tcp.go
  internal/controlplane/firewall/envoy_layer_upstream.go
  internal/controlplane/firewall/envoy_tcp.go
  internal/controlplane/firewall/envoy_tls.go
  internal/controlplane/firewall/envoy_types.go
  internal/controlplane/firewall/envoy_types_test.go
  internal/controlplane/firewall/envoy_udp.go
  internal/controlplane/firewall/envoy_upstream.go
  internal/controlplane/firewall/envoy_validate.go
  internal/controlplane/firewall/envoy_validate_test.go
  internal/controlplane/firewall/testdata/envoy/http.envoy.golden
  internal/controlplane/firewall/testdata/envoy/http_exact_only.envoy.golden
  internal/controlplane/firewall/testdata/envoy/https.envoy.golden
  internal/controlplane/firewall/testdata/envoy/https_exact_only.envoy.golden
  internal/controlplane/firewall/testdata/envoy/insecure_skip_verify.envoy.golden
  internal/controlplane/firewall/testdata/envoy/ip_dst.envoy.golden
  internal/controlplane/firewall/testdata/envoy/otel_mtls.envoy.golden
  internal/controlplane/firewall/testdata/envoy/raw_tcp.envoy.golden
  internal/controlplane/firewall/testdata/envoy/raw_udp.envoy.golden
  internal/controlplane/firewall/testdata/envoy/unsupported_proto.envoy.golden
Due: semgrep, govulncheck, go-test, claude-freshness

feat(firewall): opaque tcp/ssh/udp Envoy transports
  internal/config/config.go
  internal/config/consts.go
  internal/config/mocks/config_mock.go
  internal/config/mocks/stubs.go
  internal/consts/consts.go
  internal/controlplane/firewall/ENVOY_TARGET.md
  internal/controlplane/firewall/envoy_accesslog.go
  internal/controlplane/firewall/envoy_config.go
  internal/controlplane/firewall/envoy_config_test.go
  internal/controlplane/firewall/envoy_tcp.go
  internal/controlplane/firewall/envoy_types.go
  internal/controlplane/firewall/envoy_udp.go
  internal/controlplane/firewall/envoy_upstream.go
  internal/controlplane/firewall/envoy_validate.go
  internal/controlplane/firewall/handler.go
  internal/controlplane/firewall/rules_store.go
  internal/controlplane/firewall/rules_store_test.go
  internal/controlplane/firewall/stack.go
  internal/controlplane/firewall/testdata/envoy/raw_udp.envoy.golden
  internal/controlplane/firewall/testdata/envoy/ssh.envoy.golden
Due: semgrep, govulncheck, go-test, claude-freshness

feat(firewall): ws/wss websocket enrichment + opaque port-range
  docs/configuration.mdx
  internal/config/schema.go
  internal/controlplane/firewall/ENVOY_TARGET.md
  internal/controlplane/firewall/certs.go
  internal/controlplane/firewall/envoy_config.go
  internal/controlplane/firewall/envoy_config_test.go
  internal/controlplane/firewall/envoy_consts.go
  internal/controlplane/firewall/envoy_http.go
  internal/controlplane/firewall/envoy_tcp.go
  internal/controlplane/firewall/envoy_types.go
  internal/controlplane/firewall/envoy_udp.go
  internal/controlplane/firewall/envoy_upstream.go
  internal/controlplane/firewall/rules_store.go
  internal/controlplane/firewall/rules_store_test.go
  internal/controlplane/firewall/testdata/envoy/tcp_port_range.envoy.golden
  internal/controlplane/firewall/testdata/envoy/ws.envoy.golden
  internal/controlplane/firewall/testdata/envoy/ws_wildcard.envoy.golden
  internal/controlplane/firewall/testdata/envoy/ws_wss_absorb.envoy.golden
  internal/controlplane/firewall/testdata/envoy/wss.envoy.golden
  internal/controlplane/firewall/testdata/envoy/wss_wildcard.envoy.golden
Due: semgrep, govulncheck, go-test, claude-freshness

feat(firewall): opaque tcp/ssh/udp to IP + CIDR
  internal/controlplane/firewall/coredns_config.go
  internal/controlplane/firewall/envoy_config.go
  internal/controlplane/firewall/envoy_config_test.go
  internal/controlplane/firewall/envoy_tcp.go
  internal/controlplane/firewall/envoy_types.go
  internal/controlplane/firewall/envoy_upstream.go
  internal/controlplane/firewall/envoy_util.go
  internal/controlplane/firewall/testdata/envoy/opaque_ip_cidr.envoy.golden
  internal/controlplane/firewall/testdata/envoy/udp_ip.envoy.golden
Due: semgrep, govulncheck, go-test, claude-freshness

feat(firewall): http/ws/https/wss to CIDR (range cert + ORIGINAL_DST)
  .claude/rules/envoy.md
  internal/controlplane/firewall/ENVOY_TARGET.md
  internal/controlplane/firewall/certs.go
  internal/controlplane/firewall/certs_test.go
  internal/controlplane/firewall/envoy_config.go
  internal/controlplane/firewall/envoy_config_test.go
  internal/controlplane/firewall/envoy_http.go
  internal/controlplane/firewall/envoy_tcp.go
  internal/controlplane/firewall/envoy_tls.go
  internal/controlplane/firewall/envoy_udp.go
  internal/controlplane/firewall/envoy_upstream.go
  internal/controlplane/firewall/testdata/envoy/http_cidr.envoy.golden
  internal/controlplane/firewall/testdata/envoy/https_cidr.envoy.golden
  internal/controlplane/firewall/testdata/envoy/ws_cidr.envoy.golden
  internal/controlplane/firewall/testdata/envoy/wss_cidr.envoy.golden
Due: semgrep, govulncheck, go-test, claude-freshness

fix(firewall): QUIC sibling SNI-only — IP/CIDR https/wss is TCP-only
  .claude/rules/envoy.md
  internal/controlplane/firewall/ENVOY_TARGET.md
  internal/controlplane/firewall/envoy_config.go
  internal/controlplane/firewall/envoy_tls.go
  internal/controlplane/firewall/envoy_udp.go
  internal/controlplane/firewall/testdata/envoy/insecure_skip_verify.envoy.golden
  internal/controlplane/firewall/testdata/envoy/ip_dst.envoy.golden
Due: semgrep, govulncheck, go-test, claude-freshness

Path conditions:
  semgrep: any of: \.go$
  govulncheck: any of: \.go$
  go-test: any of: \.go$
  docs-check: any of: ^(cmd/|internal/cmd/|internal/docs/)
  licenses-check: any of: ^go\.(mod|sum)$
  claude-freshness: any of: \.go$
