Repository schmitthub/clawker: changes, and which pre-commit hooks are due for each by the changed paths.
All: semgrep, govulncheck, go-test, docs-check, licenses-check, claude-freshness

.pre-commit-config.yaml:

# Pre-commit hooks — mirrors CI quality gates locally.
# Install: bash scripts/install-hooks.sh
# Run all: pre-commit run --all-files
# Run one: pre-commit run gitleaks --all-files

repos:
  # ── Security ──────────────────────────────────────────────────────────────
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.30.0
    hooks:
      - id: gitleaks
        args: [--baseline-path, gitleaks-report.json]

  # ── Lint ──────────────────────────────────────────────────────────────────
  - repo: https://github.com/golangci/golangci-lint
    rev: v2.9.0
    hooks:
      - id: golangci-lint-full
        args: [--config, .golangci.yml]

  # ── Local hooks ───────────────────────────────────────────────────────────
  - repo: local
    hooks:
      - id: semgrep
        name: Semgrep SAST
        # Expected version: 1.146.0 (must match CI image tag in security.yml)
        entry: semgrep scan --baseline-commit HEAD --config p/golang --config p/security-audit --error
        language: system
        types: [go]
        pass_filenames: false

      - id: govulncheck
        name: govulncheck SCA
        entry: govulncheck ./...
        language: system
        types: [go]
        pass_filenames: false

      - id: go-test
        name: Unit tests
        entry: make test
        language: system
        types: [go]
        pass_filenames: false

      - id: docs-check
        name: CLI docs freshness
        entry: make docs-check
        language: system
        files: ^(cmd/|internal/cmd/|internal/docs/)
        pass_filenames: false

      - id: licenses-check
        name: NOTICE freshness
        entry: make licenses-check
        language: system
        files: ^go\.(mod|sum)$
        pass_filenames: false

      - id: claude-freshness
        name: Claude doc freshness (advisory)
        entry: bash -c 'bash scripts/check-claude-freshness.sh --strict --non-interactive --no-color | head -50 || true'
        language: system
        files: \.go$
        pass_filenames: false
        verbose: true

docs(readme): add hand-crafted SVG threat model diagram (#154)
  README.md
  docs/assets/threat-model.svg
  node_modules/note.txt
Due: none

fix(firewall): handle host.docker.internal resolution failure on native Linux
  internal/bundler/assets/init-firewall.sh
Due: none

fix(config): make scaffold templates safely uncommentable
  internal/cmd/project/init/init.go
  internal/config/defaults.go
  internal/config/schema.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(defaults): nicer defaults
  internal/config/defaults.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix(init): report created files before registration attempt
  internal/cmd/project/init/init.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix: narrow firewall error suppression, harden scaffold config
  internal/bundler/assets/init-firewall.sh
  internal/cmd/project/init/init.go
  internal/config/defaults.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(readme): hand made threat model
  docs/assets/clawker-threat-model.excalidraw
  docs/assets/threat-model.png
Due: none

readme...
  README.md
Due: none

refactor(tests): using real firewall internals not slopped fake
  test/internals/firewall_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

refactor(readme): who refactors a readme?
  README.md
Due: none

fix: firewall script + scaffold template UX improvements (#155)
  README.md
  docs/assets/clawker-threat-model.excalidraw
  docs/assets/threat-model.png
  internal/bundler/assets/init-firewall.sh
  internal/cmd/project/init/init.go
  internal/config/defaults.go
  internal/config/schema.go
  test/internals/firewall_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

chore(reademe): linux badge
  README.md
Due: none

chore(reademe): linux badge (#156)
  README.md
Due: none

chore(readme): security statement
  README.md
Due: none

chore(docs): site security statement
  docs/index.mdx
Due: none

chore(readme): security statement (#158)
  README.md
  docs/index.mdx
Due: none

fix: --worktree flag reuses existing healthy worktrees instead of erroring
  internal/cmd/container/shared/container.go
  internal/cmd/container/shared/workdir_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

docs: document --worktree idempotent reuse behavior
  .serena/memories/test_infrastructure_and_project_tests.md
  docs/worktrees.mdx
  internal/cmd/container/shared/CLAUDE.md
  internal/cmd/worktree/CLAUDE.md
Due: docs-check

fix: harden worktree health checks and lock-aware pruning
  .serena/memories/test_infrastructure_and_project_tests.md
  CLAUDE.md
  docs/worktrees.mdx
  internal/cmd/container/shared/container.go
  internal/cmd/container/shared/workdir_test.go
  internal/cmd/worktree/CLAUDE.md
  internal/cmd/worktree/prune/prune.go
  internal/git/CLAUDE.md
  internal/git/git.go
  internal/git/git_test.go
  internal/project/CLAUDE.md
  internal/project/manager.go
  internal/project/project_test.go
  internal/project/worktree_service.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix: worktree idempotent reuse + health check hardening (#159)
  .serena/memories/test_infrastructure_and_project_tests.md
  CLAUDE.md
  docs/worktrees.mdx
  internal/cmd/container/shared/CLAUDE.md
  internal/cmd/container/shared/container.go
  internal/cmd/container/shared/workdir_test.go
  internal/cmd/worktree/CLAUDE.md
  internal/cmd/worktree/prune/prune.go
  internal/git/CLAUDE.md
  internal/git/git.go
  internal/git/git_test.go
  internal/project/CLAUDE.md
  internal/project/manager.go
  internal/project/project_test.go
  internal/project/worktree_service.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

chore: add brainstorm memory for claude.json persistence research
  .serena/memories/brainstorm_claude-json-persistence.md
Due: none

fix: address PR review findings + fix E2E test regressions
  internal/bundler/assets/Dockerfile.tmpl
  internal/bundler/assets/entrypoint.sh
  internal/bundler/build_test.go
  internal/bundler/dockerfile_test.go
  internal/cmd/container/shared/CLAUDE.md
  internal/cmd/container/shared/container.go
  internal/cmd/container/shared/init_test.go
  test/internals/containerfs_test.go
  test/internals/entrypoint_e2e_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

feat: persist Claude Code session pointers across container restarts
  .claude/docs/DESIGN.md
  .claude/rules/container-commands.md
  CLAUDE.md
  cmd/fawker/factory.go
  internal/bundler/CLAUDE.md
  internal/bundler/assets/Dockerfile.tmpl
  internal/bundler/assets/claude-config.json
  internal/bundler/assets/entrypoint.sh
  internal/bundler/build_test.go
  internal/bundler/dockerfile.go
  internal/cmd/container/CLAUDE.md
  internal/cmd/container/create/create_test.go
  internal/cmd/container/shared/CLAUDE.md
  internal/cmd/container/shared/container.go
  internal/cmd/container/shared/containerfs.go
  internal/cmd/container/shared/containerfs_test.go
  internal/cmd/container/shared/init_test.go
  internal/containerfs/CLAUDE.md
  internal/containerfs/containerfs.go
  internal/containerfs/containerfs_test.go
  test/internals/containerfs_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

feat: persist Claude Code session pointers across container restarts (#160)
  .claude/docs/DESIGN.md
  .claude/rules/container-commands.md
  .serena/memories/brainstorm_claude-json-persistence.md
  CLAUDE.md
  cmd/fawker/factory.go
  internal/bundler/CLAUDE.md
  internal/bundler/assets/Dockerfile.tmpl
  internal/bundler/assets/claude-config.json
  internal/bundler/assets/entrypoint.sh
  internal/bundler/build_test.go
  internal/bundler/dockerfile.go
  internal/bundler/dockerfile_test.go
  internal/cmd/container/CLAUDE.md
  internal/cmd/container/create/create_test.go
  internal/cmd/container/shared/CLAUDE.md
  internal/cmd/container/shared/container.go
  internal/cmd/container/shared/containerfs.go
  internal/cmd/container/shared/containerfs_test.go
  internal/cmd/container/shared/init_test.go
  internal/containerfs/CLAUDE.md
  internal/containerfs/containerfs.go
  internal/containerfs/containerfs_test.go
  test/internals/containerfs_test.go
  test/internals/entrypoint_e2e_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

chore(clawker): bumped container go version to 1.26.0
  .clawker.yaml
Due: none

fix(statusline): added cc version back
  internal/bundler/assets/statusline.sh
Due: none

feat: mount workspace at host absolute path for session persistence
  .serena/memories/brainstorm_claude-json-persistence.md
  docs/container-internals.mdx
  docs/docs.json
  docs/worktrees.mdx
  internal/cmd/container/shared/CLAUDE.md
  internal/cmd/container/shared/container.go
  internal/project/CLAUDE.md
  internal/project/manager.go
  internal/project/worktree_service.go
  internal/workspace/CLAUDE.md
  internal/workspace/setup.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix: PR review fixes — input validation + doc accuracy
  docs/container-internals.mdx
  docs/worktrees.mdx
  internal/cmd/container/shared/CLAUDE.md
  internal/cmd/container/shared/containerfs.go
  internal/containerfs/CLAUDE.md
  internal/project/worktree_service.go
  internal/workspace/setup.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

chore(clawker): remove local workspace.remote_path setting
  .clawker.yaml
Due: none

refactor: remove workspace.remote_path config field + delete dead templates/
  .claude/docs/CLI-VERBS.md
  .serena/memories/brainstorm_claude-json-persistence.md
  CLAUDE.md
  cmd/fawker/factory.go
  docs/configuration.mdx
  examples/csharp.yaml
  examples/go.yaml
  examples/llm.md
  examples/node.yaml
  examples/php.yaml
  examples/python.yaml
  examples/rust.yaml
  internal/bundler/build_test.go
  internal/bundler/dockerfile.go
  internal/bundler/dockerfile_test.go
  internal/bundler/hash_test.go
  internal/cmd/container/create/create_test.go
  internal/cmd/container/run/run_test.go
  internal/cmd/container/shared/init_test.go
  internal/cmd/image/build/build_progress_golden_test.go
  internal/cmd/image/build/build_progress_test.go
  internal/config/CLAUDE.md
  internal/config/config_test.go
  internal/config/defaults.go
  internal/config/schema.go
  internal/docker/builder_test.go
  internal/workspace/CLAUDE.md
  internal/workspace/setup.go
  templates/clawker.yaml.tmpl
  templates/clawkerignore.tmpl
  test/harness/builders/config_builder.go
  test/harness/builders/config_builder_test.go
  test/internals/workspace_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix: PR review fixes — broken integration tests, doc accuracy, silent failures
  .claude/docs/TESTING-REFERENCE.md
  docs/container-internals.mdx
  docs/worktrees.mdx
  internal/cmd/container/shared/container.go
  internal/cmd/worktree/CLAUDE.md
  internal/project/manager.go
  internal/project/worktree_service.go
  internal/workspace/setup.go
  internal/workspace/setup_test.go
  test/internals/workspace_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix: PR review fixes — WorkingDir tests, doc accuracy
  docs/container-internals.mdx
  internal/cmd/container/shared/init_test.go
  test/commands/container_create_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

chore(memory): test harness redesign
  .serena/memories/brainstorm_int-test-harness-redesign.md
Due: none

chore(serena): a wild new serena setting has appeared
  .serena/project.yml
Due: none

feat(docs): add Google Analytics 4 to Mintlify site
  docs/docs.json
Due: none

feat(docs): add Google Analytics 4 to Mintlify site (#163)
  docs/docs.json
Due: none

fix: nest DockerfilesSubdir under BuildSubdir for correct build path (#165)
  internal/bundler/CLAUDE.md
  internal/bundler/dockerfile.go
  internal/config/config_test.go
  internal/config/consts.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix: remove dead outputDir field, propagate DockerfilesDir error
  internal/bundler/CLAUDE.md
  internal/bundler/dockerfile.go
  internal/bundler/dockerfile_test.go
  internal/cmd/generate/CLAUDE.md
  internal/cmd/generate/generate.go
  internal/config/consts.go
  internal/docker/defaults.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness
