Repository schmitthub/clawker: changes, and which pre-commit hooks are due for each by the changed paths.
All: semgrep, govulncheck, go-test, docs-check, licenses-check, claude-freshness

semgrep:
  name: Semgrep SAST
  entry: semgrep scan --baseline-commit HEAD --config p/golang --config p/security-audit --error
  language: system
  pass_filenames: false

govulncheck:
  name: govulncheck SCA
  entry: govulncheck ./...
  language: system
  pass_filenames: false

go-test:
  name: Unit tests
  entry: make test
  language: system
  pass_filenames: false

docs-check:
  name: CLI docs freshness
  entry: make docs-check
  language: system
  pass_filenames: false

licenses-check:
  name: NOTICE freshness
  entry: make licenses-check
  language: system
  pass_filenames: false

claude-freshness:
  name: Claude doc freshness (advisory)
  entry: bash -c 'bash scripts/check-claude-freshness.sh --strict --non-interactive --no-color | head -50 || true'
  language: system
  pass_filenames: false
  verbose: true

docs(credentials): document Claude Code refresh-token rotation /login
  claude-plugin/clawker-support/.claude-plugin/plugin.json
  claude-plugin/clawker-support/skills/clawker-support/reference/claude-code.md
  claude-plugin/clawker-support/skills/clawker-support/reference/known-issues.md
  docs/credentials.mdx
Due: none

docs(credentials): document Claude Code refresh-token rotation /login (#378)
  claude-plugin/clawker-support/.claude-plugin/plugin.json
  claude-plugin/clawker-support/skills/clawker-support/reference/claude-code.md
  claude-plugin/clawker-support/skills/clawker-support/reference/known-issues.md
  docs/credentials.mdx
Due: none

chore: relicense from MIT to AGPL-3.0-or-later
  .goreleaser.yaml
  CONTRIBUTING.md
  LICENSE
  README.md
  internal/controlplane/firewall/ebpf/bpf/clawker.c
  internal/controlplane/firewall/ebpf/bpf/common.h
Due: none

chore: address Copilot review on CLA workflow + BPF license note
  .github/workflows/cla.yml
  internal/controlplane/firewall/ebpf/bpf/common.h
Due: none

chore(ci): align CLA workflow runner and pin-comment with repo convention
  .github/workflows/cla.yml
Due: none

chore(ci): align CLA workflow with action docs
  .github/workflows/cla.yml
Due: none

chore: add contributor license agreement for dual licensing
  .github/workflows/cla.yml
  CLA.md
  CONTRIBUTING.md
  README.md
Due: none

chore: declare plugin MIT license + tidy CLA workflow notes
  .clawker.yaml
  .github/workflows/cla.yml
  claude-plugin/CLAUDE.md
  claude-plugin/clawker-support/.claude-plugin/plugin.json
Due: none

chore: initialize CLA signature store
  README.md
Due: none

ci(security): scan workflows for pull_request_target abuse
  .github/workflows/security.yml
  .pre-commit-config.yaml
  .semgrep/clawker-actions.yaml
Due: none

ci(security): pin CLA action to our own fork
  .clawker.yaml
  .github/workflows/cla.yml
Due: none

docs: note MIT carve-out for clawker-support plugin in license sections
  CONTRIBUTING.md
  README.md
Due: none

chore: relicense MIT → AGPL-3.0-or-later + dual-licensing CLA (#380)
  .clawker.yaml
  .github/workflows/cla.yml
  .github/workflows/security.yml
  .goreleaser.yaml
  .pre-commit-config.yaml
  .semgrep/clawker-actions.yaml
  CLA.md
  CONTRIBUTING.md
  LICENSE
  README.md
  claude-plugin/CLAUDE.md
  claude-plugin/clawker-support/.claude-plugin/plugin.json
  internal/controlplane/firewall/ebpf/bpf/clawker.c
  internal/controlplane/firewall/ebpf/bpf/common.h
Due: none

docs: add curated CHANGELOG.md
  CHANGELOG.md
Due: none

chore(clawker): added git-cliff and ai-inference to firewall
  .clawker.yaml
Due: none

refactor(changelog): teaser-only model + harden background goroutines
  .claude/docs/changelog-system-design.md
  .clawker.yaml
  .serena/memories/changelog-system.md
  CONTRIBUTING.md
  claude-plugin/clawker-support/.claude-plugin/plugin.json
  claude-plugin/clawker-support/skills/clawker-support/reference/troubleshooting.md
  docs/cli-reference/clawker.md
  docs/cli-reference/clawker_changelog.md
  docs/docs.json
  docs/installation.mdx
  internal/changelog/CLAUDE.md
  internal/changelog/changelog.go
  internal/changelog/changelog_test.go
  internal/changelog/consts.go
  internal/changelog/loader_test.go
  internal/changelog/parse.go
  internal/clawker/CLAUDE.md
  internal/clawker/cmd.go
  internal/clawker/cmd_test.go
  internal/cmd/changelog/CLAUDE.md
  internal/cmd/changelog/changelog.go
  internal/cmd/changelog/changelog_test.go
  internal/cmd/changelog/consts.go
  internal/cmd/root/CLAUDE.md
  internal/cmd/root/root.go
  internal/cmdutil/CLAUDE.md
  internal/cmdutil/factory.go
  internal/consts/consts.go
  internal/semver/CLAUDE.md
  internal/state/state.go
  internal/update/update.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

chore(docs): removed changelog system design docs
  .claude/docs/changelog-system-design.md
  .serena/memories/changelog-system.md
Due: none

fix(changelog): hermetic teaser tests + review-round doc/regex fixes
  .claude/docs/changelog-system-design.md
  .goreleaser.yaml
  .serena/memories/changelog-system.md
  .serena/memories/release-guide.md
  internal/changelog/CLAUDE.md
  internal/changelog/loader.go
  internal/clawker/cmd_test.go
  internal/cmdutil/CLAUDE.md
Due: semgrep, govulncheck, go-test, claude-freshness

refactor(changelog): render full release body as markdown, drop metadata layer
  .github/workflows/release-build.yml
  NOTICE
  claude-plugin/clawker-support/.claude-plugin/plugin.json
  claude-plugin/clawker-support/skills/clawker-support/reference/troubleshooting.md
  docs/installation.mdx
  go.mod
  go.sum
  internal/changelog/CLAUDE.md
  internal/changelog/changelog.go
  internal/changelog/changelog_test.go
  internal/changelog/consts.go
  internal/changelog/parse.go
  internal/changelog/testdata/CHANGELOG.md
  internal/clawker/CLAUDE.md
  internal/clawker/cmd.go
  internal/clawker/cmd_test.go
  internal/iostreams/CLAUDE.md
  internal/iostreams/markdown.go
  internal/iostreams/markdown_test.go
Due: semgrep, govulncheck, go-test, licenses-check, claude-freshness

refactor(changelog): review-round fixes — log fetch degrade, doc accuracy, test cleanup
  .claude/docs/changelog-system-design.md
  .clawker.yaml
  .github/workflows/release-build.yml
  internal/changelog/CLAUDE.md
  internal/changelog/changelog.go
  internal/changelog/loader.go
  internal/changelog/loader_test.go
  internal/clawker/CLAUDE.md
  internal/clawker/cmd.go
  internal/clawker/cmd_test.go
  internal/cmd/factory/default.go
  internal/state/CLAUDE.md
  internal/state/state_test.go
  internal/update/CLAUDE.md
  internal/update/update.go
  internal/update/update_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

chore(actions): addded job name and parity with cla workflow from their readme.
  .github/workflows/cla.yml
Due: none

wip(state): canonical store-backed package + legacy-key migration
  .claude/rules/store-backed-package.md
  internal/changelog/CLAUDE.md
  internal/changelog/changelog.go
  internal/consts/consts.go
  internal/state/CLAUDE.md
  internal/state/migrations.go
  internal/state/mocks/state_mock.go
  internal/state/mocks/stubs.go
  internal/state/schema.go
  internal/state/state.go
  internal/state/state_test.go
  internal/storage/CLAUDE.md
  internal/update/update.go
  internal/update/update_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

chore(docs): testing violation added
  .claude/rules/testing.md
Due: none

refactor(changelog,update): adopt Masterminds/semver, decouple cursor from update state
  .github/workflows/cla.yml
  CONTRIBUTING.md
  NOTICE
  go.mod
  go.sum
  internal/bundler/registry/types.go
  internal/bundler/versions.go
  internal/changelog/CLAUDE.md
  internal/changelog/changelog.go
  internal/changelog/changelog_test.go
  internal/changelog/changes.go
  internal/changelog/changes_test.go
  internal/changelog/fetch.go
  internal/changelog/fetch_test.go
  internal/changelog/loader.go
  internal/changelog/loader_test.go
  internal/changelog/parse.go
  internal/clawker/CLAUDE.md
  internal/clawker/cmd.go
  internal/clawker/cmd_test.go
  internal/cmd/factory/default.go
  internal/cmdutil/factory.go
  internal/consts/consts.go
  internal/semver/CLAUDE.md
  internal/semver/semver.go
  internal/semver/semver_test.go
  internal/state/CLAUDE.md
  internal/state/state.go
  internal/state/state_test.go
  internal/storage/resolver.go
  internal/update/CLAUDE.md
  internal/update/update.go
  internal/update/update_test.go
Due: semgrep, govulncheck, go-test, docs-check, licenses-check, claude-freshness

refactor(update,changelog): collapse notification gating, reshape update API
  .claude/docs/KEY-CONCEPTS.md
  .claude/rules/dependency-placement.md
  claude-plugin/clawker-support/.claude-plugin/plugin.json
  claude-plugin/clawker-support/skills/clawker-support/reference/troubleshooting.md
  docs/installation.mdx
  internal/bundler/CLAUDE.md
  internal/bundler/registry/CLAUDE.md
  internal/changelog/CLAUDE.md
  internal/changelog/changelog.go
  internal/changelog/changes.go
  internal/changelog/checkforchanges_test.go
  internal/clawker/CLAUDE.md
  internal/clawker/cmd.go
  internal/clawker/cmd_test.go
  internal/cmd/factory/CLAUDE.md
  internal/cmdutil/CLAUDE.md
  internal/consts/consts.go
  internal/update/CLAUDE.md
  internal/update/update.go
  internal/update/update_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

test(changelog): replace happy-path fixture theater with mutation-proven coverage
  internal/changelog/changelog_test.go
  internal/changelog/loader_test.go
  internal/changelog/testdata/CHANGELOG.md
  internal/clawker/cmd_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

chore(todo): yagni code smell test seem violation
  internal/project/registry.go
Due: semgrep, govulncheck, go-test, claude-freshness

refactor(update,changelog,state): inject http client, kill test-only URL seams
  internal/changelog/CLAUDE.md
  internal/changelog/changelog.go
  internal/changelog/checkforchanges_test.go
  internal/changelog/consts.go
  internal/clawker/CLAUDE.md
  internal/clawker/cmd.go
  internal/cmd/factory/CLAUDE.md
  internal/cmd/factory/default.go
  internal/cmd/image/build/build.go
  internal/cmd/image/build/build_progress_test.go
  internal/cmd/image/build/httpstub_test.go
  internal/cmdutil/factory.go
  internal/httpmock/httpmock.go
  internal/state/CLAUDE.md
  internal/state/state.go
  internal/update/CLAUDE.md
  internal/update/update.go
  internal/update/update_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

chore(docs): store backed package update
  .claude/rules/store-backed-package.md
  internal/storage/CLAUDE.md
Due: none

chore(state): correct stale comments + drop dead KeyNotFoundError
  internal/state/CLAUDE.md
  internal/state/schema.go
  internal/state/state.go
Due: semgrep, govulncheck, go-test, claude-freshness

refactor(update,changelog,state): clean version handling + fix mock disk read
  .claude/rules/store-backed-package.md
  internal/changelog/CLAUDE.md
  internal/changelog/changelog.go
  internal/changelog/checkforchanges_test.go
  internal/clawker/CLAUDE.md
  internal/clawker/cmd.go
  internal/consts/consts.go
  internal/state/CLAUDE.md
  internal/state/mocks/stubs.go
  internal/state/state.go
  internal/storage/CLAUDE.md
  internal/update/CLAUDE.md
  internal/update/update.go
  internal/update/update_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

refactor(state): migrate update/changelog/clawker to StateStore interface
  internal/changelog/CLAUDE.md
  internal/changelog/changelog.go
  internal/changelog/checkforchanges_test.go
  internal/clawker/CLAUDE.md
  internal/clawker/cmd.go
  internal/state/CLAUDE.md
  internal/state/mocks/stubs.go
  internal/update/CLAUDE.md
  internal/update/update.go
  internal/update/update_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

docs(factory,changelog,state): fix stale Factory comment + doc hand-rolled helpers
  internal/changelog/changelog.go
  internal/clawker/cmd.go
  internal/cmd/factory/default.go
  internal/cmdutil/CLAUDE.md
  internal/cmdutil/factory.go
  internal/state/state.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

test(update,changelog): table-driven tests; merge changelog test files
  internal/changelog/CLAUDE.md
  internal/changelog/changelog_test.go
  internal/changelog/checkforchanges_test.go
  internal/update/update.go
  internal/update/update_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix(storage,storeui,docs): propagate KindTime through all parallel FieldKind switches
  internal/docs/configdoc.go
  internal/docs/configdoc_test.go
  internal/storage/defaults.go
  internal/storage/defaults_test.go
  internal/storage/field.go
  internal/storeui/edit.go
  internal/storeui/field.go
  internal/storeui/field_test.go
  internal/storeui/reflect.go
  internal/storeui/reflect_test.go
  internal/storeui/testfixtures_test.go
  internal/storeui/value.go
  internal/storeui/value_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(release-build,makefile): mirror in-app changelog parser in release-notes awk
  .github/workflows/release-build.yml
  Makefile
Due: none

chore(fix): make restart wasn't using rel path to local clawker bin
  Makefile
Due: none

chore(makefile): clawker controlplane up added to make restart
  Makefile
Due: none

docs(update,clawker): align docs with code; drop tautological test
  .github/workflows/cla.yml
  internal/clawker/cmd.go
  internal/clawker/cmd_test.go
  internal/consts/consts.go
  internal/storage/field.go
  internal/update/CLAUDE.md
Due: semgrep, govulncheck, go-test, claude-freshness

Path conditions:
  semgrep: any of: \.go$
  govulncheck: any of: \.go$
  go-test: any of: \.go$
  docs-check: any of: ^(cmd/|internal/cmd/|internal/docs/)
  licenses-check: any of: ^go\.(mod|sum)$
  claude-freshness: any of: \.go$
