Repository schmitthub/clawker: changes, and which pre-commit hooks are due for each by the changed paths.
All: semgrep, govulncheck, go-test, docs-check, licenses-check, claude-freshness

semgrep:
  name: Semgrep SAST
  entry: semgrep scan --baseline-commit HEAD --config p/golang --config p/security-audit --error
  language: system
  pass_filenames: false

govulncheck:
  name: govulncheck SCA
  entry: govulncheck ./...
  language: system
  pass_filenames: false

go-test:
  name: Unit tests
  entry: make test
  language: system
  pass_filenames: false

docs-check:
  name: CLI docs freshness
  entry: make docs-check
  language: system
  pass_filenames: false

licenses-check:
  name: NOTICE freshness
  entry: make licenses-check
  language: system
  pass_filenames: false

claude-freshness:
  name: Claude doc freshness (advisory)
  entry: bash -c 'bash scripts/check-claude-freshness.sh --strict --non-interactive --no-color | head -50 || true'
  language: system
  pass_filenames: false
  verbose: true

feat(monitor): bake Claude Code telemetry viz into OpenSearch defaults
  .serena/memories/claude_code_os_dashboard_buildout.md
  internal/monitor/templates/opensearch-bootstrap/bootstrap.sh.tmpl
  internal/monitor/templates/opensearch-bootstrap/saved-objects/clawker.ndjson
  internal/monitor/templates/opensearch-bootstrap/saved-objects/explore/clawker-claude-code-cost-usage.json
  internal/monitor/templates/opensearch-bootstrap/saved-objects/explore/clawker-claude-code-input-token-usage.json
  internal/monitor/templates/opensearch-bootstrap/saved-objects/explore/clawker-claude-code-output-token-usage.json
Due: none

fix(monitor): retain one-shot Claude Code counters in delta-to-cumulative
  internal/monitor/templates/otel-config.yaml.tmpl
Due: none

docs(agent-prompt): explicit firewall-block handling + clawker.yaml edits
  internal/bundler/assets/clawker-agent-prompt.md
Due: none

feat(monitor): make Claude Code dashboard tiles Prometheus-sourced
  internal/monitor/templates/opensearch-bootstrap/saved-objects/clawker.ndjson
  internal/monitor/templates/opensearch-bootstrap/saved-objects/explore/clawker-claude-code-cache-creation-tokens.json
  internal/monitor/templates/opensearch-bootstrap/saved-objects/explore/clawker-claude-code-cache-read-tokens.json
  internal/monitor/templates/opensearch-bootstrap/saved-objects/explore/clawker-claude-code-cost-usage.json
  internal/monitor/templates/opensearch-bootstrap/saved-objects/explore/clawker-claude-code-input-token-usage.json
  internal/monitor/templates/opensearch-bootstrap/saved-objects/explore/clawker-claude-code-input-tokens.json
  internal/monitor/templates/opensearch-bootstrap/saved-objects/explore/clawker-claude-code-output-token-usage.json
  internal/monitor/templates/opensearch-bootstrap/saved-objects/explore/clawker-claude-code-output-tokens.json
  internal/monitor/templates/opensearch-bootstrap/saved-objects/explore/clawker-claude-code-total-cost.json
Due: none

chore(firewall): allow opensearch-project/OpenSearch-Dashboards on GitHub
  .clawker.yaml
Due: none

feat(monitor): expand Claude Code dashboard, rename to "Claude Code Cost & Usage"
  internal/monitor/templates/opensearch-bootstrap/saved-objects/clawker.ndjson
  internal/monitor/templates/opensearch-bootstrap/saved-objects/explore/clawker-claude-code-active-time.json
  internal/monitor/templates/opensearch-bootstrap/saved-objects/explore/clawker-claude-code-cache-creation-tokens.json
  internal/monitor/templates/opensearch-bootstrap/saved-objects/explore/clawker-claude-code-cache-hit-pct.json
  internal/monitor/templates/opensearch-bootstrap/saved-objects/explore/clawker-claude-code-cache-read-tokens.json
  internal/monitor/templates/opensearch-bootstrap/saved-objects/explore/clawker-claude-code-cost-per-active-min.json
  internal/monitor/templates/opensearch-bootstrap/saved-objects/explore/clawker-claude-code-input-tokens.json
  internal/monitor/templates/opensearch-bootstrap/saved-objects/explore/clawker-claude-code-output-token-usage.json
  internal/monitor/templates/opensearch-bootstrap/saved-objects/explore/clawker-claude-code-output-tokens.json
  internal/monitor/templates/opensearch-bootstrap/saved-objects/explore/clawker-claude-code-total-active-time.json
  internal/monitor/templates/opensearch-bootstrap/saved-objects/explore/clawker-claude-code-total-cost.json
Due: none

feat(monitor): add Claude Code Activity security-audit dashboard
  .claude/rules/monitoring.md
  internal/monitor/templates/opensearch-bootstrap/index-templates/claude-code.json
  internal/monitor/templates/opensearch-bootstrap/ingest-pipelines/claude-code-prompt-nest.json
  internal/monitor/templates/opensearch-bootstrap/saved-objects/clawker.ndjson
  internal/monitor/templates/opensearch-bootstrap/saved-objects/explore/clawker-cc-activity-commits.json
  internal/monitor/templates/opensearch-bootstrap/saved-objects/explore/clawker-cc-activity-edit-accept-pct.json
  internal/monitor/templates/opensearch-bootstrap/saved-objects/explore/clawker-cc-activity-edit-accept-reject.json
  internal/monitor/templates/opensearch-bootstrap/saved-objects/explore/clawker-cc-activity-edit-by-source.json
  internal/monitor/templates/opensearch-bootstrap/saved-objects/explore/clawker-cc-activity-lines-added.json
  internal/monitor/templates/opensearch-bootstrap/saved-objects/explore/clawker-cc-activity-lines-removed.json
  internal/monitor/templates/opensearch-bootstrap/saved-objects/explore/clawker-cc-activity-loc-over-time.json
  internal/monitor/templates/opensearch-bootstrap/saved-objects/explore/clawker-cc-activity-pull-requests.json
Due: none

fix(monitor): Claude Code Activity dashboard live-refresh + 3h window
  internal/monitor/templates/opensearch-bootstrap/saved-objects/clawker.ndjson
Due: none

fix(monitor): rename "Commands Used" panel to "Slash Commands Used"
  internal/monitor/templates/opensearch-bootstrap/saved-objects/clawker.ndjson
Due: none

fix(monitor): address PR review findings on monitoring bootstrap
  .clawker.yaml
  internal/bundler/assets/clawker-agent-prompt.md
  internal/monitor/templates/opensearch-bootstrap/bootstrap.sh.tmpl
  internal/monitor/templates/opensearch-bootstrap/index-templates/claude-code.json
  internal/monitor/templates/opensearch-bootstrap/ingest-pipelines/claude-code-prompt-nest.json
Due: none

feat(monitor): Claude Code monitoring dashboards (Cost & Usage + Activity) (#343)
  .claude/rules/monitoring.md
  .clawker.yaml
  .serena/memories/claude_code_os_dashboard_buildout.md
  internal/bundler/assets/clawker-agent-prompt.md
  internal/monitor/CLAUDE.md
  internal/monitor/templates/opensearch-bootstrap/bootstrap.sh.tmpl
  internal/monitor/templates/opensearch-bootstrap/index-templates/claude-code.json
  internal/monitor/templates/opensearch-bootstrap/ingest-pipelines/claude-code-prompt-nest.json
  internal/monitor/templates/opensearch-bootstrap/saved-objects/clawker.ndjson
  internal/monitor/templates/opensearch-bootstrap/saved-objects/explore/clawker-cc-activity-commits.json
  internal/monitor/templates/opensearch-bootstrap/saved-objects/explore/clawker-cc-activity-edit-accept-pct.json
  internal/monitor/templates/opensearch-bootstrap/saved-objects/explore/clawker-cc-activity-edit-accept-reject.json
  internal/monitor/templates/opensearch-bootstrap/saved-objects/explore/clawker-cc-activity-edit-by-source.json
  internal/monitor/templates/opensearch-bootstrap/saved-objects/explore/clawker-cc-activity-lines-added.json
  internal/monitor/templates/opensearch-bootstrap/saved-objects/explore/clawker-cc-activity-lines-removed.json
  internal/monitor/templates/opensearch-bootstrap/saved-objects/explore/clawker-cc-activity-loc-over-time.json
  internal/monitor/templates/opensearch-bootstrap/saved-objects/explore/clawker-cc-activity-pull-requests.json
  internal/monitor/templates/opensearch-bootstrap/saved-objects/explore/clawker-claude-code-active-time.json
  internal/monitor/templates/opensearch-bootstrap/saved-objects/explore/clawker-claude-code-cache-creation-tokens.json
  internal/monitor/templates/opensearch-bootstrap/saved-objects/explore/clawker-claude-code-cache-hit-pct.json
  internal/monitor/templates/opensearch-bootstrap/saved-objects/explore/clawker-claude-code-cache-read-tokens.json
  internal/monitor/templates/opensearch-bootstrap/saved-objects/explore/clawker-claude-code-cost-per-active-min.json
  internal/monitor/templates/opensearch-bootstrap/saved-objects/explore/clawker-claude-code-input-tokens.json
  internal/monitor/templates/opensearch-bootstrap/saved-objects/explore/clawker-claude-code-output-token-usage.json
  internal/monitor/templates/opensearch-bootstrap/saved-objects/explore/clawker-claude-code-output-tokens.json
  internal/monitor/templates/opensearch-bootstrap/saved-objects/explore/clawker-claude-code-total-active-time.json
  internal/monitor/templates/opensearch-bootstrap/saved-objects/explore/clawker-claude-code-total-cost.json
  internal/monitor/templates/otel-config.yaml.tmpl
Due: none

fix(cp): align OAuth2 assertion to CP clock to fix startup skew failure
  .clawker.yaml
  api/admin/v1/admin.go
  api/admin/v1/admin.pb.go
  api/admin/v1/admin.proto
  api/admin/v1/admin_grpc.pb.go
  claude-plugin/clawker-support/.claude-plugin/plugin.json
  claude-plugin/clawker-support/skills/clawker-support/reference/troubleshooting.md
  docs/control-plane.mdx
  internal/auth/CLAUDE.md
  internal/auth/agent_assertion_test.go
  internal/auth/assertion.go
  internal/auth/auth_test.go
  internal/controlplane/CLAUDE.md
  internal/controlplane/adminclient/dial.go
  internal/controlplane/adminclient/dial_test.go
  internal/controlplane/authz.go
  internal/controlplane/mocks/admin_client_mock.go
  internal/controlplane/server.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix(cp): surface + bound clock-skew probe degrade; harden dns_cache GC loop
  cmd/clawker-cp/main.go
  internal/auth/CLAUDE.md
  internal/auth/assertion.go
  internal/auth/auth_test.go
  internal/cmd/factory/default.go
  internal/controlplane/adminclient/dial.go
  internal/controlplane/adminclient/dial_test.go
  internal/controlplane/authz_test.go
  internal/controlplane/firewall/ebpf/netlogger/reverse_dns.go
  test/e2e/harness/factory.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(netlogger): attribute IP-literal dns_cache seeds and wire periodic GC
  cmd/clawker-cp/main.go
  internal/controlplane/CLAUDE.md
  internal/controlplane/firewall/ebpf/CLAUDE.md
  internal/controlplane/firewall/ebpf/netlogger/CLAUDE.md
  internal/controlplane/firewall/ebpf/netlogger/netlogger.go
  internal/controlplane/firewall/ebpf/netlogger/reverse_dns.go
  internal/controlplane/firewall/handler.go
  internal/controlplane/firewall/handler_test.go
  internal/controlplane/firewall/rules_store.go
  internal/controlplane/firewall/rules_store_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

docs(cp): sweep stale docs/comments after clock-sync gate
  docs/container-internals.mdx
  docs/control-plane.mdx
  docs/quickstart.mdx
  internal/auth/CLAUDE.md
  internal/auth/assertion.go
  internal/cmd/container/CLAUDE.md
  internal/cmd/factory/CLAUDE.md
  internal/controlplane/cpboot/bootstrap.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

harden(cp): bound clock-skew probe + escalate wedged dns_cache GC
  cmd/clawker-cp/main.go
  internal/controlplane/CLAUDE.md
  internal/controlplane/adminclient/dial.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

refactor(firewall): single rules snapshot for reverse-DNS domain set
  internal/controlplane/firewall/handler.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix(cp): gate container create on host↔CP clock sync
  internal/auth/CLAUDE.md
  internal/auth/agent_assertion.go
  internal/auth/agent_assertion_test.go
  internal/cmd/container/create/create.go
  internal/cmd/container/create/create_test.go
  internal/cmd/container/run/run.go
  internal/cmd/container/shared/CLAUDE.md
  internal/cmd/container/shared/agent_bootstrap.go
  internal/cmd/container/shared/agent_bootstrap_test.go
  internal/cmd/container/shared/container_create.go
  internal/controlplane/adminclient/dial.go
  internal/controlplane/cpboot/CLAUDE.md
  internal/controlplane/cpboot/bootstrap.go
  internal/controlplane/cpboot/bootstrap_test.go
  internal/controlplane/cpboot/clocksync_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(cp): make dns_cache GC escalation detect wedged sweeps + harden clock-sync gate
  cmd/clawker-cp/main.go
  cmd/clawker-cp/main_test.go
  internal/auth/CLAUDE.md
  internal/auth/assertion.go
  internal/cmd/container/create/create_test.go
  internal/cmd/container/shared/container_create.go
  internal/cmd/container/shared/container_create_test.go
  internal/controlplane/CLAUDE.md
  internal/controlplane/adminclient/dial.go
  internal/controlplane/cpboot/bootstrap.go
  internal/controlplane/firewall/ebpf/CLAUDE.md
  internal/controlplane/firewall/ebpf/cmd/main.go
  internal/controlplane/firewall/ebpf/manager.go
  internal/controlplane/firewall/ebpf/manager_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

refactor(cp): reuse gate's clock-skew measurement for agent assertion
  internal/cmd/container/create/create.go
  internal/cmd/container/create/create_test.go
  internal/cmd/container/restart/restart_test.go
  internal/cmd/container/run/run.go
  internal/cmd/container/run/run_test.go
  internal/cmd/container/shared/CLAUDE.md
  internal/cmd/container/shared/container_create.go
  internal/cmd/container/shared/container_create_test.go
  internal/cmd/container/shared/container_start.go
  internal/cmd/container/shared/container_start_test.go
  internal/cmd/container/start/start_test.go
  internal/cmd/controlplane/up.go
  internal/cmd/controlplane/up_test.go
  internal/cmd/firewall/up.go
  internal/cmd/firewall/up_test.go
  internal/controlplane/cpboot/CLAUDE.md
  internal/controlplane/cpboot/bootstrap.go
  internal/controlplane/cpboot/bootstrap_test.go
  internal/controlplane/cpboot/clocksync_test.go
  internal/controlplane/cpboot/manager.go
  internal/controlplane/cpboot/mocks/manager_mock.go
  internal/controlplane/firewall/handler.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

test(cp): cover wedged-GC detection chain + harden clock-sync timeout
  api/admin/v1/admin.go
  cmd/clawker-cp/main.go
  cmd/clawker-cp/main_test.go
  internal/cmd/factory/default.go
  internal/controlplane/adminclient/dial.go
  internal/controlplane/cpboot/bootstrap.go
  internal/controlplane/cpboot/clocksync_test.go
  internal/controlplane/firewall/ebpf/CLAUDE.md
  internal/controlplane/firewall/ebpf/manager.go
  internal/controlplane/firewall/ebpf/manager_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(hooks): key Serena gate marker on session_id, not $PPID
  .claude/hooks/serena-first.sh
  .claude/hooks/serena-init-marker.sh
  .claude/hooks/serena-session-start.sh
Due: none

refactor(cp): wait for clock sync instead of correcting assertion iat
  .serena/memories/clock_sync_wait_not_skew_correction.md
  internal/auth/CLAUDE.md
  internal/auth/agent_assertion.go
  internal/auth/agent_assertion_test.go
  internal/auth/assertion.go
  internal/cmd/container/CLAUDE.md
  internal/cmd/container/create/create.go
  internal/cmd/container/create/create_test.go
  internal/cmd/container/restart/restart_test.go
  internal/cmd/container/run/run.go
  internal/cmd/container/run/run_test.go
  internal/cmd/container/shared/CLAUDE.md
  internal/cmd/container/shared/agent_bootstrap.go
  internal/cmd/container/shared/agent_bootstrap_test.go
  internal/cmd/container/shared/container_create.go
  internal/cmd/container/shared/container_create_test.go
  internal/cmd/container/shared/container_start.go
  internal/cmd/container/shared/container_start_test.go
  internal/cmd/container/start/start_test.go
  internal/cmd/controlplane/up.go
  internal/cmd/controlplane/up_test.go
  internal/cmd/factory/CLAUDE.md
  internal/cmd/factory/default.go
  internal/cmd/firewall/up.go
  internal/cmd/firewall/up_test.go
  internal/controlplane/adminclient/dial.go
  internal/controlplane/adminclient/dial_test.go
  internal/controlplane/cpboot/CLAUDE.md
  internal/controlplane/cpboot/bootstrap.go
  internal/controlplane/cpboot/bootstrap_test.go
  internal/controlplane/cpboot/clocksync_test.go
  internal/controlplane/cpboot/manager.go
  internal/controlplane/cpboot/mocks/manager_mock.go
  test/e2e/harness/factory.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

chore(docs): serena memory cleanup
  .serena/memories/bug-tracker.md
  .serena/memories/claude_code_os_dashboard_buildout.md
  .serena/memories/clock_sync_wait_not_skew_correction.md
  .serena/memories/firewall_protocol_handling_prd.md
  .serena/memories/rca_clawkerd_pid1_hang_orphan_drain_no_kill.md
  .serena/memories/rca_hostproxy_egress_port_schema_drift.md
  .serena/memories/storeui-bug-tracker.md
Due: none

refactor(cp): strictly-typed per-service gRPC auth scopes
  api/admin/v1/admin.go
  api/admin/v1/admin.proto
  api/admin/v1/admin_grpc.pb.go
  api/agent/v1/agent.go
  cmd/clawker-cp/main.go
  cmd/clawkerd/register.go
  internal/cmd/container/create/create.go
  internal/cmd/container/create/create_test.go
  internal/cmd/container/run/run.go
  internal/cmd/container/run/run_test.go
  internal/cmd/container/shared/container_create.go
  internal/consts/consts.go
  internal/controlplane/CLAUDE.md
  internal/controlplane/adminclient/dial.go
  internal/controlplane/agent_method_scopes.go
  internal/controlplane/authz.go
  internal/controlplane/authz_test.go
  internal/controlplane/hydra_client.go
  internal/controlplane/hydra_client_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

refactor(cp): gate assertion mint on CP clock reaching host, in UTC
  api/admin/v1/admin.pb.go
  api/admin/v1/admin.proto
  api/admin/v1/admin_grpc.pb.go
  cmd/clawkerd/session.go
  cmd/clawkerd/user.go
  internal/auth/CLAUDE.md
  internal/auth/agent_assertion.go
  internal/auth/agent_assertion_test.go
  internal/auth/agent_cert_test.go
  internal/auth/assertion.go
  internal/auth/auth_test.go
  internal/cmd/container/shared/CLAUDE.md
  internal/controlplane/CLAUDE.md
  internal/controlplane/adminclient/dial.go
  internal/controlplane/adminclient/dial_test.go
  internal/controlplane/authz_test.go
  internal/controlplane/cpboot/CLAUDE.md
  internal/controlplane/cpboot/bootstrap.go
  internal/controlplane/cpboot/clocksync_test.go
  internal/controlplane/server.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(cp): PR review follow-ups — fail-closed coverage, recover-per-tick, doc/comment accuracy
  .claude/hooks/serena-first.sh
  .claude/hooks/serena-init-marker.sh
  .claude/hooks/serena-session-start.sh
  internal/auth/auth_test.go
  internal/consts/consts.go
  internal/controlplane/adminclient/dial.go
  internal/controlplane/agent/CLAUDE.md
  internal/controlplane/authz.go
  internal/controlplane/authz_test.go
  internal/controlplane/cpboot/bootstrap.go
  internal/controlplane/cpboot/bootstrap_test.go
  internal/controlplane/firewall/ebpf/manager.go
  internal/controlplane/firewall/ebpf/netlogger/reverse_dns.go
  internal/controlplane/server.go
Due: semgrep, govulncheck, go-test, claude-freshness

docs(cp): align clock-sync docs with host-clock-mint + pre-start gate
  claude-plugin/clawker-support/skills/clawker-support/reference/troubleshooting.md
  docs/container-internals.mdx
  docs/control-plane.mdx
  docs/quickstart.mdx
Due: none

fix(cp): single clock-sync gate; stop charging probe RTT against the CP
  internal/auth/CLAUDE.md
  internal/controlplane/adminclient/dial.go
  internal/controlplane/adminclient/dial_test.go
  internal/controlplane/cpboot/CLAUDE.md
  internal/controlplane/cpboot/bootstrap.go
  internal/controlplane/cpboot/bootstrap_test.go
  internal/controlplane/cpboot/clocksync_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix(cp): proto-doc accuracy + Node serena hooks (PR review)
  .claude/hooks/serena-first.mjs
  .claude/hooks/serena-first.sh
  .claude/hooks/serena-init-marker.mjs
  .claude/hooks/serena-init-marker.sh
  .claude/hooks/serena-session-start.mjs
  .claude/hooks/serena-session-start.sh
  api/admin/v1/admin.pb.go
  api/admin/v1/admin.proto
Due: semgrep, govulncheck, go-test, claude-freshness

fix(cp): PR review follow-ups — clock-sync error surfacing + doc accuracy
  api/admin/v1/admin.pb.go
  api/admin/v1/admin.proto
  api/admin/v1/admin_grpc.pb.go
  claude-plugin/clawker-support/skills/clawker-support/reference/troubleshooting.md
  cmd/clawker-cp/main.go
  docs/control-plane.mdx
  internal/controlplane/CLAUDE.md
  internal/controlplane/authz_test.go
  internal/controlplane/cpboot/CLAUDE.md
  internal/controlplane/cpboot/bootstrap.go
  internal/controlplane/cpboot/manager.go
  internal/controlplane/firewall/ebpf/manager.go
  internal/controlplane/firewall/ebpf/manager_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(keyring): inject expired-but-refreshable host Claude Code credentials
  claude-plugin/clawker-support/.claude-plugin/plugin.json
  claude-plugin/clawker-support/CLAUDE.md
  claude-plugin/clawker-support/skills/clawker-support/SKILL.md
  claude-plugin/clawker-support/skills/clawker-support/reference/claude-code-auth.md
  claude-plugin/clawker-support/skills/clawker-support/reference/troubleshooting.md
  docs/configuration.mdx
  internal/config/schema.go
  internal/keyring/CLAUDE.md
  internal/keyring/claude_code.go
  internal/keyring/claude_code_test.go
  internal/keyring/service.go
Due: semgrep, govulncheck, go-test, claude-freshness

docs(clawker-support): restructure Claude Code auth reference
  claude-plugin/clawker-support/.claude-plugin/plugin.json
  claude-plugin/clawker-support/CLAUDE.md
  claude-plugin/clawker-support/skills/clawker-support/SKILL.md
  claude-plugin/clawker-support/skills/clawker-support/reference/claude-code.md
  claude-plugin/clawker-support/skills/clawker-support/reference/troubleshooting.md
Due: none

fix(keyring): inject expired-but-refreshable host Claude Code credentials (#347)
  claude-plugin/clawker-support/.claude-plugin/plugin.json
  claude-plugin/clawker-support/CLAUDE.md
  claude-plugin/clawker-support/skills/clawker-support/SKILL.md
  claude-plugin/clawker-support/skills/clawker-support/reference/claude-code.md
  claude-plugin/clawker-support/skills/clawker-support/reference/troubleshooting.md
  docs/configuration.mdx
  internal/config/schema.go
  internal/keyring/CLAUDE.md
  internal/keyring/claude_code.go
  internal/keyring/claude_code_test.go
  internal/keyring/service.go
Due: semgrep, govulncheck, go-test, claude-freshness

chore(docs): removed stale fixed known issues
  README.md
Due: none

docs(cmd): drop concrete const values from command comments and output
  internal/cmd/container/shared/container_create.go
  internal/cmd/container/shared/containerfs.go
  internal/cmd/monitor/up/up.go
  internal/cmd/project/init/init.go
  internal/cmd/project/register/register.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

docs(worktree): stop advertising the reserved --force flag
  docs/cli-reference/clawker_worktree.md
  docs/cli-reference/clawker_worktree_remove.md
  docs/worktrees.mdx
  internal/cmd/worktree/remove/remove.go
  internal/cmd/worktree/worktree.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

Path conditions:
  semgrep: any of: \.go$
  govulncheck: any of: \.go$
  go-test: any of: \.go$
  docs-check: any of: ^(cmd/|internal/cmd/|internal/docs/)
  licenses-check: any of: ^go\.(mod|sum)$
  claude-freshness: any of: \.go$
