Repository schmitthub/clawker: changes, and which pre-commit hooks are due for each by the changed paths.
All: semgrep, govulncheck, go-test, docs-check, licenses-check, claude-freshness

semgrep:
  name: Semgrep SAST
  entry: semgrep scan --baseline-commit HEAD --config p/golang --config p/security-audit --error
  language: system
  pass_filenames: false

govulncheck:
  name: govulncheck SCA
  entry: govulncheck ./...
  language: system
  pass_filenames: false

go-test:
  name: Unit tests
  entry: make test
  language: system
  pass_filenames: false

docs-check:
  name: CLI docs freshness
  entry: make docs-check
  language: system
  pass_filenames: false

licenses-check:
  name: NOTICE freshness
  entry: make licenses-check
  language: system
  pass_filenames: false

claude-freshness:
  name: Claude doc freshness (advisory)
  entry: bash -c 'bash scripts/check-claude-freshness.sh --strict --non-interactive --no-color | head -50 || true'
  language: system
  pass_filenames: false
  verbose: true

feat(cli): rename clawker skill to clawker plugin, keep skill alias
  CLAUDE.md
  README.md
  docs/cli-reference/clawker.md
  docs/cli-reference/clawker_plugin.md
  docs/cli-reference/clawker_plugin_install.md
  docs/cli-reference/clawker_plugin_remove.md
  docs/cli-reference/clawker_plugin_show.md
  docs/docs.json
  docs/quickstart.mdx
  internal/cmd/plugin/CLAUDE.md
  internal/cmd/plugin/install/install.go
  internal/cmd/plugin/install/install_test.go
  internal/cmd/plugin/plugin.go
  internal/cmd/plugin/plugin_test.go
  internal/cmd/plugin/remove/remove.go
  internal/cmd/plugin/remove/remove_test.go
  internal/cmd/plugin/shared/copy.go
  internal/cmd/plugin/shared/copy_test.go
  internal/cmd/plugin/shared/shared.go
  internal/cmd/plugin/shared/shared_test.go
  internal/cmd/plugin/show/show.go
  internal/cmd/plugin/show/show_test.go
  internal/cmd/root/root.go
  internal/cmd/skill/skill.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

docs(changelog): note clawker plugin rename and plugin repo move
  CHANGELOG.md
Due: none

docs(changelog): tighten plugin rename bullet
  CHANGELOG.md
Due: none

docs(changelog): replace repo-move note with harness support bullet
  CHANGELOG.md
Due: none

docs(changelog): lead with plugin harness support, CLI as wrapper
  CHANGELOG.md
Due: none

docs(changelog): head section as 2026.7.2
  CHANGELOG.md
Due: none

chore(changelog): fixed ai slop
  CHANGELOG.md
Due: none

feat(harness): agents volume for codex; example bundle follows
  .gitmodules
  internal/bundle/assets/harnesses/codex/harness.yaml
Due: none

docs: point users at the example bundle for experimental harnesses
  README.md
  docs/quickstart.mdx
Due: none

chore(clawker): added bundle repo
  .clawker.yaml
Due: none

fix(schema): egress port validates as integer or string
  docs/schemas/clawker.schema.json
  docs/schemas/harness.schema.json
  internal/config/egress_port_test.go
  internal/config/schema.go
  internal/docs/jsonschema.go
  internal/docs/jsonschema_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

Revert "fix(schema): egress port validates as integer or string"
  docs/schemas/clawker.schema.json
  docs/schemas/harness.schema.json
  internal/config/egress_port_test.go
  internal/config/schema.go
  internal/docs/jsonschema.go
  internal/docs/jsonschema_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

feat(image)!: rename container user claude -> clawker
  CHANGELOG.md
  docs/custom-images.mdx
  internal/bundler/assets/clawker-agent-prompt.md
  internal/bundler/bundle_test.go
  internal/bundler/dockerfile.go
  internal/bundler/testdata/golden/harness-overlay.base.Dockerfile
  internal/bundler/testdata/golden/harness-overlay.harness.Dockerfile
  internal/bundler/testdata/golden/minimal-buildkit.base.Dockerfile
  internal/bundler/testdata/golden/minimal-buildkit.harness.Dockerfile
  internal/bundler/testdata/golden/minimal.base.Dockerfile
  internal/bundler/testdata/golden/minimal.harness.Dockerfile
  internal/bundler/testdata/golden/packages-instructions-inject.base.Dockerfile
  internal/bundler/testdata/golden/packages-instructions-inject.harness.Dockerfile
  internal/bundler/testdata/golden/qualified-stack.base.Dockerfile
  internal/bundler/testdata/golden/telemetry-flags-off.base.Dockerfile
  internal/bundler/testdata/golden/telemetry-flags-off.harness.Dockerfile
  internal/clawkerd/cmd.go
  internal/cmd/container/shared/containerfs_test.go
  internal/consts/consts.go
  internal/docker/env_test.go
  internal/workspace/CLAUDE.md
  internal/workspace/strategy.go
  internal/workspace/strategy_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(plugin): harden copy/remove lanes and error reporting
  internal/cmd/plugin/CLAUDE.md
  internal/cmd/plugin/install/install.go
  internal/cmd/plugin/remove/remove.go
  internal/cmd/plugin/remove/remove_test.go
  internal/cmd/plugin/shared/copy.go
  internal/cmd/plugin/shared/copy_test.go
  internal/cmd/plugin/shared/internal_test.go
  internal/cmd/plugin/shared/shared.go
  internal/cmd/plugin/shared/shared_test.go
  internal/cmd/plugin/show/show.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

docs: finish container-user and plugin rename sweep
  .claude/docs/DESIGN.md
  .claude/docs/REPO-STRUCTURE.md
  .claude/workflows/docsweep.workflow.js
  CHANGELOG.md
  README.md
  docs/configuration.mdx
  docs/container-internals.mdx
  docs/quickstart.mdx
  docs/schemas/clawker.schema.json
  docs/security.mdx
  docs/threat-model.mdx
  internal/cmd/root/CLAUDE.md
  internal/config/schema.go
  internal/containerfs/containerfs.go
  internal/hostproxy/internals/cmd/clawker-socket-server/main.go
  internal/workspace/CLAUDE.md
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

test(workspace): drop constant-restatement share test
  internal/workspace/strategy_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

style: gofmt stragglers
  internal/docker/types.go
  test/adversarial/attacker-server/main.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix(submodules): use HTTPS URLs for public submodules
  .gitmodules
Due: none

docs(contributing): init submodules in development setup
  CONTRIBUTING.md
Due: none

docs(readme): add draft agent-sandbox comparison table
  README.md
Due: none

docs(research): agent-sandbox competitive research memories
  .serena/memories/agent-sandbox-research/assessment-guidelines.md
  .serena/memories/agent-sandbox-research/plan.md
  .serena/memories/agent-sandbox-research/providers/agent-sandbox-org.md
  .serena/memories/agent-sandbox-research/providers/anthropic-sandbox-runtime.md
  .serena/memories/agent-sandbox-research/providers/beam-beta9.md
  .serena/memories/agent-sandbox-research/providers/blaxel.md
  .serena/memories/agent-sandbox-research/providers/claude-code-sandboxing.md
  .serena/memories/agent-sandbox-research/providers/clawker.md
  .serena/memories/agent-sandbox-research/providers/cloudflare-sandbox-sdk.md
  .serena/memories/agent-sandbox-research/providers/codesandbox-sdk.md
  .serena/memories/agent-sandbox-research/providers/codex-cli-sandbox.md
  .serena/memories/agent-sandbox-research/providers/dagger-container-use.md
  .serena/memories/agent-sandbox-research/providers/daytona.md
  .serena/memories/agent-sandbox-research/providers/devcontainers.md
  .serena/memories/agent-sandbox-research/providers/docker-sandboxes.md
  .serena/memories/agent-sandbox-research/providers/e2b.md
  .serena/memories/agent-sandbox-research/providers/k8s-agent-sandbox.md
  .serena/memories/agent-sandbox-research/providers/microsandbox.md
  .serena/memories/agent-sandbox-research/providers/modal-sandboxes.md
  .serena/memories/agent-sandbox-research/providers/morph.md
  .serena/memories/agent-sandbox-research/providers/northflank-sandboxes.md
  .serena/memories/agent-sandbox-research/providers/openai-api-sandboxes.md
  .serena/memories/agent-sandbox-research/providers/opensandbox.md
  .serena/memories/agent-sandbox-research/providers/runloop.md
  .serena/memories/agent-sandbox-research/providers/sculptor-imbue.md
  .serena/memories/agent-sandbox-research/providers/smolvm.md
  .serena/memories/agent-sandbox-research/providers/vercel-sandbox.md
  .serena/memories/agent-sandbox-research/sources.md
Due: none

docs(research): attribution audit corrections across provider assessments
  .serena/memories/agent-sandbox-research/assessment-guidelines.md
  .serena/memories/agent-sandbox-research/providers/anthropic-sandbox-runtime.md
  .serena/memories/agent-sandbox-research/providers/blaxel.md
  .serena/memories/agent-sandbox-research/providers/claude-code-sandboxing.md
  .serena/memories/agent-sandbox-research/providers/cloudflare-sandbox-sdk.md
  .serena/memories/agent-sandbox-research/providers/codesandbox-sdk.md
  .serena/memories/agent-sandbox-research/providers/codex-cli-sandbox.md
  .serena/memories/agent-sandbox-research/providers/dagger-container-use.md
  .serena/memories/agent-sandbox-research/providers/daytona.md
  .serena/memories/agent-sandbox-research/providers/docker-sandboxes.md
  .serena/memories/agent-sandbox-research/providers/e2b.md
  .serena/memories/agent-sandbox-research/providers/k8s-agent-sandbox.md
  .serena/memories/agent-sandbox-research/providers/morph.md
  .serena/memories/agent-sandbox-research/providers/northflank-sandboxes.md
  .serena/memories/agent-sandbox-research/providers/sculptor-imbue.md
Due: none

docs(research): domain-native enforcement criterion + creds/egress framing
  .serena/memories/agent-sandbox-research/assessment-guidelines.md
  .serena/memories/agent-sandbox-research/providers/clawker.md
Due: none

docs(readme): add domain-native enforcement row to comparison table
  README.md
Due: none

docs(readme): expand comparison to all 25 providers + credential-injection callout
  README.md
Due: none

docs(research): cred-proxy-facade framing note in clawker writeup
  .serena/memories/agent-sandbox-research/providers/clawker.md
Due: none

docs(readme): drop category separator rows, add Cost column
  README.md
Due: none

docs(readme): move Cost to first column
  README.md
Due: none

docs(readme): drop nested-docker column from comparison
  README.md
Due: none

docs(readme): rebuild comparison table as all-binary matrix
  .serena/memories/agent-sandbox-research/assessment-guidelines.md
  .serena/memories/agent-sandbox-research/plan.md
  README.md
Due: none

docs(readme): reconcile comparison matrix across three assessment passes
  README.md
Due: none

docs(readme): scope comparison to coding-agent sandboxes
  README.md
Due: none

docs(readme): scope comparison to coding-agent security sandboxes
  README.md
Due: none

docs(research): prune roster to agent-harness security sandboxes
  .serena/memories/agent-sandbox-research/assessment-guidelines.md
  .serena/memories/agent-sandbox-research/plan.md
  .serena/memories/agent-sandbox-research/providers/agent-sandbox-org.md
  .serena/memories/agent-sandbox-research/providers/beam-beta9.md
  .serena/memories/agent-sandbox-research/providers/blaxel.md
  .serena/memories/agent-sandbox-research/providers/cloudflare-sandbox-sdk.md
  .serena/memories/agent-sandbox-research/providers/codesandbox-sdk.md
  .serena/memories/agent-sandbox-research/providers/dagger-container-use.md
  .serena/memories/agent-sandbox-research/providers/daytona.md
  .serena/memories/agent-sandbox-research/providers/e2b.md
  .serena/memories/agent-sandbox-research/providers/k8s-agent-sandbox.md
  .serena/memories/agent-sandbox-research/providers/microsandbox.md
  .serena/memories/agent-sandbox-research/providers/modal-sandboxes.md
  .serena/memories/agent-sandbox-research/providers/morph.md
  .serena/memories/agent-sandbox-research/providers/northflank-sandboxes.md
  .serena/memories/agent-sandbox-research/providers/openai-api-sandboxes.md
  .serena/memories/agent-sandbox-research/providers/opensandbox.md
  .serena/memories/agent-sandbox-research/providers/runloop.md
  .serena/memories/agent-sandbox-research/providers/vercel-sandbox.md
Due: none

docs(readme): drop Env snapshot/resume column
  README.md
Due: none

docs(readme): add Nono + Agentbox competitors, restore Cost column
  .serena/memories/agent-sandbox-research/assessment-guidelines.md
  .serena/memories/agent-sandbox-research/plan.md
  .serena/memories/agent-sandbox-research/providers/mattolson-agent-sandbox.md
  .serena/memories/agent-sandbox-research/providers/nono.md
  README.md
Due: none

docs(readme): rewrite comparison intro as end-user copy
  README.md
Due: none

docs(readme): trim comparison methodology to a short note
  README.md
Due: none

Path conditions:
  semgrep: any of: \.go$
  govulncheck: any of: \.go$
  go-test: any of: \.go$
  docs-check: any of: ^(cmd/|internal/cmd/|internal/docs/)
  licenses-check: any of: ^go\.(mod|sum)$
  claude-freshness: any of: \.go$
