Repository schmitthub/clawker: changes, and which pre-commit hooks are due for each by the changed paths.
All: semgrep, govulncheck, go-test, docs-check, licenses-check, claude-freshness

.pre-commit-config.yaml:

# Pre-commit hooks — mirrors CI quality gates locally.
# Install: bash scripts/install-hooks.sh
# Run all: pre-commit run --all-files
# Run one: pre-commit run gitleaks --all-files

repos:
  # ── Security ──────────────────────────────────────────────────────────────
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.30.0
    hooks:
      - id: gitleaks
        args: [--baseline-path, gitleaks-report.json]

  # ── Lint ──────────────────────────────────────────────────────────────────
  - repo: https://github.com/golangci/golangci-lint
    rev: v2.9.0
    hooks:
      - id: golangci-lint-full
        args: [--config, .golangci.yml]

  # ── Local hooks ───────────────────────────────────────────────────────────
  - repo: local
    hooks:
      - id: semgrep
        name: Semgrep SAST
        # Expected version: 1.146.0 (must match CI image tag in security.yml)
        entry: semgrep scan --baseline-commit HEAD --config p/golang --config p/security-audit --error
        language: system
        types: [go]
        pass_filenames: false

      - id: govulncheck
        name: govulncheck SCA
        entry: govulncheck ./...
        language: system
        types: [go]
        pass_filenames: false

      - id: go-test
        name: Unit tests
        entry: make test
        language: system
        types: [go]
        pass_filenames: false

      - id: docs-check
        name: CLI docs freshness
        entry: make docs-check
        language: system
        files: ^(cmd/|internal/cmd/|internal/docs/)
        pass_filenames: false

      - id: licenses-check
        name: NOTICE freshness
        entry: make licenses-check
        language: system
        files: ^go\.(mod|sum)$
        pass_filenames: false

      - id: claude-freshness
        name: Claude doc freshness (advisory)
        entry: bash -c 'bash scripts/check-claude-freshness.sh --strict --non-interactive --no-color | head -50 || true'
        language: system
        files: \.go$
        pass_filenames: false
        verbose: true

chore(storage): changed clawker name for new storage logic
  .clawker.yaml
Due: none

feat(storage): implement Store[T] generic layered YAML store engine
  .claude/docs/ARCHITECTURE.md
  .claude/docs/DESIGN.md
  .serena/memories/config-replacement-architecture.md
  .serena/memories/storage-design.md
  clawker.yaml
  internal/storage/CLAUDE.md
  internal/storage/discover.go
  internal/storage/errors.go
  internal/storage/load.go
  internal/storage/merge.go
  internal/storage/options.go
  internal/storage/resolver.go
  internal/storage/storage_test.go
  internal/storage/store.go
  internal/storage/write.go
Due: semgrep, govulncheck, go-test, claude-freshness

chore(docs): updated mantra
  CLAUDE.md
Due: none

fix(project): replace SHA1 with SHA256 in worktree dir naming
  internal/project/worktree_service.go
Due: semgrep, govulncheck, go-test, claude-freshness

chore(docs): memory audit
  .serena/memories/config-replacement-architecture.md
  .serena/memories/project-overview.md
  .serena/memories/storage-design.md
  CLAUDE.md
  internal/cmd/container/shared/CLAUDE.md
  internal/config/CLAUDE.md
  internal/project/CLAUDE.md
  internal/storage/CLAUDE.md
  internal/tui/CLAUDE.md
Due: docs-check

fix(config): UAT fixes — store accessors, init flows, build guard
  .serena/memories/project-overview.md
  CLAUDE.md
  docs/cli-reference/clawker.md
  internal/bundler/CLAUDE.md
  internal/bundler/dockerfile.go
  internal/bundler/errors.go
  internal/cmd/config/CLAUDE.md
  internal/cmd/config/check/check.go
  internal/cmd/config/check/check_test.go
  internal/cmd/config/config.go
  internal/cmd/config/config_test.go
  internal/cmd/image/build/build.go
  internal/cmd/init/CLAUDE.md
  internal/cmd/init/init.go
  internal/cmd/project/CLAUDE.md
  internal/cmd/project/init/init.go
  internal/cmd/project/init/init_test.go
  internal/cmd/root/CLAUDE.md
  internal/cmd/root/root.go
  internal/config/CLAUDE.md
  internal/config/config.go
  internal/config/config_test.go
  internal/config/mocks/config_mock.go
  internal/config/mocks/stubs.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

refactor(project-init): migrate interactive prompts to TUI wizard
  internal/cmd/project/CLAUDE.md
  internal/cmd/project/init/init.go
  internal/cmd/project/init/init_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(tui): show BuildKit error details instead of raw JSON
  .clawker.yaml
  internal/cmd/image/build/testdata/TestBuildProgress_Golden_error/error.golden
  internal/cmd/project/init/init_test.go
  internal/tui/progress.go
  internal/tui/progress_test.go
  internal/tui/testdata/TestProgressPlain_Golden_error/error.golden
  pkg/whail/buildkit/builder.go
  pkg/whail/buildkit/progress.go
  pkg/whail/buildkit/progress_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

chore(docs): readme stuffs
  README.md
  examples/csharp.yaml
  examples/go.yaml
  examples/node.yaml
  examples/php.yaml
  examples/python.yaml
  examples/rust.yaml
Due: none

fix(ci): install moq in release workflow
  .github/workflows/release.yml
Due: none

vibe coded with love
  README.md
Due: none

quickstart
  README.md
Due: none

chore(readme): quickstart again
  README.md
Due: none

chore(readme): quickstart tweak
  README.md
Due: none

chore(readme): path fixes
  README.md
Due: none

chore(readme): fixed quote block formatting
  README.md
Due: none

chore(readme): worktree section update
  README.md
Due: none

feat(errors): add Docker connectivity sentinel error with install helper
  internal/clawker/cmd.go
  internal/clawker/cmd_test.go
  pkg/whail/engine.go
  pkg/whail/errors.go
  pkg/whail/errors_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

feat(errors): add Docker connectivity sentinel error with install helper (#149)
  internal/clawker/cmd.go
  internal/clawker/cmd_test.go
  pkg/whail/engine.go
  pkg/whail/errors.go
  pkg/whail/errors_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix: legacy dir references
  .claude/docs/CLI-VERBS.md
  README.md
  docs/cli-reference/clawker.md
  docs/cli-reference/clawker_init.md
  docs/design.md
  examples/llm.md
  internal/cmd/factory/default.go
  internal/cmd/init/init.go
  internal/cmd/loop/shared/history.go
  internal/cmd/loop/shared/session.go
  internal/cmd/root/root.go
  internal/config/schema.go
  internal/project/manager.go
  internal/project/worktree_service.go
  test/harness/harness.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(docs): address Copilot review findings on PR #150
  docs/design.md
  examples/llm.md
  test/harness/harness.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix(update): don't cancel context before update check completes
  internal/clawker/cmd.go
Due: semgrep, govulncheck, go-test, claude-freshness

docs: update CLAUDE.md files to reflect update check context fix
  internal/clawker/CLAUDE.md
  internal/update/CLAUDE.md
Due: none

fix(update): don't cancel context before update check completes (#151)
  internal/clawker/CLAUDE.md
  internal/clawker/cmd.go
  internal/update/CLAUDE.md
Due: semgrep, govulncheck, go-test, claude-freshness

fix(projectcmd): inaccurate help text, user info prints to stderr
  docs/cli-reference/clawker_project_init.md
  internal/cmd/project/init/init.go
  internal/cmd/project/init/init_test.go
  internal/cmd/project/register/register.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(cmds): updated help text for serveral commands to be more useful and not generated by a toddler super computer
  docs/cli-reference/clawker_attach.md
  docs/cli-reference/clawker_container_attach.md
  docs/cli-reference/clawker_container_create.md
  docs/cli-reference/clawker_container_run.md
  docs/cli-reference/clawker_container_start.md
  docs/cli-reference/clawker_create.md
  docs/cli-reference/clawker_run.md
  docs/cli-reference/clawker_start.md
  internal/cmd/container/attach/attach.go
  internal/cmd/container/create/create.go
  internal/cmd/container/run/run.go
  internal/cmd/container/start/start.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

chore(note): noob
  node_modules/note.txt
Due: none

new statusline
  internal/bundler/assets/statusline.sh
Due: none

fix(statusline): move worktree + indicator before branch name
  internal/bundler/assets/statusline.sh
Due: none

fix(statusline): move worktree + indicator before branch name (#153)
  internal/bundler/assets/statusline.sh
Due: none

fix: route --worktree through ProjectManager, cleanup PR review findings
  .claude/rules/code-style.md
  CLAUDE.md
  docs/cli-reference/clawker_attach.md
  docs/cli-reference/clawker_container_attach.md
  internal/bundler/assets/statusline.sh
  internal/cmd/container/attach/attach.go
  internal/cmd/container/create/create.go
  internal/cmd/container/create/create_test.go
  internal/cmd/container/run/run.go
  internal/cmd/container/run/run_test.go
  internal/cmd/container/shared/CLAUDE.md
  internal/cmd/container/shared/container.go
  internal/cmd/container/shared/init_test.go
  internal/cmd/loop/CLAUDE.md
  internal/cmd/loop/iterate/iterate.go
  internal/cmd/loop/iterate/iterate_test.go
  internal/cmd/loop/shared/lifecycle.go
  internal/cmd/loop/tasks/tasks.go
  internal/cmd/project/init/init.go
  internal/cmd/project/register/register.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix: use storage layer discovery for project config detection, treat max loops as normal exit
  internal/cmd/loop/shared/result_test.go
  internal/cmd/loop/shared/runner.go
  internal/cmd/loop/shared/runner_test.go
  internal/cmd/project/CLAUDE.md
  internal/cmd/project/init/init.go
  internal/cmd/project/register/register.go
  internal/cmd/project/shared/discovery.go
  internal/cmd/project/shared/discovery_test.go
  internal/storage/CLAUDE.md
  internal/storage/discover.go
  internal/storage/options.go
  internal/storage/storage_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix: UX quality-of-life improvements (#152)
  .claude/rules/code-style.md
  CLAUDE.md
  docs/cli-reference/clawker_attach.md
  docs/cli-reference/clawker_container_attach.md
  docs/cli-reference/clawker_container_create.md
  docs/cli-reference/clawker_container_run.md
  docs/cli-reference/clawker_container_start.md
  docs/cli-reference/clawker_create.md
  docs/cli-reference/clawker_project_init.md
  docs/cli-reference/clawker_run.md
  docs/cli-reference/clawker_start.md
  internal/bundler/assets/statusline.sh
  internal/cmd/container/attach/attach.go
  internal/cmd/container/create/create.go
  internal/cmd/container/create/create_test.go
  internal/cmd/container/run/run.go
  internal/cmd/container/run/run_test.go
  internal/cmd/container/shared/CLAUDE.md
  internal/cmd/container/shared/container.go
  internal/cmd/container/shared/init_test.go
  internal/cmd/container/start/start.go
  internal/cmd/loop/CLAUDE.md
  internal/cmd/loop/iterate/iterate.go
  internal/cmd/loop/iterate/iterate_test.go
  internal/cmd/loop/shared/lifecycle.go
  internal/cmd/loop/shared/result_test.go
  internal/cmd/loop/shared/runner.go
  internal/cmd/loop/shared/runner_test.go
  internal/cmd/loop/tasks/tasks.go
  internal/cmd/project/CLAUDE.md
  internal/cmd/project/init/init.go
  internal/cmd/project/init/init_test.go
  internal/cmd/project/register/register.go
  internal/cmd/project/shared/discovery.go
  internal/cmd/project/shared/discovery_test.go
  internal/storage/CLAUDE.md
  internal/storage/discover.go
  internal/storage/options.go
  internal/storage/storage_test.go
  node_modules/note.txt
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

docs(readme): add hand-crafted SVG threat model diagram
  README.md
  docs/assets/threat-model.svg
  node_modules/note.txt
Due: none
