Repository schmitthub/clawker: changes, and which pre-commit hooks are due for each by the changed paths.
All: semgrep, govulncheck, go-test, docs-check, licenses-check, claude-freshness

.pre-commit-config.yaml:

# Pre-commit hooks — mirrors CI quality gates locally.
# Install: bash scripts/install-hooks.sh
# Run all: pre-commit run --all-files
# Run one: pre-commit run gitleaks --all-files

repos:
  # ── Security ──────────────────────────────────────────────────────────────
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.30.0
    hooks:
      - id: gitleaks
        args: [--baseline-path, gitleaks-report.json]

  # ── Lint ──────────────────────────────────────────────────────────────────
  - repo: https://github.com/golangci/golangci-lint
    rev: v2.9.0
    hooks:
      - id: golangci-lint-full
        args: [--config, .golangci.yml]

  # ── Local hooks ───────────────────────────────────────────────────────────
  - repo: local
    hooks:
      - id: semgrep
        name: Semgrep SAST
        # Expected version: 1.146.0 (must match CI image tag in security.yml)
        entry: semgrep scan --baseline-commit HEAD --config p/golang --config p/security-audit --error
        language: system
        types: [go]
        pass_filenames: false

      - id: govulncheck
        name: govulncheck SCA
        entry: govulncheck ./...
        language: system
        types: [go]
        pass_filenames: false

      - id: go-test
        name: Unit tests
        entry: make test
        language: system
        types: [go]
        pass_filenames: false

      - id: docs-check
        name: CLI docs freshness
        entry: make docs-check
        language: system
        files: ^(cmd/|internal/cmd/|internal/docs/)
        pass_filenames: false

      - id: licenses-check
        name: NOTICE freshness
        entry: make licenses-check
        language: system
        files: ^go\.(mod|sum)$
        pass_filenames: false

      - id: claude-freshness
        name: Claude doc freshness (advisory)
        entry: bash -c 'bash scripts/check-claude-freshness.sh --strict --non-interactive --no-color | head -50 || true'
        language: system
        files: \.go$
        pass_filenames: false
        verbose: true

feat(entrypoint): add inline spinner progress for container init
  internal/bundler/assets/entrypoint.sh
Due: none

feat(entrypoint): add inline spinner progress for container init (#148)
  internal/bundler/assets/entrypoint.sh
Due: none

driveby firewall fix
  clawker.yaml
  examples/node.yaml
Due: none

fix(loop): gate ParseStream on ready signal and fix settings.json overwrite
  .serena/memories/config-codemap.md
  .serena/memories/configapocalypse-prd.md
  internal/cmd/container/shared/containerfs.go
  internal/cmd/loop/shared/lifecycle.go
  internal/cmd/loop/shared/lifecycle_test.go
  internal/cmd/loop/shared/runner.go
  internal/cmd/loop/shared/runner_test.go
  internal/cmd/loop/shared/stream.go
  internal/cmd/loop/shared/stream_test.go
  internal/docker/volume.go
  test/agents/loop_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

chore(config): init foundation
  .serena/memories/configapocalypse-prd.md
  CLAUDE.md
  internal/config/CLAUDE.md
  internal/config/agentenv.go
  internal/config/agentenv_test.go
  internal/config/config.go
  internal/config/config_test.go
  internal/config/configtest/fake_registry.go
  internal/config/configtest/inmemory_registry.go
  internal/config/configtest/inmemory_registry_test.go
  internal/config/configtest/inmemory_settings_loader.go
  internal/config/configtest/inmemory_settings_loader_test.go
  internal/config/configtest/project_builder.go
  internal/config/configtest/project_builder_test.go
  internal/config/debug_test.go
  internal/config/defaults_test.go
  internal/config/home.go
  internal/config/home_test.go
  internal/config/identity.go
  internal/config/ip_ranges.go
  internal/config/ip_ranges_test.go
  internal/config/merge.go
  internal/config/merge_test.go
  internal/config/project_loader.go
  internal/config/project_loader_test.go
  internal/config/project_runtime.go
  internal/config/project_runtime_test.go
  internal/config/provider.go
  internal/config/registry.go
  internal/config/registry_test.go
  internal/config/resolver_test.go
  internal/config/schema.go
  internal/config/schema_test.go
  internal/config/settings.go
  internal/config/settings_loader.go
  internal/config/settings_loader_test.go
  internal/config/settings_test.go
  internal/config/stub.go
  internal/config/validator.go
  internal/config/validator_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix(config): resolve symlinks in check tests for macOS compatibility
  internal/cmd/config/check/check_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

docs: audit and update CLAUDE.md files for config provider refactor
  .claude/docs/ARCHITECTURE.md
  .claude/docs/DESIGN.md
  .claude/docs/TESTING-REFERENCE.md
  CLAUDE.md
  docs/configuration.mdx
  docs/sadboy.md
  internal/cmd/container/attach/CLAUDE.md
  internal/cmd/container/exec/CLAUDE.md
  internal/cmd/factory/CLAUDE.md
  internal/cmd/image/CLAUDE.md
  internal/cmd/init/CLAUDE.md
  internal/cmd/monitor/CLAUDE.md
  internal/cmd/project/CLAUDE.md
  internal/cmd/root/CLAUDE.md
  internal/cmd/worktree/CLAUDE.md
  internal/cmdutil/CLAUDE.md
  internal/config/CLAUDE.md
  internal/logger/CLAUDE.md
  test/CLAUDE.md
Due: docs-check

chore(config): full pre-migration prep
  .claude/docs/ARCHITECTURE.md
  .claude/docs/DESIGN.md
  .claude/docs/TESTING-REFERENCE.md
  .claude/memories/prompter-wizard.md
  .claude/rules/testing.md
  .claude/templates/container-command-migration.md
  .serena/memories/configapocalypse-check-migration.md
  .serena/memories/configapocalypse-docs-update.md
  .serena/memories/configapocalypse-prd.md
  .serena/memories/cp_test_harness_scaffolding.md
  CLAUDE.md
  internal/cmd/config/CLAUDE.md
  internal/cmd/config/check/check.go
  internal/cmd/config/check/check_test.go
  internal/cmd/factory/default.go
  internal/cmd/factory/default_test.go
  internal/cmd/init/init_test.go
  internal/cmd/monitor/status/status.go
  internal/cmd/monitor/up/up.go
  internal/cmdutil/factory.go
  internal/config/CLAUDE.md
  internal/config/config.go
  internal/config/config_test.go
  internal/config/consts.go
  internal/config/schema.go
  internal/docker/client.go
  internal/project/register_test.go
  internal/workspace/strategy_test.go
  test/internals/workspace_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

chore(config): go mod updates
  go.mod
  go.sum
Due: licenses-check

chore(config): setup test harness
  .serena/memories/brainstorm_clawker-dev-website.md
  .serena/memories/config-codemap.md
  .serena/memories/prd_clawker-dev-splash-site.md
  internal/config/config.go
  internal/config/config_test.go
  internal/config/defaults.go
  internal/config/stubs.go
  internal/config/testdata/config/clawker.yaml
  internal/config/testdata/config/projects.yaml
  internal/config/testdata/config/settings.yaml
  internal/config/testdata/project/clawker.yaml
Due: semgrep, govulncheck, go-test, claude-freshness

chore(config): schema backed structs added to the interface with underlying viper primitives
  internal/config/config.go
  internal/config/config_test.go
  internal/config/schema.go
  internal/config/stub.go
Due: semgrep, govulncheck, go-test, claude-freshness

chore(clawker): go-imports instasll driveby
  clawker.yaml
Due: none

chore: consolidate docker migration memory into main PRD
  .serena/memories/configapocalypse-prd.md
  .serena/memories/docker-config-interface-migration.md
Due: none

chore(config): added missing constants
  internal/config/CLAUDE.md
  internal/config/config.go
  internal/config/config_test.go
  internal/config/consts.go
Due: semgrep, govulncheck, go-test, claude-freshness

refactor(bundler): migrate to config.Config interface
  .serena/memories/configapocalypse-codebase-migration.md
  internal/bundler/CLAUDE.md
  internal/bundler/build_test.go
  internal/bundler/dockerfile.go
  internal/bundler/dockerfile_test.go
  internal/bundler/hash_test.go
  internal/cmd/generate/generate.go
  internal/config/CLAUDE.md
  internal/config/config.go
  internal/config/config_test.go
  internal/config/consts.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

refactor(docker): migrate to config.Config interface
  .claude/rules/testing.md
  .serena/memories/docker-config-interface-migration.md
  CLAUDE.md
  internal/config/CLAUDE.md
  internal/config/config.go
  internal/config/config_test.go
  internal/docker/CLAUDE.md
  internal/docker/builder.go
  internal/docker/builder_test.go
  internal/docker/client.go
  internal/docker/client_progress_test.go
  internal/docker/client_test.go
  internal/docker/defaults.go
  internal/docker/dockertest/fake_client.go
  internal/docker/dockertest/fake_client_test.go
  internal/docker/dockertest/helpers.go
  internal/docker/image_resolve.go
  internal/docker/image_resolve_test.go
  internal/docker/labels.go
  internal/docker/labels_test.go
  internal/docker/volume.go
  internal/docker/wirebuildkit_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

chore(config): finalized migration guide
  .serena/memories/configapocalypse-codebase-migration.md
  internal/config/CLAUDE.md
  internal/config/config_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

refactor(docker): migrate 131 NewFakeClient callers to config.Config first arg
  .serena/memories/configapocalypse-prd.md
  internal/cmd/container/attach/attach_test.go
  internal/cmd/container/cp/cp_test.go
  internal/cmd/container/create/create_test.go
  internal/cmd/container/exec/exec_test.go
  internal/cmd/container/inspect/inspect_test.go
  internal/cmd/container/kill/kill_test.go
  internal/cmd/container/list/list_test.go
  internal/cmd/container/logs/logs_test.go
  internal/cmd/container/pause/pause_test.go
  internal/cmd/container/remove/remove_test.go
  internal/cmd/container/rename/rename_test.go
  internal/cmd/container/restart/restart_test.go
  internal/cmd/container/run/run_test.go
  internal/cmd/container/shared/init_test.go
  internal/cmd/container/start/start_test.go
  internal/cmd/container/stats/stats_test.go
  internal/cmd/container/stop/stop_test.go
  internal/cmd/container/top/top_test.go
  internal/cmd/container/unpause/unpause_test.go
  internal/cmd/container/update/update_test.go
  internal/cmd/container/wait/wait_test.go
  internal/cmd/image/list/list_golden_test.go
  internal/cmd/image/list/list_rendering_test.go
  internal/cmd/init/init_test.go
  internal/cmd/loop/shared/concurrency_test.go
  internal/cmd/loop/shared/runner_test.go
  internal/config/CLAUDE.md
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

chore(config): add hostproxy/socketbridge config schema types and accessor methods
  internal/config/CLAUDE.md
  internal/config/config.go
  internal/config/config_test.go
  internal/config/defaults.go
  internal/config/schema.go
Due: semgrep, govulncheck, go-test, claude-freshness

refactor(hostproxy): migrate manager/daemon to config.Config, remove legacy API
  .serena/memories/config-foundation-hostproxy-socketbridge-migration.md
  .serena/memories/config-migration-foundation-packages.md
  .serena/memories/configapocalypse-foundation-migration.md
  .serena/memories/configapocalypse-prd.md
  internal/cmd/factory/default.go
  internal/cmd/hostproxy/CLAUDE.md
  internal/cmd/hostproxy/serve.go
  internal/hostproxy/CLAUDE.md
  internal/hostproxy/daemon.go
  internal/hostproxy/daemon_test.go
  internal/hostproxy/manager.go
  internal/hostproxy/manager_test.go
  internal/hostproxy/server.go
  internal/socketbridge/manager.go
  internal/socketbridge/manager_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

chore(config): added bridge pid file path
  internal/config/CLAUDE.md
  internal/config/config.go
  internal/config/config_test.go
  internal/config/consts.go
Due: semgrep, govulncheck, go-test, claude-freshness

docs: mark socketbridge migration complete in PRD and foundation memory
  .serena/memories/config-foundation-hostproxy-socketbridge-migration.md
  .serena/memories/configapocalypse-prd.md
Due: none

chore(config): added hostproxy pid and log dir
  internal/config/CLAUDE.md
  internal/config/config.go
  internal/config/consts.go
Due: semgrep, govulncheck, go-test, claude-freshness

chore(config): updated monitoring tests to fix errors. needs to be tested
  internal/monitor/templates.go
  internal/monitor/templates_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

chore(config): replace hardcoded "clawker.yaml" with clawkerConfigFileName const
  .serena/memories/configapocalypse-workspace-containerfs-migration.md
  internal/config/CLAUDE.md
  internal/config/config.go
  internal/config/config_test.go
  internal/config/consts.go
  internal/config/testdata/project/.clawkerignore
Due: semgrep, govulncheck, go-test, claude-freshness

chore(config): add atomic writes + cross-process file locking to Write paths
  internal/config/CLAUDE.md
  internal/config/config.go
  internal/config/config_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

docs: consolidate migration memories, update hostproxy/socketbridge CLAUDE.md
  .serena/memories/config-foundation-hostproxy-socketbridge-migration.md
  .serena/memories/config-migration-foundation-packages.md
  .serena/memories/configapocalypse-foundation-migration.md
  .serena/memories/configapocalypse-prd.md
Due: none

chore(config): added clawker ignore to consts, updated docs, added doc strings
  internal/config/CLAUDE.md
  internal/config/config.go
  internal/config/config_test.go
  internal/config/consts.go
  internal/config/defaults.go
Due: semgrep, govulncheck, go-test, claude-freshness

chore(config): migrate workspace + containerfs to Config interface (#5, #6)
  .serena/memories/configapocalypse-prd.md
  .serena/memories/configapocalypse-workspace-containerfs-migration.md
  internal/containerfs/CLAUDE.md
  internal/containerfs/containerfs.go
  internal/containerfs/containerfs_test.go
  internal/workspace/CLAUDE.md
  internal/workspace/setup.go
  internal/workspace/setup_test.go
  internal/workspace/strategy.go
  internal/workspace/strategy_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

chore(config): monitoring template tests passing using NewConfigFromString
  internal/monitor/templates_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

feature(projectmanager)): oh boy
  internal/config/config.go
  internal/project/stubs.go
  internal/project/stubs_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

feature(projectmanager)): ai slop test doubles cause i'm exhausted fingers crossed :D
  .claude/docs/TESTING-REFERENCE.md
  docs/testing.md
  internal/git/CLAUDE.md
  internal/project/CLAUDE.md
  internal/project/manager.go
  internal/project/manager_mock.go
  internal/project/manager_test.go
  internal/project/project_mock.go
  internal/project/projecttest/registry.go
  internal/project/projecttest/registry_test.go
  internal/project/register_test.go
  internal/project/stubs.go
  internal/project/stubs_test.go
  internal/project/testdata/TestRegistry_EndToEndLifecycle_GoldenSnapshots/registry_end_to_end_lifecycle.yaml.golden
  internal/project/testdata/config/clawker.yaml
  internal/project/testdata/config/projects.yaml
  internal/project/testdata/config/settings.yaml
  internal/project/testdata/project/clawker.yaml
  internal/project/worktree_service_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

chore(config): fixed bad test doubles
  .claude/docs/TESTING-REFERENCE.md
  .claude/rules/code-style.md
  .claude/rules/testing.md
  .serena/memories/brainstorm_config-test-doubles.md
  docs/testing.md
  internal/config/CLAUDE.md
  internal/config/config_mock.go
  internal/config/config_test.go
  internal/config/mock.go
  internal/config/mock/config.go
  internal/config/stubs.go
  internal/config/stubs_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

chore(config): XDG base dir spec
  internal/config/config.go
  internal/config/config_mock.go
  internal/config/config_test.go
  internal/config/consts.go
  internal/config/mock.go
  internal/config/mock/config.go
  internal/config/schema.go
  internal/config/stubs.go
Due: semgrep, govulncheck, go-test, claude-freshness

chore(init): migrate to new config interface + BuildDefaultImage
  .serena/memories/configapocalypse-command-migration-tracker.md
  internal/cmd/init/init.go
  internal/cmd/init/init_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

chore(config): yikes
  internal/config/config.go
Due: semgrep, govulncheck, go-test, claude-freshness

chore(factory): green
  .serena/memories/configapocalypse-command-migration-tracker.md
  internal/cmd/factory/default.go
  internal/cmd/factory/default_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness
