Repository schmitthub/clawker: changes, and which pre-commit hooks are due for each by the changed paths.
All: semgrep, govulncheck, go-test, docs-check, licenses-check, claude-freshness

.pre-commit-config.yaml:

# Pre-commit hooks — mirrors CI quality gates locally.
# Install: bash scripts/install-hooks.sh
# Run all: pre-commit run --all-files
# Run one: pre-commit run gitleaks --all-files

repos:
  # ── Security ──────────────────────────────────────────────────────────────
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.30.0
    hooks:
      - id: gitleaks
        args: [--baseline-path, gitleaks-report.json]

  # ── Lint ──────────────────────────────────────────────────────────────────
  - repo: https://github.com/golangci/golangci-lint
    rev: v2.9.0
    hooks:
      - id: golangci-lint-full
        args: [--config, .golangci.yml]

  # ── Local hooks ───────────────────────────────────────────────────────────
  - repo: local
    hooks:
      - id: semgrep
        name: Semgrep SAST
        # Expected version: 1.146.0 (must match CI image tag in security.yml)
        entry: semgrep scan --baseline-commit HEAD --config p/golang --config p/security-audit --error
        language: system
        types: [go]
        pass_filenames: false

      - id: govulncheck
        name: govulncheck SCA
        entry: govulncheck ./...
        language: system
        types: [go]
        pass_filenames: false

      - id: go-test
        name: Unit tests
        entry: make test
        language: system
        types: [go]
        pass_filenames: false

      - id: docs-check
        name: CLI docs freshness
        entry: make docs-check
        language: system
        files: ^(cmd/|internal/cmd/|internal/docs/)
        pass_filenames: false

      - id: licenses-check
        name: NOTICE freshness
        entry: make licenses-check
        language: system
        files: ^go\.(mod|sum)$
        pass_filenames: false

      - id: claude-freshness
        name: Claude doc freshness (advisory)
        entry: bash -c 'bash scripts/check-claude-freshness.sh --strict --non-interactive --no-color | head -50 || true'
        language: system
        files: \.go$
        pass_filenames: false
        verbose: true

fix(release): version+os+arch attestation subjects, include CLI binaries
  .github/workflows/release-build.yml
Due: none

fix(release): version+os+arch attestation subjects, include CLI binaries (#282)
  .github/workflows/release-build.yml
  .serena/memories/bug-tracker.md
Due: none

fix(bundler): bake Node.js into agent images for Claude Code hooks
  claude-plugin/clawker-support/skills/clawker-support/reference/Dockerfile.tmpl
  internal/bundler/CLAUDE.md
  internal/bundler/assets/Dockerfile.tmpl
  internal/bundler/dockerfile_test.go
  internal/config/presets.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix(bundler): correct Node release-keys GPG fingerprint for v24.x
  claude-plugin/clawker-support/skills/clawker-support/reference/Dockerfile.tmpl
  internal/bundler/assets/Dockerfile.tmpl
Due: none

fix(bundler): preconfigure npm global prefix for unprivileged user
  claude-plugin/clawker-support/skills/clawker-support/reference/Dockerfile.tmpl
  internal/bundler/assets/Dockerfile.tmpl
Due: none

fix(bundler): scope npm prefix+PATH to claude user via dotfiles
  claude-plugin/clawker-support/skills/clawker-support/reference/Dockerfile.tmpl
  internal/bundler/assets/Dockerfile.tmpl
Due: none

fix(bundler): use ${HOME} (npm-expanded) not ${USERNAME} in .npmrc
  claude-plugin/clawker-support/skills/clawker-support/reference/Dockerfile.tmpl
  internal/bundler/assets/Dockerfile.tmpl
Due: none

fix(bundler): inject PATH via /etc/claude-code/managed-settings.json
  claude-plugin/clawker-support/skills/clawker-support/reference/Dockerfile.tmpl
  internal/bundler/assets/Dockerfile.tmpl
Due: none

feat: added npm registry to default firewall rules
  .clawker.yaml
  .serena/memories/bug-tracker.md
  internal/config/defaults.go
  internal/config/presets.go
  internal/config/presets_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

chore: dockerfile.tmpl fix
  claude-plugin/clawker-support/skills/clawker-support/reference/Dockerfile.tmpl
  internal/bundler/CLAUDE.md
  internal/bundler/assets/Dockerfile.tmpl
  internal/bundler/dockerfile_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix(bundler): bake Node.js into agent images for Claude Code runtime (#283)
  .clawker.yaml
  .serena/memories/bug-tracker.md
  claude-plugin/clawker-support/skills/clawker-support/reference/Dockerfile.tmpl
  internal/bundler/CLAUDE.md
  internal/bundler/assets/Dockerfile.tmpl
  internal/bundler/dockerfile_test.go
  internal/config/defaults.go
  internal/config/presets.go
  internal/config/presets_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

chore: comment fix
  claude-plugin/clawker-support/skills/clawker-support/reference/Dockerfile.tmpl
  internal/bundler/assets/Dockerfile.tmpl
Due: none

docs: refresh user-facing docs for CP, clawkerd, eBPF firewall
  .serena/memories/bug-tracker.md
  README.md
  claude-plugin/clawker-support/.claude-plugin/plugin.json
  claude-plugin/clawker-support/skills/clawker-support/SKILL.md
  claude-plugin/clawker-support/skills/clawker-support/reference/troubleshooting.md
  docs/architecture.mdx
  docs/configuration.mdx
  docs/container-internals.mdx
  docs/control-plane.mdx
  docs/design.mdx
  docs/docs.json
  docs/firewall.mdx
  docs/quickstart.mdx
  docs/security.mdx
  docs/threat-model.mdx
  internal/config/schema.go
Due: semgrep, govulncheck, go-test, claude-freshness

docs: fix CP/firewall doc accuracy + drop docker grant in skill manifest
  claude-plugin/clawker-support/skills/clawker-support/SKILL.md
  docs/architecture.mdx
  docs/configuration.mdx
  docs/control-plane.mdx
  docs/firewall.mdx
  internal/config/schema.go
Due: semgrep, govulncheck, go-test, claude-freshness

docs: refresh user-facing docs for CP, clawkerd, eBPF firewall (#285)
  .serena/memories/bug-tracker.md
  README.md
  claude-plugin/clawker-support/.claude-plugin/plugin.json
  claude-plugin/clawker-support/skills/clawker-support/SKILL.md
  claude-plugin/clawker-support/skills/clawker-support/reference/troubleshooting.md
  docs/architecture.mdx
  docs/configuration.mdx
  docs/container-internals.mdx
  docs/control-plane.mdx
  docs/design.mdx
  docs/docs.json
  docs/firewall.mdx
  docs/quickstart.mdx
  docs/security.mdx
  docs/threat-model.mdx
  internal/config/schema.go
Due: semgrep, govulncheck, go-test, claude-freshness

chore(clawker): bump serena version
  .clawker.yaml
Due: none

docs(brainstorm): capture eBPF event-stream monitoring design
  .serena/memories/brainstorm_otel-network-monitoring-ebpf.html
  .serena/memories/brainstorm_otel-network-monitoring-ebpf.md
Due: none

refactor(monitoring): swap Loki/Jaeger/Grafana for OpenSearch + Dashboards
  .claude/docs/MONITORING-REFERENCE.md
  .claude/rules/monitoring.md
  .serena/memories/brainstorm_otel-network-monitoring-ebpf.html
  README.md
  docs/cli-reference/clawker_monitor.md
  docs/cli-reference/clawker_monitor_init.md
  docs/cli-reference/clawker_monitor_up.md
  docs/configuration.mdx
  docs/monitoring.mdx
  internal/bundler/dockerfile.go
  internal/bundler/dockerfile_test.go
  internal/cmd/container/shared/container_create.go
  internal/cmd/monitor/CLAUDE.md
  internal/cmd/monitor/init/init.go
  internal/cmd/monitor/monitor.go
  internal/cmd/monitor/status/status.go
  internal/cmd/monitor/up/up.go
  internal/config/config.go
  internal/config/config_test.go
  internal/config/consts.go
  internal/config/mocks/config_mock.go
  internal/config/mocks/stubs.go
  internal/config/schema.go
  internal/consts/consts.go
  internal/controlplane/firewall/coredns_config.go
  internal/controlplane/firewall/coredns_config_test.go
  internal/controlplane/firewall/testdata/corefile_basic.golden
  internal/docker/env.go
  internal/monitor/CLAUDE.md
  internal/monitor/templates.go
  internal/monitor/templates/compose.yaml.tmpl
  internal/monitor/templates/grafana-dashboard-cp.json
  internal/monitor/templates/grafana-dashboard.json
  internal/monitor/templates/grafana-dashboards.yaml
  internal/monitor/templates/grafana-datasources.yaml.tmpl
  internal/monitor/templates/otel-config.yaml.tmpl
  internal/monitor/templates/prometheus.yaml.tmpl
  internal/monitor/templates/promtail-config.yaml.tmpl
  internal/monitor/templates_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

refactor(monitoring): mirror OTel demo collector + add host/docker metrics
  docs/configuration.mdx
  internal/cmd/monitor/init/init.go
  internal/config/schema.go
  internal/consts/consts.go
  internal/consts/monitoring.go
  internal/monitor/CLAUDE.md
  internal/monitor/templates.go
  internal/monitor/templates/compose.yaml.tmpl
  internal/monitor/templates/otel-config.yaml.tmpl
  internal/monitor/templates_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

feat(monitoring): optimized compose settings
  internal/monitor/templates/compose.yaml.tmpl
Due: none

feat(monitoring): split metrics→Prometheus, logs→otel-collector
  docs/configuration.mdx
  internal/bundler/dockerfile.go
  internal/bundler/dockerfile_test.go
  internal/cmd/monitor/init/init.go
  internal/cmd/monitor/status/status.go
  internal/cmd/monitor/up/up.go
  internal/config/config.go
  internal/config/config_test.go
  internal/config/consts.go
  internal/config/mocks/config_mock.go
  internal/config/mocks/stubs.go
  internal/config/schema.go
  internal/monitor/templates/compose.yaml.tmpl
  internal/monitor/templates_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

refactor(monitoring): route metrics via collector, split log indices by service.name
  .claude/rules/monitoring.md
  docs/configuration.mdx
  docs/monitoring.mdx
  internal/bundler/CLAUDE.md
  internal/config/consts.go
  internal/config/schema.go
  internal/monitor/CLAUDE.md
  internal/monitor/templates/compose.yaml.tmpl
  internal/monitor/templates/otel-config.yaml.tmpl
  internal/monitor/templates/prometheus.yaml.tmpl
  internal/monitor/templates_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

docs(monitoring): refresh for OpenSearch stack, drop trace claims
  .claude/docs/ARCHITECTURE.md
  .claude/docs/DESIGN.md
  .claude/docs/MONITORING-REFERENCE.md
  README.md
  claude-plugin/clawker-support/.claude-plugin/plugin.json
  claude-plugin/clawker-support/skills/clawker-support/reference/sample-go.yaml
  docs/architecture.mdx
  docs/configuration.mdx
  docs/index.mdx
  docs/monitoring.mdx
  docs/quickstart.mdx
  docs/threat-model.mdx
  internal/config/CLAUDE.md
  internal/config/schema.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix(monitor): show host URLs in user output
  internal/cmd/monitor/init/init.go
  internal/cmd/monitor/status/status.go
  internal/cmd/monitor/up/up.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

refactor(monitoring): Copilot review pass
  .claude/docs/MONITORING-REFERENCE.md
  .claude/rules/monitoring.md
  .serena/memories/bug-tracker.md
  docs/configuration.mdx
  docs/monitoring.mdx
  docs/threat-model.mdx
  internal/bundler/CLAUDE.md
  internal/bundler/dockerfile.go
  internal/cmd/factory/default.go
  internal/cmd/monitor/CLAUDE.md
  internal/config/config.go
  internal/config/schema.go
  internal/consts/monitoring.go
  internal/controlplane/firewall/testdata/corefile_basic.golden
  internal/monitor/CLAUDE.md
  internal/monitor/templates.go
  internal/monitor/templates/compose.yaml.tmpl
  internal/monitor/templates/otel-config.yaml.tmpl
  internal/monitor/templates_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

feat(monitoring): wire envoy + coredns logs to OpenSearch
  .claude/rules/monitoring.md
  internal/controlplane/firewall/CLAUDE.md
  internal/controlplane/firewall/envoy_config.go
  internal/controlplane/firewall/envoy_config_test.go
  internal/controlplane/firewall/stack.go
  internal/monitor/CLAUDE.md
  internal/monitor/templates/compose.yaml.tmpl
  internal/monitor/templates/otel-config.yaml.tmpl
  internal/monitor/templates_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix(monitoring): filelog filter for CoreDNS [INFO] prefix + doc 4-index pattern
  .claude/rules/monitoring.md
  docs/monitoring.mdx
  internal/monitor/CLAUDE.md
  internal/monitor/templates/otel-config.yaml.tmpl
Due: none

fix(monitoring): single configurable port per service + Copilot review
  .claude/rules/monitoring.md
  .serena/memories/bug-tracker.md
  README.md
  docs/monitoring.mdx
  internal/bundler/dockerfile_test.go
  internal/cmd/factory/default.go
  internal/config/consts.go
  internal/consts/monitoring.go
  internal/monitor/CLAUDE.md
  internal/monitor/templates.go
  internal/monitor/templates/compose.yaml.tmpl
  internal/monitor/templates/otel-config.yaml.tmpl
  internal/monitor/templates_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

Add CoreDNS OTEL logging plugin
  cmd/coredns-clawker/main.go
  cmd/coredns-clawker/plugins/otel/log.go
  cmd/coredns-clawker/plugins/otel/otel.go
  cmd/coredns-clawker/plugins/otel/otel_test.go
  cmd/coredns-clawker/plugins/otel/setup.go
  internal/controlplane/firewall/coredns_config.go
  internal/controlplane/firewall/testdata/corefile_basic.golden
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

feat(monitoring): CP-issued mTLS for infra OTLP push
  .claude/rules/monitoring.md
  NOTICE
  cmd/clawker-cp/main.go
  cmd/coredns-clawker/CLAUDE.md
  cmd/coredns-clawker/plugins/otel/CLAUDE.md
  cmd/coredns-clawker/plugins/otel/otel.go
  docs/configuration.mdx
  go.mod
  go.sum
  internal/auth/CLAUDE.md
  internal/auth/auth_material.go
  internal/auth/auth_test.go
  internal/config/schema.go
  internal/consts/consts.go
  internal/consts/controlplane.go
  internal/controlplane/cpboot/container_config_test.go
  internal/controlplane/cpboot/cp_container.go
  internal/controlplane/firewall/CLAUDE.md
  internal/controlplane/firewall/container_spec_test.go
  internal/controlplane/firewall/envoy_config.go
  internal/controlplane/firewall/envoy_config_test.go
  internal/controlplane/firewall/stack.go
  internal/controlplane/firewall/stack_infracerts_internal_test.go
  internal/controlplane/firewall/stack_test.go
  internal/controlplane/infracerts/CLAUDE.md
  internal/controlplane/infracerts/infracerts.go
  internal/controlplane/infracerts/infracerts_test.go
  internal/monitor/CLAUDE.md
  internal/monitor/templates.go
  internal/monitor/templates/compose.yaml.tmpl
  internal/monitor/templates/otel-config.yaml.tmpl
  internal/monitor/templates_test.go
Due: semgrep, govulncheck, go-test, docs-check, licenses-check, claude-freshness

chore: linter quality fixes
  cmd/coredns-clawker/plugins/otel/setup.go
  internal/docs/configdoc.go
  internal/storage/field.go
  internal/storage/write.go
  internal/storeui/reflect.go
  internal/storeui/value.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(coredns-otel): review pass — retry, leaf rotation, coverage
  cmd/coredns-clawker/CLAUDE.md
  cmd/coredns-clawker/main.go
  cmd/coredns-clawker/plugins/otel/CLAUDE.md
  cmd/coredns-clawker/plugins/otel/otel.go
  cmd/coredns-clawker/plugins/otel/otel_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(monitoring): otel server cert SAN drift + drop require_client_auth
  docs/configuration.mdx
  internal/auth/auth_material.go
  internal/auth/auth_test.go
  internal/config/schema.go
  internal/monitor/templates/otel-config.yaml.tmpl
Due: semgrep, govulncheck, go-test, claude-freshness

fix: coredns otel review fixes
  .serena/project.yml
  cmd/coredns-clawker/plugins/otel/setup.go
  internal/controlplane/firewall/container_spec_test.go
  internal/controlplane/firewall/stack.go
  internal/controlplane/firewall/stack_infracerts_internal_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(monitoring): CP logger uses OTLP/gRPC + mirror records to stdout
  NOTICE
  cmd/clawker-cp/main.go
  go.mod
  go.sum
  internal/logger/logger.go
Due: semgrep, govulncheck, go-test, docs-check, licenses-check, claude-freshness

fix(monitoring): review pass — atomic cert writes, key migration, doc drift
  .claude/docs/DESIGN.md
  .claude/docs/MONITORING-REFERENCE.md
  .claude/rules/monitoring.md
  .clawker.yaml
  Makefile
  README.md
  cmd/coredns-clawker/plugins/otel/CLAUDE.md
  docs/quickstart.mdx
  internal/auth/auth_material.go
  internal/auth/auth_test.go
  internal/cmd/factory/default.go
  internal/config/consts.go
  internal/config/schema.go
  internal/consts/monitoring.go
  internal/controlplane/firewall/container_spec_test.go
  internal/controlplane/firewall/stack.go
  internal/controlplane/firewall/stack_infracerts_internal_test.go
  internal/monitor/CLAUDE.md
  internal/monitor/templates/compose.yaml.tmpl
  internal/monitor/templates_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(monitoring): PR #287 review pass — drift detection, degrade paths, coverage
  cmd/clawker-cp/main.go
  cmd/coredns-clawker/plugins/otel/otel_test.go
  cmd/coredns-clawker/plugins/otel/setup.go
  docs/configuration.mdx
  internal/auth/CLAUDE.md
  internal/auth/auth_test.go
  internal/bundler/dockerfile_test.go
  internal/cmd/monitor/status/status.go
  internal/cmd/monitor/up/up.go
  internal/config/CLAUDE.md
  internal/config/config.go
  internal/config/migrations.go
  internal/config/schema.go
  internal/controlplane/firewall/stack.go
  internal/controlplane/firewall/stack_infracerts_internal_test.go
  internal/controlplane/infracerts/infracerts_test.go
  internal/logger/CLAUDE.md
  internal/logger/logger.go
  internal/logger/logger_test.go
  internal/logger/otel_writer.go
  internal/monitor/templates/otel-config.yaml.tmpl
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(monitoring): PR #287 Copilot review — typed-nil, drift, CLI lane, hardening
  .claude/rules/monitoring.md
  cmd/clawker-cp/main.go
  cmd/coredns-clawker/CLAUDE.md
  cmd/coredns-clawker/plugins/otel/CLAUDE.md
  docs/cli-reference/clawker_monitor_init.md
  docs/configuration.mdx
  internal/cmd/factory/default.go
  internal/cmd/monitor/down/down.go
  internal/cmd/monitor/init/init.go
  internal/cmd/monitor/up/up.go
  internal/config/migrations.go
  internal/config/port.go
  internal/config/port_test.go
  internal/config/schema.go
  internal/controlplane/cpboot/container_config_test.go
  internal/controlplane/cpboot/cp_container.go
  internal/controlplane/firewall/CLAUDE.md
  internal/controlplane/firewall/coredns_config.go
  internal/controlplane/firewall/envoy_config.go
  internal/controlplane/firewall/envoy_config_test.go
  internal/controlplane/firewall/stack.go
  internal/controlplane/firewall/stack_infracerts_internal_test.go
  internal/controlplane/infracerts/infracerts.go
  internal/logger/logger.go
  internal/monitor/CLAUDE.md
  internal/monitor/templates.go
  internal/monitor/templates/otel-config.yaml.tmpl
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness
