Repository schmitthub/clawker: changes, and which pre-commit hooks are due for each by the changed paths.
All: semgrep, govulncheck, go-test, docs-check, licenses-check, claude-freshness

.pre-commit-config.yaml:

# Pre-commit hooks — mirrors CI quality gates locally.
# Install: bash scripts/install-hooks.sh
# Run all: pre-commit run --all-files
# Run one: pre-commit run gitleaks --all-files

repos:
  # ── Security ──────────────────────────────────────────────────────────────
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.30.0
    hooks:
      - id: gitleaks
        args: [--baseline-path, gitleaks-report.json]

  # ── Lint ──────────────────────────────────────────────────────────────────
  - repo: https://github.com/golangci/golangci-lint
    rev: v2.9.0
    hooks:
      - id: golangci-lint-full
        args: [--config, .golangci.yml]

  # ── Local hooks ───────────────────────────────────────────────────────────
  - repo: local
    hooks:
      - id: semgrep
        name: Semgrep SAST
        # Expected version: 1.146.0 (must match CI image tag in security.yml)
        entry: semgrep scan --baseline-commit HEAD --config p/golang --config p/security-audit --error
        language: system
        types: [go]
        pass_filenames: false

      - id: govulncheck
        name: govulncheck SCA
        entry: govulncheck ./...
        language: system
        types: [go]
        pass_filenames: false

      - id: go-test
        name: Unit tests
        entry: make test
        language: system
        types: [go]
        pass_filenames: false

      - id: docs-check
        name: CLI docs freshness
        entry: make docs-check
        language: system
        files: ^(cmd/|internal/cmd/|internal/docs/)
        pass_filenames: false

      - id: licenses-check
        name: NOTICE freshness
        entry: make licenses-check
        language: system
        files: ^go\.(mod|sum)$
        pass_filenames: false

      - id: claude-freshness
        name: Claude doc freshness (advisory)
        entry: bash -c 'bash scripts/check-claude-freshness.sh --strict --non-interactive --no-color | head -50 || true'
        language: system
        files: \.go$
        pass_filenames: false
        verbose: true

feat(bundle): fetch subsystem — go-git clone/resolve, cache commit pipeline, real install/update, in-process git fixture over http+ssh
  .claude/rules/iostreams.md
  .serena/memories/brainstorm_clawker-bundle-install-model.html
  NOTICE
  go.mod
  internal/bundle/CLAUDE.md
  internal/bundle/address.go
  internal/bundle/bundletest/gitfixture.go
  internal/bundle/fetch/auth.go
  internal/bundle/fetch/fetch.go
  internal/bundle/fetch/fetch_test.go
  internal/bundle/install.go
  internal/bundle/install_internal_test.go
  internal/bundle/manager.go
  internal/bundle/manager_integration_test.go
  internal/bundle/sourcemeta.go
  internal/bundle/update.go
  internal/cmd/bundle/CLAUDE.md
  internal/cmd/bundle/install/install.go
  internal/cmd/bundle/install/install_test.go
  internal/cmd/bundle/update/update.go
  internal/cmd/bundle/update/update_test.go
  internal/cmd/container/create/create.go
  internal/cmd/container/run/run.go
  internal/cmd/container/shared/container_start.go
  internal/cmd/image/CLAUDE.md
  internal/cmd/image/build/build.go
  internal/cmd/monitor/up/up.go
  internal/cmdutil/autoupdate.go
Due: semgrep, govulncheck, go-test, docs-check, licenses-check, claude-freshness

test(bundle): end-to-end journey matrix over the git fixture — install→cache→qualified selection→render, http and ssh
  internal/bundle/manager_integration_test.go
  internal/bundle/resolver_internal_test.go
  internal/bundler/golden_test.go
  internal/bundler/journey_test.go
  internal/bundler/testdata/golden/qualified-stack.base.Dockerfile
  test/e2e/bundle_build_test.go
  test/e2e/monitor_bundle_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

docs: bundle-install model — 8 new pages, stale rewrites, monitoring schema, skill + changelog
  CHANGELOG.md
  claude-plugin/clawker-support/.claude-plugin/plugin.json
  claude-plugin/clawker-support/skills/clawker-support/SKILL.md
  claude-plugin/clawker-support/skills/clawker-support/reference/monitoring.md
  cmd/gen-docs/main.go
  docs/authoring-bundles.mdx
  docs/authoring-harnesses.mdx
  docs/authoring-monitoring.mdx
  docs/authoring-stacks.mdx
  docs/bundles.mdx
  docs/custom-images.mdx
  docs/docs.json
  docs/harnesses.mdx
  docs/index.mdx
  docs/monitoring-extensions.mdx
  docs/monitoring.mdx
  docs/quickstart.mdx
  docs/schemas/monitoring.schema.json
  docs/stacks.mdx
  internal/bundle/bundletest/gitfixture.go
  internal/bundle/fetch/fetch.go
  internal/config/harness_schema.go
  internal/config/monitoring_schema.go
  internal/consts/consts.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

feat(bundle)!: local path sources resolve relative to their declaring file — one rule, every layer
  .serena/memories/brainstorm_clawker-bundle-install-model.html
  docs/bundles.mdx
  docs/configuration.mdx
  docs/schemas/clawker.schema.json
  internal/bundle/resolver.go
  internal/bundle/resolver_internal_test.go
  internal/cmd/bundle/install/install.go
  internal/cmd/bundle/install/install_internal_test.go
  internal/cmd/bundle/install/target.go
  internal/config/bundle_schema.go
  internal/config/bundle_source_validate_test.go
  internal/config/bundles_internal_test.go
  internal/config/validate.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(bundle)!: in-place vs cached same-identity bundle is a C1 hard error, not a silent override
  .serena/memories/brainstorm_clawker-bundle-install-model.html
  docs/authoring-bundles.mdx
  internal/bundle/CLAUDE.md
  internal/bundle/errors.go
  internal/bundle/resolver.go
  internal/bundle/resolver_internal_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

feat(bundle)!: declaration-gate cached bundles on live source declarations
  .serena/memories/brainstorm_clawker-bundle-install-model.html
  docs/authoring-bundles.mdx
  docs/bundles.mdx
  internal/bundle/CLAUDE.md
  internal/bundle/manager_integration_test.go
  internal/bundle/resolver.go
  internal/bundle/resolver_internal_test.go
  internal/bundle/sourcemeta.go
  internal/bundle/status.go
  internal/bundle/status_internal_test.go
  internal/bundler/golden_test.go
  internal/bundler/journey_test.go
  internal/bundler/stack_test.go
  internal/cmd/bundle/CLAUDE.md
  internal/cmd/bundle/list/list.go
  internal/cmd/bundle/list/list_test.go
  internal/cmd/container/shared/container_start_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

feat(bundle): unpinned remote sources track the repository's default branch
  .serena/memories/brainstorm_clawker-bundle-install-model.html
  docs/bundles.mdx
  docs/cli-reference/clawker_bundle_install.md
  docs/cli-reference/clawker_bundle_update.md
  docs/configuration.mdx
  docs/schemas/clawker.schema.json
  internal/bundle/fetch/fetch.go
  internal/bundle/manager_integration_test.go
  internal/bundle/update.go
  internal/cmd/bundle/install/install.go
  internal/cmd/bundle/install/install_test.go
  internal/cmd/bundle/update/update.go
  internal/config/bundle_schema.go
  internal/config/bundle_source_validate_test.go
  internal/config/bundles_test.go
  internal/config/validate.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

feat(monitor)!: opt-in extensions, floor-only init, explicit reload; bundle shorthand verbatim
  .serena/memories/brainstorm_clawker-bundle-install-model.html
  CHANGELOG.md
  claude-plugin/clawker-support/skills/clawker-support/reference/monitoring.md
  docs/cli-reference/clawker_monitor.md
  docs/cli-reference/clawker_monitor_init.md
  docs/cli-reference/clawker_monitor_reload.md
  docs/cli-reference/clawker_monitor_up.md
  docs/configuration.mdx
  docs/docs.json
  docs/monitoring-extensions.mdx
  docs/monitoring.mdx
  docs/schemas/clawker.schema.json
  internal/cmd/bundle/install/install.go
  internal/cmd/bundle/install/install_internal_test.go
  internal/cmd/monitor/CLAUDE.md
  internal/cmd/monitor/down/down.go
  internal/cmd/monitor/init/init.go
  internal/cmd/monitor/init/init_test.go
  internal/cmd/monitor/monitor.go
  internal/cmd/monitor/monitor_test.go
  internal/cmd/monitor/reload/reload.go
  internal/cmd/monitor/reload/reload_test.go
  internal/cmd/monitor/shared/stack.go
  internal/cmd/monitor/status/status.go
  internal/cmd/monitor/up/up.go
  internal/config/bundles_test.go
  internal/config/schema.go
  internal/monitor/unit_test.go
  internal/monitor/units.go
  test/e2e/monitor_bundle_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

feat(monitor,bundle)!: C5 seed collision is a hard error; re-pin updates cache in place
  .claude/rules/monitoring.md
  .serena/memories/brainstorm_clawker-bundle-install-model.html
  CHANGELOG.md
  docs/bundles.mdx
  docs/monitoring-extensions.mdx
  internal/bundle/CLAUDE.md
  internal/bundle/install.go
  internal/bundle/manager_integration_test.go
  internal/bundle/resolver.go
  internal/bundle/resolver_internal_test.go
  internal/bundle/source.go
  internal/bundle/sourcemeta.go
  internal/bundle/status.go
  internal/cmd/monitor/reload/reload.go
  internal/cmd/monitor/shared/stack.go
  internal/cmd/monitor/up/up.go
  internal/monitor/CLAUDE.md
  internal/monitor/ledger.go
  internal/monitor/ledger_test.go
  internal/monitor/units.go
  internal/monitor/units_test.go
  test/e2e/monitor_bundle_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

docs(brainstorm): mark C5 resolved in open-questions index
  .serena/memories/brainstorm_clawker-bundle-install-model.html
Due: none

docs(changelog): cover multi-harness breaking changes in 0.13.0
  CHANGELOG.md
Due: none

fix(bundler): re-include fzf doc files stripped by the slim substrate
  internal/bundler/assets/Dockerfile.base.tmpl
  internal/bundler/testdata/golden/harness-overlay.base.Dockerfile
  internal/bundler/testdata/golden/minimal-buildkit.base.Dockerfile
  internal/bundler/testdata/golden/minimal.base.Dockerfile
  internal/bundler/testdata/golden/packages-instructions-inject.base.Dockerfile
  internal/bundler/testdata/golden/qualified-stack.base.Dockerfile
  internal/bundler/testdata/golden/telemetry-flags-off.base.Dockerfile
Due: none

fix(make): clawker-clean must not delete bin/ and dist/ themselves
  Makefile
Due: none

fix(build): no false success line or docker tips when generation fails
  internal/cmd/image/build/build.go
  internal/docker/builder.go
  internal/tui/progress.go
  internal/tui/progress_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

test(bundle): --project outside a project dir errors, user target untouched
  internal/cmd/bundle/install/install_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

feat(bundle,cli)!: bundle list shows bundles only; add per-type inventory commands
  CHANGELOG.md
  CLAUDE.md
  claude-plugin/clawker-support/skills/clawker-support/SKILL.md
  docs/bundles.mdx
  docs/cli-reference/clawker.md
  docs/cli-reference/clawker_bundle.md
  docs/cli-reference/clawker_bundle_list.md
  docs/cli-reference/clawker_harness.md
  docs/cli-reference/clawker_harness_list.md
  docs/cli-reference/clawker_monitor.md
  docs/cli-reference/clawker_monitor_extensions.md
  docs/cli-reference/clawker_stack.md
  docs/cli-reference/clawker_stack_list.md
  docs/docs.json
  docs/harnesses.mdx
  docs/monitoring-extensions.mdx
  docs/stacks.mdx
  internal/bundle/CLAUDE.md
  internal/bundle/bundletest/cache.go
  internal/bundle/inventory.go
  internal/cmd/bundle/CLAUDE.md
  internal/cmd/bundle/list/list.go
  internal/cmd/bundle/list/list_test.go
  internal/cmd/container/shared/container_start_test.go
  internal/cmd/harness/harness.go
  internal/cmd/harness/list/list.go
  internal/cmd/harness/list/list_test.go
  internal/cmd/monitor/CLAUDE.md
  internal/cmd/monitor/extensions/extensions.go
  internal/cmd/monitor/extensions/extensions_test.go
  internal/cmd/monitor/monitor.go
  internal/cmd/root/CLAUDE.md
  internal/cmd/root/root.go
  internal/cmd/stack/list/list.go
  internal/cmd/stack/list/list_test.go
  internal/cmd/stack/stack.go
  internal/cmdutil/CLAUDE.md
  internal/cmdutil/inventory.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

docs(brainstorm): record ratified bundle-list reshape as shipped
  .serena/memories/brainstorm_clawker-bundle-install-model.html
Due: none

feat(bundle)!: value-keyed cache — entries keyed by declared source value
  .serena/memories/brainstorm_clawker-bundle-install-model.html
  CHANGELOG.md
  docs/bundles.mdx
  docs/cli-reference/clawker_bundle_remove.md
  internal/bundle/CLAUDE.md
  internal/bundle/bundletest/cache.go
  internal/bundle/bundletest/gitfixture.go
  internal/bundle/install.go
  internal/bundle/install_internal_test.go
  internal/bundle/installed.go
  internal/bundle/manager.go
  internal/bundle/manager_integration_test.go
  internal/bundle/receipt.go
  internal/bundle/resolver.go
  internal/bundle/resolver_internal_test.go
  internal/bundle/source.go
  internal/bundle/sourcemeta.go
  internal/bundle/status.go
  internal/bundle/status_internal_test.go
  internal/bundle/update.go
  internal/bundler/journey_test.go
  internal/bundler/stack_test.go
  internal/cmd/bundle/CLAUDE.md
  internal/cmd/bundle/install/install_test.go
  internal/cmd/bundle/remove/remove.go
  internal/cmd/bundle/update/update.go
  internal/cmd/bundle/update/update_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(ssh): repair truncated seeded host keys; tolerate damaged known_hosts in fetch
  controlplane/agent/exec.go
  controlplane/agent/exec_internal_test.go
  internal/bundle/CLAUDE.md
  internal/bundle/fetch/auth.go
  internal/bundle/fetch/fetch_test.go
  internal/bundle/fetch/knownhosts.go
  internal/consts/consts.go
Due: semgrep, govulncheck, go-test, claude-freshness

docs(brainstorm): record DataDir-not-XDG-cache ruling on value-keyed cache
  .serena/memories/brainstorm_clawker-bundle-install-model.html
Due: none

chore: added opencode firewall rule. codex config
  .clawker.yaml
  .codex/config.toml
Due: none

feat(config): build.harness — user-settable default harness
  CHANGELOG.md
  claude-plugin/clawker-support/skills/clawker-support/SKILL.md
  docs/cli-reference/clawker_build.md
  docs/cli-reference/clawker_image_build.md
  docs/configuration.mdx
  docs/custom-images.mdx
  docs/harnesses.mdx
  docs/quickstart.mdx
  docs/schemas/clawker.schema.json
  internal/bundler/dockerfile.go
  internal/bundler/egress.go
  internal/bundler/harness.go
  internal/bundler/harness_test.go
  internal/cmd/container/shared/CLAUDE.md
  internal/cmd/container/shared/container_create.go
  internal/cmd/container/shared/container_start.go
  internal/cmd/container/shared/image.go
  internal/cmd/firewall/refresh_test.go
  internal/cmd/image/build/build.go
  internal/cmd/image/build/build_test.go
  internal/cmd/root/aliases.go
  internal/config/schema.go
  internal/config/validate.go
  internal/config/validate_internal_test.go
  internal/config/validate_test.go
  internal/consts/consts.go
  internal/docker/builder_test.go
  internal/docker/names.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

docs(bundler,config): record build.harness in package API references
  internal/bundler/CLAUDE.md
  internal/config/CLAUDE.md
Due: none

docs(brainstorm): record ratified build.harness default-harness key
  .serena/memories/brainstorm_clawker-bundle-install-model.html
Due: none

feat(monitor): up is bring-up only — apply-to-running moves to reload
  .serena/memories/brainstorm_clawker-bundle-install-model.html
  CHANGELOG.md
  claude-plugin/clawker-support/skills/clawker-support/reference/monitoring.md
  docs/authoring-monitoring.mdx
  docs/cli-reference/clawker_monitor_up.md
  docs/monitoring-extensions.mdx
  docs/monitoring.mdx
  internal/cmd/monitor/CLAUDE.md
  internal/cmd/monitor/shared/stack.go
  internal/cmd/monitor/up/up.go
  test/e2e/monitor_bundle_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

feat(bundle): roots-based cache GC — prune verb, auto-GC on install/update, list fixes
  .serena/memories/brainstorm_clawker-bundle-install-model.html
  CHANGELOG.md
  claude-plugin/clawker-support/skills/clawker-support/SKILL.md
  docs/bundles.mdx
  docs/cli-reference/clawker_bundle.md
  docs/cli-reference/clawker_bundle_prune.md
  docs/docs.json
  internal/bundle/CLAUDE.md
  internal/bundle/bundletest/cache.go
  internal/bundle/gc.go
  internal/bundle/gc_integration_test.go
  internal/bundle/install.go
  internal/bundle/manager.go
  internal/bundle/manager_integration_test.go
  internal/bundle/source.go
  internal/bundle/status.go
  internal/bundle/status_internal_test.go
  internal/bundle/update.go
  internal/bundler/journey_test.go
  internal/cmd/bundle/CLAUDE.md
  internal/cmd/bundle/bundle.go
  internal/cmd/bundle/install/install.go
  internal/cmd/bundle/install/install_test.go
  internal/cmd/bundle/list/list.go
  internal/cmd/bundle/list/list_test.go
  internal/cmd/bundle/prune/prune.go
  internal/cmd/bundle/prune/prune_test.go
  internal/cmd/bundle/update/update.go
  internal/cmd/bundle/update/update_test.go
  internal/cmd/factory/default.go
  internal/cmd/factory/default_test.go
  internal/config/CLAUDE.md
  internal/config/bundles_test.go
  internal/config/config.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(e2e): wire harness Factory fully and make the bundle/monitor e2e tests runnable
  internal/cmd/monitor/shared/stack.go
  internal/monitor/ledger.go
  internal/monitor/ledger_test.go
  internal/monitor/templates.go
  internal/monitor/units.go
  test/CLAUDE.md
  test/e2e/bundle_build_test.go
  test/e2e/controlplane_cli_test.go
  test/e2e/harness/factory.go
  test/e2e/harness/harness.go
  test/e2e/monitor_bundle_test.go
  test/e2e/preset_builds_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

refactor(plugin)!: rename claude-plugin/ to clawker-plugin/ — multi-harness plugin surface
  .claude/workflows/docsweep.workflow.js
  .github/workflows/main.yml
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  claude-plugin/CLAUDE.md
  clawker-plugin/CLAUDE.md
  clawker-plugin/clawker-support/.claude-plugin/plugin.json
  clawker-plugin/clawker-support/CLAUDE.md
  clawker-plugin/clawker-support/LICENSE
  clawker-plugin/clawker-support/README.md
  clawker-plugin/clawker-support/package.json
  clawker-plugin/clawker-support/skills/clawker-support/SKILL.md
  clawker-plugin/clawker-support/skills/clawker-support/reference/claude-code.md
  clawker-plugin/clawker-support/skills/clawker-support/reference/docker-hygiene.md
  clawker-plugin/clawker-support/skills/clawker-support/reference/firewall-security.md
  clawker-plugin/clawker-support/skills/clawker-support/reference/known-issues.md
  clawker-plugin/clawker-support/skills/clawker-support/reference/mcp-recipes.md
  clawker-plugin/clawker-support/skills/clawker-support/reference/monitoring.md
  clawker-plugin/clawker-support/skills/clawker-support/reference/project-config.md
  clawker-plugin/clawker-support/skills/clawker-support/reference/sample-go.yaml
  clawker-plugin/clawker-support/skills/clawker-support/reference/sample-node.yaml
  clawker-plugin/clawker-support/skills/clawker-support/reference/settings.md
  clawker-plugin/clawker-support/skills/clawker-support/reference/troubleshooting.md
Due: none

feat(skill): --harness arg — install/remove/show for claude, codex, opencode, pi
  docs/cli-reference/clawker_skill.md
  docs/cli-reference/clawker_skill_install.md
  docs/cli-reference/clawker_skill_remove.md
  docs/cli-reference/clawker_skill_show.md
  internal/cmd/skill/CLAUDE.md
  internal/cmd/skill/install/install.go
  internal/cmd/skill/install/install_test.go
  internal/cmd/skill/remove/remove.go
  internal/cmd/skill/remove/remove_test.go
  internal/cmd/skill/shared/copy.go
  internal/cmd/skill/shared/copy_test.go
  internal/cmd/skill/shared/shared.go
  internal/cmd/skill/shared/shared_test.go
  internal/cmd/skill/show/show.go
  internal/cmd/skill/show/show_test.go
  internal/cmd/skill/skill.go
  internal/cmd/skill/skill_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

feat(config): default build.harness and monitor.extensions via defaults layer
  CHANGELOG.md
  clawker-plugin/clawker-support/skills/clawker-support/reference/monitoring.md
  docs/configuration.mdx
  docs/monitoring-extensions.mdx
  docs/schemas/clawker.schema.json
  internal/cmd/monitor/CLAUDE.md
  internal/config/bundles_test.go
  internal/config/config_test.go
  internal/config/schema.go
  internal/monitor/CLAUDE.md
  internal/monitor/units.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

feat(bundle): bake TypeScript into the built-in node stack
  CHANGELOG.md
  clawker-plugin/clawker-support/skills/clawker-support/reference/sample-node.yaml
  docs/custom-images.mdx
  internal/bundle/assets/stacks/node/Dockerfile.stack-root.tmpl
  internal/bundle/assets/stacks/node/stack.yaml
  internal/bundler/stack_test.go
  internal/bundler/testdata/golden/harness-overlay.harness.Dockerfile
  internal/bundler/testdata/golden/minimal-buildkit.harness.Dockerfile
  internal/bundler/testdata/golden/minimal.harness.Dockerfile
  internal/bundler/testdata/golden/packages-instructions-inject.harness.Dockerfile
  internal/bundler/testdata/golden/telemetry-flags-off.harness.Dockerfile
Due: semgrep, govulncheck, go-test, claude-freshness

feat(bundler): managed_prompt harness manifest key
  docs/authoring-harnesses.mdx
  docs/container-internals.mdx
  docs/schemas/harness.schema.json
  docs/security.mdx
  internal/bundle/assets/harnesses/claude/Dockerfile.harness.tmpl
  internal/bundle/assets/harnesses/claude/harness.yaml
  internal/bundler/CLAUDE.md
  internal/bundler/assets/Dockerfile.harness-image.tmpl
  internal/bundler/assets/clawker-agent-prompt.md
  internal/bundler/build_test.go
  internal/bundler/bundle.go
  internal/bundler/bundle_test.go
  internal/bundler/dockerfile.go
  internal/bundler/dockerfile_test.go
  internal/bundler/testdata/golden/harness-overlay.harness.Dockerfile
  internal/bundler/testdata/golden/minimal-buildkit.harness.Dockerfile
  internal/bundler/testdata/golden/minimal.harness.Dockerfile
  internal/bundler/testdata/golden/packages-instructions-inject.harness.Dockerfile
  internal/bundler/testdata/golden/telemetry-flags-off.harness.Dockerfile
  internal/config/CLAUDE.md
  internal/config/harness_schema.go
Due: semgrep, govulncheck, go-test, claude-freshness

refactor(bundler): event-descriptive harness block and inject names
  .serena/memories/multi-harness/README.md
  docs/authoring-harnesses.mdx
  docs/configuration.mdx
  docs/custom-images.mdx
  docs/schemas/clawker.schema.json
  internal/bundle/assets/harnesses/claude/Dockerfile.harness.tmpl
  internal/bundle/assets/harnesses/codex/Dockerfile.harness.tmpl
  internal/bundler/CLAUDE.md
  internal/bundler/assets/Dockerfile.harness-image.tmpl
  internal/bundler/bundle_test.go
  internal/bundler/compose.go
  internal/bundler/dockerfile.go
  internal/bundler/dockerfile_test.go
  internal/bundler/egress_test.go
  internal/bundler/golden_test.go
  internal/bundler/overlay_test.go
  internal/bundler/stack_test.go
  internal/bundler/testdata/golden/harness-overlay.harness.Dockerfile
  internal/bundler/testdata/golden/minimal-buildkit.harness.Dockerfile
  internal/bundler/testdata/golden/minimal.harness.Dockerfile
  internal/bundler/testdata/golden/packages-instructions-inject.harness.Dockerfile
  internal/bundler/testdata/golden/telemetry-flags-off.harness.Dockerfile
  internal/config/CLAUDE.md
  internal/config/schema.go
  internal/config/validate.go
  internal/config/validate_internal_test.go
  internal/config/validate_test.go
  internal/docker/builder_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

chore: clawker config update and brainstorm update
  .clawker.yaml
  .serena/memories/brainstorm_clawker-bundle-install-model.html
Due: none

feat(init,storeui,storage): build.harness customize field with per-field save targets
  docs/configuration.mdx
  docs/schemas/clawker.schema.json
  internal/cmd/project/CLAUDE.md
  internal/cmd/project/edit/edit.go
  internal/cmd/project/init/init.go
  internal/cmd/project/init/init_test.go
  internal/config/schema.go
  internal/config/storeui/project/project.go
  internal/config/storeui/project/project_test.go
  internal/storage/CLAUDE.md
  internal/storage/storage_test.go
  internal/storage/store.go
  internal/storeui/CLAUDE.md
  internal/storeui/edit.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

docs: sweep stale pre-multi-harness vocabulary; calver release examples
  .claude/docs/ARCHITECTURE.md
  CLAUDE.md
  Makefile
  README.md
  docs/cli-reference/clawker_build.md
  docs/cli-reference/clawker_image_build.md
  internal/cmd/image/build/build.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

test(init): pin build.harness override to a shown customize field
  internal/cmd/project/init/init_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

test(storage): sandbox cwd in relative-path rejection tests
  internal/storage/storage_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

revert: restore claude-plugin/ dir name so the live marketplace pin keeps resolving
  .claude/workflows/docsweep.workflow.js
  .github/workflows/main.yml
  .serena/memories/multi-harness/skill-distribution-native-install-research.md
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  claude-plugin/CLAUDE.md
  claude-plugin/clawker-support/.claude-plugin/plugin.json
  claude-plugin/clawker-support/CLAUDE.md
  claude-plugin/clawker-support/LICENSE
  claude-plugin/clawker-support/README.md
  claude-plugin/clawker-support/package.json
  claude-plugin/clawker-support/skills/clawker-support/SKILL.md
  claude-plugin/clawker-support/skills/clawker-support/reference/claude-code.md
  claude-plugin/clawker-support/skills/clawker-support/reference/docker-hygiene.md
  claude-plugin/clawker-support/skills/clawker-support/reference/firewall-security.md
  claude-plugin/clawker-support/skills/clawker-support/reference/known-issues.md
  claude-plugin/clawker-support/skills/clawker-support/reference/mcp-recipes.md
  claude-plugin/clawker-support/skills/clawker-support/reference/monitoring.md
  claude-plugin/clawker-support/skills/clawker-support/reference/project-config.md
  claude-plugin/clawker-support/skills/clawker-support/reference/sample-go.yaml
  claude-plugin/clawker-support/skills/clawker-support/reference/sample-node.yaml
  claude-plugin/clawker-support/skills/clawker-support/reference/settings.md
  claude-plugin/clawker-support/skills/clawker-support/reference/troubleshooting.md
  internal/cmd/skill/shared/copy_test.go
  internal/cmd/skill/show/show.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

docs(serena): correct dir-rename note in skill-distribution research memory
  .serena/memories/multi-harness/skill-distribution-native-install-research.md
Due: none
