Repository schmitthub/clawker: changes, and which pre-commit hooks are due for each by the changed paths.
All: semgrep, govulncheck, go-test, docs-check, licenses-check, claude-freshness

semgrep:
  name: Semgrep SAST
  entry: semgrep scan --baseline-commit HEAD --config p/golang --config p/security-audit --error
  language: system
  pass_filenames: false

govulncheck:
  name: govulncheck SCA
  entry: govulncheck ./...
  language: system
  pass_filenames: false

go-test:
  name: Unit tests
  entry: make test
  language: system
  pass_filenames: false

docs-check:
  name: CLI docs freshness
  entry: make docs-check
  language: system
  pass_filenames: false

licenses-check:
  name: NOTICE freshness
  entry: make licenses-check
  language: system
  pass_filenames: false

claude-freshness:
  name: Claude doc freshness (advisory)
  entry: bash -c 'bash scripts/check-claude-freshness.sh --strict --non-interactive --no-color | head -50 || true'
  language: system
  pass_filenames: false
  verbose: true

chore(deps): batch dependabot dependency updates (#351)
  .github/workflows/docs.yml
  .github/workflows/licenses.yml
  .github/workflows/lint.yml
  .github/workflows/main.yml
  .github/workflows/plugin.yml
  .github/workflows/release-build.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/test.yml
  go.mod
  go.sum
  test/adversarial/Dockerfile
Due: licenses-check

fix(worktree): pull remote-tracking branches with upstream (#302)
  docs/cli-reference/clawker_container_create.md
  docs/cli-reference/clawker_container_run.md
  docs/cli-reference/clawker_create.md
  docs/cli-reference/clawker_run.md
  docs/cli-reference/clawker_worktree_add.md
  docs/worktrees.mdx
  internal/cmd/container/shared/CLAUDE.md
  internal/cmd/container/shared/container_create.go
  internal/cmd/container/shared/workdir_test.go
  internal/cmd/worktree/CLAUDE.md
  internal/cmd/worktree/add/add.go
  internal/cmd/worktree/add/add_test.go
  internal/git/CLAUDE.md
  internal/git/git.go
  internal/git/git_test.go
  internal/project/CLAUDE.md
  internal/project/manager.go
  internal/project/mocks/project_mock.go
  internal/project/mocks/stubs.go
  internal/project/worktree_service.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

feat(statusline): show uncommitted-file count next to git branch
  internal/bundler/assets/statusline.sh
Due: none

feat(statusline): show uncommitted-file count next to git branch (#355)
  internal/bundler/assets/statusline.sh
Due: none

fix(project): harden registry/root-resolution error paths from review
  .claude/docs/ARCHITECTURE.md
  .claude/docs/DESIGN.md
  .claude/docs/KEY-CONCEPTS.md
  internal/cmd/container/restart/restart.go
  internal/cmd/container/run/run.go
  internal/cmd/container/shared/CLAUDE.md
  internal/cmd/container/shared/container_create.go
  internal/cmd/container/shared/container_start.go
  internal/cmd/container/shared/init_test.go
  internal/cmd/container/start/start.go
  internal/cmd/factory/CLAUDE.md
  internal/cmd/factory/default.go
  internal/cmd/image/build/build.go
  internal/cmd/project/CLAUDE.md
  internal/cmd/project/shared/discovery_test.go
  internal/config/CLAUDE.md
  internal/config/config.go
  internal/config/defaults.go
  internal/config/egress_rules_test.go
  internal/config/schema.go
  internal/consts/consts.go
  internal/controlplane/firewall/CLAUDE.md
  internal/project/CLAUDE.md
  internal/project/manager.go
  internal/project/project_test.go
  internal/project/registry.go
  internal/project/registry_schema.go
  internal/project/resolve.go
  internal/project/resolve_test.go
  internal/project/worktree_service.go
  internal/storage/CLAUDE.md
  internal/storage/discover.go
  internal/storage/errors.go
  internal/storage/options.go
  internal/storage/storage_test.go
  internal/storage/store.go
  internal/testenv/testenv.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

refactor(project): factory-owned Registry, kill ambient store construction
  .claude/docs/ARCHITECTURE.md
  .claude/docs/DESIGN.md
  .claude/docs/KEY-CONCEPTS.md
  .claude/docs/TESTING-REFERENCE.md
  .claude/rules/git.md
  internal/cmd/container/create/create.go
  internal/cmd/container/create/create_test.go
  internal/cmd/container/run/run.go
  internal/cmd/container/run/run_test.go
  internal/cmd/container/shared/container_create.go
  internal/cmd/container/shared/init_test.go
  internal/cmd/container/shared/workdir_test.go
  internal/cmd/factory/CLAUDE.md
  internal/cmd/factory/default.go
  internal/cmd/image/build/build.go
  internal/cmd/image/build/build_progress_test.go
  internal/cmd/project/shared/discovery_test.go
  internal/cmdutil/CLAUDE.md
  internal/cmdutil/factory.go
  internal/config/CLAUDE.md
  internal/config/config.go
  internal/project/CLAUDE.md
  internal/project/export_test.go
  internal/project/manager.go
  internal/project/project_test.go
  internal/project/registry.go
  internal/project/resolve.go
  internal/project/resolve_test.go
  internal/project/worktree_service.go
  internal/storage/CLAUDE.md
  internal/testenv/CLAUDE.md
  internal/testenv/testenv.go
  internal/workspace/CLAUDE.md
  internal/workspace/setup.go
  test/e2e/harness/factory.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

chore(docs): review fixes
  .claude/docs/TESTING-REFERENCE.md
  internal/cmdutil/CLAUDE.md
  test/CLAUDE.md
Due: none

fix(docker): resolve global built image for @ outside a project
  .claude/rules/container-commands.md
  docs/cli-reference/clawker_container_create.md
  docs/cli-reference/clawker_container_run.md
  docs/cli-reference/clawker_create.md
  docs/cli-reference/clawker_run.md
  docs/quickstart.mdx
  internal/cmd/container/CLAUDE.md
  internal/cmd/container/create/create.go
  internal/cmd/container/run/run.go
  internal/cmd/container/run/run_test.go
  internal/docker/CLAUDE.md
  internal/docker/image_resolve.go
  internal/docker/image_resolve_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(project): thread noTrack through Project interface and worktree service
  internal/project/manager.go
  internal/project/mocks/stubs.go
  internal/project/worktree_service.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix(docker): resolve global built image for @ outside a project (#360)
  .claude/rules/container-commands.md
  docs/cli-reference/clawker_container_create.md
  docs/cli-reference/clawker_container_run.md
  docs/cli-reference/clawker_create.md
  docs/cli-reference/clawker_run.md
  docs/quickstart.mdx
  internal/cmd/container/CLAUDE.md
  internal/cmd/container/create/create.go
  internal/cmd/container/run/run.go
  internal/cmd/container/run/run_test.go
  internal/docker/CLAUDE.md
  internal/docker/image_resolve.go
  internal/docker/image_resolve_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

feat(firewall): gate egress rules by HTTP request method
  .claude/rules/envoy.md
  api/admin/v1/admin.pb.go
  api/admin/v1/admin.proto
  api/admin/v1/conversion.go
  api/admin/v1/conversion_test.go
  claude-plugin/clawker-support/.claude-plugin/plugin.json
  claude-plugin/clawker-support/skills/clawker-support/SKILL.md
  claude-plugin/clawker-support/skills/clawker-support/reference/firewall-security.md
  docs/cli-reference/clawker_firewall_add.md
  docs/configuration.mdx
  docs/firewall.mdx
  internal/cmd/firewall/CLAUDE.md
  internal/cmd/firewall/add.go
  internal/cmd/firewall/add_test.go
  internal/config/schema.go
  internal/controlplane/firewall/CLAUDE.md
  internal/controlplane/firewall/envoy_config_test.go
  internal/controlplane/firewall/envoy_http.go
  internal/controlplane/firewall/rules_store.go
  internal/controlplane/firewall/rules_store_test.go
  internal/controlplane/firewall/testdata/envoy/comprehensive.envoy.golden
  internal/controlplane/firewall/testdata/envoy/comprehensive_mtls.envoy.golden
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(worktree): pull remote-tracking branches with upstream (#302) (#354)
  docs/cli-reference/clawker_container_create.md
  docs/cli-reference/clawker_container_run.md
  docs/cli-reference/clawker_create.md
  docs/cli-reference/clawker_run.md
  docs/cli-reference/clawker_worktree_add.md
  docs/worktrees.mdx
  internal/cmd/container/shared/CLAUDE.md
  internal/cmd/container/shared/container_create.go
  internal/cmd/container/shared/workdir_test.go
  internal/cmd/worktree/CLAUDE.md
  internal/cmd/worktree/add/add.go
  internal/cmd/worktree/add/add_test.go
  internal/git/CLAUDE.md
  internal/git/git.go
  internal/git/git_test.go
  internal/project/CLAUDE.md
  internal/project/manager.go
  internal/project/mocks/project_mock.go
  internal/project/mocks/stubs.go
  internal/project/worktree_service.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(worktree): upsert stale branch config + thread ctx in worktree add
  docs/worktrees.mdx
  internal/cmd/worktree/add/add.go
  internal/git/CLAUDE.md
  internal/git/git.go
  internal/git/git_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(worktree): upsert stale branch config + thread ctx in worktree add (#362)
  docs/worktrees.mdx
  internal/cmd/worktree/add/add.go
  internal/git/CLAUDE.md
  internal/git/git.go
  internal/git/git_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

feat(firewall): show path-rule methods in firewall list output
  internal/cmd/firewall/list.go
  internal/cmd/firewall/list_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

feat(firewall): gate egress rules by HTTP request method (#353)
  .claude/rules/envoy.md
  api/admin/v1/admin.pb.go
  api/admin/v1/admin.proto
  api/admin/v1/conversion.go
  api/admin/v1/conversion_test.go
  claude-plugin/clawker-support/.claude-plugin/plugin.json
  claude-plugin/clawker-support/skills/clawker-support/SKILL.md
  claude-plugin/clawker-support/skills/clawker-support/reference/firewall-security.md
  docs/cli-reference/clawker_firewall_add.md
  docs/configuration.mdx
  docs/firewall.mdx
  internal/cmd/firewall/CLAUDE.md
  internal/cmd/firewall/add.go
  internal/cmd/firewall/add_test.go
  internal/cmd/firewall/list.go
  internal/cmd/firewall/list_test.go
  internal/config/schema.go
  internal/controlplane/firewall/CLAUDE.md
  internal/controlplane/firewall/envoy_config_test.go
  internal/controlplane/firewall/envoy_http.go
  internal/controlplane/firewall/rules_store.go
  internal/controlplane/firewall/rules_store_test.go
  internal/controlplane/firewall/testdata/envoy/comprehensive.envoy.golden
  internal/controlplane/firewall/testdata/envoy/comprehensive_mtls.envoy.golden
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(worktree): protect main .git and disable Go VCS stamping in worktree containers
  Makefile
  claude-plugin/clawker-support/skills/clawker-support/reference/known-issues.md
  docs/worktrees.mdx
  internal/cmd/container/shared/container_create.go
  internal/docker/CLAUDE.md
  internal/docker/env.go
  internal/docker/env_test.go
  internal/workspace/CLAUDE.md
  internal/workspace/setup.go
  internal/workspace/setup_test.go
  test/e2e/worktree_git_protection_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(worktree): refuse a worktree on a branch already checked out elsewhere
  claude-plugin/clawker-support/skills/clawker-support/reference/known-issues.md
  internal/cmd/container/shared/container_create.go
  internal/git/CLAUDE.md
  internal/git/git.go
  internal/git/git_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(worktree): tolerate read-only .git/config when building RO mask mounts
  internal/workspace/setup.go
  internal/workspace/setup_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix(worktree): protect main .git, fix Go builds, and refuse double-checkout in worktree containers (#365)
  Makefile
  claude-plugin/clawker-support/skills/clawker-support/reference/known-issues.md
  docs/worktrees.mdx
  internal/cmd/container/shared/container_create.go
  internal/docker/CLAUDE.md
  internal/docker/env.go
  internal/docker/env_test.go
  internal/git/CLAUDE.md
  internal/git/git.go
  internal/git/git_test.go
  internal/workspace/CLAUDE.md
  internal/workspace/setup.go
  internal/workspace/setup_test.go
  test/e2e/worktree_git_protection_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

docs: SEO keyword sweep + fix statusline worktree detection
  README.md
  docs/architecture.mdx
  docs/configuration.mdx
  docs/container-internals.mdx
  docs/control-plane.mdx
  docs/credentials.mdx
  docs/custom-images.mdx
  docs/design.mdx
  docs/docker-hygiene.mdx
  docs/docs.json
  docs/firewall.mdx
  docs/index.mdx
  docs/installation.mdx
  docs/monitoring.mdx
  docs/observability.mdx
  docs/quickstart.mdx
  docs/security.mdx
  docs/testing.md
  docs/threat-model.mdx
  docs/worktrees.mdx
  internal/bundler/assets/statusline.sh
Due: none

docs: polish index intro phrasing + complete og/twitter card metatags
  docs/docs.json
  docs/index.mdx
Due: none

fix(docs,statusline): generator-emit configuration keywords + harden worktree check
  cmd/gen-docs/configuration.mdx.tmpl
  internal/bundler/assets/statusline.sh
Due: docs-check

docs: sweep + fix statusline worktree detection (#364)
  README.md
  cmd/gen-docs/configuration.mdx.tmpl
  docs/architecture.mdx
  docs/configuration.mdx
  docs/container-internals.mdx
  docs/control-plane.mdx
  docs/credentials.mdx
  docs/custom-images.mdx
  docs/design.mdx
  docs/docker-hygiene.mdx
  docs/docs.json
  docs/firewall.mdx
  docs/index.mdx
  docs/installation.mdx
  docs/monitoring.mdx
  docs/observability.mdx
  docs/quickstart.mdx
  docs/security.mdx
  docs/testing.md
  docs/threat-model.mdx
  docs/worktrees.mdx
  internal/bundler/assets/statusline.sh
Due: docs-check

feat(controlplane): start firewall stack with CP per settings
  claude-plugin/clawker-support/skills/clawker-support/reference/troubleshooting.md
  cmd/clawker-cp/main.go
  cmd/clawker-cp/main_test.go
  docs/cli-reference/clawker_controlplane_up.md
  docs/control-plane.mdx
  internal/cmd/controlplane/CLAUDE.md
  internal/cmd/controlplane/up.go
  internal/cmd/controlplane/up_test.go
  internal/cmd/firewall/CLAUDE.md
  internal/cmd/firewall/up.go
  internal/controlplane/CLAUDE.md
  internal/controlplane/firewall/CLAUDE.md
  test/e2e/controlplane_cli_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

feat(cp): make firewall bringup a fail-closed startup gate
  CLAUDE.md
  claude-plugin/clawker-support/skills/clawker-support/reference/troubleshooting.md
  cmd/clawker-cp/main.go
  cmd/clawker-cp/main_test.go
  docs/control-plane.mdx
  internal/cmd/controlplane/CLAUDE.md
  internal/cmd/controlplane/up.go
  internal/controlplane/CLAUDE.md
  internal/controlplane/cpboot/CLAUDE.md
  internal/controlplane/cpboot/bootstrap.go
  internal/controlplane/cpboot/bootstrap_test.go
  internal/controlplane/firewall/CLAUDE.md
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(firewall): recreate Envoy/CoreDNS siblings on CP binary drift
  claude-plugin/clawker-support/.claude-plugin/plugin.json
  claude-plugin/clawker-support/skills/clawker-support/reference/troubleshooting.md
  cmd/clawker-cp/main.go
  internal/cmd/controlplane/CLAUDE.md
  internal/consts/controlplane.go
  internal/controlplane/CLAUDE.md
  internal/controlplane/cpboot/CLAUDE.md
  internal/controlplane/cpboot/container_config_test.go
  internal/controlplane/cpboot/cp_container.go
  internal/controlplane/firewall/CLAUDE.md
  internal/controlplane/firewall/stack.go
  internal/controlplane/firewall/stack_drift_internal_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(cp): drop dead empty-SHA degraded path
  cmd/clawker-cp/main.go
  internal/consts/controlplane.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(cp): harden firewall bringup gate and healthz-wait diagnostics
  claude-plugin/clawker-support/skills/clawker-support/reference/troubleshooting.md
  cmd/clawker-cp/main.go
  internal/cmd/controlplane/CLAUDE.md
  internal/cmd/controlplane/up.go
  internal/cmd/controlplane/up_test.go
  internal/consts/consts.go
  internal/consts/controlplane.go
  internal/controlplane/CLAUDE.md
  internal/controlplane/cpboot/CLAUDE.md
  internal/controlplane/cpboot/bootstrap.go
  internal/controlplane/cpboot/bootstrap_test.go
  internal/controlplane/firewall/CLAUDE.md
  internal/controlplane/firewall/handler.go
  internal/controlplane/firewall/stack.go
  internal/controlplane/firewall/stack_drift_internal_test.go
  internal/docker/client.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

feat(monitor): Model Usage tile + bootstrap fixes
  internal/monitor/CLAUDE.md
  internal/monitor/templates.go
  internal/monitor/templates/opensearch-bootstrap/bootstrap.sh.tmpl
  internal/monitor/templates/opensearch-bootstrap/saved-objects/clawker.ndjson
  internal/monitor/templates/opensearch-bootstrap/saved-objects/explore/clawker-claude-code-model-usage.json
  internal/monitor/templates_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

refactor(cp): replace ContainerRunning helper with label-filtered list
  internal/cmd/controlplane/CLAUDE.md
  internal/cmd/controlplane/up.go
  internal/cmd/controlplane/up_test.go
  internal/docker/client.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

chore(fix): removed stale comment
  internal/docker/client.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix(firewall): recreate Envoy/CoreDNS siblings on CP binary drift; fail-closed bringup gate (#367)
  CLAUDE.md
  claude-plugin/clawker-support/.claude-plugin/plugin.json
  claude-plugin/clawker-support/skills/clawker-support/reference/troubleshooting.md
  cmd/clawker-cp/main.go
  docs/cli-reference/clawker_controlplane_up.md
  docs/control-plane.mdx
  internal/cmd/controlplane/CLAUDE.md
  internal/cmd/controlplane/up.go
  internal/cmd/controlplane/up_test.go
  internal/cmd/firewall/CLAUDE.md
  internal/cmd/firewall/up.go
  internal/consts/consts.go
  internal/consts/controlplane.go
  internal/controlplane/CLAUDE.md
  internal/controlplane/cpboot/CLAUDE.md
  internal/controlplane/cpboot/bootstrap.go
  internal/controlplane/cpboot/bootstrap_test.go
  internal/controlplane/cpboot/container_config_test.go
  internal/controlplane/cpboot/cp_container.go
  internal/controlplane/firewall/CLAUDE.md
  internal/controlplane/firewall/handler.go
  internal/controlplane/firewall/stack.go
  internal/controlplane/firewall/stack_drift_internal_test.go
  internal/monitor/CLAUDE.md
  internal/monitor/templates.go
  internal/monitor/templates/opensearch-bootstrap/bootstrap.sh.tmpl
  internal/monitor/templates/opensearch-bootstrap/saved-objects/clawker.ndjson
  internal/monitor/templates/opensearch-bootstrap/saved-objects/explore/clawker-claude-code-model-usage.json
  internal/monitor/templates_test.go
  test/e2e/controlplane_cli_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

feat(cli): user-configurable command aliases (#366)
  .claude/rules/storage-schema.md
  CLAUDE.md
  claude-plugin/clawker-support/skills/clawker-support/reference/settings.md
  cmd/gen-docs/configuration.mdx.tmpl
  docs/cli-reference/clawker.md
  docs/cli-reference/clawker_alias.md
  docs/cli-reference/clawker_alias_delete.md
  docs/cli-reference/clawker_alias_export.md
  docs/cli-reference/clawker_alias_import.md
  docs/cli-reference/clawker_alias_list.md
  docs/cli-reference/clawker_alias_set.md
  docs/configuration.mdx
  docs/docs.json
  internal/cmd/alias/CLAUDE.md
  internal/cmd/alias/alias.go
  internal/cmd/alias/delete/delete.go
  internal/cmd/alias/delete/delete_test.go
  internal/cmd/alias/export/export.go
  internal/cmd/alias/export/export_test.go
  internal/cmd/alias/importcmd/import.go
  internal/cmd/alias/importcmd/import_test.go
  internal/cmd/alias/list/list.go
  internal/cmd/alias/list/list_test.go
  internal/cmd/alias/set/set.go
  internal/cmd/alias/set/set_test.go
  internal/cmd/alias/shared/shared.go
  internal/cmd/alias/shared/shared_test.go
  internal/cmd/root/CLAUDE.md
  internal/cmd/root/aliases.go
  internal/cmd/root/aliases_test.go
  internal/cmd/root/root.go
  internal/cmd/root/useraliases.go
  internal/cmd/root/useraliases_integration_test.go
  internal/cmd/root/useraliases_test.go
  internal/config/CLAUDE.md
  internal/config/config_test.go
  internal/config/schema.go
  internal/storage/defaults.go
  internal/storage/defaults_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

test(alias): full-journey lifecycle test through production plumbing
  internal/cmd/alias/CLAUDE.md
  internal/cmd/alias/export/export.go
  internal/cmd/alias/export/export_test.go
  internal/cmd/alias/shared/shared.go
  internal/cmd/root/useraliases_integration_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(alias): close validation gaps found in review
  docs/cli-reference/clawker_alias.md
  internal/cmd/alias/alias.go
  internal/cmd/alias/importcmd/import.go
  internal/cmd/alias/importcmd/import_test.go
  internal/cmd/root/useraliases.go
  internal/cmd/root/useraliases_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

feat(alias): unify aliases into layered project config
  claude-plugin/clawker-support/skills/clawker-support/reference/settings.md
  cmd/gen-docs/configuration.mdx.tmpl
  docs/cli-reference/clawker_alias.md
  docs/cli-reference/clawker_alias_delete.md
  docs/cli-reference/clawker_alias_export.md
  docs/cli-reference/clawker_alias_import.md
  docs/cli-reference/clawker_alias_list.md
  docs/cli-reference/clawker_alias_set.md
  docs/configuration.mdx
  docs/docs.json
  internal/cmd/alias/CLAUDE.md
  internal/cmd/alias/alias.go
  internal/cmd/alias/delete/delete.go
  internal/cmd/alias/delete/delete_test.go
  internal/cmd/alias/export/export.go
  internal/cmd/alias/export/export_test.go
  internal/cmd/alias/importcmd/import.go
  internal/cmd/alias/importcmd/import_test.go
  internal/cmd/alias/list/list.go
  internal/cmd/alias/list/list_test.go
  internal/cmd/alias/set/set.go
  internal/cmd/alias/set/set_test.go
  internal/cmd/alias/shared/shared.go
  internal/cmd/alias/shared/shared_test.go
  internal/cmd/root/CLAUDE.md
  internal/cmd/root/useraliases.go
  internal/cmd/root/useraliases_integration_test.go
  internal/cmd/root/useraliases_test.go
  internal/config/CLAUDE.md
  internal/config/config_test.go
  internal/config/schema.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

Path conditions:
  semgrep: any of: \.go$
  govulncheck: any of: \.go$
  go-test: any of: \.go$
  docs-check: any of: ^(cmd/|internal/cmd/|internal/docs/)
  licenses-check: any of: ^go\.(mod|sum)$
  claude-freshness: any of: \.go$
