Repository schmitthub/clawker: changes, and which pre-commit hooks are due for each by the changed paths.
All: semgrep, govulncheck, go-test, docs-check, licenses-check, claude-freshness

.pre-commit-config.yaml:

# Pre-commit hooks — mirrors CI quality gates locally.
# Install: bash scripts/install-hooks.sh
# Run all: pre-commit run --all-files
# Run one: pre-commit run gitleaks --all-files

repos:
  # ── Security ──────────────────────────────────────────────────────────────
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.30.0
    hooks:
      - id: gitleaks
        args: [--baseline-path, gitleaks-report.json]

  # ── Lint ──────────────────────────────────────────────────────────────────
  - repo: https://github.com/golangci/golangci-lint
    rev: v2.9.0
    hooks:
      - id: golangci-lint-full
        args: [--config, .golangci.yml]

  # ── Local hooks ───────────────────────────────────────────────────────────
  - repo: local
    hooks:
      - id: semgrep
        name: Semgrep SAST
        # Expected version: 1.146.0 (must match CI image tag in security.yml)
        entry: semgrep scan --baseline-commit HEAD --config p/golang --config p/security-audit --error
        language: system
        types: [go]
        pass_filenames: false

      - id: govulncheck
        name: govulncheck SCA
        entry: govulncheck ./...
        language: system
        types: [go]
        pass_filenames: false

      - id: go-test
        name: Unit tests
        entry: make test
        language: system
        types: [go]
        pass_filenames: false

      - id: docs-check
        name: CLI docs freshness
        entry: make docs-check
        language: system
        files: ^(cmd/|internal/cmd/|internal/docs/)
        pass_filenames: false

      - id: licenses-check
        name: NOTICE freshness
        entry: make licenses-check
        language: system
        files: ^go\.(mod|sum)$
        pass_filenames: false

      - id: claude-freshness
        name: Claude doc freshness (advisory)
        entry: bash -c 'bash scripts/check-claude-freshness.sh --strict --non-interactive --no-color | head -50 || true'
        language: system
        files: \.go$
        pass_filenames: false
        verbose: true

docs(serena): stack-contract initiative complete (Task 6)
  .serena/memories/multi-harness/README.md
  .serena/memories/multi-harness/stack-contract-implementation.md
  .serena/memories/multi-harness/stack-unit-contract-model.md
Due: none

polish(cli): report register overrides as "was", drop bogus --force from shadow docs
  docs/harness-bundles.mdx
  docs/stacks.mdx
  internal/cmd/harness/register.go
  internal/cmd/stack/register.go
  internal/cmd/stack/register_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

docs(serena): record orchestrator post-initiative review + polish commit
  .serena/memories/multi-harness/stack-contract-implementation.md
Due: none

refactor(config): drop settings-registry migration for never-shipped keys
  CHANGELOG.md
  docs/upgrading/v0.13.mdx
  internal/config/CLAUDE.md
  internal/config/migrations.go
  internal/config/migrations_test.go
  internal/config/schema.go
Due: semgrep, govulncheck, go-test, claude-freshness

docs: scrub fabricated history from unshipped-branch churn
  docs/upgrading/v0.13.mdx
  internal/bundler/CLAUDE.md
  internal/bundler/basehash_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

docs(serena): record migration removal + fabricated-history sweep
  .serena/memories/multi-harness/stack-contract-implementation.md
Due: none

polish(cli): rename provenance/list source label from "shipped" to "built"
  docs/harness-bundles.mdx
  docs/stacks.mdx
  go.mod
  internal/bundler/harness.go
  internal/bundler/stack.go
  internal/bundler/stack_test.go
  internal/cmd/harness/list_test.go
  internal/cmd/stack/list_test.go
  internal/cmdutil/registry.go
  internal/cmdutil/registry_test.go
Due: semgrep, govulncheck, go-test, docs-check, licenses-check, claude-freshness

docs: publish the stack contract as a versioned reference page
  docs/docs.json
  docs/stack-contract.mdx
Due: none

test: badge the conformance suite with stack-contract clause IDs
  internal/bundler/basehash_test.go
  internal/bundler/dockerfile_test.go
  internal/bundler/egress_test.go
  internal/bundler/harness_test.go
  internal/bundler/overlay_test.go
  internal/bundler/stack_test.go
  internal/cmd/harness/register_test.go
  internal/cmd/harness/remove_test.go
  internal/cmd/stack/register_test.go
  internal/cmd/stack/remove_test.go
  internal/config/registries_test.go
  internal/config/validate_internal_test.go
  internal/consts/name_test.go
  internal/harness/harness_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

docs(serena): record stack-contract phase 2 — clause register + apt-fold closure
  .serena/memories/multi-harness/stack-contract-implementation.md
  .serena/memories/multi-harness/stack-unit-contract-model.md
Due: none

refactor(config): absorb harness/stack manifest schemas as schema contract owner
  internal/bundler/dockerfile.go
  internal/bundler/dockerfile_test.go
  internal/bundler/egress.go
  internal/bundler/versions.go
  internal/bundler/versions_test.go
  internal/cmd/container/shared/containerfs.go
  internal/cmd/container/shared/containerfs_test.go
  internal/config/harness_schema.go
  internal/config/path_semantics.go
  internal/config/path_semantics_test.go
  internal/config/stack_schema.go
  internal/containerfs/containerfs.go
  internal/containerfs/containerfs_test.go
  internal/harness/bundle.go
  internal/harness/consts.go
  internal/harness/harness.go
  internal/harness/harness_test.go
  internal/stack/stack.go
  internal/workspace/setup.go
  internal/workspace/setup_test.go
  internal/workspace/strategy.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

refactor(bundler): fold internal/harness and internal/stack into bundler
  internal/bundler/bundle.go
  internal/bundler/bundle_test.go
  internal/bundler/compose.go
  internal/bundler/dockerfile.go
  internal/bundler/egress_test.go
  internal/bundler/errors.go
  internal/bundler/harness.go
  internal/bundler/stack.go
  internal/bundler/stack_load.go
  internal/bundler/stack_load_test.go
  internal/bundler/stack_test.go
  internal/bundler/versions.go
  internal/bundler/versions_test.go
  internal/cmd/container/shared/container_create.go
  internal/cmd/harness/register.go
  internal/cmd/stack/register.go
  internal/config/harness_schema.go
  internal/config/stack_schema.go
  internal/harness/compose.go
  internal/harness/consts.go
  internal/harness/harness.go
  internal/stack/consts.go
  internal/stack/stack_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

feat(bundler): validate egress floor at load and register front doors
  docs/stack-contract.mdx
  internal/bundler/bundle.go
  internal/bundler/bundle_test.go
  internal/bundler/egress_test.go
  internal/cmd/harness/register.go
  internal/cmd/harness/register_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

docs: align package docs with the harness/stack fold into bundler
  .claude/docs/REPO-STRUCTURE.md
  claude-plugin/clawker-support/CLAUDE.md
  internal/bundler/CLAUDE.md
  internal/config/CLAUDE.md
  internal/containerfs/CLAUDE.md
  internal/workspace/CLAUDE.md
Due: none

docs: drop registry-default phrasing from custom-images
  .serena/memories/multi-harness/blast-radius.md
  .serena/memories/multi-harness/stack-contract-implementation.md
  .serena/memories/multi-harness/stack-unit-contract-design.md
  docs/custom-images.mdx
Due: none

docs(serena): reduce multi-harness memories to current design and state
  .serena/memories/multi-harness/README.md
  .serena/memories/multi-harness/stack-unit-contract-model.md
Due: none

docs: restructure site into audience-tiered navigation
  .serena/memories/multi-harness/README.md
  cmd/gen-docs/configuration.mdx.tmpl
  cmd/gen-docs/main.go
  docs/announcements/multi-harness-support.mdx
  docs/authoring-harnesses.mdx
  docs/authoring-stacks.mdx
  docs/configuration.mdx
  docs/custom-images.mdx
  docs/design.mdx
  docs/docs.json
  docs/firewall.mdx
  docs/harness-bundles.mdx
  docs/harnesses.mdx
  docs/index.mdx
  docs/monitoring.mdx
  docs/quickstart.mdx
  docs/schemas/harness.schema.json
  docs/schemas/stack.schema.json
  docs/security.mdx
  docs/stack-contract.mdx
  docs/stacks.mdx
  docs/threat-model.mdx
  docs/workflow-history.md
  internal/config/stack_schema.go
  internal/consts/consts.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

docs(claude): make clawker is check-then-build, never a pre-commit reflex
  CLAUDE.md
Due: none

chore: prune stale gitignore entries for pre-relocation embed paths
  .gitignore
Due: none

Revert "chore: prune stale gitignore entries for pre-relocation embed paths"
  .gitignore
Due: none

feat(config): monitoring unit manifest schema + host-global settings registry
  docs/configuration.mdx
  docs/schemas/settings.schema.json
  internal/config/config.go
  internal/config/monitoring_schema.go
  internal/config/schema.go
  internal/config/validate.go
  internal/config/validate_internal_test.go
  internal/consts/monitoring.go
Due: semgrep, govulncheck, go-test, claude-freshness

feat(bundler): monitoring unit loader + harness bundle monitoring declarations
  docs/schemas/harness.schema.json
  internal/bundler/bundle.go
  internal/bundler/monitoring_unit.go
  internal/bundler/monitoring_unit_test.go
  internal/config/harness_schema.go
Due: semgrep, govulncheck, go-test, claude-freshness

feat(claude-bundle): migrate Claude Code monitoring artifacts into a bundled unit
  internal/bundler/assets/harnesses/claude/harness.yaml
  internal/bundler/assets/harnesses/claude/monitoring/claude-code/index-templates/claude-code.json
  internal/bundler/assets/harnesses/claude/monitoring/claude-code/ingest-pipelines/claude-code-prompt-nest.json
  internal/bundler/assets/harnesses/claude/monitoring/claude-code/monitoring.yaml
  internal/bundler/assets/harnesses/claude/monitoring/claude-code/saved-objects/claude-code.ndjson
  internal/bundler/assets/harnesses/claude/monitoring/claude-code/saved-objects/explore/clawker-cc-activity-commits.json
  internal/bundler/assets/harnesses/claude/monitoring/claude-code/saved-objects/explore/clawker-cc-activity-edit-accept-pct.json
  internal/bundler/assets/harnesses/claude/monitoring/claude-code/saved-objects/explore/clawker-cc-activity-edit-accept-reject.json
  internal/bundler/assets/harnesses/claude/monitoring/claude-code/saved-objects/explore/clawker-cc-activity-edit-by-source.json
  internal/bundler/assets/harnesses/claude/monitoring/claude-code/saved-objects/explore/clawker-cc-activity-lines-added.json
  internal/bundler/assets/harnesses/claude/monitoring/claude-code/saved-objects/explore/clawker-cc-activity-lines-removed.json
  internal/bundler/assets/harnesses/claude/monitoring/claude-code/saved-objects/explore/clawker-cc-activity-loc-over-time.json
  internal/bundler/assets/harnesses/claude/monitoring/claude-code/saved-objects/explore/clawker-cc-activity-pull-requests.json
  internal/bundler/assets/harnesses/claude/monitoring/claude-code/saved-objects/explore/clawker-claude-code-active-time.json
  internal/bundler/assets/harnesses/claude/monitoring/claude-code/saved-objects/explore/clawker-claude-code-cache-creation-tokens.json
  internal/bundler/assets/harnesses/claude/monitoring/claude-code/saved-objects/explore/clawker-claude-code-cache-hit-pct.json
  internal/bundler/assets/harnesses/claude/monitoring/claude-code/saved-objects/explore/clawker-claude-code-cache-read-tokens.json
  internal/bundler/assets/harnesses/claude/monitoring/claude-code/saved-objects/explore/clawker-claude-code-cost-per-active-min.json
  internal/bundler/assets/harnesses/claude/monitoring/claude-code/saved-objects/explore/clawker-claude-code-input-tokens.json
  internal/bundler/assets/harnesses/claude/monitoring/claude-code/saved-objects/explore/clawker-claude-code-model-usage.json
  internal/bundler/assets/harnesses/claude/monitoring/claude-code/saved-objects/explore/clawker-claude-code-output-token-usage.json
  internal/bundler/assets/harnesses/claude/monitoring/claude-code/saved-objects/explore/clawker-claude-code-output-tokens.json
  internal/bundler/assets/harnesses/claude/monitoring/claude-code/saved-objects/explore/clawker-claude-code-total-active-time.json
  internal/bundler/assets/harnesses/claude/monitoring/claude-code/saved-objects/explore/clawker-claude-code-total-cost.json
  internal/bundler/monitoring_unit_test.go
  internal/monitor/templates/opensearch-bootstrap/saved-objects/clawker.ndjson
  internal/monitor/templates_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

feat(monitor): generate collector config + bootstrap tree from active monitoring units
  internal/bundler/monitoring_unit.go
  internal/cmd/monitor/init/init.go
  internal/cmd/monitor/init/init_test.go
  internal/monitor/templates.go
  internal/monitor/templates/opensearch-bootstrap/bootstrap.sh.tmpl
  internal/monitor/templates/opensearch-bootstrap/index-templates/clawkercp.json
  internal/monitor/templates/opensearch-bootstrap/ingest-pipelines/envelope-normalize.json
  internal/monitor/templates/opensearch-bootstrap/ism-policies/clawker-retention.json.tmpl
  internal/monitor/templates_test.go
  internal/monitor/testdata/golden/bootstrap-tree-claude-codex.txt
  internal/monitor/testdata/golden/bootstrap-tree-claude.txt
  internal/monitor/testdata/golden/bootstrap-tree-no-units.txt
  internal/monitor/testdata/golden/otel-config-claude-codex.yaml
  internal/monitor/testdata/golden/otel-config-claude.yaml
  internal/monitor/testdata/golden/otel-config-no-units.yaml
  internal/monitor/testdata/golden/retention-claude-codex.json
  internal/monitor/testdata/golden/retention-claude.json
  internal/monitor/testdata/golden/retention-no-units.json
  internal/monitor/testdata/units/synthetic-codex/index-templates/synthetic-codex.json
  internal/monitor/testdata/units/synthetic-codex/ingest-pipelines/synthetic-codex-nest.json
  internal/monitor/testdata/units/synthetic-codex/ism-policies/synthetic-codex-retention.json
  internal/monitor/testdata/units/synthetic-codex/monitoring.yaml
  internal/monitor/testdata/units/synthetic-codex/saved-objects/explore/synthetic-codex-tokens.json
  internal/monitor/testdata/units/synthetic-codex/saved-objects/synthetic-codex.ndjson
  internal/monitor/units.go
  internal/monitor/units_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

feat(cli): monitor unit registry commands — register, remove, list, enable, disable
  docs/cli-reference/clawker_monitor.md
  docs/cli-reference/clawker_monitor_disable.md
  docs/cli-reference/clawker_monitor_enable.md
  docs/cli-reference/clawker_monitor_list.md
  docs/cli-reference/clawker_monitor_register.md
  docs/cli-reference/clawker_monitor_remove.md
  internal/cmd/monitor/monitor.go
  internal/cmd/monitor/units/disable.go
  internal/cmd/monitor/units/enable.go
  internal/cmd/monitor/units/helpers.go
  internal/cmd/monitor/units/list.go
  internal/cmd/monitor/units/register.go
  internal/cmd/monitor/units/remove.go
  internal/cmd/monitor/units/units_test.go
  internal/cmd/monitor/up/up.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

feat(cli): harness register/remove surface bundle-shipped monitoring units
  internal/cmd/harness/register.go
  internal/cmd/harness/register_test.go
  internal/cmd/harness/remove.go
  internal/cmd/harness/remove_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

docs: monitoring units — user guide, authoring reference, changelog, package docs
  .claude/rules/monitoring.md
  .serena/memories/multi-harness/README.md
  .serena/memories/multi-harness/stack-unit-contract-model.md
  CHANGELOG.md
  docs/authoring-harnesses.mdx
  docs/monitoring.mdx
  internal/bundler/CLAUDE.md
  internal/cmd/monitor/CLAUDE.md
  internal/config/CLAUDE.md
  internal/monitor/CLAUDE.md
Due: docs-check

fix(bundler): custom ISM policy patterns must exactly equal custom-retention lane indices
  internal/bundler/monitoring_unit.go
  internal/bundler/monitoring_unit_test.go
  internal/cmd/monitor/units/units_test.go
  internal/monitor/templates.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

docs(skill): document shipping monitoring units in the harness authoring reference
  claude-plugin/clawker-support/skills/harness-stack-dev/reference/harness-manifest.md
Due: none

docs(brainstorm): resolve bundle collision model — namespace identity, dotted 3-segment addressing
  .serena/memories/brainstorm_clawker-bundle-install-model.html
  .serena/memories/brainstorm_clawker-bundle-install-model.md
  .serena/memories/brainstorm_clawker-package-install-model.md
Due: none

feat(consts): add qualified bundle address parsing and namespace validation
  internal/consts/consts.go
  internal/consts/name.go
  internal/consts/name_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

docs(brainstorm): record P2 implementation-fill decisions as provisional
  .serena/memories/brainstorm_clawker-bundle-install-model.html
Due: none

feat(config): bundle-install config surface — bundles: sources, monitor.extensions, BundleDeclarations
  cmd/gen-docs/main.go
  docs/configuration.mdx
  docs/schemas/bundle.schema.json
  docs/schemas/clawker.schema.json
  docs/schemas/harness.schema.json
  docs/schemas/stack.schema.json
  internal/config/bundle_schema.go
  internal/config/bundles_internal_test.go
  internal/config/bundles_test.go
  internal/config/config.go
  internal/config/mocks/config_mock.go
  internal/config/mocks/stubs.go
  internal/config/schema.go
  internal/config/validate.go
  internal/config/validate_internal_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(config): monitor.extensions is a selection key — override merge, not union
  .serena/memories/brainstorm_clawker-bundle-install-model.html
  docs/configuration.mdx
  docs/schemas/clawker.schema.json
  internal/config/bundles_test.go
  internal/config/schema.go
Due: semgrep, govulncheck, go-test, claude-freshness

feat(monitor)!: option-D seeding over the three-tier resolver — settings registry and units commands torn down
  .serena/memories/brainstorm_clawker-bundle-install-model.html
  docs/cli-reference/clawker_monitor.md
  docs/cli-reference/clawker_monitor_init.md
  docs/cli-reference/clawker_monitor_up.md
  docs/schemas/harness.schema.json
  internal/bundle/provenance.go
  internal/bundler/CLAUDE.md
  internal/bundler/bundle.go
  internal/cmd/monitor/CLAUDE.md
  internal/cmd/monitor/down/down.go
  internal/cmd/monitor/init/init.go
  internal/cmd/monitor/init/init_test.go
  internal/cmd/monitor/monitor.go
  internal/cmd/monitor/units/disable.go
  internal/cmd/monitor/units/enable.go
  internal/cmd/monitor/units/helpers.go
  internal/cmd/monitor/units/list.go
  internal/cmd/monitor/units/register.go
  internal/cmd/monitor/units/remove.go
  internal/cmd/monitor/units/units_test.go
  internal/cmd/monitor/up/up.go
  internal/config/CLAUDE.md
  internal/config/harness_schema.go
  internal/config/monitoring_schema.go
  internal/monitor/CLAUDE.md
  internal/monitor/ledger.go
  internal/monitor/ledger_test.go
  internal/monitor/render.go
  internal/monitor/render_test.go
  internal/monitor/templates.go
  internal/monitor/testdata/golden/bootstrap-tree-claude-codex.txt
  internal/monitor/testdata/golden/bootstrap-tree-claude.txt
  internal/monitor/testdata/golden/bootstrap-tree-no-units.txt
  internal/monitor/unit.go
  internal/monitor/unit_test.go
  internal/monitor/units.go
  internal/monitor/units_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

feat(cli)!: clawker bundle command group — install/list/remove/update/validate over the bundle Manager facade
  .serena/memories/brainstorm_clawker-bundle-install-model.html
  docs/cli-reference/clawker.md
  docs/cli-reference/clawker_bundle.md
  docs/cli-reference/clawker_bundle_install.md
  docs/cli-reference/clawker_bundle_list.md
  docs/cli-reference/clawker_bundle_remove.md
  docs/cli-reference/clawker_bundle_update.md
  docs/cli-reference/clawker_bundle_validate.md
  docs/docs.json
  internal/bundle/CLAUDE.md
  internal/bundle/manager.go
  internal/cmd/bundle/CLAUDE.md
  internal/cmd/bundle/bundle.go
  internal/cmd/bundle/bundle_test.go
  internal/cmd/bundle/install/install.go
  internal/cmd/bundle/install/install_internal_test.go
  internal/cmd/bundle/install/install_test.go
  internal/cmd/bundle/install/target.go
  internal/cmd/bundle/list/list.go
  internal/cmd/bundle/list/list_test.go
  internal/cmd/bundle/remove/remove.go
  internal/cmd/bundle/remove/remove_test.go
  internal/cmd/bundle/update/update.go
  internal/cmd/bundle/update/update_test.go
  internal/cmd/bundle/validate/validate.go
  internal/cmd/bundle/validate/validate_test.go
  internal/cmd/factory/default.go
  internal/cmd/root/root.go
  internal/cmdutil/factory.go
  internal/cmdutil/registry.go
  internal/cmdutil/registry_test.go
  internal/config/bundle_source_validate_test.go
  internal/config/validate.go
  internal/consts/name.go
  internal/consts/name_test.go
  internal/storage/targets.go
  internal/storage/targets_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

feat(config)!: delete the never-shipped registry keys — HarnessConfig.Path, monitoring.units, settings-side validator
  docs/configuration.mdx
  docs/schemas/clawker.schema.json
  docs/schemas/settings.schema.json
  internal/cmd/container/shared/agentenv_test.go
  internal/cmd/container/shared/containerfs_test.go
  internal/config/CLAUDE.md
  internal/config/bundles_internal_test.go
  internal/config/config.go
  internal/config/migrations_test.go
  internal/config/schema.go
  internal/config/validate.go
  internal/config/validate_internal_test.go
  internal/config/validate_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness
