Repository schmitthub/clawker: changes, and which pre-commit hooks are due for each by the changed paths.
All: semgrep, govulncheck, go-test, docs-check, licenses-check, claude-freshness

semgrep:
  name: Semgrep SAST
  entry: semgrep scan --baseline-commit HEAD --config p/golang --config p/security-audit --error
  language: system
  pass_filenames: false

govulncheck:
  name: govulncheck SCA
  entry: govulncheck ./...
  language: system
  pass_filenames: false

go-test:
  name: Unit tests
  entry: make test
  language: system
  pass_filenames: false

docs-check:
  name: CLI docs freshness
  entry: make docs-check
  language: system
  pass_filenames: false

licenses-check:
  name: NOTICE freshness
  entry: make licenses-check
  language: system
  pass_filenames: false

claude-freshness:
  name: Claude doc freshness (advisory)
  entry: bash -c 'bash scripts/check-claude-freshness.sh --strict --non-interactive --no-color | head -50 || true'
  language: system
  pass_filenames: false
  verbose: true

fix: prioritize local project's TCP/SSH rules in per-container iptables ordering
  internal/cmd/container/attach/attach_test.go
  internal/cmd/container/cp/cp_test.go
  internal/cmd/container/create/create_test.go
  internal/cmd/container/exec/exec_test.go
  internal/cmd/container/inspect/inspect_test.go
  internal/cmd/container/kill/kill_test.go
  internal/cmd/container/list/list_test.go
  internal/cmd/container/logs/logs_test.go
  internal/cmd/container/pause/pause_test.go
  internal/cmd/container/remove/remove_test.go
  internal/cmd/container/rename/rename_test.go
  internal/cmd/container/restart/restart_test.go
  internal/cmd/container/run/run_test.go
  internal/cmd/container/shared/init_test.go
  internal/cmd/container/start/start_test.go
  internal/cmd/container/stats/stats_test.go
  internal/cmd/container/stop/stop_test.go
  internal/cmd/container/top/top_test.go
  internal/cmd/container/unpause/unpause_test.go
  internal/cmd/container/update/update_test.go
  internal/cmd/container/wait/wait_test.go
  internal/cmd/image/build/build_progress_test.go
  internal/cmd/loop/shared/concurrency_test.go
  internal/cmd/loop/shared/runner_test.go
  internal/docker/mock/fake_client.go
  internal/docker/mock/fake_client_test.go
  internal/docker/mock/helpers.go
  internal/docker/mock/mock_moby.go
  internal/docker/wirebuildkit_test.go
  internal/firewall/manager.go
  internal/firewall/mocks/stubs.go
  internal/firewall/priority_test.go
  test/e2e/harness/factory.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

chore: remove stale BPF source files superseded by consolidated clawker.c
  .serena/memories/fix/tcp_egress_priority_content_addressed_ports.md
  internal/ebpf/bpf/connect4.c
  internal/ebpf/bpf/connect6.c
  internal/ebpf/bpf/sendmsg4.c
  internal/ebpf/bpf/sendmsg6.c
  internal/ebpf/bpf/sock_create.c
Due: none

chore: stragglers
  .clawker.yaml
  .serena/memories/ebpf_firewall_docker_desktop_uat.md
  internal/config/config.go
Due: semgrep, govulncheck, go-test, claude-freshness

feat: add CoreDNS dns-to-bpf plugin (internal/dnsbpf)
  NOTICE
  go.mod
  go.sum
  internal/dnsbpf/bpfmap.go
  internal/dnsbpf/dnsbpf.go
  internal/dnsbpf/dnsbpf_test.go
  internal/dnsbpf/log.go
  internal/dnsbpf/setup.go
Due: semgrep, govulncheck, go-test, licenses-check, claude-freshness

feat: add custom CoreDNS image build with embedded dnsbpf plugin
  .gitignore
  .serena/memories/initiative_coredns-dnsbpf-plugin.md
  Dockerfile.coredns
  Makefile
  NOTICE
  cmd/coredns-clawker/main.go
  go.mod
  go.sum
  internal/firewall/coredns_embed.go
  internal/firewall/manager.go
Due: semgrep, govulncheck, go-test, docs-check, licenses-check, claude-freshness

chore: firewall and security doc updates
  CLAUDE.md
  docs/architecture.mdx
  docs/firewall.mdx
  docs/security.mdx
  docs/threat-model.mdx
  internal/firewall/CLAUDE.md
Due: none

chore: add gh dep review
  .github/workflows/security.yml
Due: none

fix: wire ebpf-binary/coredns-binary deps into remaining build targets
  Makefile
Due: none

fix: CodeQL path injection, DomainHash mismatch, build race, doc nits
  .claude/docs/TESTING-REFERENCE.md
  Makefile
  internal/ebpf/manager.go
  internal/ebpf/manager_test.go
  internal/ebpf/types.go
  internal/firewall/manager.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix: firewall bypass/enable/disable name→ID resolution + bypass-stop re-enforce + ebpf shutdown speed + label-based test cleanup
  internal/ebpf/manager.go
  internal/firewall/manager.go
  test/e2e/harness/harness.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix: firewall down early-return + Disable test coverage for stop/remove + doc nit
  internal/cmd/container/remove/remove_test.go
  internal/cmd/container/run/run_test.go
  internal/cmd/container/stop/stop_test.go
  internal/cmd/firewall/down.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix: surface StopDaemon errors in EnsureDaemon to prevent competing firewall daemons
  internal/firewall/daemon.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix: close silent-failure cluster in firewall lifecycle + add regression tests
  internal/cmd/container/remove/remove.go
  internal/cmd/container/remove/remove_test.go
  internal/cmd/container/stop/stop.go
  internal/cmd/container/stop/stop_test.go
  internal/cmd/firewall/down.go
  internal/cmd/firewall/down_test.go
  internal/ebpf/manager.go
  internal/ebpf/manager_test.go
  internal/firewall/daemon.go
  internal/firewall/daemon_test.go
  internal/firewall/manager.go
  internal/firewall/manager_test.go
  internal/firewall/rules_test.go
  test/e2e/harness/harness.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix: propagate Status discoverNetwork errors + honest GC DNS count
  internal/ebpf/manager.go
  internal/ebpf/manager_test.go
  internal/firewall/manager.go
  internal/firewall/manager_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

refactor: DRY eBPF fast-path + pinned reproducible BPF bytecode builds
  .claude/settings.json
  .github/workflows/test.yml
  .gitignore
  .serena/memories/outstanding-features.md
  CLAUDE.md
  Dockerfile.bpf-builder
  Makefile
  internal/ebpf/REPRODUCIBILITY.md
  internal/ebpf/bpf/clawker.c
  internal/ebpf/bpf/common.h
  internal/ebpf/bpf/vmlinux.h
  internal/ebpf/clawker_arm64_bpfel.o
  internal/ebpf/clawker_x86_bpfel.o
  internal/ebpf/gen.go
Due: semgrep, govulncheck, go-test, claude-freshness

build: single pinned Dockerfile.firewall + stop committing generated BPF artifacts
  .claude/docs/ARCHITECTURE.md
  .github/workflows/test.yml
  .gitignore
  .serena/memories/initiative_coredns-dnsbpf-plugin.md
  .serena/memories/outstanding-features.md
  CLAUDE.md
  Dockerfile.bpf-builder
  Dockerfile.coredns
  Dockerfile.ebpf
  Dockerfile.firewall
  Makefile
  docs/firewall.mdx
  internal/cmd/container/remove/remove_test.go
  internal/cmd/container/stop/stop_test.go
  internal/cmd/factory/default.go
  internal/ebpf/REPRODUCIBILITY.md
  internal/ebpf/clawker_arm64_bpfel.go
  internal/ebpf/clawker_arm64_bpfel.o
  internal/ebpf/clawker_x86_bpfel.go
  internal/ebpf/clawker_x86_bpfel.o
  internal/firewall/CLAUDE.md
  internal/firewall/manager_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

docs: note release pipeline adaptation required before next tag push
  .serena/memories/outstanding-features.md
Due: none

ci: wire Dockerfile.firewall build into govulncheck + licenses checks
  .github/workflows/security.yml
  Makefile
Due: none

ci: extract build-firewall-binaries composite action + fix govulncheck
  .github/actions/build-firewall-binaries/action.yml
  .github/workflows/lint.yml
  .github/workflows/security.yml
Due: none

chore: bump Go 1.25.8 → 1.25.9 for CVE patch + document manifest-list pin rule
  .clawker.yaml
  CLAUDE.md
  Dockerfile.firewall
  go.mod
  internal/bundler/dockerfile.go
  internal/ebpf/REPRODUCIBILITY.md
  test/adversarial/CLAUDE.md
  test/adversarial/attacker-server/go.mod
Due: semgrep, govulncheck, go-test, licenses-check, claude-freshness

fix: wildcard route_map hash + daemon startup race + Copilot review fixes
  .claude/memories/cli-output-style-guide.md
  .claude/memories/prompter-wizard.md
  .github/workflows/security.yml
  .serena/memories/project-overview.md
  CLAUDE.md
  internal/cmd/container/CLAUDE.md
  internal/ebpf/gen.go
  internal/ebpf/types.go
  internal/firewall/daemon.go
  internal/firewall/envoy.go
  internal/firewall/envoy_test.go
  internal/firewall/mocks/stubs.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

docs: audit-memory cleanup — trim always-loaded context, refresh stale docs, add missing package docs
  .claude/docs/CLI-VERBS.md
  .claude/docs/EBPF-DESIGN.md
  .claude/docs/KEY-CONCEPTS.md
  .claude/docs/STOREUI-REFERENCE.md
  .claude/rules/container-commands.md
  .claude/rules/iostreams.md
  .claude/rules/mintlify-docs.md
  .claude/rules/storeui.md
  .serena/memories/bug-tracker.md
  .serena/memories/ebpf-firewall-pivot.md
  .serena/memories/firewall-egress-stack-e2e-bugs.md
  .serena/memories/project-overview.md
  .serena/memories/test_infrastructure_and_project_tests.md
  CLAUDE.md
  internal/bundler/registry/CLAUDE.md
  internal/bundler/semver/CLAUDE.md
  internal/clawker/CLAUDE.md
  internal/cmd/image/CLAUDE.md
  internal/cmd/loop/CLAUDE.md
  internal/cmd/monitor/CLAUDE.md
  internal/cmd/settings/CLAUDE.md
  internal/dnsbpf/CLAUDE.md
  internal/docs/CLAUDE.md
  internal/ebpf/CLAUDE.md
  internal/ebpf/cmd/CLAUDE.md
  internal/firewall/CLAUDE.md
  internal/hostproxy/CLAUDE.md
  internal/storage/CLAUDE.md
  internal/tui/CLAUDE.md
  internal/workspace/CLAUDE.md
Due: docs-check

chore: claude settings
  .claude/settings.json
Due: none

chore: cleanup
  .serena/memories/ebpf_firewall_docker_desktop_uat.md
  .serena/memories/initiative_coredns-dnsbpf-plugin.md
Due: none

refactor: replace vendored Ory authkeeper with direct Hydra introspection
  .golangci.yml
  NOTICE
  api/proto_structure_test.go
  cmd/clawker-cp/main.go
  go.mod
  go.sum
  internal/controlplane/authkeeper/definitions.go
  internal/controlplane/authkeeper/grpc_middleware.go
  internal/controlplane/authkeeper/grpc_middleware_test.go
  internal/controlplane/authkeeper/grpc_mock_server_test.go
  internal/controlplane/authkeeper/helpers_test.go
  internal/controlplane/authz.go
  internal/controlplane/container_config_test.go
  internal/controlplane/cp_container.go
  internal/controlplane/hydra_client.go
  internal/firewall/manager.go
Due: semgrep, govulncheck, go-test, docs-check, licenses-check, claude-freshness

refactor: test infrastructure, method renames, remove Health RPC
  api/admin/v1/admin.pb.go
  api/admin/v1/admin.proto
  api/admin/v1/admin_grpc.pb.go
  api/proto_structure_test.go
  cmd/clawker-cp/main.go
  internal/controlplane/admin_handler.go
  internal/controlplane/authz.go
  internal/controlplane/authz_test.go
  internal/controlplane/controlplane_handler.go
  internal/controlplane/ebpf/cmd/main.go
  internal/controlplane/ebpf/manager.go
  internal/controlplane/ebpf/mocks/ebpf_manager_mock.go
  internal/controlplane/grpc_test_helpers_test.go
  internal/controlplane/hydra_client.go
  internal/controlplane/mocks/controlplane_mock.go
  internal/controlplane/mocks/introspector_mock.go
  internal/controlplane/mocks/mock_server.go
  internal/controlplane/server.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

feat: complete CP auth stack, typed gRPC, Bypass RPC, Ory configs
  .correctless/specs/cp-initiative/branch-1-cp-service.md
  api/admin/v1/admin.pb.go
  api/admin/v1/admin.proto
  api/admin/v1/admin_grpc.pb.go
  api/proto_structure_test.go
  cmd/clawker-cp/main.go
  docs/cli-reference/clawker_firewall_bypass.md
  docs/configuration.mdx
  internal/auth/auth_material.go
  internal/auth/auth_test.go
  internal/auth/cp_dial.go
  internal/clawker/cmd.go
  internal/cmd/container/shared/container_start.go
  internal/cmd/firewall/bypass.go
  internal/config/schema.go
  internal/consts/consts.go
  internal/controlplane/admin_handler.go
  internal/controlplane/authz.go
  internal/controlplane/container_config_test.go
  internal/controlplane/cp_container.go
  internal/controlplane/ebpf/REPRODUCIBILITY.md
  internal/controlplane/ebpf_regression_test.go
  internal/controlplane/hydra_client.go
  internal/controlplane/ory_configs.go
  internal/controlplane/subprocess.go
  internal/firewall/daemon.go
  internal/firewall/firewall.go
  internal/firewall/manager.go
  internal/firewall/manager_test.go
  test/e2e/firewall_test.go
  test/e2e/harness/harness.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix: daemon lifecycle, correct Enable/Disable RPCs, aggregate CP healthz
  cmd/clawker-cp/main.go
  docs/cli-reference/clawker_firewall_bypass.md
  internal/cmd/container/shared/container_start.go
  internal/cmd/firewall/bypass.go
  internal/consts/consts.go
  internal/controlplane/ebpf/manager.go
  internal/controlplane/startup.go
  internal/firewall/daemon.go
  internal/firewall/firewall.go
  internal/firewall/manager.go
  internal/firewall/manager_test.go
  internal/firewall/mocks/manager_mock.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

chore: feature
  .serena/memories/outstanding-features.md
Due: none

Path conditions:
  semgrep: any of: \.go$
  govulncheck: any of: \.go$
  go-test: any of: \.go$
  docs-check: any of: ^(cmd/|internal/cmd/|internal/docs/)
  licenses-check: any of: ^go\.(mod|sum)$
  claude-freshness: any of: \.go$
