Repository schmitthub/clawker: changes, and which pre-commit hooks are due for each by the changed paths.
All: semgrep, govulncheck, go-test, docs-check, licenses-check, claude-freshness

.pre-commit-config.yaml:

# Pre-commit hooks — mirrors CI quality gates locally.
# Install: bash scripts/install-hooks.sh
# Run all: pre-commit run --all-files
# Run one: pre-commit run gitleaks --all-files

repos:
  # ── Security ──────────────────────────────────────────────────────────────
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.30.0
    hooks:
      - id: gitleaks
        args: [--baseline-path, gitleaks-report.json]

  # ── Lint ──────────────────────────────────────────────────────────────────
  - repo: https://github.com/golangci/golangci-lint
    rev: v2.9.0
    hooks:
      - id: golangci-lint-full
        args: [--config, .golangci.yml]

  # ── Local hooks ───────────────────────────────────────────────────────────
  - repo: local
    hooks:
      - id: semgrep
        name: Semgrep SAST
        # Expected version: 1.146.0 (must match CI image tag in security.yml)
        entry: semgrep scan --baseline-commit HEAD --config p/golang --config p/security-audit --error
        language: system
        types: [go]
        pass_filenames: false

      - id: govulncheck
        name: govulncheck SCA
        entry: govulncheck ./...
        language: system
        types: [go]
        pass_filenames: false

      - id: go-test
        name: Unit tests
        entry: make test
        language: system
        types: [go]
        pass_filenames: false

      - id: docs-check
        name: CLI docs freshness
        entry: make docs-check
        language: system
        files: ^(cmd/|internal/cmd/|internal/docs/)
        pass_filenames: false

      - id: licenses-check
        name: NOTICE freshness
        entry: make licenses-check
        language: system
        files: ^go\.(mod|sum)$
        pass_filenames: false

      - id: claude-freshness
        name: Claude doc freshness (advisory)
        entry: bash -c 'bash scripts/check-claude-freshness.sh --strict --non-interactive --no-color | head -50 || true'
        language: system
        files: \.go$
        pass_filenames: false
        verbose: true

docs(incident): record subagent prompt-injection forensics
  .serena/memories/incidents/2026-05-16-prompt-injection-via-subagent.md
Due: none

fix(monitoring): PR #287 Copilot review — pair-check, dir perms, lifecycle API
  README.md
  docs/configuration.mdx
  docs/monitoring.mdx
  docs/quickstart.mdx
  internal/config/config_test.go
  internal/config/schema.go
  internal/controlplane/cpboot/cp_container.go
  internal/controlplane/firewall/stack.go
  internal/controlplane/firewall/stack_infracerts_internal_test.go
  internal/controlplane/infracerts/infracerts.go
  internal/controlplane/infracerts/infracerts_test.go
  internal/logger/CLAUDE.md
  internal/monitor/templates/compose.yaml.tmpl
Due: semgrep, govulncheck, go-test, claude-freshness

chore: found unrelated regression bug during UAT
  .serena/memories/bug-tracker.md
Due: none

refactor(monitoring): extract OTel cert minting into otelcerts package
  .claude/docs/DESIGN.md
  .claude/docs/MONITORING-REFERENCE.md
  .claude/rules/monitoring.md
  cmd/clawker-cp/main.go
  cmd/clawker-cp/main_test.go
  cmd/coredns-clawker/plugins/otel/CLAUDE.md
  docs/configuration.mdx
  internal/cmd/monitor/init/init.go
  internal/cmd/monitor/init/init_test.go
  internal/config/schema.go
  internal/consts/consts.go
  internal/controlplane/cpboot/container_config_test.go
  internal/controlplane/cpboot/cp_container.go
  internal/controlplane/firewall/CLAUDE.md
  internal/controlplane/firewall/container_spec_test.go
  internal/controlplane/firewall/stack.go
  internal/controlplane/firewall/stack_infracerts_internal_test.go
  internal/controlplane/infracerts/infracerts.go
  internal/controlplane/otelcerts/CLAUDE.md
  internal/controlplane/otelcerts/otelcerts.go
  internal/controlplane/otelcerts/otelcerts_test.go
  internal/logger/logger.go
  internal/monitor/CLAUDE.md
  internal/monitor/templates.go
  internal/monitor/templates/otel-config.yaml.tmpl
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(monitoring): otelcerts self-review pass — silent failures, observability, dead code
  .claude/rules/monitoring.md
  cmd/clawker-cp/main.go
  cmd/coredns-clawker/plugins/otel/CLAUDE.md
  internal/controlplane/otelcerts/CLAUDE.md
  internal/controlplane/otelcerts/otelcerts.go
  internal/controlplane/otelcerts/otelcerts_test.go
  internal/monitor/CLAUDE.md
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

test(monitoring): pin mTLS gate on otlp/infra receiver
  internal/cmd/monitor/init/init_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

test(monitoring): harden otlp/infra pinning — pipeline + routing allowlist
  internal/cmd/monitor/init/init_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(monitoring): template review pass
  .claude/rules/monitoring.md
  .serena/memories/incidents/2026-05-16-prompt-injection-via-subagent.md
  cmd/clawker-cp/main.go
  cmd/clawker-cp/main_test.go
  internal/controlplane/cpboot/container_config_test.go
  internal/controlplane/cpboot/cp_container.go
  internal/controlplane/otelcerts/CLAUDE.md
  internal/monitor/CLAUDE.md
  internal/monitor/templates/compose.yaml.tmpl
  internal/monitor/templates/otel-config.yaml.tmpl
  internal/monitor/templates/prometheus.yaml.tmpl
  internal/monitor/templates_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

feat(monitoring): preconfigure OpenSearch indices + Dashboards on monitor up
  .claude/rules/monitoring.md
  .clawker.yaml
  internal/cmd/monitor/init/init.go
  internal/monitor/CLAUDE.md
  internal/monitor/templates.go
  internal/monitor/templates/compose.yaml.tmpl
  internal/monitor/templates/opensearch-bootstrap/bootstrap.sh.tmpl
  internal/monitor/templates/opensearch-bootstrap/component-templates/clawker-common.json
  internal/monitor/templates/opensearch-bootstrap/index-templates/claude-code.json
  internal/monitor/templates/opensearch-bootstrap/index-templates/clawker-cli.json
  internal/monitor/templates/opensearch-bootstrap/index-templates/clawker-coredns.json
  internal/monitor/templates/opensearch-bootstrap/index-templates/clawker-cp.json
  internal/monitor/templates/opensearch-bootstrap/index-templates/clawker-envoy.json
  internal/monitor/templates/opensearch-bootstrap/ism-policies/clawker-retention.json
  internal/monitor/templates/opensearch-bootstrap/saved-objects/clawker.ndjson
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

docs(monitoring): sweep stale "ships bare" claims after bootstrap landed
  .claude/docs/DESIGN.md
  .claude/docs/MONITORING-REFERENCE.md
  README.md
  docs/monitoring.mdx
  docs/quickstart.mdx
Due: none

docs(monitoring): sweep stale code comments after bootstrap landed
  claude-plugin/clawker-support/skills/clawker-support/reference/Dockerfile.tmpl
  docs/cli-reference/clawker_monitor.md
  docs/cli-reference/clawker_monitor_down.md
  docs/cli-reference/clawker_monitor_up.md
  internal/bundler/assets/Dockerfile.tmpl
  internal/bundler/assets/clawker-agent-prompt.md
  internal/cmd/monitor/CLAUDE.md
  internal/cmd/monitor/down/down.go
  internal/cmd/monitor/monitor.go
  internal/cmd/monitor/up/up.go
  internal/consts/monitoring.go
  internal/docker/env.go
  internal/monitor/templates/otel-config.yaml.tmpl
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(monitoring): drop misleading HTTP OTLP env vars from CP container
  internal/controlplane/cpboot/container_config_test.go
  internal/controlplane/cpboot/cp_container.go
Due: semgrep, govulncheck, go-test, claude-freshness

docs(monitoring): sweep stale trust-model comments after otelcerts split
  .serena/memories/bug-tracker.md
  Makefile
  cmd/coredns-clawker/plugins/otel/CLAUDE.md
  internal/auth/auth_material.go
  internal/consts/controlplane.go
  internal/controlplane/cpboot/cp_container.go
  internal/controlplane/firewall/stack.go
  internal/controlplane/infracerts/CLAUDE.md
  internal/controlplane/infracerts/infracerts.go
  internal/controlplane/otelcerts/otelcerts.go
  internal/logger/CLAUDE.md
  internal/logger/logger.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(auth): move agent canonical identity from CN to URI SAN
  internal/auth/CLAUDE.md
  internal/auth/agent_cert.go
  internal/auth/agent_cert_test.go
  internal/auth/identity.go
  internal/auth/identity_test.go
  internal/cmd/container/shared/agent_bootstrap_test.go
  internal/consts/consts.go
  internal/controlplane/agent/CLAUDE.md
  internal/controlplane/agent/dialer.go
  internal/controlplane/agent/dialer_test.go
  internal/controlplane/agent/dispatch_register_test.go
  internal/controlplane/agent/events_session.go
  internal/controlplane/agent/handler.go
  internal/controlplane/agent/identity_interceptor.go
  internal/controlplane/agent/identity_interceptor_test.go
  internal/controlplane/agent/register_handler.go
  internal/controlplane/agent/register_handler_test.go
  internal/docker/names_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

chore(agent): adopt goose migrations with current schema baseline
  NOTICE
  go.mod
  go.sum
  internal/controlplane/agent/migrations/00001_init.sql
  internal/controlplane/agent/registry_sqlite.go
Due: semgrep, govulncheck, go-test, licenses-check, claude-freshness

feat(agent): add ContainerByPeerIP resolver for trust-anchor lookup
  .serena/memories/initiative_san_refactor.md
  cmd/clawker-cp/main.go
  internal/controlplane/agent/CLAUDE.md
  internal/controlplane/agent/peer_lookup.go
  internal/controlplane/agent/peer_lookup_moby.go
  internal/controlplane/agent/peer_lookup_test.go
  internal/controlplane/agent/start.go
  internal/controlplane/agent/start_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

chore(agent): migration 00002 drop canonical_cn column
  .serena/memories/initiative_san_refactor.md
  internal/controlplane/agent/migrations/00002_drop_canonical_cn.sql
  internal/controlplane/agent/registry_sqlite.go
  internal/controlplane/agent/registry_sqlite_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

refactor(agent): Register handler consumes middleware-resolved identity
  .serena/memories/initiative_san_refactor.md
  cmd/clawker-cp/main.go
  internal/controlplane/agent/CLAUDE.md
  internal/controlplane/agent/peer_lookup_moby.go
  internal/controlplane/agent/register_handler.go
  internal/controlplane/agent/register_handler_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

docs(agent): update CLAUDE.md for universal trust middleware
  .claude/docs/KEY-CONCEPTS.md
  .serena/memories/initiative_san_refactor.md
  internal/auth/CLAUDE.md
  internal/cmd/container/shared/CLAUDE.md
  internal/controlplane/CLAUDE.md
  internal/controlplane/agent/CLAUDE.md
Due: docs-check

refactor(agent): drop Registry.Lookup; dialer classifies by thumbprint
  .serena/memories/initiative_san_refactor.md
  internal/controlplane/agent/CLAUDE.md
  internal/controlplane/agent/dialer.go
  internal/controlplane/agent/dialer_test.go
  internal/controlplane/agent/dispatch_register_test.go
  internal/controlplane/agent/registry.go
  internal/controlplane/agent/registry_mock_test.go
  internal/controlplane/agent/registry_sqlite.go
  internal/controlplane/agent/registry_sqlite_test.go
  internal/controlplane/agent/registry_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

test(agent): cover universal trust middleware + dialer SAN path
  .serena/memories/initiative_san_refactor.md
  internal/auth/agent_cert_test.go
  internal/auth/identity.go
  internal/auth/identity_test.go
  internal/cmd/container/shared/agent_bootstrap_test.go
  internal/controlplane/agent/dialer_test.go
  internal/controlplane/agent/register_handler_test.go
  internal/docker/names_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

refactor: rename Canonical* → AgentFullName* in identity contexts
  .serena/memories/initiative_san_refactor.md
  internal/auth/agent_cert.go
  internal/auth/agent_cert_test.go
  internal/auth/identity.go
  internal/auth/identity_test.go
  internal/cmd/container/shared/agent_bootstrap.go
  internal/cmd/container/shared/agent_bootstrap_test.go
  internal/cmd/container/shared/container_start.go
  internal/controlplane/agent/dialer.go
  internal/controlplane/agent/dialer_test.go
  internal/controlplane/agent/dispatch_register_test.go
  internal/controlplane/agent/handler.go
  internal/controlplane/agent/identity_interceptor.go
  internal/controlplane/agent/register_handler.go
  internal/controlplane/agent/register_handler_test.go
  internal/controlplane/agent/registry.go
  internal/controlplane/agent/registry_sqlite.go
  internal/controlplane/agent/registry_sqlite_test.go
  internal/controlplane/agent/registry_test.go
  internal/controlplane/agent/start.go
  internal/controlplane/agent/start_test.go
  internal/controlplane/server.go
  internal/controlplane/server_test.go
  internal/docker/env.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

refactor(agent): IdentityInterceptor as universal peer-IP-grounded middleware
  .serena/memories/initiative_san_refactor.md
  cmd/clawker-cp/main.go
  internal/controlplane/agent/handler.go
  internal/controlplane/agent/identity_interceptor.go
  internal/controlplane/agent/identity_interceptor_test.go
  internal/controlplane/agent/register_handler.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(agent): third PR review round on fix/invalid-name-len
  cmd/clawker-cp/main.go
  internal/auth/CLAUDE.md
  internal/auth/agent_cert.go
  internal/auth/agent_cert_test.go
  internal/cmd/container/shared/agent_bootstrap_test.go
  internal/controlplane/CLAUDE.md
  internal/controlplane/agent/CLAUDE.md
  internal/controlplane/agent/dialer.go
  internal/controlplane/agent/identity_interceptor_test.go
  internal/controlplane/agent/peer_lookup.go
  internal/controlplane/agent/register_handler.go
  internal/controlplane/agent/registry_sqlite.go
  internal/docker/names_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix: unify project name validation behind cmdutil.ProjectSlugify
  .serena/memories/project-name-validator-unification.md
  .serena/memories/project-naming-followup-work.md
  cmd/gen-docs/configuration.mdx.tmpl
  docs/configuration.mdx
  internal/auth/CLAUDE.md
  internal/auth/agent_cert.go
  internal/auth/agent_cert_test.go
  internal/auth/identity.go
  internal/auth/identity_test.go
  internal/cmd/project/CLAUDE.md
  internal/cmd/project/init/init.go
  internal/cmd/project/init/init_test.go
  internal/cmd/project/register/register.go
  internal/cmdutil/slugify.go
  internal/cmdutil/slugify_test.go
  internal/config/schema.go
  internal/controlplane/agent/register_handler_test.go
  internal/docker/names.go
  internal/docker/names_test.go
  internal/docs/configdoc.go
  internal/project/manager.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(agent): second PR review round on fix/invalid-name-len
  cmd/clawker-cp/main.go
  internal/auth/agent_cert.go
  internal/consts/consts.go
  internal/controlplane/agent/dialer.go
  internal/controlplane/agent/dialer_test.go
  internal/controlplane/agent/identity_interceptor.go
  internal/controlplane/agent/identity_interceptor_test.go
  internal/controlplane/agent/peer_lookup.go
  internal/controlplane/agent/peer_lookup_moby.go
  internal/controlplane/agent/peer_lookup_test.go
  internal/controlplane/agent/registry.go
  internal/controlplane/agent/registry_sqlite_test.go
  internal/controlplane/server_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(agent): PR review punch list — 9 tasks on fix/invalid-name-len
  .serena/memories/invalid-length-pr-review-tasks.md
  internal/auth/agent_cert.go
  internal/auth/agent_cert_test.go
  internal/auth/identity.go
  internal/cmd/container/shared/agent_bootstrap_test.go
  internal/cmd/container/shared/container_create.go
  internal/cmd/container/shared/containerfs.go
  internal/controlplane/agent/dialer.go
  internal/controlplane/agent/handler.go
  internal/controlplane/agent/identity_interceptor.go
  internal/controlplane/agent/identity_interceptor_test.go
  internal/controlplane/agent/migrations/00002_drop_canonical_cn.sql
  internal/controlplane/agent/register_handler.go
  internal/controlplane/agent/register_handler_test.go
  internal/controlplane/agent/registry.go
  internal/controlplane/agent/registry_mock_test.go
  internal/controlplane/agent/registry_sqlite.go
  internal/controlplane/agent/registry_sqlite_test.go
  internal/controlplane/agent/registry_test.go
  internal/controlplane/agent/start.go
  internal/controlplane/agent/start_test.go
  internal/controlplane/server.go
  internal/docker/names.go
  internal/docker/names_test.go
  internal/workspace/snapshot.go
  internal/workspace/strategy.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

chore(memory): replace initiative tracker with PR review task list
  .serena/memories/initiative_san_refactor.md
  .serena/memories/invalid-length-pr-review-tasks.md
Due: none

fix(agent): Copilot review round on fix/invalid-name-len
  cmd/gen-docs/configuration.mdx.tmpl
  docs/configuration.mdx
  internal/auth/agent_cert.go
  internal/cmd/project/register/register.go
  internal/controlplane/agent/CLAUDE.md
  internal/controlplane/agent/identity_interceptor.go
  internal/controlplane/agent/registry_test.go
  internal/docker/names_test.go
  internal/project/manager.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix(agent): Copilot review round 2 on fix/invalid-name-len
  internal/controlplane/agent/registry.go
Due: semgrep, govulncheck, go-test, claude-freshness

refactor: name the no-project case "global-scope agent"
  .claude/docs/ARCHITECTURE.md
  .claude/docs/KEY-CONCEPTS.md
  CLAUDE.md
  cmd/clawkerd/CLAUDE.md
  cmd/clawkerd/main.go
  internal/auth/CLAUDE.md
  internal/auth/agent_cert.go
  internal/auth/identity.go
  internal/auth/identity_test.go
  internal/cmd/container/run/run.go
  internal/cmd/container/shared/container_start.go
  internal/consts/consts.go
  internal/controlplane/agent/CLAUDE.md
  internal/controlplane/agent/identity_interceptor.go
  internal/controlplane/agent/identity_interceptor_test.go
  internal/controlplane/agent/peer_lookup.go
  internal/controlplane/agent/peer_lookup_moby.go
  internal/controlplane/agent/peer_lookup_test.go
  internal/controlplane/agent/registry.go
  internal/docker/CLAUDE.md
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

chore: removed dumb end user output
  docs/cli-reference/clawker_monitor.md
  docs/cli-reference/clawker_monitor_up.md
  internal/cmd/monitor/monitor.go
  internal/cmd/monitor/up/up.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

feat(monitor): full claude-code mapping + prometheus datasource
  .clawker.yaml
  internal/monitor/CLAUDE.md
  internal/monitor/templates/compose.yaml.tmpl
  internal/monitor/templates/opensearch-bootstrap/bootstrap.sh.tmpl
  internal/monitor/templates/opensearch-bootstrap/datasources/clawker_prometheus.json.tmpl
  internal/monitor/templates/opensearch-bootstrap/index-templates/claude-code.json
Due: none

feat(monitor): claude-code dashboard with filter controls + KPI strip
  internal/monitor/templates/opensearch-bootstrap/bootstrap.sh.tmpl
  internal/monitor/templates/opensearch-bootstrap/index-templates/claude-code.json
  internal/monitor/templates/opensearch-bootstrap/saved-objects/clawker.ndjson
Due: none

fix(monitor): convert delta to cumulative before prometheus exporter
  internal/monitor/templates/otel-config.yaml.tmpl
Due: none

fix(monitor): disable prometheus exporter metric expiration
  internal/monitor/templates/otel-config.yaml.tmpl
Due: none

feat(monitor): enable OSD explore-metrics flavor + auto-create workspace
  .serena/memories/claude_code_os_dashboard_buildout.md
  internal/monitor/templates/compose.yaml.tmpl
  internal/monitor/templates/opensearch-bootstrap/bootstrap.sh.tmpl
  internal/monitor/templates/otel-config.yaml.tmpl
Due: none

feat(monitor): bootstrap workspace as use-case-all
  internal/monitor/templates/opensearch-bootstrap/bootstrap.sh.tmpl
Due: none
