Repository schmitthub/clawker: changes, and which pre-commit hooks are due for each by the changed paths.
All: semgrep, govulncheck, go-test, docs-check, licenses-check, claude-freshness

.pre-commit-config.yaml:

# Pre-commit hooks — mirrors CI quality gates locally.
# Install: bash scripts/install-hooks.sh
# Run all: pre-commit run --all-files
# Run one: pre-commit run gitleaks --all-files

repos:
  # ── Security ──────────────────────────────────────────────────────────────
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.30.0
    hooks:
      - id: gitleaks
        args: [--baseline-path, gitleaks-report.json]

  # ── Lint ──────────────────────────────────────────────────────────────────
  - repo: https://github.com/golangci/golangci-lint
    rev: v2.9.0
    hooks:
      - id: golangci-lint-full
        args: [--config, .golangci.yml]

  # ── Local hooks ───────────────────────────────────────────────────────────
  - repo: local
    hooks:
      - id: semgrep
        name: Semgrep SAST
        # Expected version: 1.146.0 (must match CI image tag in security.yml)
        entry: semgrep scan --baseline-commit HEAD --config p/golang --config p/security-audit --error
        language: system
        types: [go]
        pass_filenames: false

      - id: govulncheck
        name: govulncheck SCA
        entry: govulncheck ./...
        language: system
        types: [go]
        pass_filenames: false

      - id: go-test
        name: Unit tests
        entry: make test
        language: system
        types: [go]
        pass_filenames: false

      - id: docs-check
        name: CLI docs freshness
        entry: make docs-check
        language: system
        files: ^(cmd/|internal/cmd/|internal/docs/)
        pass_filenames: false

      - id: licenses-check
        name: NOTICE freshness
        entry: make licenses-check
        language: system
        files: ^go\.(mod|sum)$
        pass_filenames: false

      - id: claude-freshness
        name: Claude doc freshness (advisory)
        entry: bash -c 'bash scripts/check-claude-freshness.sh --strict --non-interactive --no-color | head -50 || true'
        language: system
        files: \.go$
        pass_filenames: false
        verbose: true

fix: per-step blink phase for independent running-step indicators
  internal/tui/progress.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix: 503 error
  internal/firewall/envoy.go
  internal/firewall/envoy_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix: restrict TLS virtual host domains and bind health probes to caller context
  internal/firewall/envoy.go
  internal/firewall/manager.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix: per-domain DFP clusters to prevent h2 connection pool cross-contamination
  internal/firewall/envoy.go
  internal/firewall/envoy_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix: PR review fixes — health diagnostics, port validation, stale certs, docs accuracy
  docs/firewall.mdx
  internal/bundler/assets/entrypoint.sh
  internal/config/defaults.go
  internal/firewall/CLAUDE.md
  internal/firewall/certs.go
  internal/firewall/certs_test.go
  internal/firewall/envoy.go
  internal/firewall/envoy_test.go
  internal/firewall/manager.go
  internal/firewall/rules.go
  internal/tui/progress_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix: harden firewall APIs and surface silent failures from PR review
  internal/bundler/assets/entrypoint.sh
  internal/firewall/envoy.go
  internal/firewall/envoy_test.go
  internal/firewall/manager.go
  internal/firewall/rules.go
  internal/tui/progress_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix: remove strip_any_host_port unsupported in Envoy v1.37
  internal/firewall/envoy.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix: add domain:port variants for v1.37 virtual host matching
  internal/firewall/envoy.go
  internal/firewall/envoy_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

chore: added clawker local to ignore
  .gitignore
Due: none

fix: validate TCP listener ports and make cert regen atomic
  internal/firewall/certs.go
  internal/firewall/envoy.go
Due: semgrep, govulncheck, go-test, claude-freshness

feat: wildcard domain support + new required firewall rules (#215)
  .claude/rules/monitoring.md
  .clawker.yaml
  .gitignore
  CLAUDE.md
  claude-plugin/clawker-support/.claude-plugin/plugin.json
  claude-plugin/clawker-support/skills/clawker-support/reference/Dockerfile.tmpl
  docs/firewall.mdx
  docs/security.mdx
  internal/bundler/assets/Dockerfile.tmpl
  internal/bundler/assets/clawker-agent-prompt.md
  internal/bundler/assets/entrypoint.sh
  internal/cmd/container/shared/container_start.go
  internal/config/config_test.go
  internal/config/defaults.go
  internal/firewall/CLAUDE.md
  internal/firewall/certs.go
  internal/firewall/certs_test.go
  internal/firewall/coredns.go
  internal/firewall/coredns_test.go
  internal/firewall/envoy.go
  internal/firewall/envoy_test.go
  internal/firewall/firewall.go
  internal/firewall/manager.go
  internal/firewall/rules.go
  internal/monitor/templates/grafana-dashboard.json
  internal/tui/progress.go
  internal/tui/progress_test.go
  test/e2e/firewall_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

audit: add privesc red team report + address PR review comments
  .claude/artifacts/redteam/privesc-report-2026-03-31.md
  .claude/artifacts/redteam/report-2026-03-30.md
  .serena/memories/correctless/redteam-2026-03-30.md
  .serena/memories/correctless/redteam-privesc-2026-03-31.md
Due: none

audit: QA convergence audit (4 rounds) + red team assessment
  .claude/artifacts/redteam/report-2026-03-30.md
  .serena/memories/correctless/audit-qa-round1-2026-03-30.md
  .serena/memories/correctless/audit-qa-round2-2026-03-30.md
  .serena/memories/correctless/audit-qa-round3-2026-03-30.md
  .serena/memories/correctless/audit-qa-round4-2026-03-30.md
  .serena/memories/correctless/redteam-2026-03-30.md
Due: none

audit: live container pentest — no vulnerabilities found
  .claude/artifacts/redteam/live-pentest-2026-04-01.md
  .serena/memories/correctless/live-pentest-2026-04-01.md
Due: none

audit: consensus review of QA rounds 1-4 — 84 valid, 79 invalid
  .serena/memories/correctless/audit-qa-round1-2026-03-30.md
  .serena/memories/correctless/audit-qa-round2-2026-03-30.md
  .serena/memories/correctless/audit-qa-round3-2026-03-30.md
  .serena/memories/correctless/audit-qa-round4-2026-03-30.md
Due: none

chore: pin serena mcp sha
  .clawker.yaml
Due: none

chore: pin grafana mcp
  .clawker.yaml
Due: none

feat: add `clawker skill` commands for managing Claude Code plugin
  docs/cli-reference/clawker.md
  docs/cli-reference/clawker_skill.md
  docs/cli-reference/clawker_skill_install.md
  docs/cli-reference/clawker_skill_remove.md
  docs/cli-reference/clawker_skill_show.md
  internal/cmd/root/root.go
  internal/cmd/skill/install/install.go
  internal/cmd/skill/install/install_test.go
  internal/cmd/skill/remove/remove.go
  internal/cmd/skill/remove/remove_test.go
  internal/cmd/skill/show/show.go
  internal/cmd/skill/show/show_test.go
  internal/cmd/skill/skill.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

refactor: extract shared helpers, improve error handling, update docs
  .claude/docs/ARCHITECTURE.md
  .claude/docs/CLI-VERBS.md
  CLAUDE.md
  README.md
  docs/quickstart.mdx
  internal/cmd/root/CLAUDE.md
  internal/cmd/skill/CLAUDE.md
  internal/cmd/skill/install/install.go
  internal/cmd/skill/install/install_test.go
  internal/cmd/skill/remove/remove.go
  internal/cmd/skill/remove/remove_test.go
  internal/cmd/skill/shared/shared.go
  internal/cmd/skill/shared/shared_test.go
  internal/cmd/skill/show/show.go
  internal/cmd/skill/show/show_test.go
  internal/cmd/skill/skill_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix: address Copilot review findings
  .claude/docs/CLI-VERBS.md
  internal/cmd/skill/CLAUDE.md
  internal/cmd/skill/shared/shared.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

feat: add clawker skill commands for Claude Code plugin management (#222)
  .claude/docs/ARCHITECTURE.md
  .claude/docs/CLI-VERBS.md
  CLAUDE.md
  README.md
  docs/cli-reference/clawker.md
  docs/cli-reference/clawker_skill.md
  docs/cli-reference/clawker_skill_install.md
  docs/cli-reference/clawker_skill_remove.md
  docs/cli-reference/clawker_skill_show.md
  docs/quickstart.mdx
  internal/cmd/root/CLAUDE.md
  internal/cmd/root/root.go
  internal/cmd/skill/CLAUDE.md
  internal/cmd/skill/install/install.go
  internal/cmd/skill/install/install_test.go
  internal/cmd/skill/remove/remove.go
  internal/cmd/skill/remove/remove_test.go
  internal/cmd/skill/shared/shared.go
  internal/cmd/skill/shared/shared_test.go
  internal/cmd/skill/show/show.go
  internal/cmd/skill/show/show_test.go
  internal/cmd/skill/skill.go
  internal/cmd/skill/skill_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

feat: add GitHub artifact attestation for SLSA build provenance
  .clawker.yaml
  .github/workflows/release.yml
Due: none

feat: add GitHub artifact attestation for SLSA build provenance (#223)
  .clawker.yaml
  .github/workflows/release.yml
Due: none

feat: sort firewall list, shell completion for remove, and domain validation (#218)
  internal/cmd/firewall/CLAUDE.md
  internal/cmd/firewall/list.go
  internal/cmd/firewall/list_test.go
  internal/cmd/firewall/remove.go
  internal/cmd/firewall/remove_test.go
  internal/firewall/manager.go
  internal/firewall/rules.go
  internal/firewall/rules_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix: address PR review findings for firewall sort/completions
  internal/cmd/firewall/list_test.go
  internal/cmd/firewall/remove.go
  internal/firewall/manager.go
  internal/firewall/rules.go
  internal/firewall/rules_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

fix: address Copilot review findings for firewall validation
  internal/cmd/firewall/list.go
  internal/cmd/firewall/list_test.go
  internal/firewall/rules.go
  internal/firewall/rules_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

feat: sort firewall list, shell completion for remove, and domain validation (#224)
  internal/cmd/firewall/CLAUDE.md
  internal/cmd/firewall/list.go
  internal/cmd/firewall/list_test.go
  internal/cmd/firewall/remove.go
  internal/cmd/firewall/remove_test.go
  internal/firewall/manager.go
  internal/firewall/rules.go
  internal/firewall/rules_test.go
Due: semgrep, govulncheck, go-test, docs-check, claude-freshness

chore: pin moq to commit hash and document release pipeline security
  .github/workflows/release.yml
  docs/threat-model.mdx
Due: none

fix: pin GoReleaser version, enable reproducible builds, fix cosign docs
  .github/workflows/release.yml
  .goreleaser.yaml
  docs/threat-model.mdx
Due: none

chore: pin moq to commit hash and document release pipeline security (#225)
  .github/workflows/release.yml
  .goreleaser.yaml
  docs/threat-model.mdx
Due: none

chore: bump all GitHub Actions to Node.js 24 compatible versions
  .github/workflows/docs.yml
  .github/workflows/licenses.yml
  .github/workflows/lint.yml
  .github/workflows/main.yml
  .github/workflows/plugin.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/test.yml
Due: none

fix: bump govulncheck-action to checkout v6 compatible commit
  .github/workflows/security.yml
Due: none

chore: bump all GitHub Actions to Node.js 24 compatible versions (#226)
  .github/workflows/docs.yml
  .github/workflows/licenses.yml
  .github/workflows/lint.yml
  .github/workflows/main.yml
  .github/workflows/plugin.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/test.yml
Due: none

chore: patch Go to 1.25.8, pin moq v0.6.0, update builder image
  .github/workflows/release.yml
  go.mod
  internal/bundler/dockerfile.go
Due: semgrep, govulncheck, go-test, licenses-check, claude-freshness

chore: patch Go to 1.25.8, pin moq v0.6.0, update builder image (#227)
  .github/workflows/release.yml
  go.mod
  internal/bundler/dockerfile.go
Due: semgrep, govulncheck, go-test, licenses-check, claude-freshness

fix: migrate cosign signing to bundle format for cosign v3
  .goreleaser.yaml
  .serena/memories/release-guide.md
  docs/threat-model.mdx
Due: none

chore: removed backup clawker file
  .clawker.bak.yaml
Due: none

fix: copy user-level CLAUDE.md into container config volume
  internal/containerfs/CLAUDE.md
  internal/containerfs/containerfs.go
  internal/containerfs/containerfs_test.go
Due: semgrep, govulncheck, go-test, claude-freshness

refactor: use attempt-then-handle pattern for CLAUDE.md staging
  internal/containerfs/containerfs.go
Due: semgrep, govulncheck, go-test, claude-freshness

fix: copy user-level CLAUDE.md into container (#229)
  internal/containerfs/CLAUDE.md
  internal/containerfs/containerfs.go
  internal/containerfs/containerfs_test.go
Due: semgrep, govulncheck, go-test, claude-freshness
